e-r-i-b/Business/settings/payments/filtered-list.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="entity">
		<xs:annotation>
			<xs:documentation>Строка</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Поля в строке результата. Теги вида
<aaa>value</aaa>
							<zzz>value</zzz>.</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:sequence>
			<xs:attribute name="key" use="required">
				<xs:annotation>
					<xs:documentation>Ключ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="selected" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Флаг указывающий выбрана или нет строка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="entity-list">
		<xs:annotation>
			<xs:documentation>Описание результата выполнения запроса на построения списка</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="filter-data">
		<xs:complexType>
			<xs:sequence>
				<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Теги вида
<aaa>value</aaa>
							<zzz>value</zzz>
						</xs:documentation>
					</xs:annotation>
				</xs:any>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="list-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="filter-data" minOccurs="0"/>
				<xs:element ref="entity-list"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
