e-r-i-b/Business/settings/payments/list-def.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () --><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by XMLSpy User1 (XMLSpy Company) --><!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	<xs:element name="entity-list-def">		<xs:annotation>			<xs:documentation>Описания глобальных поставщиков данных (например, список счетов, список банков и т.д.)</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:attribute name="name" type="xs:string" use="required">				<xs:annotation>					<xs:documentation>Название</xs:documentation>				</xs:annotation>			</xs:attribute>			<xs:attribute name="className" type="xs:string" use="required">				<xs:annotation>					<xs:documentation>Имя класса поставщика данных</xs:documentation>				</xs:annotation>			</xs:attribute>			<xs:attribute name="scope" use="required">				<xs:annotation>					<xs:documentation>Время жизни списка данных (SCOPE_APPLICATION | SCOPE_REQUEST | SCOPE_SESSION)</xs:documentation>				</xs:annotation>				<xs:simpleType>					<xs:restriction base="xs:NMTOKEN">						<xs:enumeration value="application"/>						<xs:enumeration value="session"/>						<xs:enumeration value="request"/>					</xs:restriction>				</xs:simpleType>			</xs:attribute>		</xs:complexType>	</xs:element>	<xs:element name="entity-lists-def">		<xs:complexType>			<xs:sequence>				<xs:element ref="entity-list-def"/>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>