e-r-i-b/Business/settings/payments/list.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () --><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by XMLSpy User1 (XMLSpy Company) --><!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">	<xs:element name="field">		<xs:annotation>			<xs:documentation>Поля элемента справочника</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:simpleContent>				<xs:extension base="xs:string">					<xs:attribute name="name" type="xs:string" use="required">						<xs:annotation>							<xs:documentation>Название</xs:documentation>						</xs:annotation>					</xs:attribute>				</xs:extension>			</xs:simpleContent>		</xs:complexType>	</xs:element>	<xs:element name="entity-list">		<xs:annotation>			<xs:documentation>Глобальный справочник</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence>				<xs:element ref="entity" minOccurs="0" maxOccurs="unbounded"/>			</xs:sequence>			<xs:attribute name="name" type="xs:string" use="required">				<xs:annotation>					<xs:documentation>Название</xs:documentation>				</xs:annotation>			</xs:attribute>		</xs:complexType>	</xs:element>	<xs:element name="entity">		<xs:annotation>			<xs:documentation>Элементы</xs:documentation>		</xs:annotation>		<xs:complexType mixed="true">			<xs:sequence>				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>			</xs:sequence>			<xs:attribute name="key" type="xs:string" use="required">				<xs:annotation>					<xs:documentation>Ключ элемента</xs:documentation>				</xs:annotation>			</xs:attribute>		</xs:complexType>	</xs:element></xs:schema>