e-r-i-b/WebGate/src/com/rssl/phizic/web/gate/services/util/generated/GateInfoServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="GateInfoServiceImpl" targetNamespace="http://generated.util.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.util.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.util.services.gate.web.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.util.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.util.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="name" type="string"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType></schema></types>
  <message name="GateInfoService_PortType_getAccountInputMode">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_getAccountInputModeResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="GateInfoService_PortType_getCardInputMode">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_getCardInputModeResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="GateInfoService_PortType_getUID">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_getUIDResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="GateInfoService_PortType_isCalendarAvailable">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isCalendarAvailableResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isClientImportEnable">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isClientImportEnableResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isCurrencyRateAvailable">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isCurrencyRateAvailableResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isDelayedPaymentNeedSend">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isDelayedPaymentNeedSendResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isNeedAgrementCancellation">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isNeedAgrementCancellationResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isNeedChargeOff">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isNeedChargeOffResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isOfficesHierarchySupported">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isOfficesHierarchySupportedResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isPaymentCommissionAvailable">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isPaymentCommissionAvailableResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isPaymentsRecallSupported">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isPaymentsRecallSupportedResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="GateInfoService_PortType_isRegistrationEnable">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="GateInfoService_PortType_isRegistrationEnableResponse">
    <part name="result" type="ns2:boolean"/></message>
  <portType name="GateInfoService_PortType">
    <operation name="getAccountInputMode" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_getAccountInputMode"/>
      <output message="tns:GateInfoService_PortType_getAccountInputModeResponse"/></operation>
    <operation name="getCardInputMode" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_getCardInputMode"/>
      <output message="tns:GateInfoService_PortType_getCardInputModeResponse"/></operation>
    <operation name="getUID" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_getUID"/>
      <output message="tns:GateInfoService_PortType_getUIDResponse"/></operation>
    <operation name="isCalendarAvailable" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isCalendarAvailable"/>
      <output message="tns:GateInfoService_PortType_isCalendarAvailableResponse"/></operation>
    <operation name="isClientImportEnable" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isClientImportEnable"/>
      <output message="tns:GateInfoService_PortType_isClientImportEnableResponse"/></operation>
    <operation name="isCurrencyRateAvailable" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isCurrencyRateAvailable"/>
      <output message="tns:GateInfoService_PortType_isCurrencyRateAvailableResponse"/></operation>
    <operation name="isDelayedPaymentNeedSend" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isDelayedPaymentNeedSend"/>
      <output message="tns:GateInfoService_PortType_isDelayedPaymentNeedSendResponse"/></operation>
    <operation name="isNeedAgrementCancellation" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isNeedAgrementCancellation"/>
      <output message="tns:GateInfoService_PortType_isNeedAgrementCancellationResponse"/></operation>
    <operation name="isNeedChargeOff" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isNeedChargeOff"/>
      <output message="tns:GateInfoService_PortType_isNeedChargeOffResponse"/></operation>
    <operation name="isOfficesHierarchySupported" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isOfficesHierarchySupported"/>
      <output message="tns:GateInfoService_PortType_isOfficesHierarchySupportedResponse"/></operation>
    <operation name="isPaymentCommissionAvailable" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isPaymentCommissionAvailable"/>
      <output message="tns:GateInfoService_PortType_isPaymentCommissionAvailableResponse"/></operation>
    <operation name="isPaymentsRecallSupported" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isPaymentsRecallSupported"/>
      <output message="tns:GateInfoService_PortType_isPaymentsRecallSupportedResponse"/></operation>
    <operation name="isRegistrationEnable" parameterOrder="Office_1">
      <input message="tns:GateInfoService_PortType_isRegistrationEnable"/>
      <output message="tns:GateInfoService_PortType_isRegistrationEnableResponse"/></operation></portType>
  <binding name="GateInfoService_PortTypeBinding" type="tns:GateInfoService_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getAccountInputMode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardInputMode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getUID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isCalendarAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isClientImportEnable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isCurrencyRateAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isDelayedPaymentNeedSend">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isNeedAgrementCancellation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isNeedChargeOff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isOfficesHierarchySupported">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isPaymentCommissionAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isPaymentsRecallSupported">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isRegistrationEnable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.util.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="GateInfoServiceImpl">
    <port name="GateInfoService_PortTypePort" binding="tns:GateInfoService_PortTypeBinding">
      <soap:address location="http://localhost:8080/services/GateInfoServiceImpl"/></port></service></definitions>
