e-r-i-b/ESBERIBGate/src/com/rssl/phizicgate/esberibgate/bki/xsd/ERIB.BKI.Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://CreditBureauLibrary/ru/neoflex/sbrf/ei/bo" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CreditBureauLibrary/ru/neoflex/sbrf/ei/bo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="enquiryRequestERIB" type="EnquiryRequestERIBType"/>
	<xs:complexType name="EnquiryRequestERIBType">
		<xs:sequence>
			<xs:element ref="RqUID"/>
			<xs:element ref="RqTm"/>
			<xs:element ref="OperUID"/>
			<xs:element ref="SPName"/>
			<xs:element ref="RequestType"/>
			<xs:element name="Consumer" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name1" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="name2" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="surname">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="150"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="sex">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:pattern value="\d"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dateOfBirth" type="bureauDate"/>
						<xs:element name="placeOfBirth">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="nationality">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dateConsentGiven" type="bureauDate"/>
						<xs:element name="primaryIDType">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:pattern value="\d{2}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="primaryID">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="primaryIDIssueDate" type="bureauDate" minOccurs="0"/>
						<xs:element name="primaryIDAuthority" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Address" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="addressType">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:pattern value="\d"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="line1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="line2">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="line3">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="line4" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="postcode" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="country" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="homeTelNbr" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="16"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="enquiryResponseERIB" type="EnquiryResponseERIBType"/>
	<xs:complexType name="EnquiryResponseERIBType">
		<xs:sequence>
			<xs:element ref="RqUID"/>
			<xs:element ref="RqTm"/>
			<xs:element ref="OperUID"/>
			<xs:element name="Consumers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="s" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BureauScore" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="confidenceFlag" type="xs:int" minOccurs="0"/>
												<xs:element name="scoreCardType" type="xs:int" minOccurs="0"/>
												<xs:element name="scoreInterval" type="xs:int" minOccurs="0"/>
												<xs:element name="scoreNumber" type="xs:int" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CAIS" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Consumer" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Address" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="addressCurrPrev" type="codeValue1" minOccurs="0"/>
																		<xs:element name="buildingNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="country" type="codeValue2" minOccurs="0"/>
																		<xs:element name="endDate" type="timeStamp" minOccurs="0"/>
																		<xs:element name="flatNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="homeTelNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="houseNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="line1" type="xs:string" minOccurs="0"/>
																		<xs:element name="line2" type="xs:string" minOccurs="0"/>
																		<xs:element name="line3" type="xs:string" minOccurs="0"/>
																		<xs:element name="line4" type="xs:string" minOccurs="0"/>
																		<xs:element name="postcode" type="xs:string" minOccurs="0"/>
																		<xs:element name="regionCode" type="codeValue2" minOccurs="0"/>
																		<xs:element name="startDate" type="timeStamp" minOccurs="0"/>
																		<xs:element name="type" type="codeValue1" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Employer" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="buildingNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="country" type="codeValue2" minOccurs="0"/>
																		<xs:element name="currentPreviousIndicator" type="codeValue1" minOccurs="0"/>
																		<xs:element name="endDate" type="timeStamp" minOccurs="0"/>
																		<xs:element name="flatNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="houseNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="idNumber" type="xs:string" minOccurs="0"/>
																		<xs:element name="line1" type="xs:string" minOccurs="0"/>
																		<xs:element name="line2" type="xs:string" minOccurs="0"/>
																		<xs:element name="line3" type="xs:string" minOccurs="0"/>
																		<xs:element name="line4" type="xs:string" minOccurs="0"/>
																		<xs:element name="name" type="xs:string" minOccurs="0"/>
																		<xs:element name="postcode" type="xs:string" minOccurs="0"/>
																		<xs:element name="regionCode" type="codeValue2" minOccurs="0"/>
																		<xs:element name="startDate" type="timeStamp" minOccurs="0"/>
																		<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="accountHolderType" type="codeValue2" minOccurs="0"/>
															<xs:element name="aliasName" type="xs:string" minOccurs="0"/>
															<xs:element name="consentFlag" type="codeValue1" minOccurs="0"/>
															<xs:element name="dateConsentGiven" type="timeStamp" minOccurs="0"/>
															<xs:element name="dateOfBirth" type="timeStamp" minOccurs="0"/>
															<xs:element name="mobileTelNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="name1" type="xs:string" minOccurs="0"/>
															<xs:element name="name2" type="xs:string" minOccurs="0"/>
															<xs:element name="name3" type="xs:string" minOccurs="0"/>
															<xs:element name="nationality" type="codeValue2" minOccurs="0"/>
															<xs:element name="pensionNbr" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="placeOfBirth" type="xs:string" minOccurs="0"/>
															<xs:element name="previousCompanyName" type="xs:string" minOccurs="0"/>
															<xs:element name="previousPassportNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="primaryID" type="xs:string" minOccurs="0"/>
															<xs:element name="primaryIDAuthority" type="xs:string" minOccurs="0"/>
															<xs:element name="primaryIDExpiry" type="timeStamp" minOccurs="0"/>
															<xs:element name="primaryIDIssueDate" type="timeStamp" minOccurs="0"/>
															<xs:element name="primaryIDPlaceOfIssue" type="xs:string" minOccurs="0"/>
															<xs:element name="primaryIDType" type="codeValue2" minOccurs="0"/>
															<xs:element name="privateEntrepreneurEGRN" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="privateEntrepreneurNbr" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="privateEntrepreneurNbrIssueDate" type="timeStamp" minOccurs="0"/>
															<xs:element name="secondaryID" type="xs:string" minOccurs="0"/>
															<xs:element name="secondaryIDAuthority" type="xs:string" minOccurs="0"/>
															<xs:element name="secondaryIDExpiry" type="timeStamp" minOccurs="0"/>
															<xs:element name="secondaryIDIssueDate" type="timeStamp" minOccurs="0"/>
															<xs:element name="secondaryIDPlaceOfIssue" type="xs:string" minOccurs="0"/>
															<xs:element name="secondaryIDType" type="codeValue2" minOccurs="0"/>
															<xs:element name="sex" type="codeValue1" minOccurs="0"/>
															<xs:element name="surname" type="xs:string" minOccurs="0"/>
															<xs:element name="title" type="codeValue2" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="MontlyHistory" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="accountBalance" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="accountPaymentHistory" type="accountPaymentStatus" minOccurs="0"/>
															<xs:element name="arrearsBalance" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="creditLimit" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="historyDate" type="timeStamp" minOccurs="0"/>
															<xs:element name="instalment" type="bureauNumeric" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="accountClass" type="xs:unsignedByte" minOccurs="0"/>
												<xs:element name="accountClosedDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="accountHolderComments" type="xs:string" minOccurs="0"/>
												<xs:element name="accountPaymentStatus" type="codeValue1" minOccurs="0"/>
												<xs:element name="accountSpecialStatus" type="codeValue2" minOccurs="0"/>
												<xs:element name="amountInsuredLoan" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="amountOfFinance" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="arrearsBalance" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="consumerAccountNumber" type="xs:string" minOccurs="0"/>
												<xs:element name="creditFacilityStatus" type="codeValue1" minOccurs="0"/>
												<xs:element name="creditLimit" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="currency">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="RUB"/>
															<xs:enumeration value="USD"/>
															<xs:enumeration value="EUR"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="dateAccountAdded" type="timeStamp" minOccurs="0"/>
												<xs:element name="defaultDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="duration" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="durationUnit" type="codeValue2" minOccurs="0"/>
												<xs:element name="financeType" type="codeValue2" minOccurs="0"/>
												<xs:element name="fulfilmentDueDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="instalment" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="insuredLoan" type="codeValue1" minOccurs="0"/>
												<xs:element name="interestRate" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="lastMissedPaymentDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="lastPaymentDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="lastUpdateTS" type="timeStamp" minOccurs="0"/>
												<xs:element name="litigationDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="monthOfLastUpdate" type="timeStamp" minOccurs="0"/>
												<xs:element name="numOfApplicants" type="xs:positiveInteger" minOccurs="0"/>
												<xs:element name="openDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="outstandingBalance" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="paymentFrequency" type="codeValue2" minOccurs="0"/>
												<xs:element name="purposeOfFinance" type="codeValue2" minOccurs="0"/>
												<xs:element name="reasonForClosure" type="codeValue2" minOccurs="0"/>
												<xs:element name="recordBlockDisputeIndicator" type="codeValue1" minOccurs="0"/>
												<xs:element name="subscriberComments" type="xs:string" minOccurs="0"/>
												<xs:element name="subscriberName" type="xs:string" minOccurs="0"/>
												<xs:element name="typeOfSecurity" type="codeValue1" minOccurs="0"/>
												<xs:element name="worstPaymentStatus" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="writeOffDate" type="timeStamp" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CAPS" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Consumer" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Address" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="addressFlag" type="codeValue1" minOccurs="0"/>
																		<xs:element name="addressType" type="codeValue1" minOccurs="0"/>
																		<xs:element name="buildingNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="country" type="xs:string" minOccurs="0"/>
																		<xs:element name="endDate" type="timeStamp" minOccurs="0"/>
																		<xs:element name="flatNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="homeTelNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="houseNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="line1" type="xs:string" minOccurs="0"/>
																		<xs:element name="line2" type="xs:string" minOccurs="0"/>
																		<xs:element name="line3" type="xs:string" minOccurs="0"/>
																		<xs:element name="line4" type="xs:string" minOccurs="0"/>
																		<xs:element name="postcode" type="xs:string" minOccurs="0"/>
																		<xs:element name="regionCode" type="codeValue2" minOccurs="0"/>
																		<xs:element name="startDate" type="timeStamp" minOccurs="0"/>
																		<xs:element name="timeAtAddress" type="bureauNumeric" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Employer" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="buildingNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="country" type="codeValue2" minOccurs="0"/>
																		<xs:element name="currentPreviousIndicator" type="codeValue1" minOccurs="0"/>
																		<xs:element name="employerName" type="xs:string" minOccurs="0"/>
																		<xs:element name="endDate" type="timeStamp" minOccurs="0"/>
																		<xs:element name="flatNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="houseNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="idNumber" type="xs:string" minOccurs="0"/>
																		<xs:element name="line1" type="xs:string" minOccurs="0"/>
																		<xs:element name="line2" type="xs:string" minOccurs="0"/>
																		<xs:element name="line3" type="xs:string" minOccurs="0"/>
																		<xs:element name="line4" type="xs:string" minOccurs="0"/>
																		<xs:element name="postcode" type="xs:string" minOccurs="0"/>
																		<xs:element name="regionCode" type="codeValue2" minOccurs="0"/>
																		<xs:element name="startDate" type="timeStamp" minOccurs="0"/>
																		<xs:element name="timeWithEmployer" type="bureauNumeric" minOccurs="0"/>
																		<xs:element name="workMobileTelNbr" type="xs:string" minOccurs="0"/>
																		<xs:element name="workTelNbr" type="xs:string" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Verification" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="status" type="status" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="aliasName" type="xs:string" minOccurs="0"/>
															<xs:element name="applicantType" type="codeValue2" minOccurs="0"/>
															<xs:element name="consentFlag" type="codeValue1" minOccurs="0"/>
															<xs:element name="dateConsentGiven" type="timeStamp" minOccurs="0"/>
															<xs:element name="dateOfBirth" type="timeStamp" minOccurs="0"/>
															<xs:element name="drivingLicenceNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="education" type="codeValue1" minOccurs="0"/>
															<xs:element name="maritalStatus" type="codeValue2" minOccurs="0"/>
															<xs:element name="medicalNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="mobileRegistration" type="codeValue1" minOccurs="0"/>
															<xs:element name="mobileTelNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="name1" type="xs:string" minOccurs="0"/>
															<xs:element name="name2" type="xs:string" minOccurs="0"/>
															<xs:element name="nationality" type="codeValue2" minOccurs="0"/>
															<xs:element name="numberDependants" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="occupation" type="codeValue2" minOccurs="0"/>
															<xs:element name="otherIncome" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="pensionNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="placeOfBirth" type="timeStamp" minOccurs="0"/>
															<xs:element name="previousCompanyName" type="xs:string" minOccurs="0"/>
															<xs:element name="previousPassportNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="primaryID" type="xs:string" minOccurs="0"/>
															<xs:element name="primaryIDAuthority" type="xs:string" minOccurs="0"/>
															<xs:element name="primaryIDExpiry" type="timeStamp" minOccurs="0"/>
															<xs:element name="primaryIDIssueDate" type="timeStamp" minOccurs="0"/>
															<xs:element name="primaryIDIssuePlace" type="xs:string" minOccurs="0"/>
															<xs:element name="primaryIDType" type="codeValue2" minOccurs="0"/>
															<xs:element name="primaryIncome" type="bureauNumeric" minOccurs="0"/>
															<xs:element name="primaryIncomeFlag" type="codeValue1" minOccurs="0"/>
															<xs:element name="primaryIncomeFreq" type="codeValue1" minOccurs="0"/>
															<xs:element name="privateEntrepreneurEGRN" type="xs:string" minOccurs="0"/>
															<xs:element name="privateEntrepreneurNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="privateEntrepreneurNbrIssueDate" type="timeStamp" minOccurs="0"/>
															<xs:element name="residentialStatus" type="codeValue1" minOccurs="0"/>
															<xs:element name="secondaryID" type="xs:string" minOccurs="0"/>
															<xs:element name="secondaryIDAuthority" type="xs:string" minOccurs="0"/>
															<xs:element name="secondaryIDExpiry" type="timeStamp" minOccurs="0"/>
															<xs:element name="secondaryIDIssueDate" type="timeStamp" minOccurs="0"/>
															<xs:element name="secondaryIDIssuePlace" type="xs:string" minOccurs="0"/>
															<xs:element name="secondaryIDType" type="codeValue2" minOccurs="0"/>
															<xs:element name="sex" type="xs:unsignedByte" minOccurs="0"/>
															<xs:element name="surname" type="xs:string" minOccurs="0"/>
															<xs:element name="title" type="codeValue2" minOccurs="0"/>
															<xs:element name="occupationStatus" type="codeValue2" minOccurs="0"/>
															<xs:element name="mastercardHeld" type="codeValue1" minOccurs="0"/>
															<xs:element name="retailHeld" type="codeValue1" minOccurs="0"/>
															<xs:element name="amExpressHeld" type="codeValue1" minOccurs="0"/>
															<xs:element name="chqGteeHeld" type="codeValue1" minOccurs="0"/>
															<xs:element name="debitHeld" type="codeValue1" minOccurs="0"/>
															<xs:element name="dinersHeld" type="codeValue1" minOccurs="0"/>
															<xs:element name="jcbHeld" type="codeValue1" minOccurs="0"/>
															<xs:element name="otherHeld" type="codeValue1" minOccurs="0"/>
															<xs:element name="visaHeld" type="codeValue1" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="accountClass" type="codeValue1" minOccurs="0"/>
												<xs:element name="amountOfFinance" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="applicationDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="applicationNumber" type="xs:string" minOccurs="0"/>
												<xs:element name="comments" type="xs:string" minOccurs="0"/>
												<xs:element name="creditLimit" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="currency">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="RUB"/>
															<xs:enumeration value="USD"/>
															<xs:enumeration value="EUR"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="disputeIndicator" type="codeValue1" minOccurs="0"/>
												<xs:element name="duration" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="durationUnits" type="codeValue2" minOccurs="0"/>
												<xs:element name="enquiryDate" type="timeStamp" minOccurs="0"/>
												<xs:element name="finalPaymentAmount" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="financeType" type="codeValue2" minOccurs="0"/>
												<xs:element name="initialDepositAmount" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="instalmentAmount" type="bureauNumeric" minOccurs="0"/>
												<xs:element name="nbrOfApplicants" type="xs:positiveInteger" minOccurs="0"/>
												<xs:element name="paymentFrequency" type="codeValue2" minOccurs="0"/>
												<xs:element name="purposeOfFinance" type="codeValue2" minOccurs="0"/>
												<xs:element name="reason" type="codeValue2" minOccurs="0"/>
												<xs:element name="streamID" type="xs:unsignedLong" minOccurs="0"/>
												<xs:element name="subscriberName" type="xs:string" minOccurs="0"/>
												<xs:element name="typeOfSecurity" type="codeValue1" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PVS" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="status" type="status" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Summary">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CAISDistribution1" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISDistribution2" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISDistribution3" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISDistribution4" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISDistribution5" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISDistribution5Plus" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISRecordsGuarantor" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISRecordsGuarantorRecip" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISRecordsJoint" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISRecordsJointRecip" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISRecordsOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISRecordsOwnerRecip" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISRecordsReferee" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAISRecordsRefereeRecip" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSDistribution1" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSDistribution2" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSDistribution3" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSDistribution4" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSDistribution5" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSDistribution5Plus" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast12MonthsGuarantor" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast12MonthsJoint" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast12MonthsOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast12MonthsReferee" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast3MonthsGuarantor" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast3MonthsJoint" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast3MonthsOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast3MonthsReferee" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast6MonthsGuarantor" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast6MonthsJoint" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast6MonthsOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSLast6MonthsReferee" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSRecordsGuarantor" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSRecordsGuarantorBeforeFilter" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSRecordsJoint" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSRecordsJointBeforeFilter" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSRecordsOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSRecordsOwnerBeforeFilter" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSRecordsReferee" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="CAPSRecordsRefereeBeforeFilter" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="PotentialMonthlyInstalmentsAllButOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="PotentialMonthlyInstalmentsOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="PotentialOutstandingBalanceAllButOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="PotentialOutstandingBalanceOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="TotalMonthlyInstalmentsAllButOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="TotalMonthlyInstalmentsOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="TotalOutstandingBalanceAllButOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="TotalOutstandingBalanceOwner" type="xs:unsignedInt" minOccurs="0"/>
												<xs:element name="WorstCurrentPayStatusGuarantor" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="WorstCurrentPayStatusJoint" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="WorstCurrentPayStatusOwner" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="WorstCurrentPayStatusReferee" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="WorstEverPayStatusGuarantor" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="WorstEverPayStatusJoint" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="WorstEverPayStatusOwner" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="WorstEverPayStatusReferee" type="accountPaymentStatus" minOccurs="0"/>
												<xs:element name="checkOther1" minOccurs="0"/>
												<xs:element name="checkOther10" minOccurs="0"/>
												<xs:element name="checkOther11" minOccurs="0"/>
												<xs:element name="checkOther12" minOccurs="0"/>
												<xs:element name="checkOther13" minOccurs="0"/>
												<xs:element name="checkOther14" minOccurs="0"/>
												<xs:element name="checkOther15" minOccurs="0"/>
												<xs:element name="checkOther16" minOccurs="0"/>
												<xs:element name="checkOther17" minOccurs="0"/>
												<xs:element name="checkOther18" minOccurs="0"/>
												<xs:element name="checkOther19" minOccurs="0"/>
												<xs:element name="checkOther2" minOccurs="0"/>
												<xs:element name="checkOther20" minOccurs="0"/>
												<xs:element name="checkOther3" minOccurs="0"/>
												<xs:element name="checkOther4" minOccurs="0"/>
												<xs:element name="checkOther5" minOccurs="0"/>
												<xs:element name="checkOther6" minOccurs="0"/>
												<xs:element name="checkOther7" minOccurs="0"/>
												<xs:element name="checkOther8" minOccurs="0"/>
												<xs:element name="checkOther9" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Warning" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="a" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValidationErrors" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="s" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="extra1" type="xs:string" minOccurs="0"/>
									<xs:element name="extra2" type="xs:string" minOccurs="0"/>
									<xs:element name="field" type="xs:string" minOccurs="0"/>
									<xs:element name="number" type="xs:unsignedInt" minOccurs="0"/>
									<xs:element name="path" type="xs:string" minOccurs="0"/>
									<xs:element name="value" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="errorCode" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="responseDate" type="timeStamp" minOccurs="0"/>
			<xs:element name="streamID" type="xs:unsignedLong" minOccurs="0"/>
			<xs:element name="nativeCBMessage" type="xs:string" minOccurs="0"/>
			<xs:element name="messageDigest" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="timeStamp">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="accountPaymentStatus">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="codeValue2">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="codeValue1">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="bureauNumeric">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NotVerified"/>
			<xs:enumeration value="Valid"/>
			<xs:enumeration value="NotValid"/>
			<xs:enumeration value="Found"/>
			<xs:enumeration value="NotFound"/>
			<xs:enumeration value="Mismatch"/>
			<xs:enumeration value="PartialMismatch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bureauDate">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="cardHeld">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="EnquiryRequestType" type="EnquiryRequestERIBType"/>
	<xs:simpleType name="Request_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RqUID_Type">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор запроса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="UUID"/>
	</xs:simpleType>
	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:pattern value="[0-9a-zA-Z]{32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SPName_Type">
		<xs:annotation>
			<xs:documentation>Провайдер услуг(название системы, которая предоставляет услугу или запрашивает)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BP_ES">
				<xs:annotation>
					<xs:documentation>Устройство самообслуживания (СмартВиста)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BP_VSP">
				<xs:annotation>
					<xs:documentation>АС ВСП</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BP_ERIB">
				<xs:annotation>
					<xs:documentation>АС ЕРИБ для Базового продукта</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BP_COD">
				<xs:annotation>
					<xs:documentation>АС ЦОД</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BP_ESK">
				<xs:annotation>
					<xs:documentation>АС ЭСК</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BP_IASK">
				<xs:annotation>
					<xs:documentation>АС ИАСК</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BP_WAY">
				<xs:annotation>
					<xs:documentation>АС WAY4U</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BP_BS">
				<xs:annotation>
					<xs:documentation>АС БС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BP_INFOBANK"/>
			<xs:enumeration value="urn:sbrfsystems:99-autopay"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RqTm" type="DateTime">
		<xs:annotation>
			<xs:documentation>Дата и время передачи сообщения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="DateTime">
		<xs:annotation>
			<xs:documentation>Тип данных для представления дат</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="String">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="RqUID" type="RqUID_Type">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор запроса</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SPName" type="SPName_Type">
		<xs:annotation>
			<xs:documentation>Идентификатор системы, предоставляющей услуги (провайдер сервиса)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OperUID" type="OperUID_Type">
		<xs:annotation>
			<xs:documentation>Идентификатор операции</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="OperUID_Type">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор операции</xs:documentation>
		</xs:annotation>
		<xs:restriction base="UUID"/>
	</xs:simpleType>
	<xs:element name="RequestType" type="Request_Type">
		<xs:annotation>
			<xs:documentation>Тип запроса</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
