e-r-i-b/FraudMonitoringGate/src/com/rssl/phizic/rsa/integration/ws/notification/xml/ActivityEngine.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://ws.rsa.msk.ru/ActivityEngine/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  name="ActivityEngine" 
                  targetNamespace="http://ws.rsa.msk.ru/ActivityEngine/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
       <xsd:import namespace="http://ws.rsa.msk.ru/ActivityEngine/" schemaLocation="ActivityEngine.xsd"></xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateActivityRequest">
    <wsdl:part name="parameters" element="tns:updateActivity"/>
  </wsdl:message>
  <wsdl:message name="updateActivityResponse">
    <wsdl:part name="parameters" element="tns:updateActivityResponse"/>
  </wsdl:message>
  <wsdl:message name="getResolutionRequest">
     <wsdl:part name="getResolutionRequest" element="tns:getResolution"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResolutionResponse">
     <wsdl:part name="getResolutionResponse" element="tns:getResolutionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ActivityEngine">
    <wsdl:operation name="updateActivity">
      <wsdl:documentation>Обновление резолюции события</wsdl:documentation>
      <wsdl:input message="tns:updateActivityRequest"/>
      <wsdl:output message="tns:updateActivityResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getResolution">
       <wsdl:documentation>Получить резолюцию события</wsdl:documentation>
       <wsdl:input message="tns:getResolutionRequest"></wsdl:input>
       <wsdl:output message="tns:getResolutionResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivityEngineSOAP" type="tns:ActivityEngine">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateActivity">
      <soap:operation soapAction="http://ws.rsa.msk.ru/ActivityEngine/updateActivity"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResolution">
      <soap:operation soapAction="http://ws.rsa.msk.ru/ActivityEngine/getResolution"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityEngine">
    <wsdl:port binding="tns:ActivityEngineSOAP" name="ActivityEngineSOAP">
      <soap:address location="http://ws.rsa.msk.ru/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
