e-r-i-b/Way4uGate/src/com/rssl/phizicgate/way4u/messaging/xsd/Application/WAY4Appl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified">
    <xs:include schemaLocation="../WAY4Types.xsd"/>
    <xs:include schemaLocation="../WAY4Types.xsd"/>
    
    <xs:simpleType name="W4D_ApplActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Add"/>
            <xs:enumeration value="AddOrUpdate"/>
            <xs:enumeration value="Update"/>
            <xs:enumeration value="ActivatePersonal"/>
            <xs:enumeration value="ActivateIndividual"/>
            <xs:enumeration value="ActivateStandard"/>
            <xs:enumeration value="Disable"/>
            <xs:enumeration value="Delete"/>
            <xs:enumeration value="Unlock"/>
            <xs:enumeration value="Lock"/>
            <xs:enumeration value="Migrate"/>
            <xs:enumeration value="Renewal"/>
            <xs:enumeration value="Inquiry"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="W4D_ApplObjectType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Client"/>
            <xs:enumeration value="Contract"/>
            <xs:enumeration value="ClientContract"/>
            <xs:enumeration value="Address"/>
            <xs:enumeration value="ClientAddress"/>
            <xs:enumeration value="ContractAddress"/>
            <xs:enumeration value="ClientAddInfo"/>
            <xs:enumeration value="ContractAddInfo"/>
            <xs:enumeration value="ClientAffiliation"/>
            <xs:enumeration value="ContractAffiliation"/>
            <xs:enumeration value="CustomerClassifier"/>
            <xs:enumeration value="ClientClassifier"/>
            <xs:enumeration value="ContractClassifier"/>
            <xs:enumeration value="CustomerIdentifier"/>
            <xs:enumeration value="Tariff"/>
            <xs:enumeration value="Limit"/>
            <xs:enumeration value="Event"/>
            <xs:enumeration value="Card"/>
            <xs:enumeration value="Status"/>
            <xs:enumeration value="Order"/>
            <xs:enumeration value="Usage"/>
            <xs:enumeration value="Preferred"/>
            <xs:enumeration value="ClientAuthMethod"/>
            <xs:enumeration value="ContractAuthMethod"/>
            <xs:enumeration value="CustomerAuthMethod"/>
            <xs:enumeration value="AuthMethod"/>
            <xs:enumeration value="Relation"/>
            <xs:enumeration value="Liability"/>
            <xs:enumeration value="Application"/>
            <xs:enumeration value="Product"/>
            <xs:enumeration value="PrePaidServiceType"/>
            <xs:enumeration value="ExchangeRate"/>
            <xs:enumeration value="PaymentReceiver"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="W4D_BatchActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Start"/>
            <xs:enumeration value="Continue"/>
            <xs:enumeration value="Finish"/>
            <xs:enumeration value="Decline"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="W4D_CardProdEvent">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="W4D_DeviceStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="Information"/>
            <xs:enumeration value="Warning"/>
            <xs:enumeration value="Error"/>
            <xs:enumeration value="NotConfigured"/>
            <xs:enumeration value="FatalError"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="W4D_LiabCategory">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Full"/>
            <xs:enumeration value="Affiliated"/>
            <xs:enumeration value="Reporting"/>
            <xs:enumeration value="CheckBalance"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="W4D_MACStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mandatory"/>
            <xs:enumeration value="Optional"/>
            <xs:enumeration value="None"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="W4D_TransactionClass">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cash"/>
            <xs:enumeration value="Retail"/>
            <xs:enumeration value="Unique"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    
    <xs:complexType name="W4A_CardProduction">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DeliveryDprt" type="W4D_OrderDprt">
                <xs:annotation>
                    <xs:appinfo>Number of bank department the
issued plastic will be delivered to</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ProductionType" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Card production type:
"Plastic " - re-produce a plastic, a new plastic
will be issued with new CVV1/CVV2 and PVV
re-calculated for the old PIN value,
"PlasticAndPIN " - produce a new plastic with
new CVV1/CVV2 and new PIN,
"CVV" - produce a new plastic with new
CVV1/CVV2 without PIN/PVV,
"ReorderPIN" - reorder PIN,
"ReplaceAddParms" - replace additional parameters
</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ProductionEvent" type="W4D_CardProdEvent">
                <xs:annotation>
                    <xs:appinfo>Reason for issuing/reissuing the plastic card.
Codes are defined in the "Full \
Configuration Setup \ Transaction Types \
Production Events" table.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ChipScheme" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Chip card Risk Scheme. Used to
determine EMV card offline limits.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CardNumber" type="W4D_ContractNumber">
                <xs:annotation>
                    <xs:appinfo>Card contract number</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CardExpiry" type="W4D_CardExpire">
                <xs:annotation>
                    <xs:appinfo>Plastic expiration date</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CommentText" type="W4D_Comment">
                <xs:annotation>
                    <xs:appinfo>Comments for plastic production</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Card sequence number</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SecurityParms" type="W4C_AddInfo">
                <xs:annotation>
                    <xs:appinfo>Additional plastic information</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddData" type="W4C_ParmSet">
                <xs:annotation>
                    <xs:documentation>Additional Data. 
Following ParmCodes are supported on import: 'InitialLock' with value 'Yes' - request to lock the card on card producing; 
'SynchLost' with value 'Yes' - request to replace lost card in one Application tree with request to lock correspondent Contract;
Parm/ParmType is reserved for future use.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="W4A_CreditLimit">
        <xs:sequence>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element maxOccurs="1" minOccurs="0" name="FinanceLimit" type="W4C_CurrencyAmount">
                    <xs:annotation>
                        <xs:appinfo>Contract credit limit</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="NonfinanceLimit" type="W4C_CurrencyAmount">
                    <xs:annotation>
                        <xs:appinfo>Additional authorisation limit</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="ReasonDetails" type="W4D_String">
                <xs:annotation>
                    <xs:appinfo>System action reason details</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ActivityPeriod" type="W4C_DateInterval">
                <xs:annotation>
                    <xs:appinfo>System action reason details</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    
    
    
    
    
    
    <xs:complexType name="W4C_AppInfo">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InfoType" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Application Information type code.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Code" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GroupCode" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Application Information Group Code</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddInfo01" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Additional information, line 1.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddInfo02" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Additional information, line 2.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddInfo03" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Additional information, line 3.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddInfo04" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Additional information, line 4.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddInfo05" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Additional information, line 5.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddInfo06" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Additional information, line 6.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddInfo07" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Additional information, line 7.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddDate01" type="W4D_DateTime">
                <xs:annotation>
                    <xs:appinfo>Additional information, date 1.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddDate02" type="W4D_DateTime">
                <xs:annotation>
                    <xs:appinfo>Additional information, date 2.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddDate03" type="W4D_DateTime">
                <xs:annotation>
                    <xs:appinfo>Additional information, date 3.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddNum01" type="W4D_Amount">
                <xs:annotation>
                    <xs:appinfo>Additional information, number 1.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddNum02" type="W4D_Amount">
                <xs:annotation>
                    <xs:appinfo>Additional information, number 2.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddNum03" type="W4D_Amount">
                <xs:annotation>
                    <xs:appinfo>Additional information, number 3.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddNum04" type="W4D_Amount">
                <xs:annotation>
                    <xs:appinfo>Additional information, number 3.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddNum05" type="W4D_Amount">
                <xs:annotation>
                    <xs:appinfo>Additional information, number 3.</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="W4C_ApplList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Application" type="W4T_Application">
                <xs:annotation>
                    <xs:appinfo>Application</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="W4C_BillingPeriod">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="PeriodNumber" type="W4D_Counter"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartDate" type="W4D_Date"/>
            <xs:element maxOccurs="1" minOccurs="1" name="EndDate" type="W4D_Date"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="W4C_ContractStatus">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="StatusClass">
                <xs:annotation>
                    <xs:appinfo> Contract Status Class (Valid, Invalid, Decline)</xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Valid"/>
                        <xs:enumeration value="Invalid"/>
                        <xs:enumeration value="Decline"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="StatusCode" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo> Contract Status code</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StatusDetails" type="W4D_Comment">
                <xs:annotation>
                    <xs:appinfo> Contract Status details</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ProductionStatus">
                <xs:annotation>
                    <xs:appinfo> Card Production Status. Supported values: 
Marked,
Sent,
Ready,
Locked,
Marked Applet,
To Mark,
Not to Mark,
To Close,
To Request,
Waiting for Response,
Waiting for Subs</xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Marked"/>
                        <xs:enumeration value="Sent"/>
                        <xs:enumeration value="Ready"/>
                        <xs:enumeration value="Locked"/>
                        <xs:enumeration value="Marked Applet"/>
                        <xs:enumeration value="To Mark"/>
                        <xs:enumeration value="Not to Mark"/>
                        <xs:enumeration value="To Close"/>
                        <xs:enumeration value="To Request"/>
                        <xs:enumeration value="Waiting for Response"/>
                        <xs:enumeration value="Waiting for Subs"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4C_DataType">
        
    </xs:complexType>
    <xs:complexType name="W4C_DataTypeRs">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ClientRs" type="W4O_ClientRs">
                <xs:annotation>
                    <xs:appinfo> Full client Information</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ContractRs" type="W4O_ContractRs">
                <xs:annotation>
                    <xs:appinfo> Full Contract Information</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="ClientContractRs" type="W4O_ClientContractRs">
                <xs:annotation>
                    <xs:appinfo>Consolidated information about a Client and correspondent Contract. The aggregate is used only in extended response for an Application for ClientContract Add</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Application" type="W4T_Application">
                <xs:annotation>
                    <xs:appinfo>Application Response</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="RefSet" type="W4C_ParmSet">
                <xs:annotation>
                    <xs:appinfo> Set of Document Identifiers. Supported values: RRN, IRN, SRN, ARN, AuthCode, TRN, ReconsRN, ReceiptRN, DRN, PrevDRN, OrigDRN. Parm/ParmType is reserved for future use.</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="W4C_DeviceConfig">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SerialNumber" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Device serial number.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Configuration" type="W4D_Counter">
                <xs:annotation>
                    <xs:appinfo>ATM's configuration number.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Socket" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Mnemonic name of the connection between
the device and NetServer unique within the
system.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="X25Address" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>ATM's address in an X.25 or TCP/IP network.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GlobalLimit" type="W4D_Counter">
                <xs:annotation>
                    <xs:appinfo>Maximum number of bank notes
dispensed by the ATM.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CSService" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Deprecated since 03.33 WAY4 version</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DeviceURL" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Merchant's electronic address.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DenomDict" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Denomination type code. The codes are
registered in the DENOM_DICT table.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MACStatus" type="W4D_MACStatus">
                <xs:annotation>
                    <xs:appinfo>MAC authentication of messages:
Mandatory, Optional or None.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PBTStatus" type="W4D_MACStatus">
                <xs:annotation>
                    <xs:appinfo>PIN verification at POS terminals and
preliminary PIN verification at ATMs:
Mandatory, Optional or None.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Status" type="W4D_DeviceStatus">
                <xs:annotation>
                    <xs:appinfo>Device status:
"OK", "Information", "Warning", "Error", "Not
Configured", or "FatalError".</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4C_DeviceInfo">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DeviceRecord" type="W4C_DeviceRecord">
                <xs:annotation>
                    <xs:appinfo>Device properties information</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceDocParms">
                <xs:annotation>
                    <xs:appinfo>Device properties information used for device contracts</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="W4C_DeviceTransDetails">
                            <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="0" name="Channel" type="W4D_Channel">
                                    <xs:annotation>
                                        <xs:appinfo> Device parameter channel</xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DeviceParms" type="W4C_AddInfo">
                <xs:annotation>
                    <xs:appinfo>Additional information on device
properties</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4C_DeviceKeys">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="KeyType" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Key type</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyCode" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Key code</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyName" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Key name</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Algorithm">
                <xs:annotation>
                    <xs:appinfo>Key encryption algorithm</xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DES"/>
                        <xs:enumeration value="RSA"/>
                        <xs:enumeration value="3DES ABA"/>
                        <xs:enumeration value="3DES ABC"/>
                        <xs:enumeration value="Certificate"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="Key" type="W4D_String">
                <xs:annotation>
                    <xs:appinfo>Key</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="KeyCheck" type="W4D_String">
                <xs:annotation>
                    <xs:appinfo>Key check value</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SerialNumber" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Reserved for future use.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ActivityPeriod" type="W4C_DateInterval">
                <xs:annotation>
                    <xs:appinfo>Reserved for future use.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxUsage" type="W4D_Counter">
                <xs:annotation>
                    <xs:appinfo>Reserved for future use.</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4C_DeviceRecord">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DeviceType" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Device type code. Codes are defined in
the "ATM/POS/Imprinter" Types table.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Location" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Device name and location.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TransactionClass" type="W4D_TransactionClass">
                <xs:annotation>
                    <xs:appinfo>Transaction category:
"Cash" - cash withdrawal,
"Retail" - retail purchase,
"Unique" - special type.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DefaultCurr" type="W4D_Currency">
                <xs:annotation>
                    <xs:appinfo>Default value of the transaction currency
code according to ISO-4217.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GMTOffset" type="W4D_Counter">
                <xs:annotation>
                    <xs:appinfo>Reserved for future use.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CutOffTime" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Time limiting the registeration of
transactions by the current banking date.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BusinessTime" type="W4C_TimeInterval">
                <xs:annotation>
                    <xs:appinfo>Operating time of the device.
</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceKeys" type="W4C_DeviceKeys">
                <xs:annotation>
                    <xs:appinfo>Information as to device keys.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DeviceConfig" type="W4C_DeviceConfig">
                <xs:annotation>
                    <xs:appinfo>Information as to the configuration of the
device.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EnhParms" type="W4C_ParmSet"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddInfo" type="W4C_AddInfo">
                <xs:annotation>
                    <xs:appinfo>Information as to the configuration of the
device.</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="W4C_LiabContract">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="LiabCategory" type="W4D_LiabCategory">
                <xs:annotation>
                    <xs:appinfo>Reserved for future use.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="ContractIDT" type="W4C_Contractor">
                <xs:annotation>
                    <xs:appinfo>Reserved for future use.</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4C_ObjectFor">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="1" name="ClientIDT" type="W4C_ClientIDT">
                <xs:annotation>
                    <xs:appinfo>Client's indentifying information. Indicated if the
request object is identified by client.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="ContractIDT" type="W4C_Contractor">
                <xs:annotation>
                    <xs:appinfo>Contract identifying information. Indicated if
the request object is identified by
contract.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            
        </xs:choice>
    </xs:complexType>
    
    
    
    
    <xs:complexType name="W4O_ClientContractRs">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="ClientRs" type="W4O_ClientRs"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ContractRs" type="W4O_ContractRs"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4O_ClientRs">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Client" type="W4O_Client">
                <xs:annotation>
                    <xs:appinfo> Client data</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Info">
                <xs:annotation>
                    <xs:appinfo>Client Additional information</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        
                        
                        <xs:element maxOccurs="1" minOccurs="0" name="AppInfos">
                            <xs:annotation>
                                <xs:appinfo>Client additional information</xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="AppInfo" type="W4C_AppInfo">
                                        <xs:annotation>
                                            <xs:appinfo>Information concerning additional
client or contract data</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        
                        
                        
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4O_Contract">
        <xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="0" name="Institution" type="W4D_Code">
                    <xs:annotation>
                        <xs:appinfo>ID of the financial institution the request is addressed to. Codes are defined in the "Branch
Code" field of the "Financial Institutions" table
(Full \ Configuration Setup \ Main Tables \
Financial Institutions).</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="InstitutionIDType" type="W4C_InstitutionIDType">
                    <xs:annotation>
                        <xs:appinfo> Type of financial institution identification. Possible values: "Branch" - identification by Branch_Code; "Bank"- identification by Bank_Code; "CB" - identification by CB_Code</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="OrderDprt" type="W4D_OrderDprt">
                    <xs:annotation>
                        <xs:appinfo>Bank department accepting the application.</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="ClientType" type="W4D_Code">
                    <xs:annotation>
                        <xs:appinfo>Client type code</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="ServiceGroup" type="W4D_Code">
                    <xs:annotation>
                        <xs:appinfo>Client service group code</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="MainContract" type="W4O_Contract">
                    <xs:annotation>
                        <xs:appinfo>Main contract's identifying information</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ContractIDT" type="W4C_ContractBase">
                <xs:annotation>
                    <xs:appinfo>Contract identification type</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Currency" type="W4D_Currency">
                <xs:annotation>
                    <xs:appinfo>Currency code</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ContractName" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Contract name</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CommentText" type="W4D_Comment">
                <xs:annotation>
                    <xs:appinfo>Comments to the contract</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Product" type="W4C_Product">
                <xs:annotation>
                    <xs:appinfo>Product data</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ChipScheme" type="W4D_Name">
                <xs:annotation>
                    <xs:appinfo>Chip card Risk Scheme. Used to
determine EMV card offline limits.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RiskScheme" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Used to monitor merchant operations.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RiskFactor" type="W4D_Amount">
                <xs:annotation>
                    <xs:appinfo>Offline transaction limit factor.
Specified in thousandths. Used to
control merchant transaction upper
limits and EMV cards offline limits.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element maxOccurs="1" minOccurs="1" name="DeviceInfo" type="W4C_DeviceInfo">
                    <xs:annotation>
                        <xs:appinfo>Device information. Used for device
contracts</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" name="ProductionParms" type="W4A_CardProduction">
                        <xs:annotation>
                            <xs:appinfo>Plastic production data</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="PlasticInfo" type="W4C_EmbossingDetails">
                        <xs:annotation>
                            <xs:appinfo>Embossing contract data</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="DateOpen" type="W4D_Date">
                <xs:annotation>
                    <xs:appinfo>Contract open date</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DateExpiry" type="W4D_Date">
                <xs:annotation>
                    <xs:appinfo>Contract close date</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreditLimit" type="W4A_CreditLimit">
                <xs:annotation>
                    <xs:appinfo>Credit limit data</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddContractInfo" type="W4C_AddInfo">
                <xs:annotation>
                    <xs:appinfo>Additional contract information</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LiabContract" type="W4C_LiabContract">
                <xs:annotation>
                    <xs:appinfo>Reserved for future use.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Address" type="W4C_Address">
                <xs:annotation>
                    <xs:appinfo>Address binded to the contract, e.g. in case of device contract it specifies device address</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4O_ContractRs">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Contract" type="W4O_Contract">
                <xs:annotation>
                    <xs:appinfo> Contract data.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Info">
                <xs:annotation>
                    <xs:appinfo> Additional contract information</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="ClientRs" type="W4O_ClientRs">
                            <xs:annotation>
                                <xs:appinfo> Full client Information</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="Status" type="W4C_ContractStatus">
                            <xs:annotation>
                                <xs:appinfo> Contract Status information</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        
                        
                        
                        
                        
                        
                        
                        <xs:element maxOccurs="1" minOccurs="0" name="AppInfos">
                            <xs:annotation>
                                <xs:appinfo>Contract additional information</xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="AppInfo" type="W4C_AppInfo">
                                        <xs:annotation>
                                            <xs:appinfo>Information concerning additional
client or contract data</xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="BillingPeriods">
                            <xs:annotation>
                                <xs:appinfo>List of Contract's billing periods</xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Period" type="W4C_BillingPeriod"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="Preferreds" type="W4O_Preferreds">
                            <xs:annotation>
                                <xs:appinfo> Information about Contract's Preferreds.</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        
                        
                        
                        
                        
                        
                        
                        
                        <xs:element maxOccurs="1" minOccurs="0" name="MainContract" type="W4O_ContractRs"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="LiabContract" type="W4O_ContractRs"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    
    
    
    
    <xs:complexType name="W4O_Preferred">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="PreferenceType" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Contractor type. Codes are defined in
the "Full \ Configuration
Setup \ Products \ Product
Definition \ Preference Types" table.</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Code" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Preferred code</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ContraDetails" type="W4O_PreferredDetails">
                <xs:annotation>
                    <xs:appinfo>Contractor information. Following elements are reserved for future use: State, Location and AddInfo</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ActivityPeriod" type="W4C_DateInterval">
                <xs:annotation>
                    <xs:appinfo>Activity period for contractor setup. Reserved for future use</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4O_PreferredDetails">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SIC" type="W4D_SIC">
                <xs:annotation>
                    <xs:appinfo>Merchant SIC/MCC</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" name="Country" type="W4D_Country">
                        <xs:annotation>
                            <xs:appinfo>Three-symbol alphabetical ISO-3166
country code. Codes are defined in the
"Code (3 Bytes)" field in the "Full\
Configuration Setup\ Main Tables\
Country Table" form.</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="State" type="W4D_Code">
                        <xs:annotation>
                            <xs:appinfo>Deprecated</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="City" type="W4D_Code">
                        <xs:annotation>
                            <xs:appinfo>Merchant's city</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="Location" type="W4D_Name">
                        <xs:annotation>
                            <xs:appinfo>Deprecated</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="Area" type="W4D_Code">
                    <xs:annotation>
                        <xs:appinfo>Country Area code from Full → Configuration Setup → Main Tables → Country Area</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="MerchantName" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Merchant's name</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MerchantID" type="W4D_Code">
                <xs:annotation>
                    <xs:appinfo>Merchant's Identifier</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DocParm" type="W4C_Parm">
                <xs:annotation>
                    <xs:appinfo>Doc tag</xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:choice maxOccurs="1" minOccurs="0">
                <xs:element maxOccurs="1" minOccurs="0" name="AddInfo" type="W4C_AddInfo">
                    <xs:annotation>
                        <xs:appinfo>Additional information. Definded element names: EMail, PhoneList of W4C_PhoneList</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="AddData" type="W4C_ParmSet">
                    <xs:annotation>
                        <xs:appinfo>Additional Data. Following codes are supported:  "DEV", "MPD", "VPD" - acquiring side data specific for payment system("MPD", "VPD" ) and common("DEV"). Parm/ParmType is reserved for future use</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4O_Preferreds">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Preferred" type="W4O_Preferred">
                <xs:annotation>
                    <xs:appinfo>Preferred contractor data.</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    
    
    
    
    <xs:complexType name="W4T_ApplBase">
        <xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="1" name="RegNumber" type="W4D_RegNumber">
                    <xs:annotation>
                        <xs:appinfo>Registration Number. Max length is 32 chars.</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:choice maxOccurs="1" minOccurs="1">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" name="Institution" type="W4D_Code">
                            <xs:annotation>
                                <xs:appinfo>ID of the financial institution the request is addressed to. Codes are defined in the "Branch
Code" field of the "Financial Institutions" table
(Full \ Configuration Setup \ Main Tables \
Financial Institutions).</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="InstitutionIDType" type="W4C_InstitutionIDType">
                            <xs:annotation>
                                <xs:appinfo> Type of financial institution identification. Possible values: "Branch" - identification by Branch_Code; "Bank"- identification by Bank_Code; "CB" - identification by CB_Code</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="OrderDprt" type="W4D_OrderDprt">
                            <xs:annotation>
                                <xs:appinfo>Classification number of the bank department receiving the application from the client. The codes are specified in the Code field of the Branches table ("Full - Configuration Setup - Client Classifiers - Branches").</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="ServiceGroup" type="W4D_Code">
                            <xs:annotation>
                                <xs:appinfo>Service group code</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" name="Requestor" type="W4C_Contractor">
                            <xs:annotation>
                                <xs:appinfo>Request initiator. Participates in online requests as a person who requests that the request should be performed. Secret values and privileges to perform operations with ObjectFor (e.g. Card) are checked for this participant.</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="Source" type="W4C_Contractor">
                            <xs:annotation>
                                <xs:appinfo>Request sender. Device from which a request is received (e.g. an ATM).</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="0" name="ValidationDtls" type="W4C_ParmSet">
                            <xs:annotation>
                                <xs:appinfo>Request validation parameters. Parm/ParmType is reserved for future use</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="1" minOccurs="1" name="ObjectType" type="W4D_ApplObjectType">
                    <xs:annotation>
                        <xs:appinfo>Application object:
"Client" - client record,
"Contract" - contract,
"ClientContract" - records on both client and
his contract,
"Relation" - link to a related contract,
"ClientAddress" - client address,
"ContractAddress" - contract address,
"ClientAddInfo" - record containing
additional client information
"ContractAddInfo"- record containing
additional contract information,
"ClientAffiliation" - Affiliation Client for a Client,
"ContractAffiliation" - Affiliation Client for a Contract,
"CustomerClassifier" - Customer Classifier,
"ClientClassifier" - Client Classifier,
"ContractClassifier" - Contract Classifier,
"CustomerIdentifier" - Customer Identifier,
"Tariff" - Tariff for Contract,
"Limit" - contract credit limit,
"Event" - contract event,
"Card" - plastic card,
"Status" - contract status,
"Order" - standing payment order,
"Usage" - usage limiter
"Preferred" - contractor,
"AuthMethod" - deprecated,
"ClientAuthMethod" - authentication method for a Client,
"ContractAuthMethod" - authentication method for a Contract,
"CustomerAuthMethod" - authentication method for a Customer,
"Application" - application record</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="ActionType" type="W4D_ApplActionType">
                    <xs:annotation>
                        <xs:appinfo>Actions applied to the object: "Add" - add object, "AddOrUpdate" - add or update object, "Update" - update object, "ActivatePersonal" - activate personal object parameters, "ActivateIndividual" - activate personal parameters of an object created on the basis of a template that is later detached, "ActivateStandard" - activate standard object parameters, "Disable" - disable object parameters, "Delete" - delete object. "Unlock" - unlock plastics. Used exclusively to unlock plastics locked after issuing. "Lock" - lock plastics. Used exclusively to lock an active plastics. "Migrate" - migrate plastics. Used exclusively to migrate plastic data from another system. "Renewal" - update mirror card parameters. Used exclusively to update plastic data in case the real plastic production is in another system.  "Inquiry" - information Inquiry </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="ResultDtls" type="W4C_ResultDtls">
                    <xs:annotation>
                        <xs:appinfo> Result parameters specifying data necessary in the response </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_Application">
        <xs:annotation>
            <xs:appinfo>Application request</xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="W4T_ApplBase">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="ProductGroup" type="W4D_Code">
                        <xs:annotation>
                            <xs:appinfo>Product group code</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="ObjectFor" type="W4C_ObjectFor">
                        <xs:annotation>
                            <xs:appinfo>Object ID. Used to search for the object in the
database.</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" name="Data" type="W4C_DataType">
                            <xs:annotation>
                                <xs:appinfo>Data on the application object.</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:sequence maxOccurs="1" minOccurs="0">
                            
                            <xs:element maxOccurs="1" minOccurs="0" name="Status" type="W4DC_Status">
                                <xs:annotation>
                                    <xs:appinfo> Loading status</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="AddData" type="W4C_AddInfo">
                        <xs:annotation>
                            <xs:appinfo>Additional Data. Following use-types are supported: 
1. ApplicationInfo of W4C_AppInfo type. It is used to load structured data into appl_info table</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="SubApplList" type="W4C_ApplList">
                        <xs:annotation>
                            <xs:appinfo>List of subapplications.</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="W4T_Batch">
        <xs:annotation>
            <xs:appinfo> Batch</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="BatchAction" type="W4D_BatchActionType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="RegNumber" type="W4D_Name"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ApprovalStage" type="W4D_Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrderDprt" type="W4D_OrderDprt"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ProductGroup" type="W4D_Code"/>
            
            <xs:element maxOccurs="1" minOccurs="0" name="ExecParms" type="W4C_ParmSet">
                <xs:annotation>
                    <xs:appinfo>Additional Information. Parm/ParmType is reserved for future use</xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="W4T_Information">
        <xs:annotation>
            <xs:appinfo>Information request</xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="W4T_ApplBase">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="ObjectFor" type="W4C_ObjectFor">
                        <xs:annotation>
                            <xs:appinfo>Object ID. Used to search for the object in the
database.</xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:sequence maxOccurs="1" minOccurs="0">
                        <xs:sequence maxOccurs="1" minOccurs="0">
                            <xs:element maxOccurs="1" minOccurs="1" name="DataRs">
                                <xs:annotation>
                                    <xs:appinfo> Response Data on the requested object.</xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:restriction base="W4C_DataTypeRs">
                                            <xs:choice>
                                                
                                                <xs:element maxOccurs="unbounded" minOccurs="1" name="ContractRs" type="W4O_ContractRs">
                                                    <xs:annotation>
                                                        <xs:appinfo>Full Contract Information</xs:appinfo>
                                                    </xs:annotation>
                                                </xs:element>
                                                
                                                <xs:element maxOccurs="1" minOccurs="1" name="RefSet" type="W4C_ParmSet">
                                                    <xs:annotation>
                                                        <xs:appinfo> Set of Document Identifiers. Supported values: RRN, IRN, SRN, ARN, AuthCode, TRN, ReconsRN, ReceiptRN, DRN, PrevDRN, OrigDRN. Parm/ParmType is reserved for future use.</xs:appinfo>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:choice>
                                        </xs:restriction>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="AddData" type="W4C_AddInfo">
                                <xs:annotation>
                                    <xs:appinfo> Additional Response Data on the requested object.</xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Status" type="W4C_Status">
                            <xs:annotation>
                                <xs:appinfo> Status Information</xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    
    <xs:element name="Batch" type="W4T_Batch">
        <xs:annotation>
            <xs:appinfo>Batch</xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:element name="Information" type="W4T_Information">
        <xs:annotation>
            <xs:appinfo>Information</xs:appinfo>
        </xs:annotation>
    </xs:element>
</xs:schema>