e-r-i-b/Settings/configs/sbrf/MDMApp/META-INF/ibmconfig/cells/defaultCell/applications/defaultApp/deployments/defaultApp/xmi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.omg.org/XMI"
           xmlns:appdeployment="http://www.ibm.com/websphere/appserver/schemas/5.0/appdeployment.xmi"
           xmlns:xmi="http://www.omg.org/XMI">
	<xs:import namespace="http://www.ibm.com/websphere/appserver/schemas/5.0/appdeployment.xmi"
               schemaLocation="hvhvb.xsd"/>
	<xs:attributeGroup name="id1">
		<xs:attribute name="id" use="required" form="qualified" type="xs:NCName"/>
	</xs:attributeGroup>
	<xs:attribute name="version" type="xs:decimal"/>
	<xs:attributeGroup name="id">
		<xs:attribute name="id" use="required" form="qualified"/>
	</xs:attributeGroup>
	<xs:attribute name="type" type="xs:anyURI"/>
</xs:schema>
