e-r-i-b/WebTest/src/com/rssl/phizic/test/ipas/cap/ws/mock/generated/CommonTypes-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        targetNamespace="http://www.openwaygroup.com/iPAS/Schema/CommonTypes-v1"
        elementFormDefault="qualified"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        version="1.0">

    <!--
        Revision   Date           Author               Comments
        ========   ==========     ============         ==================
          1.0      23/04/2012     Philip Gorbachev     Initial version
    -->

    <xsd:complexType name="CommonRqType">
        <xsd:sequence>
            <xsd:element name="STAN" type="xsd:string" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CommonRsType">
        <xsd:sequence>
            <xsd:element name="STAN" type="xsd:string" minOccurs="1"/>
            <xsd:element name="Status" type="xsd:string" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>