e-r-i-b/RSRetailV6r4Gate/src/com/rssl/phizicgate/rsretailV6r4/messaging/Messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name ="internalTransfer_q" type="RequestType"/>
	<xs:element name ="serviceFeePayment_q" type="RequestType"/>
	<xs:element name ="openDeposit_q"      type="RequestType"/>
	<xs:element name ="closeDeposit_q"     type="RequestType"/>
	<xs:element name ="externalTransfer_q" type="RequestType"/>
	<xs:element name ="validatePayment_q"   type="CommissionPayRequestType"/>
	<xs:element name ="depositProduct_q"   type="ListOfDepositsType"/>
	<xs:element name ="getDepositList_q"   type="DepositListRequestType"/>
	<xs:element name ="getClientDepositInfo_q" type="ClientDepositInfoRequestType"/>
	<xs:element name ="getAccountTransactions_q"   type="AccountTransactionRequestType"/>
	<xs:element name ="getReferencFromDocument_q"      type="ReferencRequestType"/>
	<xs:element name ="commissionPay_q"    type="CommissionPayRequestType"/>
	<xs:element name ="recallDocument_q"   type="ListOfDocumentsRequestType"/>
	<xs:element name ="carryDeposit_q"     type="RequestType"/>
	<xs:element name ="getCurrencyRate_q"  type="CurrencyRateRequestType"/>
    <xs:element name ="getRateCB_q" type="CurrencyRateRequestType"/>
	<xs:element name="nextWorkDate_q"      type="RequestType"/>
	<xs:element name ="savingsBookLoss_q"  type="BookLossRequestType"/>
    <xs:element name ="getClientById_q"  type="GetClientByIdRequestType"/>
    <xs:element name ="getClientsByTemplate_q"  type="GetClientByTemplateRequestType"/>
    <xs:element name ="getClientAccounts_q"  type="GetClientAccountsRequestType"/>
    <xs:element name ="getAccount_q"  type="GetAccountRequestType"/>
    <xs:element name ="subscribeAccount_q"  type="SubscribeAccountRequestType"/>
    <xs:element name ="getAccountInfo_q"  type="GetAccountInfoRequestType"/>
    <xs:element name ="getCard_q"  type="GetCardRequestType"/>
    <xs:element name ="getClientCards_q"  type="GetClientCardsRequestType"/>

	<xs:element name ="internalTransfer_a" type="InsertDocumentAnswerType"/>
	<xs:element name ="openDeposit_a"      type="InsertDocumentAnswerType"/>
	<xs:element name ="closeDeposit_a"     type="InsertDocumentAnswerType"/>
	<xs:element name ="externalTransfer_a" type="InsertDocumentAnswerType"/>
	<xs:element name ="depositProduct_a"   type="DepositProductAnswerType"/>
	<xs:element name ="getDepositList_a"   type="ListOfDepositsType"/>
	<xs:element name ="getClientDepositInfo_a" type="ListOfDepositsType"/>
	<xs:element name ="getAccountTransactions_a"   type="AccountTransactionAnswerType"/>
	<xs:element name ="getReferencFromDocument_a"      type="ReferencAnswerType"/>
	<xs:element name ="commissionPay_a"    type="CommissionPayAnswerType"/>
	<xs:element name="validatePayment_a"   type="ValidatePaymentAnswerType"/>
	<xs:element name ="recallDocument_a"   type="ListOfDocumentsAnswerType"/>
	<xs:element name ="carryDeposit_a"     type="ListOfDocumentsAnswerType"/>
	<xs:element name ="getCurrencyRate_a"  type="CurrencyRateAnswerType"/>
    <xs:element name ="getRateCB_a"  type="CurrencyRateAnswerType"/>
	<xs:element name ="serviceFeePayment_a" type="InsertDocumentAnswerType"/>
	<xs:element name="nextWorkDate_a"      type="CalendarDocumentType"/>
	<xs:element name ="savingsBookLoss_a"  type="InsertDocumentAnswerType"/>
    <xs:element name ="getClientById_a"  type="GetClientByIdAnswerType"/>
    <xs:element name ="getClientsByTemplate_a"  type="GetClientByTemplateAnswerType"/>
    <xs:element name ="getClientAccounts_a"  type="GetClientAccountsAnswerType"/>
    <xs:element name ="getAccount_a"  type="GetAccountAnswerType"/>
    <xs:element name ="subscribeAccount_a"  type="SubscribeAccountAnswerType"/>
    <xs:element name ="getAccountInfo_a"  type="GetAccountInfoAnswerType"/>
    <xs:element name ="getCard_a"  type="GetCardAnswerType"/>
    <xs:element name ="getClientCards_a"  type="GetClientCardsAnswerType"/>
    <xs:element name ="getPrimaryCardAccount_q"  type="GetPrimaryCardAccountRequestType"/>
    <xs:element name ="getPrimaryCardAccount_a"  type="GetPrimaryCardAccountResponceType"/>
      
	<xs:complexType name="RequestType">
		<xs:all>
			<xs:element name="dateCreated"                           minOccurs="0"/>
			<xs:element name="chargeOffAccount"    type="xs:string"  minOccurs="0"/>
			<xs:element name="receiverAccount"     type="xs:string"  minOccurs="0"/>
			<xs:element name="receiverCurrency"    type="xs:string"  minOccurs="0"/>
			<xs:element name="ground"              type="xs:string"  minOccurs="0"/>
			<xs:element name="type"                type="xs:decimal" minOccurs="0"/>
			<xs:element name="subType"             type="xs:decimal" minOccurs="0"/>
			<xs:element name="depositConditionsId" type="xs:string"  minOccurs="0"/>
			<xs:element name="receiverName"        type="xs:string"  minOccurs="0"/>
			<xs:element name="receiverBIC"         type="xs:decimal" minOccurs="0"/>
			<xs:element name="receiverCorAccount"  type="xs:string"  minOccurs="0"/>
			<xs:element name="receiverINN"         type="xs:string"  minOccurs="0"/>
			<xs:element name="receiverKPP"         type="xs:string"  minOccurs="0"/>
			<xs:element name="receiverBankName"    type="xs:string"  minOccurs="0"/>
			<xs:element name="officeExternalId"    type="xs:decimal" minOccurs="0"/>
			<xs:element name="transferAccount"     type="xs:decimal" minOccurs="0"/>
			<xs:element name="clientCode"          type="xs:decimal" minOccurs="0"/>
			<xs:element name="operationRate"       type="xs:decimal" minOccurs="0"/>
			<xs:element name="chargeOffAmount"                       minOccurs="0"/>
			<xs:element name="commission"                            minOccurs="0"/>
			<xs:element name="applKey"                               minOccurs="0"/>
			<xs:element name="applKind"                              minOccurs="0"/>
			<xs:element name="receiverAmount"                        minOccurs="0"/>
			<xs:element name="period"                                minOccurs="0"/>
			<xs:element name="fromDate"                              minOccurs="0"/>
			<xs:element name="fnCash"                                minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="CalendarDocumentType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="nextDate"  minOccurs="1" maxOccurs="1"/>
			<xs:element name="isHoliday" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfDepositsType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="deposit"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DepositListRequestType">
		<xs:all>
			<xs:element name="currencyFlag" minOccurs="0"/>
			<xs:element name="priority"     minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ClientDepositInfoRequestType">
		<xs:all>
			<xs:element name="date" minOccurs="0"/>
			<xs:element name="deposit"     minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="BookLossRequestType">
		<xs:all>
			<xs:element name="accountNumber"   minOccurs="0"/>
			<xs:element name="action"          minOccurs="0"/>
			<xs:element name="receiverAccount" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="CommissionPayRequestType">
		<xs:choice>
			<xs:element name ="internalTransfer_q" type="RequestType"/>
			<xs:element name ="externalTransfer_q" type="RequestType"/>
			<xs:element name ="openDeposit_q" type="RequestType"/>
			<xs:element name ="closeDeposit_q" type="RequestType"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ListOfDocumentsRequestType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name ="document"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InsertDocumentAnswerType">
		<xs:all>
			<xs:element name="errorCode"       type="xs:decimal"/>
			<xs:element name="errorText"       type="xs:string"  minOccurs="0"/>
			<xs:element name="applicationKind"  minOccurs="0"/>
			<xs:element name="applicationKey"   minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="DepositProductAnswerType">
		<xs:all>
			<xs:element name="structure"/>
			<xs:element name="data"/>
			<xs:element name="errorCode" minOccurs="0"/>
			<xs:element name="errorText" minOccurs="0"/>
			<xs:element name="dictionaries"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="CommissionPayAnswerType">
		<xs:all>
			<xs:element name="errorCode"/>
			<xs:element name="commission"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ListOfDocumentsAnswerType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name ="document" type="InsertDocumentAnswerType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AccountTransactionRequestType">
		<xs:all>
			<xs:element name="accountReferenc" minOccurs="0"/>
			<xs:element name="fromDate"       minOccurs="0"/>
			<xs:element name="toDate"        minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ReferencRequestType">
		<xs:all>
			<xs:element name="applicationKind" type="xs:decimal" minOccurs="0"/>
			<xs:element name="applicationKey"  type="xs:string"  minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="CurrencyRateRequestType">
		<xs:all>
			<xs:element name="date"            minOccurs="0"/>
			<xs:element name="buyCurrency"     minOccurs="0"/>
			<xs:element name="saleCurrency"    minOccurs="0"/>
			<xs:element name="buySum"          minOccurs="0"/>
			<xs:element name="saleSum"         minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ListOfTransactionsType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="transaction"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TrusteesType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="trustee"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AccountTransactionAnswerType">
		<xs:all>
			<xs:element name="previousOperationDate" type="xs:string"/>
			<xs:element name="closedDate" type="xs:string"/>
			<xs:element name="closedSum" type="xs:string"/>
			<xs:element name="transactions" type="ListOfTransactionsType" minOccurs="0"/>
			<xs:element name="interestRate" type="xs:string"/>
			<xs:element name="incomingRest"  type="xs:string"/>
			<xs:element name="outcomingRest" type="xs:string"/>
			<xs:element name="totalInSum"   type="xs:string"/>
			<xs:element name="totalOutSum"  type="xs:string"/>
			<xs:element name="trustees"     type="TrusteesType"/>
			<xs:element name="additionalInformation"  type="xs:string"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ReferencAnswerType">
		<xs:all>
			<xs:element name="errorCode"       type="xs:decimal"/>
			<xs:element name="errorText"       type="xs:string"  minOccurs="0"/>
			<xs:element name="accountReferenc" type="xs:decimal" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="CurrencyRateAnswerType">
		<xs:all>
			<xs:element name="sum" type="xs:string"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ValidatePaymentAnswerType">
		<xs:all>
			<xs:element name="errorCode" minOccurs="0"/>
			<xs:element name="errorText" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetClientByTemplateRequestType">
		<xs:all>
			<xs:element name="surName"    type="xs:string" minOccurs="1"/>
            <xs:element name="firstName"    type="xs:string" minOccurs="1"/>
            <xs:element name="patrName"    type="xs:string" minOccurs="1"/>
            <xs:element name="personId"    type="xs:string" minOccurs="0"/>
            <xs:element name="birthDay"     type="xs:string" minOccurs="0"/>
            <xs:element name="firstResult"    type="xs:string" minOccurs="1"/>
            <xs:element name="maxResults"    type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="ClientsType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="client"    type="ClientType"/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="GetClientByTemplateAnswerType">
		<xs:all>
			<xs:element name="clients"    type="ClientsType" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetClientByIdRequestType">
		<xs:all>
			<xs:element name="id"    type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetClientByIdAnswerType">
		<xs:all>
            <xs:element name="client" type="ClientType" minOccurs="0"/>
         </xs:all>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:all>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="postalCode" type="xs:string"/>
            <xs:element name="province" type="xs:string"/>
            <xs:element name="district" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="house" type="xs:string"/>
            <xs:element name="building" type="xs:string"/>
            <xs:element name="flat" type="xs:string"/>
            <xs:element name="homePhone" type="xs:string"/>
            <xs:element name="workPhone" type="xs:string"/>
            <xs:element name="mobilePhone" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="DocumentsType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="document" type="DocumentType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DocumentType">
        <xs:all>
            <xs:element name="kPersonId" type="xs:string"/>
            <xs:element name="kPaperKind" type="xs:string"/>
            <xs:element name="docNumber" type="xs:string"/>
            <xs:element name="docSeries" type="xs:string"/>
            <xs:element name="docIssueDate" type="xs:string"/>
            <xs:element name="docIssueBy" type="xs:string"/>
            <xs:element name="docType" type="xs:string"/>
            <xs:element name="docName" type="xs:string"/>
            <xs:element name="docIssueByCode" type="xs:string"/>
            <xs:element name="docIdentify" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="ClientType">
        <xs:all>
            <xs:element name="displayId" type="xs:string"/>
            <xs:element name="longId" type="xs:string"/>
            <xs:element name="shortName" type="xs:string" minOccurs="0"/>
            <xs:element name="fullName" type="xs:string"/>
            <xs:element name="surName" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="patrName" type="xs:string" minOccurs="0"/>
            <xs:element name="birthDay" type="xs:string" minOccurs="0"/>
            <xs:element name="birthPlace" type="xs:string" minOccurs="0"/>
            <xs:element name="gender" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="homePhone" type="xs:string" minOccurs="0"/>
            <xs:element name="jobPhone" type="xs:string" minOccurs="0"/>
            <xs:element name="mobilePhone" type="xs:string" minOccurs="0"/>
            <xs:element name="inn" type="xs:string" minOccurs="0"/>
            <xs:element name="citizenship" type="xs:string" minOccurs="0"/>
            <xs:element name="resident" type="xs:string" minOccurs="0"/>
            <xs:element name="regAddress" type="AddressType" minOccurs="0"/>
            <xs:element name="factAddress" type="AddressType" minOccurs="0"/>
            <xs:element name="documents" type="DocumentsType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="AccountType">
        <xs:all>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="fullname" type="xs:string"/>
            <xs:element name="number" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="fullDescription" type="xs:string"/>
            <xs:element name="currency" type="xs:string"/>
            <xs:element name="openDate" type="xs:string"/>
            <xs:element name="branch" type="xs:string"/>
            <xs:element name="creditAllowed" type="xs:string"/>
            <xs:element name="debitAllowed" type="xs:string"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="AccountInfoType">
        <xs:all>
            <xs:element name="accountId" type="xs:string"/>
            <xs:element name="lastTransactionDate" type="xs:string"/>
            <xs:element name="decimalBalance" type="xs:string"/>
            <xs:element name="currencyId" type="xs:string"/>
            <xs:element name="closeDate" type="xs:string"/>
            <xs:element name="isOpen" type="xs:string"/>
            <xs:element name="isLock" type="xs:string"/>
            <xs:element name="agreementNumber" type="xs:string"/>
            <xs:element name="passbook" type="xs:string"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="CardType">
        <xs:all>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="number" type="xs:string"/>
            <xs:element name="ownerLastName" type="xs:string"/>
            <xs:element name="ownerFirstName" type="xs:string"/>
            <xs:element name="issueDate" type="xs:string"/>
            <xs:element name="expireDate" type="xs:string"/>
            <xs:element name="isMain" type="xs:string"/>
            <xs:element name="agreementNumber" type="xs:string"/>
            <xs:element name="agreementDate" type="xs:string"/>
            <xs:element name="codeWord" type="xs:string"/>
            <xs:element name="cardType" type="xs:string"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="CardPrimaryAccountType">
        <xs:all>
            <xs:element name="accountReferenc" type="xs:string"/>
            <xs:element name="cardReferenc" type="xs:string"/>
            <xs:element name="error" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
   
    <xs:complexType name="AccountsType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="account" type="AccountType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CardsType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="card" type="CardType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetClientAccountsRequestType">
        <xs:all>
            <xs:element name="clientId" type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetAccountRequestType">
        <xs:all>
            <xs:element name="accountReferenc" type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetClientAccountsAnswerType">
        <xs:all>
            <xs:element name="accounts" type="AccountsType" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetAccountAnswerType">
        <xs:all>
            <xs:element name="account" type="AccountType" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="SubscribeAccountRequestType">
        <xs:all>
            <xs:element name="accountReferenc" type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="SubscribeAccountAnswerType">
        <xs:all>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetAccountInfoRequestType">
        <xs:all>
            <xs:element name="accountReferenc" type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetAccountInfoAnswerType">
        <xs:all>
            <xs:element name="accountInfo" type="AccountInfoType" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetCardRequestType">
        <xs:all>
            <xs:element name="cardId" type="xs:string" minOccurs="1"/>
            <xs:element name="clientId" type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetCardAnswerType">
        <xs:all>
            <xs:element name="card" type="CardType" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetClientCardsRequestType">
        <xs:all>
            <xs:element name="clientId" type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetClientCardsAnswerType">
        <xs:all>
            <xs:element name="cards" type="CardsType" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetPrimaryCardAccountRequestType">
        <xs:all>
            <xs:element name="cardReferenc" type="xs:string" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

    <xs:complexType name="GetPrimaryCardAccountResponceType">
        <xs:all>
            <xs:element name="result" type="CardPrimaryAccountType" minOccurs="1"/>
		</xs:all>
	</xs:complexType>

</xs:schema>
