e-r-i-b/WebGate/web/WEB-INF/AutoPaymentServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="AutoPaymentServiceImpl" targetNamespace="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema>
    <schema targetNamespace="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="AutoPayment">
        <sequence>
          <element name="amount" type="tns:Money"/>
          <element name="cardNumber" type="string"/>
          <element name="codeService" type="string"/>
          <element name="dateAccepted" type="dateTime"/>
          <element name="endDate" type="dateTime"/>
          <element name="executionEventType" type="string"/>
          <element name="externalId" type="string"/>
          <element name="floorLimit" type="tns:Money"/>
          <element name="friendlyName" type="string"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="payDay" type="soap11-enc:long"/>
          <element name="percent" type="decimal"/>
          <element name="priority" type="soap11-enc:long"/>
          <element name="receiverName" type="string"/>
          <element name="reportStatus" type="string"/>
          <element name="requisite" type="string"/>
          <element name="startDate" type="dateTime"/>
          <element name="sumType" type="string"/>
          <element name="totalAmountLimit" type="tns:Money"/>
          <element name="totalAmountPeriod" type="string"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="office" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="Card">
        <sequence>
          <element name="additionalCardType" type="string"/>
          <element name="availableLimit" type="tns:Money"/>
          <element name="cardBonusSign" type="string"/>
          <element name="cardLevel" type="string"/>
          <element name="cardState" type="string"/>
          <element name="cardType" type="string"/>
          <element name="clientId" type="string"/>
          <element name="contractNumber" type="string"/>
          <element name="currency" type="tns:Currency"/>
          <element name="description" type="string"/>
          <element name="displayedExpireDate" type="string"/>
          <element name="emailAddress" type="string"/>
          <element name="expireDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="issueDate" type="dateTime"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="main" type="boolean"/>
          <element name="mainCardNumber" type="string"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="primaryAccountExternalId" type="string"/>
          <element name="primaryAccountNumber" type="string"/>
          <element name="reportDeliveryLanguage" type="string"/>
          <element name="reportDeliveryType" type="string"/>
          <element name="statusDescription" type="string"/>
          <element name="subkind" type="soap11-enc:long"/>
          <element name="type" type="string"/>
          <element name="useReportDelivery" type="boolean"/>
          <element name="virtual" type="boolean"/></sequence></complexType>
      <complexType name="IKFLException">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="cardNumber" type="string"/>
          <element name="cause" type="tns:Throwable"/>
          <element name="detailMessage" type="string"/>
          <element name="errorMessage" type="tns:ErrorMessage"/>
          <element name="message" type="string"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Throwable">
        <sequence>
          <element name="backtrace" type="anyType"/>
          <element name="cause" type="tns:Throwable"/>
          <element name="detailMessage" type="string"/>
          <element name="stackTrace" type="tns:ArrayOfStackTraceElement"/></sequence></complexType>
      <complexType name="ArrayOfStackTraceElement">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:StackTraceElement[]"/></restriction></complexContent></complexType>
      <complexType name="StackTraceElement">
        <sequence>
          <element name="declaringClass" type="string"/>
          <element name="fileName" type="string"/>
          <element name="lineNumber" type="int"/>
          <element name="methodName" type="string"/></sequence></complexType>
      <complexType name="ErrorMessage">
        <sequence>
          <element name="errorType" type="string"/>
          <element name="message" type="string"/>
          <element name="regExp" type="string"/>
          <element name="system" type="string"/></sequence></complexType>
      <complexType name="ScheduleItem">
        <sequence>
          <element name="amount" type="tns:Money"/>
          <element name="date" type="dateTime"/>
          <element name="state" type="string"/></sequence></complexType>
      <complexType name="ArrayOfstring">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="string[]"/></restriction></complexContent></complexType>
      <complexType name="GroupResult">
        <sequence>
          <element name="exceptions" type="ns2:map"/>
          <element name="results" type="ns2:map"/></sequence></complexType></schema></types>
  <message name="AutoPaymentService___forGenerateAutoPayment"/>
  <message name="AutoPaymentService___forGenerateAutoPaymentResponse">
    <part name="result" type="tns:AutoPayment"/></message>
  <message name="AutoPaymentService___forGenerateCard"/>
  <message name="AutoPaymentService___forGenerateCardResponse">
    <part name="result" type="tns:Card"/></message>
  <message name="AutoPaymentService___forGenerateIKFLException"/>
  <message name="AutoPaymentService___forGenerateIKFLExceptionResponse">
    <part name="result" type="tns:IKFLException"/></message>
  <message name="AutoPaymentService___forGenerateScheduleItem"/>
  <message name="AutoPaymentService___forGenerateScheduleItemResponse">
    <part name="result" type="tns:ScheduleItem"/></message>
  <message name="AutoPaymentService_checkPaymentPossibilityExecution">
    <part name="String_1" type="xsd:string"/></message>
  <message name="AutoPaymentService_checkPaymentPossibilityExecutionResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="AutoPaymentService_getAllowedAutoPaymentTypes">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="AutoPaymentService_getAllowedAutoPaymentTypesResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="AutoPaymentService_getAutoPayment">
    <part name="arrayOfString_1" type="tns:ArrayOfstring"/></message>
  <message name="AutoPaymentService_getAutoPaymentResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="AutoPaymentService_getClientsAutoPayments">
    <part name="List_1" type="ns2:list"/></message>
  <message name="AutoPaymentService_getClientsAutoPaymentsResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="AutoPaymentService_getSheduleReport">
    <part name="AutoPayment_1" type="tns:AutoPayment"/></message>
  <message name="AutoPaymentService_getSheduleReportResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="AutoPaymentService_getSheduleReport2">
    <part name="AutoPayment_1" type="tns:AutoPayment"/>
    <part name="Calendar_2" type="xsd:dateTime"/>
    <part name="Calendar_3" type="xsd:dateTime"/></message>
  <message name="AutoPaymentService_getSheduleReport2Response">
    <part name="result" type="ns2:list"/></message>
  <portType name="AutoPaymentService">
    <operation name="__forGenerateAutoPayment">
      <input message="tns:AutoPaymentService___forGenerateAutoPayment"/>
      <output message="tns:AutoPaymentService___forGenerateAutoPaymentResponse"/></operation>
    <operation name="__forGenerateCard">
      <input message="tns:AutoPaymentService___forGenerateCard"/>
      <output message="tns:AutoPaymentService___forGenerateCardResponse"/></operation>
    <operation name="__forGenerateIKFLException">
      <input message="tns:AutoPaymentService___forGenerateIKFLException"/>
      <output message="tns:AutoPaymentService___forGenerateIKFLExceptionResponse"/></operation>
    <operation name="__forGenerateScheduleItem">
      <input message="tns:AutoPaymentService___forGenerateScheduleItem"/>
      <output message="tns:AutoPaymentService___forGenerateScheduleItemResponse"/></operation>
    <operation name="checkPaymentPossibilityExecution" parameterOrder="String_1">
      <input message="tns:AutoPaymentService_checkPaymentPossibilityExecution"/>
      <output message="tns:AutoPaymentService_checkPaymentPossibilityExecutionResponse"/></operation>
    <operation name="getAllowedAutoPaymentTypes" parameterOrder="String_1 String_2 String_3">
      <input message="tns:AutoPaymentService_getAllowedAutoPaymentTypes"/>
      <output message="tns:AutoPaymentService_getAllowedAutoPaymentTypesResponse"/></operation>
    <operation name="getAutoPayment" parameterOrder="arrayOfString_1">
      <input message="tns:AutoPaymentService_getAutoPayment"/>
      <output message="tns:AutoPaymentService_getAutoPaymentResponse"/></operation>
    <operation name="getClientsAutoPayments" parameterOrder="List_1">
      <input message="tns:AutoPaymentService_getClientsAutoPayments"/>
      <output message="tns:AutoPaymentService_getClientsAutoPaymentsResponse"/></operation>
    <operation name="getSheduleReport" parameterOrder="AutoPayment_1">
      <input message="tns:AutoPaymentService_getSheduleReport"/>
      <output message="tns:AutoPaymentService_getSheduleReportResponse"/></operation>
    <operation name="getSheduleReport2" parameterOrder="AutoPayment_1 Calendar_2 Calendar_3">
      <input message="tns:AutoPaymentService_getSheduleReport2"/>
      <output message="tns:AutoPaymentService_getSheduleReport2Response"/></operation></portType>
  <binding name="AutoPaymentServiceBinding" type="tns:AutoPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateAutoPayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateIKFLException">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateScheduleItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="checkPaymentPossibilityExecution">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAllowedAutoPaymentTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAutoPayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientsAutoPayments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getSheduleReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getSheduleReport2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="AutoPaymentServiceImpl">
    <port name="AutoPaymentServicePort" binding="tns:AutoPaymentServiceBinding">
      <soap:address location="http://localhost:8080/services/AutoPaymentServiceImpl"/></port></service></definitions>
