e-r-i-b/WebGate/web/WEB-INF/BankrollServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="BankrollServiceImpl" targetNamespace="http://generated.bankroll.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.bankroll.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns3="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.bankroll.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.bankroll.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="AccountInfo">
        <sequence>
          <element name="accountId" type="long"/>
          <element name="agreementNumber" type="string"/>
          <element name="clearBalance" type="decimal"/>
          <element name="closeDate" type="dateTime"/>
          <element name="creditCrossAgencyAllowed" type="soap11-enc:boolean"/>
          <element name="debitCrossAgencyAllowed" type="soap11-enc:boolean"/>
          <element name="interestTransferAccount" type="string"/>
          <element name="interestTransferCard" type="string"/>
          <element name="lastTransactionDate" type="dateTime"/>
          <element name="maxBalance" type="decimal"/>
          <element name="passbook" type="soap11-enc:boolean"/>
          <element name="period" type="tns:DateSpan"/>
          <element name="prolongationAllowed" type="soap11-enc:boolean"/></sequence></complexType>
      <complexType name="DateSpan">
        <sequence>
          <element name="days" type="int"/>
          <element name="months" type="int"/>
          <element name="years" type="int"/></sequence></complexType>
      <complexType name="AccountTransaction">
        <sequence>
          <element name="balance" type="tns:Money"/>
          <element name="bookAccount" type="string"/>
          <element name="cardUseData" type="tns:CardUseData"/>
          <element name="counteragent" type="string"/>
          <element name="counteragentAccount" type="string"/>
          <element name="counteragentBank" type="string"/>
          <element name="counteragentBankName" type="string"/>
          <element name="creditSum" type="tns:Money"/>
          <element name="cunteragentCorAccount" type="string"/>
          <element name="date" type="dateTime"/>
          <element name="debitSum" type="tns:Money"/>
          <element name="description" type="string"/>
          <element name="documentNumber" type="string"/>
          <element name="operationCode" type="string"/>
          <element name="recipient" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="CardUseData">
        <sequence>
          <element name="authCode" type="string"/>
          <element name="authDate" type="dateTime"/>
          <element name="authTime" type="dateTime"/>
          <element name="cardNumber" type="string"/>
          <element name="clientName" type="string"/>
          <element name="confirmClerkName" type="string"/>
          <element name="confirmClerkNumber" type="soap11-enc:long"/>
          <element name="confirmDate" type="dateTime"/>
          <element name="confirmTime" type="dateTime"/>
          <element name="experationDate" type="dateTime"/>
          <element name="operationDate" type="dateTime"/>
          <element name="operationTime" type="dateTime"/>
          <element name="paymasterName" type="string"/>
          <element name="paymasterNumber" type="soap11-enc:long"/>
          <element name="paymentDate" type="dateTime"/>
          <element name="paymentTime" type="dateTime"/></sequence></complexType>
      <complexType name="CardInfo">
        <sequence>
          <element name="agreementDate" type="dateTime"/>
          <element name="agreementNumber" type="string"/>
          <element name="availableCashLimit" type="tns:Money"/>
          <element name="codeWord" type="string"/>
          <element name="decimalHoldSum" type="decimal"/>
          <element name="holdSum" type="tns:Money"/>
          <element name="holderName" type="string"/>
          <element name="lastOperationDate" type="dateTime"/>
          <element name="longId" type="long"/>
          <element name="purchaseLimit" type="tns:Money"/></sequence></complexType>
      <complexType name="CardOperation">
        <sequence>
          <element name="accountCreditSum" type="tns:Money"/>
          <element name="accountDebitSum" type="tns:Money"/>
          <element name="balance" type="tns:Money"/>
          <element name="creditSum" type="tns:Money"/>
          <element name="date" type="dateTime"/>
          <element name="debitSum" type="tns:Money"/>
          <element name="description" type="string"/>
          <element name="documentNumber" type="string"/>
          <element name="operationCard" type="tns:Card"/>
          <element name="operationDate" type="dateTime"/></sequence></complexType>
      <complexType name="Card">
        <sequence>
          <element name="additionalCardType" type="string"/>
          <element name="availableLimit" type="tns:Money"/>
          <element name="cardBonusSign" type="string"/>
          <element name="cardLevel" type="string"/>
          <element name="cardState" type="string"/>
          <element name="cardType" type="string"/>
          <element name="clientId" type="string"/>
          <element name="contractNumber" type="string"/>
          <element name="currency" type="tns:Currency"/>
          <element name="description" type="string"/>
          <element name="displayedExpireDate" type="string"/>
          <element name="emailAddress" type="string"/>
          <element name="expireDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="issueDate" type="dateTime"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="main" type="boolean"/>
          <element name="mainCardNumber" type="string"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="primaryAccountExternalId" type="string"/>
          <element name="primaryAccountNumber" type="string"/>
          <element name="reportDeliveryLanguage" type="string"/>
          <element name="reportDeliveryType" type="string"/>
          <element name="statusDescription" type="string"/>
          <element name="subkind" type="soap11-enc:long"/>
          <element name="type" type="string"/>
          <element name="useReportDelivery" type="boolean"/>
          <element name="virtual" type="boolean"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="ClientDocument">
        <sequence>
          <element name="docIdentify" type="boolean"/>
          <element name="docIssueBy" type="string"/>
          <element name="docIssueByCode" type="string"/>
          <element name="docIssueDate" type="dateTime"/>
          <element name="docNumber" type="string"/>
          <element name="docSeries" type="string"/>
          <element name="docTimeUpDate" type="dateTime"/>
          <element name="docTypeName" type="string"/>
          <element name="documentType" type="string"/>
          <element name="paperKind" type="soap11-enc:long"/>
          <element name="personId" type="soap11-enc:long"/></sequence></complexType>
      <complexType name="IKFLException">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="cardNumber" type="string"/>
          <element name="cause" type="tns:Throwable"/>
          <element name="detailMessage" type="string"/>
          <element name="errorMessage" type="tns:ErrorMessage"/>
          <element name="message" type="string"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Throwable">
        <sequence>
          <element name="backtrace" type="anyType"/>
          <element name="cause" type="tns:Throwable"/>
          <element name="detailMessage" type="string"/>
          <element name="stackTrace" type="tns:ArrayOfStackTraceElement"/></sequence></complexType>
      <complexType name="ArrayOfStackTraceElement">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:StackTraceElement[]"/></restriction></complexContent></complexType>
      <complexType name="StackTraceElement">
        <sequence>
          <element name="declaringClass" type="string"/>
          <element name="fileName" type="string"/>
          <element name="lineNumber" type="int"/>
          <element name="methodName" type="string"/></sequence></complexType>
      <complexType name="ErrorMessage">
        <sequence>
          <element name="errorType" type="string"/>
          <element name="message" type="string"/>
          <element name="regExp" type="string"/>
          <element name="system" type="string"/></sequence></complexType>
      <complexType name="OverdraftInfo">
        <sequence>
          <element name="availableLimit" type="tns:Money"/>
          <element name="cardId" type="long"/>
          <element name="currentOverdraftSum" type="tns:Money"/>
          <element name="limit" type="tns:Money"/>
          <element name="minimalPayment" type="tns:Money"/>
          <element name="minimalPaymentDate" type="dateTime"/>
          <element name="openDate" type="dateTime"/>
          <element name="ownSum" type="tns:Money"/>
          <element name="rate" type="tns:Money"/>
          <element name="technicalOverdraftSum" type="tns:Money"/>
          <element name="technicalPenalty" type="tns:Money"/>
          <element name="totalDebtSum" type="tns:Money"/>
          <element name="unsetltedDebtCreateDate" type="dateTime"/>
          <element name="unsettledDebtSum" type="tns:Money"/>
          <element name="unsettledPenalty" type="tns:Money"/></sequence></complexType>
      <complexType name="Trustee">
        <sequence>
          <element name="endingDate" type="dateTime"/>
          <element name="name" type="string"/></sequence></complexType>
      <complexType name="Account">
        <sequence>
          <element name="accountState" type="string"/>
          <element name="balance" type="tns:Money"/>
          <element name="clientKind" type="soap11-enc:long"/>
          <element name="creditAllowed" type="soap11-enc:boolean"/>
          <element name="currency" type="tns:Currency"/>
          <element name="debitAllowed" type="soap11-enc:boolean"/>
          <element name="demand" type="soap11-enc:boolean"/>
          <element name="description" type="string"/>
          <element name="id" type="string"/>
          <element name="interestRate" type="decimal"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="maxSumWrite" type="tns:Money"/>
          <element name="minimumBalance" type="tns:Money"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="openDate" type="dateTime"/>
          <element name="passbook" type="soap11-enc:boolean"/>
          <element name="prolongationDate" type="dateTime"/>
          <element name="subKind" type="soap11-enc:long"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="AccountAbstract">
        <sequence>
          <element name="additionalInformation" type="string"/>
          <element name="closedDate" type="dateTime"/>
          <element name="closedSum" type="tns:Money"/>
          <element name="closingBalance" type="tns:Money"/>
          <element name="fromDate" type="dateTime"/>
          <element name="openingBalance" type="tns:Money"/>
          <element name="previousOperationDate" type="dateTime"/>
          <element name="toDate" type="dateTime"/>
          <element name="transactions" type="ns2:list"/>
          <element name="trusteesDocuments" type="ns2:list"/></sequence></complexType>
      <complexType name="ArrayOfstring">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="string[]"/></restriction></complexContent></complexType>
      <complexType name="GroupResult">
        <sequence>
          <element name="exceptions" type="ns2:map"/>
          <element name="results" type="ns2:map"/></sequence></complexType>
      <complexType name="ArrayOfAccount">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Account[]"/></restriction></complexContent></complexType>
      <complexType name="ArrayOfPair">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Pair[]"/></restriction></complexContent></complexType>
      <complexType name="Pair">
        <sequence>
          <element name="first" type="anyType"/>
          <element name="second" type="anyType"/></sequence></complexType>
      <complexType name="ArrayOfCard">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Card[]"/></restriction></complexContent></complexType>
      <complexType name="CardAbstract">
        <sequence>
          <element name="closingBalance" type="tns:Money"/>
          <element name="fromDate" type="dateTime"/>
          <element name="openingBalance" type="tns:Money"/>
          <element name="toDate" type="dateTime"/>
          <element name="transactions" type="ns2:list"/>
          <element name="unsettledOperations" type="ns2:list"/></sequence></complexType>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="cancellationDate" type="dateTime"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="insertionDate" type="dateTime"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="managerOSB" type="string"/>
          <element name="managerTB" type="string"/>
          <element name="managerVSP" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="state" type="tns:ClientState"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema></types>
  <message name="BankrollService___forGenerateAccountInfo"/>
  <message name="BankrollService___forGenerateAccountInfoResponse">
    <part name="result" type="tns:AccountInfo"/></message>
  <message name="BankrollService___forGenerateAccountTransaction"/>
  <message name="BankrollService___forGenerateAccountTransactionResponse">
    <part name="result" type="tns:AccountTransaction"/></message>
  <message name="BankrollService___forGenerateCardInfo"/>
  <message name="BankrollService___forGenerateCardInfoResponse">
    <part name="result" type="tns:CardInfo"/></message>
  <message name="BankrollService___forGenerateCardOperation"/>
  <message name="BankrollService___forGenerateCardOperationResponse">
    <part name="result" type="tns:CardOperation"/></message>
  <message name="BankrollService___forGenerateClientDocument"/>
  <message name="BankrollService___forGenerateClientDocumentResponse">
    <part name="result" type="tns:ClientDocument"/></message>
  <message name="BankrollService___forGenerateIKFLException"/>
  <message name="BankrollService___forGenerateIKFLExceptionResponse">
    <part name="result" type="tns:IKFLException"/></message>
  <message name="BankrollService___forGenerateOverdraftInfo"/>
  <message name="BankrollService___forGenerateOverdraftInfoResponse">
    <part name="result" type="tns:OverdraftInfo"/></message>
  <message name="BankrollService___forGenerateTrustee"/>
  <message name="BankrollService___forGenerateTrusteeResponse">
    <part name="result" type="tns:Trustee"/></message>
  <message name="BankrollService_getAccHistoryFullExtract">
    <part name="Account_1" type="tns:Account"/>
    <part name="Calendar_2" type="xsd:dateTime"/>
    <part name="Calendar_3" type="xsd:dateTime"/>
    <part name="Boolean_4" type="ns2:boolean"/></message>
  <message name="BankrollService_getAccHistoryFullExtractResponse">
    <part name="result" type="tns:AccountAbstract"/></message>
  <message name="BankrollService_getAccount">
    <part name="arrayOfString_1" type="tns:ArrayOfstring"/></message>
  <message name="BankrollService_getAccountResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getAccountAbstract">
    <part name="Long_1" type="ns2:long"/>
    <part name="arrayOfAccount_2" type="tns:ArrayOfAccount"/></message>
  <message name="BankrollService_getAccountAbstractResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getAccountAbstract2">
    <part name="Account_1" type="tns:Account"/>
    <part name="Calendar_2" type="xsd:dateTime"/>
    <part name="Calendar_3" type="xsd:dateTime"/>
    <part name="Boolean_4" type="ns2:boolean"/></message>
  <message name="BankrollService_getAccountAbstract2Response">
    <part name="result" type="tns:AccountAbstract"/></message>
  <message name="BankrollService_getAccountByNumber">
    <part name="arrayOfPair_1" type="tns:ArrayOfPair"/></message>
  <message name="BankrollService_getAccountByNumberResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getAccountExtendedAbstract">
    <part name="Account_1" type="tns:Account"/>
    <part name="Calendar_2" type="xsd:dateTime"/>
    <part name="Calendar_3" type="xsd:dateTime"/></message>
  <message name="BankrollService_getAccountExtendedAbstractResponse">
    <part name="result" type="tns:AccountAbstract"/></message>
  <message name="BankrollService_getAdditionalCards">
    <part name="arrayOfCard_1" type="tns:ArrayOfCard"/></message>
  <message name="BankrollService_getAdditionalCardsResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getCard">
    <part name="arrayOfString_1" type="tns:ArrayOfstring"/></message>
  <message name="BankrollService_getCardResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getCardAbstract">
    <part name="Long_1" type="ns2:long"/>
    <part name="arrayOfCard_2" type="tns:ArrayOfCard"/></message>
  <message name="BankrollService_getCardAbstractResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getCardAbstract2">
    <part name="Card_1" type="tns:Card"/>
    <part name="Calendar_2" type="xsd:dateTime"/>
    <part name="Calendar_3" type="xsd:dateTime"/>
    <part name="Boolean_4" type="ns2:boolean"/></message>
  <message name="BankrollService_getCardAbstract2Response">
    <part name="result" type="tns:CardAbstract"/></message>
  <message name="BankrollService_getCardByNumber">
    <part name="Client_1" type="tns:Client"/>
    <part name="arrayOfPair_2" type="tns:ArrayOfPair"/></message>
  <message name="BankrollService_getCardByNumberResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getCardPrimaryAccount">
    <part name="arrayOfCard_1" type="tns:ArrayOfCard"/></message>
  <message name="BankrollService_getCardPrimaryAccountResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getClientAccounts">
    <part name="Client_1" type="tns:Client"/></message>
  <message name="BankrollService_getClientAccountsResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="BankrollService_getClientCards">
    <part name="Client_1" type="tns:Client"/></message>
  <message name="BankrollService_getClientCardsResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="BankrollService_getOwnerInfo">
    <part name="arrayOfAccount_1" type="tns:ArrayOfAccount"/></message>
  <message name="BankrollService_getOwnerInfoResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getOwnerInfo2">
    <part name="arrayOfCard_1" type="tns:ArrayOfCard"/></message>
  <message name="BankrollService_getOwnerInfo2Response">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="BankrollService_getOwnerInfoByCardNumber">
    <part name="arrayOfPair_1" type="tns:ArrayOfPair"/></message>
  <message name="BankrollService_getOwnerInfoByCardNumberResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <portType name="BankrollService">
    <operation name="__forGenerateAccountInfo">
      <input message="tns:BankrollService___forGenerateAccountInfo"/>
      <output message="tns:BankrollService___forGenerateAccountInfoResponse"/></operation>
    <operation name="__forGenerateAccountTransaction">
      <input message="tns:BankrollService___forGenerateAccountTransaction"/>
      <output message="tns:BankrollService___forGenerateAccountTransactionResponse"/></operation>
    <operation name="__forGenerateCardInfo">
      <input message="tns:BankrollService___forGenerateCardInfo"/>
      <output message="tns:BankrollService___forGenerateCardInfoResponse"/></operation>
    <operation name="__forGenerateCardOperation">
      <input message="tns:BankrollService___forGenerateCardOperation"/>
      <output message="tns:BankrollService___forGenerateCardOperationResponse"/></operation>
    <operation name="__forGenerateClientDocument">
      <input message="tns:BankrollService___forGenerateClientDocument"/>
      <output message="tns:BankrollService___forGenerateClientDocumentResponse"/></operation>
    <operation name="__forGenerateIKFLException">
      <input message="tns:BankrollService___forGenerateIKFLException"/>
      <output message="tns:BankrollService___forGenerateIKFLExceptionResponse"/></operation>
    <operation name="__forGenerateOverdraftInfo">
      <input message="tns:BankrollService___forGenerateOverdraftInfo"/>
      <output message="tns:BankrollService___forGenerateOverdraftInfoResponse"/></operation>
    <operation name="__forGenerateTrustee">
      <input message="tns:BankrollService___forGenerateTrustee"/>
      <output message="tns:BankrollService___forGenerateTrusteeResponse"/></operation>
    <operation name="getAccHistoryFullExtract" parameterOrder="Account_1 Calendar_2 Calendar_3 Boolean_4">
      <input message="tns:BankrollService_getAccHistoryFullExtract"/>
      <output message="tns:BankrollService_getAccHistoryFullExtractResponse"/></operation>
    <operation name="getAccount" parameterOrder="arrayOfString_1">
      <input message="tns:BankrollService_getAccount"/>
      <output message="tns:BankrollService_getAccountResponse"/></operation>
    <operation name="getAccountAbstract" parameterOrder="Long_1 arrayOfAccount_2">
      <input message="tns:BankrollService_getAccountAbstract"/>
      <output message="tns:BankrollService_getAccountAbstractResponse"/></operation>
    <operation name="getAccountAbstract2" parameterOrder="Account_1 Calendar_2 Calendar_3 Boolean_4">
      <input message="tns:BankrollService_getAccountAbstract2"/>
      <output message="tns:BankrollService_getAccountAbstract2Response"/></operation>
    <operation name="getAccountByNumber" parameterOrder="arrayOfPair_1">
      <input message="tns:BankrollService_getAccountByNumber"/>
      <output message="tns:BankrollService_getAccountByNumberResponse"/></operation>
    <operation name="getAccountExtendedAbstract" parameterOrder="Account_1 Calendar_2 Calendar_3">
      <input message="tns:BankrollService_getAccountExtendedAbstract"/>
      <output message="tns:BankrollService_getAccountExtendedAbstractResponse"/></operation>
    <operation name="getAdditionalCards" parameterOrder="arrayOfCard_1">
      <input message="tns:BankrollService_getAdditionalCards"/>
      <output message="tns:BankrollService_getAdditionalCardsResponse"/></operation>
    <operation name="getCard" parameterOrder="arrayOfString_1">
      <input message="tns:BankrollService_getCard"/>
      <output message="tns:BankrollService_getCardResponse"/></operation>
    <operation name="getCardAbstract" parameterOrder="Long_1 arrayOfCard_2">
      <input message="tns:BankrollService_getCardAbstract"/>
      <output message="tns:BankrollService_getCardAbstractResponse"/></operation>
    <operation name="getCardAbstract2" parameterOrder="Card_1 Calendar_2 Calendar_3 Boolean_4">
      <input message="tns:BankrollService_getCardAbstract2"/>
      <output message="tns:BankrollService_getCardAbstract2Response"/></operation>
    <operation name="getCardByNumber" parameterOrder="Client_1 arrayOfPair_2">
      <input message="tns:BankrollService_getCardByNumber"/>
      <output message="tns:BankrollService_getCardByNumberResponse"/></operation>
    <operation name="getCardPrimaryAccount" parameterOrder="arrayOfCard_1">
      <input message="tns:BankrollService_getCardPrimaryAccount"/>
      <output message="tns:BankrollService_getCardPrimaryAccountResponse"/></operation>
    <operation name="getClientAccounts" parameterOrder="Client_1">
      <input message="tns:BankrollService_getClientAccounts"/>
      <output message="tns:BankrollService_getClientAccountsResponse"/></operation>
    <operation name="getClientCards" parameterOrder="Client_1">
      <input message="tns:BankrollService_getClientCards"/>
      <output message="tns:BankrollService_getClientCardsResponse"/></operation>
    <operation name="getOwnerInfo" parameterOrder="arrayOfAccount_1">
      <input message="tns:BankrollService_getOwnerInfo"/>
      <output message="tns:BankrollService_getOwnerInfoResponse"/></operation>
    <operation name="getOwnerInfo2" parameterOrder="arrayOfCard_1">
      <input message="tns:BankrollService_getOwnerInfo2"/>
      <output message="tns:BankrollService_getOwnerInfo2Response"/></operation>
    <operation name="getOwnerInfoByCardNumber" parameterOrder="arrayOfPair_1">
      <input message="tns:BankrollService_getOwnerInfoByCardNumber"/>
      <output message="tns:BankrollService_getOwnerInfoByCardNumberResponse"/></operation></portType>
  <binding name="BankrollServiceBinding" type="tns:BankrollService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateAccountInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateAccountTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateCardInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateCardOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateClientDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateIKFLException">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateOverdraftInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateTrustee">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAccHistoryFullExtract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAccountAbstract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAccountAbstract2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAccountByNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAccountExtendedAbstract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAdditionalCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardAbstract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardAbstract2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardByNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardPrimaryAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientAccounts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getOwnerInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getOwnerInfo2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getOwnerInfoByCardNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="BankrollServiceImpl">
    <port name="BankrollServicePort" binding="tns:BankrollServiceBinding">
      <soap:address location="http://localhost:8080/services/BankrollServiceImpl"/></port></service></definitions>
