e-r-i-b/WebGate/web/WEB-INF/CacheServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CacheServiceImpl" targetNamespace="http://generated.cache.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.cache.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema>
    <schema targetNamespace="http://generated.cache.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.cache.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Account">
        <sequence>
          <element name="accountState" type="string"/>
          <element name="balance" type="tns:Money"/>
          <element name="clientKind" type="soap11-enc:long"/>
          <element name="creditAllowed" type="soap11-enc:boolean"/>
          <element name="currency" type="tns:Currency"/>
          <element name="debitAllowed" type="soap11-enc:boolean"/>
          <element name="demand" type="soap11-enc:boolean"/>
          <element name="description" type="string"/>
          <element name="id" type="string"/>
          <element name="interestRate" type="decimal"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="maxSumWrite" type="tns:Money"/>
          <element name="minimumBalance" type="tns:Money"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="openDate" type="dateTime"/>
          <element name="passbook" type="soap11-enc:boolean"/>
          <element name="prolongationDate" type="dateTime"/>
          <element name="subKind" type="soap11-enc:long"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="AutoPayment">
        <sequence>
          <element name="amount" type="tns:Money"/>
          <element name="cardNumber" type="string"/>
          <element name="codeService" type="string"/>
          <element name="dateCreated" type="dateTime"/>
          <element name="endDate" type="dateTime"/>
          <element name="executionEventType" type="string"/>
          <element name="externalId" type="string"/>
          <element name="floorLimit" type="tns:Money"/>
          <element name="friendlyName" type="string"/>
          <element name="getNumber" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="payDay" type="soap11-enc:long"/>
          <element name="percent" type="decimal"/>
          <element name="priority" type="soap11-enc:long"/>
          <element name="receiverName" type="string"/>
          <element name="reportStatus" type="string"/>
          <element name="requisite" type="string"/>
          <element name="startDate" type="dateTime"/>
          <element name="sumType" type="string"/>
          <element name="totalAmountLimit" type="tns:Money"/>
          <element name="totalAmountPeriod" type="string"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="ArrayOfCard">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Card[]"/></restriction></complexContent></complexType>
      <complexType name="Card">
        <sequence>
          <element name="additionalCardType" type="string"/>
          <element name="availableLimit" type="tns:Money"/>
          <element name="cardBonusSign" type="string"/>
          <element name="cardLevel" type="string"/>
          <element name="cardState" type="string"/>
          <element name="cardType" type="string"/>
          <element name="clientId" type="string"/>
          <element name="contractNumber" type="string"/>
          <element name="currency" type="tns:Currency"/>
          <element name="description" type="string"/>
          <element name="displayedExpireDate" type="string"/>
          <element name="emailAddress" type="string"/>
          <element name="expireDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="issueDate" type="dateTime"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="main" type="boolean"/>
          <element name="mainCardNumber" type="string"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="primaryAccountExternalId" type="string"/>
          <element name="primaryAccountNumber" type="string"/>
          <element name="reportDeliveryLanguage" type="string"/>
          <element name="reportDeliveryType" type="string"/>
          <element name="statusDescription" type="string"/>
          <element name="subkind" type="soap11-enc:long"/>
          <element name="type" type="string"/>
          <element name="useReportDelivery" type="boolean"/>
          <element name="virtual" type="boolean"/></sequence></complexType>
      <complexType name="AutoSubscription">
        <sequence>
          <element name="amount" type="tns:Money"/>
          <element name="autoPayStatusType" type="string"/>
          <element name="endDate" type="dateTime"/>
          <element name="executionEventType" type="string"/>
          <element name="externalId" type="string"/>
          <element name="nextPayDate" type="dateTime"/>
          <element name="number" type="long"/>
          <element name="office" type="tns:Office"/>
          <element name="payDay" type="soap11-enc:long"/>
          <element name="percent" type="tns:Money"/>
          <element name="startDate" type="dateTime"/>
          <element name="sumType" type="string"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="cancellationDate" type="dateTime"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="insertionDate" type="dateTime"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="managerOSB" type="string"/>
          <element name="managerTB" type="string"/>
          <element name="managerVSP" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="state" type="tns:ClientState"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType>
      <complexType name="ArrayOfstring">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="string[]"/></restriction></complexContent></complexType>
      <complexType name="CurrencyRate">
        <sequence>
          <element name="dynamicExchangeRate" type="string"/>
          <element name="fromCurrency" type="tns:Currency"/>
          <element name="fromValue" type="decimal"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="toCurrency" type="tns:Currency"/>
          <element name="toValue" type="decimal"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="DepoAccount">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="agreementDate" type="dateTime"/>
          <element name="agreementNumber" type="string"/>
          <element name="debt" type="tns:Money"/>
          <element name="id" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="operationAllowed" type="boolean"/>
          <element name="state" type="string"/></sequence></complexType>
      <complexType name="Deposit">
        <sequence>
          <element name="amount" type="tns:Money"/>
          <element name="closeDate" type="dateTime"/>
          <element name="description" type="string"/>
          <element name="duration" type="soap11-enc:long"/>
          <element name="endDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="interestRate" type="decimal"/>
          <element name="openDate" type="dateTime"/>
          <element name="state" type="string"/></sequence></complexType>
      <complexType name="IMAccount">
        <sequence>
          <element name="agreementNumber" type="string"/>
          <element name="balance" type="tns:Money"/>
          <element name="closingDate" type="dateTime"/>
          <element name="currency" type="tns:Currency"/>
          <element name="id" type="string"/>
          <element name="maxSumWrite" type="tns:Money"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="openDate" type="dateTime"/>
          <element name="state" type="string"/></sequence></complexType>
      <complexType name="InsuranceApp">
        <sequence>
          <element name="SNILS" type="string"/>
          <element name="additionalInfo" type="string"/>
          <element name="amount" type="tns:Money"/>
          <element name="businessProcess" type="string"/>
          <element name="company" type="string"/>
          <element name="endDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="policyDetails" type="tns:PolicyDetails"/>
          <element name="productType" type="string"/>
          <element name="program" type="string"/>
          <element name="reference" type="string"/>
          <element name="risk" type="string"/>
          <element name="startDate" type="dateTime"/>
          <element name="status" type="string"/></sequence></complexType>
      <complexType name="PolicyDetails">
        <sequence>
          <element name="issureDt" type="dateTime"/>
          <element name="num" type="string"/>
          <element name="series" type="string"/></sequence></complexType>
      <complexType name="Loan">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="agreementNumber" type="string"/>
          <element name="annuity" type="boolean"/>
          <element name="balanceAmount" type="tns:Money"/>
          <element name="description" type="string"/>
          <element name="id" type="string"/>
          <element name="lastPaymentAmount" type="tns:Money"/>
          <element name="lastPaymentDate" type="dateTime"/>
          <element name="loanAmount" type="tns:Money"/>
          <element name="nextPaymentAmount" type="tns:Money"/>
          <element name="nextPaymentDate" type="dateTime"/>
          <element name="pastDueAmount" type="tns:Money"/>
          <element name="personRole" type="string"/>
          <element name="rate" type="decimal"/>
          <element name="state" type="string"/>
          <element name="termDuration" type="tns:DateSpan"/>
          <element name="termDurationMonths" type="int"/>
          <element name="termEnd" type="dateTime"/>
          <element name="termStart" type="dateTime"/></sequence></complexType>
      <complexType name="DateSpan">
        <sequence>
          <element name="days" type="int"/>
          <element name="months" type="int"/>
          <element name="years" type="int"/></sequence></complexType>
      <complexType name="LongOffer">
        <sequence>
          <element name="amount" type="tns:Money"/>
          <element name="endDate" type="dateTime"/>
          <element name="executionEventType" type="string"/>
          <element name="externalId" type="string"/>
          <element name="number" type="long"/>
          <element name="office" type="tns:Office"/>
          <element name="payDay" type="soap11-enc:long"/>
          <element name="percent" type="tns:Money"/>
          <element name="startDate" type="dateTime"/>
          <element name="sumType" type="string"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="LoyaltyProgram">
        <sequence>
          <element name="balance" type="decimal"/>
          <element name="email" type="string"/>
          <element name="externalId" type="string"/>
          <element name="phone" type="string"/></sequence></complexType>
      <complexType name="SecurityAccount">
        <sequence>
          <element name="bankId" type="string"/>
          <element name="bankName" type="string"/>
          <element name="bankPostAddr" type="string"/>
          <element name="blankType" type="string"/>
          <element name="composeDt" type="dateTime"/>
          <element name="docDt" type="dateTime"/>
          <element name="docNum" type="string"/>
          <element name="id" type="string"/>
          <element name="incomeAmt" type="tns:Money"/>
          <element name="incomeRate" type="decimal"/>
          <element name="issuerBankId" type="string"/>
          <element name="issuerBankName" type="string"/>
          <element name="nominalAmount" type="tns:Money"/>
          <element name="onStorageInBank" type="boolean"/>
          <element name="serialNumber" type="string"/>
          <element name="termDays" type="soap11-enc:long"/>
          <element name="termFinishDt" type="dateTime"/>
          <element name="termLimitDt" type="dateTime"/>
          <element name="termStartDt" type="dateTime"/>
          <element name="termType" type="string"/></sequence></complexType></schema></types>
  <message name="CacheService_clearAccountCache">
    <part name="Account_1" type="tns:Account"/></message>
  <message name="CacheService_clearAccountCacheResponse"/>
  <message name="CacheService_clearAutoPaymentCache">
    <part name="AutoPayment_1" type="tns:AutoPayment"/>
    <part name="arrayOfCard_2" type="tns:ArrayOfCard"/></message>
  <message name="CacheService_clearAutoPaymentCacheResponse"/>
  <message name="CacheService_clearAutoSubscriptionCache">
    <part name="AutoSubscription_1" type="tns:AutoSubscription"/></message>
  <message name="CacheService_clearAutoSubscriptionCacheResponse"/>
  <message name="CacheService_clearCardCache">
    <part name="Card_1" type="tns:Card"/></message>
  <message name="CacheService_clearCardCacheResponse"/>
  <message name="CacheService_clearClientCache">
    <part name="Client_1" type="tns:Client"/></message>
  <message name="CacheService_clearClientCacheResponse"/>
  <message name="CacheService_clearClientProductsCache">
    <part name="Client_1" type="tns:Client"/>
    <part name="arrayOfString_2" type="tns:ArrayOfstring"/></message>
  <message name="CacheService_clearClientProductsCacheResponse"/>
  <message name="CacheService_clearCurrencyRateCache">
    <part name="CurrencyRate_1" type="tns:CurrencyRate"/>
    <part name="Office_2" type="tns:Office"/></message>
  <message name="CacheService_clearCurrencyRateCacheResponse"/>
  <message name="CacheService_clearDepoAccountCache">
    <part name="DepoAccount_1" type="tns:DepoAccount"/></message>
  <message name="CacheService_clearDepoAccountCacheResponse"/>
  <message name="CacheService_clearDepositCache">
    <part name="Deposit_1" type="tns:Deposit"/></message>
  <message name="CacheService_clearDepositCacheResponse"/>
  <message name="CacheService_clearIMACache">
    <part name="IMAccount_1" type="tns:IMAccount"/></message>
  <message name="CacheService_clearIMACacheResponse"/>
  <message name="CacheService_clearInsuranceAppCache">
    <part name="InsuranceApp_1" type="tns:InsuranceApp"/></message>
  <message name="CacheService_clearInsuranceAppCacheResponse"/>
  <message name="CacheService_clearLoanCache">
    <part name="Loan_1" type="tns:Loan"/></message>
  <message name="CacheService_clearLoanCacheResponse"/>
  <message name="CacheService_clearLongOfferCache">
    <part name="LongOffer_1" type="tns:LongOffer"/></message>
  <message name="CacheService_clearLongOfferCacheResponse"/>
  <message name="CacheService_clearLoyaltyProgramCache">
    <part name="LoyaltyProgram_1" type="tns:LoyaltyProgram"/></message>
  <message name="CacheService_clearLoyaltyProgramCacheResponse"/>
  <message name="CacheService_clearSecurityAccountCache">
    <part name="SecurityAccount_1" type="tns:SecurityAccount"/></message>
  <message name="CacheService_clearSecurityAccountCacheResponse"/>
  <portType name="CacheService">
    <operation name="clearAccountCache" parameterOrder="Account_1">
      <input message="tns:CacheService_clearAccountCache"/>
      <output message="tns:CacheService_clearAccountCacheResponse"/></operation>
    <operation name="clearAutoPaymentCache" parameterOrder="AutoPayment_1 arrayOfCard_2">
      <input message="tns:CacheService_clearAutoPaymentCache"/>
      <output message="tns:CacheService_clearAutoPaymentCacheResponse"/></operation>
    <operation name="clearAutoSubscriptionCache" parameterOrder="AutoSubscription_1">
      <input message="tns:CacheService_clearAutoSubscriptionCache"/>
      <output message="tns:CacheService_clearAutoSubscriptionCacheResponse"/></operation>
    <operation name="clearCardCache" parameterOrder="Card_1">
      <input message="tns:CacheService_clearCardCache"/>
      <output message="tns:CacheService_clearCardCacheResponse"/></operation>
    <operation name="clearClientCache" parameterOrder="Client_1">
      <input message="tns:CacheService_clearClientCache"/>
      <output message="tns:CacheService_clearClientCacheResponse"/></operation>
    <operation name="clearClientProductsCache" parameterOrder="Client_1 arrayOfString_2">
      <input message="tns:CacheService_clearClientProductsCache"/>
      <output message="tns:CacheService_clearClientProductsCacheResponse"/></operation>
    <operation name="clearCurrencyRateCache" parameterOrder="CurrencyRate_1 Office_2">
      <input message="tns:CacheService_clearCurrencyRateCache"/>
      <output message="tns:CacheService_clearCurrencyRateCacheResponse"/></operation>
    <operation name="clearDepoAccountCache" parameterOrder="DepoAccount_1">
      <input message="tns:CacheService_clearDepoAccountCache"/>
      <output message="tns:CacheService_clearDepoAccountCacheResponse"/></operation>
    <operation name="clearDepositCache" parameterOrder="Deposit_1">
      <input message="tns:CacheService_clearDepositCache"/>
      <output message="tns:CacheService_clearDepositCacheResponse"/></operation>
    <operation name="clearIMACache" parameterOrder="IMAccount_1">
      <input message="tns:CacheService_clearIMACache"/>
      <output message="tns:CacheService_clearIMACacheResponse"/></operation>
    <operation name="clearInsuranceAppCache" parameterOrder="InsuranceApp_1">
      <input message="tns:CacheService_clearInsuranceAppCache"/>
      <output message="tns:CacheService_clearInsuranceAppCacheResponse"/></operation>
    <operation name="clearLoanCache" parameterOrder="Loan_1">
      <input message="tns:CacheService_clearLoanCache"/>
      <output message="tns:CacheService_clearLoanCacheResponse"/></operation>
    <operation name="clearLongOfferCache" parameterOrder="LongOffer_1">
      <input message="tns:CacheService_clearLongOfferCache"/>
      <output message="tns:CacheService_clearLongOfferCacheResponse"/></operation>
    <operation name="clearLoyaltyProgramCache" parameterOrder="LoyaltyProgram_1">
      <input message="tns:CacheService_clearLoyaltyProgramCache"/>
      <output message="tns:CacheService_clearLoyaltyProgramCacheResponse"/></operation>
    <operation name="clearSecurityAccountCache" parameterOrder="SecurityAccount_1">
      <input message="tns:CacheService_clearSecurityAccountCache"/>
      <output message="tns:CacheService_clearSecurityAccountCacheResponse"/></operation></portType>
  <binding name="CacheServiceBinding" type="tns:CacheService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="clearAccountCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearAutoPaymentCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearAutoSubscriptionCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearCardCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearClientCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearClientProductsCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearCurrencyRateCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearDepoAccountCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearDepositCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearIMACache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearInsuranceAppCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearLoanCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearLongOfferCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearLoyaltyProgramCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="clearSecurityAccountCache">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.cache.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="CacheServiceImpl">
    <port name="CacheServicePort" binding="tns:CacheServiceBinding">
      <soap:address location="http://localhost:8080/services/CacheServiceImpl"/></port></service></definitions>
