e-r-i-b/WebGate/web/WEB-INF/CalendarGateServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CalendarGateServiceImpl" targetNamespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.calendar.util.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.calendar.util.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Field">
        <sequence>
          <element name="businessSubType" type="string"/>
          <element name="defaultValue" type="string"/>
          <element name="description" type="string"/>
          <element name="editable" type="soap11-enc:boolean"/>
          <element name="error" type="string"/>
          <element name="extendedDescId" type="string"/>
          <element name="externalId" type="string"/>
          <element name="fieldValidationRules" type="ns2:list"/>
          <element name="graphicTemplateName" type="string"/>
          <element name="groupName" type="string"/>
          <element name="hideInConfirmation" type="soap11-enc:boolean"/>
          <element name="hint" type="string"/>
          <element name="key" type="soap11-enc:boolean"/>
          <element name="linesNumber" type="int"/>
          <element name="mainSum" type="soap11-enc:boolean"/>
          <element name="mask" type="string"/>
          <element name="maxLength" type="soap11-enc:long"/>
          <element name="minLength" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="numberPrecision" type="soap11-enc:int"/>
          <element name="period" type="string"/>
          <element name="popupHint" type="string"/>
          <element name="required" type="soap11-enc:boolean"/>
          <element name="requiredForBill" type="soap11-enc:boolean"/>
          <element name="requiredForConformation" type="soap11-enc:boolean"/>
          <element name="saveInTemplate" type="soap11-enc:boolean"/>
          <element name="type" type="string"/>
          <element name="value" type="anyType"/>
          <element name="values" type="ns2:list"/>
          <element name="visible" type="soap11-enc:boolean"/></sequence></complexType>
      <complexType name="WriteDownOperation">
        <sequence>
          <element name="curAmount" type="tns:Money"/>
          <element name="operationName" type="string"/>
          <element name="turnOver" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="FieldValidationRule">
        <sequence>
          <element name="errorMessage" type="string"/>
          <element name="fieldValidationRuleType" type="string"/>
          <element name="parameters" type="ns2:map"/></sequence></complexType>
      <complexType name="ListValue">
        <sequence>
          <element name="id" type="string"/>
          <element name="value" type="string"/></sequence></complexType>
      <complexType name="QuestionnaireAnswer">
        <sequence>
          <element name="id" type="string"/>
          <element name="value" type="string"/></sequence></complexType>
      <complexType name="GateDocument">
        <sequence>
          <element name="account" type="string"/>
          <element name="accountAction" type="int"/>
          <element name="additionalOperationChannel" type="string"/>
          <element name="additionalOperationDate" type="dateTime"/>
          <element name="admissionDate" type="dateTime"/>
          <element name="amount" type="tns:Money"/>
          <element name="approvedAmount" type="tns:Money"/>
          <element name="approvedDuration" type="tns:DateSpan"/>
          <element name="authorizeCode" type="string"/>
          <element name="autoInvoiceId" type="string"/>
          <element name="autoSubscriptionId" type="string"/>
          <element name="automaticRenewal" type="boolean"/>
          <element name="billingClientId" type="string"/>
          <element name="billingCode" type="string"/>
          <element name="blockingReason" type="string"/>
          <element name="cardExpireDate" type="dateTime"/>
          <element name="cardExternalId" type="string"/>
          <element name="cardNumber" type="string"/>
          <element name="chargeOffAccount" type="string"/>
          <element name="chargeOffAmount" type="tns:Money"/>
          <element name="chargeOffCard" type="string"/>
          <element name="chargeOffCardDescription" type="string"/>
          <element name="chargeOffCardExpireDate" type="dateTime"/>
          <element name="chargeOffCurrency" type="tns:Currency"/>
          <element name="chargeOffDate" type="dateTime"/>
          <element name="claimNumber" type="string"/>
          <element name="clientCreationChannel" type="string"/>
          <element name="clientCreationDate" type="dateTime"/>
          <element name="clientOperationChannel" type="string"/>
          <element name="clientOperationDate" type="dateTime"/>
          <element name="closedAccount" type="string"/>
          <element name="closingDate" type="dateTime"/>
          <element name="codeATM" type="string"/>
          <element name="codeService" type="string"/>
          <element name="commission" type="tns:Money"/>
          <element name="commissionOptions" type="tns:CommissionOptions"/>
          <element name="conditions" type="string"/>
          <element name="conditionsId" type="string"/>
          <element name="confirmedEmployeeInfo" type="tns:EmployeeInfo"/>
          <element name="connectChargeOffResourceToMobileBank" type="boolean"/>
          <element name="convertionRate" type="decimal"/>
          <element name="createdEmployeeInfo" type="tns:EmployeeInfo"/>
          <element name="creditBuyRate" type="tns:CurrencyRate"/>
          <element name="creditSaleRate" type="tns:CurrencyRate"/>
          <element name="dateAccepted" type="dateTime"/>
          <element name="dateCreated" type="dateTime"/>
          <element name="debetBuyRate" type="tns:CurrencyRate"/>
          <element name="debetSaleRate" type="tns:CurrencyRate"/>
          <element name="depositAccount" type="string"/>
          <element name="depositConditionsId" type="string"/>
          <element name="destinationAccount" type="string"/>
          <element name="destinationAmount" type="tns:Money"/>
          <element name="destinationCurrency" type="tns:Currency"/>
          <element name="documentNumber" type="string"/>
          <element name="duration" type="tns:DateSpan"/>
          <element name="editedDocument" type="tns:GateDocument"/>
          <element name="email" type="string"/>
          <element name="endDate" type="dateTime"/>
          <element name="executionDate" type="dateTime"/>
          <element name="executionEventType" type="string"/>
          <element name="extendedFields" type="ns2:list"/>
          <element name="externalDepositId" type="string"/>
          <element name="externalId" type="string"/>
          <element name="externalOwnerId" type="string"/>
          <element name="floorLimit" type="tns:Money"/>
          <element name="formType" type="string"/>
          <element name="friendlyName" type="string"/>
          <element name="ground" type="string"/>
          <element name="guarantorClaimsIterator" type="ns2:list"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="idFromPaymentSystem" type="string"/>
          <element name="inputSumType" type="string"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="loanAmount" type="tns:Money"/>
          <element name="multiBlockReceiverPointCode" type="string"/>
          <element name="nextState" type="string"/>
          <element name="notVisibleBankDetails" type="boolean"/>
          <element name="number" type="string"/>
          <element name="objectAmount" type="tns:Money"/>
          <element name="office" type="tns:Office"/>
          <element name="officeExternalId" type="string"/>
          <element name="operationCode" type="string"/>
          <element name="payDay" type="soap11-enc:long"/>
          <element name="payerId" type="string"/>
          <element name="payerName" type="string"/>
          <element name="percent" type="decimal"/>
          <element name="period" type="tns:DateSpan"/>
          <element name="phoneNumber" type="string"/>
          <element name="priority" type="soap11-enc:long"/>
          <element name="questionnaireIterator" type="ns2:list"/>
          <element name="receiverAccount" type="string"/>
          <element name="receiverAlias" type="string"/>
          <element name="receiverBank" type="tns:ResidentBank"/>
          <element name="receiverBankName" type="string"/>
          <element name="receiverBornDate" type="dateTime"/>
          <element name="receiverCard" type="string"/>
          <element name="receiverCardExpireDate" type="dateTime"/>
          <element name="receiverCardType" type="string"/>
          <element name="receiverCountryCode" type="string"/>
          <element name="receiverFirstName" type="string"/>
          <element name="receiverINN" type="string"/>
          <element name="receiverInternalId" type="soap11-enc:long"/>
          <element name="receiverKPP" type="string"/>
          <element name="receiverName" type="string"/>
          <element name="receiverNameForBill" type="string"/>
          <element name="receiverOfficeCode" type="tns:Code"/>
          <element name="receiverPatrName" type="string"/>
          <element name="receiverPhone" type="string"/>
          <element name="receiverPointCode" type="string"/>
          <element name="receiverSWIFT" type="string"/>
          <element name="receiverSurName" type="string"/>
          <element name="receiverTransitAccount" type="string"/>
          <element name="receiverTransitBank" type="tns:ResidentBank"/>
          <element name="registerNumber" type="string"/>
          <element name="registerString" type="string"/>
          <element name="reportStatus" type="string"/>
          <element name="requisite" type="string"/>
          <element name="salesCheck" type="string"/>
          <element name="selfAmount" type="tns:Money"/>
          <element name="service" type="tns:ServiceImpl"/>
          <element name="startDate" type="dateTime"/>
          <element name="state" type="tns:State"/>
          <element name="sumType" type="string"/>
          <element name="taxDocumentDate" type="dateTime"/>
          <element name="taxDocumentNumber" type="string"/>
          <element name="taxGround" type="string"/>
          <element name="taxKBK" type="string"/>
          <element name="taxOKATO" type="string"/>
          <element name="taxPaymentStatus" type="string"/>
          <element name="taxPaymentType" type="string"/>
          <element name="taxPeriod" type="string"/>
          <element name="template" type="boolean"/>
          <element name="totalAmountLimit" type="tns:Money"/>
          <element name="totalAmountPeriod" type="string"/>
          <element name="transferAccount" type="string"/>
          <element name="transferPayment" type="tns:GateDocument"/>
          <element name="transitAccount" type="string"/>
          <element name="type" type="string"/>
          <element name="visitDate" type="dateTime"/>
          <element name="withdrawExternalId" type="string"/>
          <element name="withdrawInternalId" type="soap11-enc:long"/>
          <element name="withdrawMode" type="string"/>
          <element name="withdrawType" type="string"/>
          <element name="writeDownOperations" type="ns2:list"/></sequence></complexType>
      <complexType name="DateSpan">
        <sequence>
          <element name="days" type="int"/>
          <element name="months" type="int"/>
          <element name="years" type="int"/></sequence></complexType>
      <complexType name="CommissionOptions">
        <sequence>
          <element name="account" type="string"/>
          <element name="target" type="tns:CommissionOptions"/></sequence></complexType>
      <complexType name="EmployeeInfo">
        <sequence>
          <element name="employeeOffice" type="tns:Office"/>
          <element name="login" type="string"/>
          <element name="personName" type="tns:PersonName"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="PersonName">
        <sequence>
          <element name="firstName" type="string"/>
          <element name="lastName" type="string"/>
          <element name="middleName" type="string"/></sequence></complexType>
      <complexType name="CurrencyRate">
        <sequence>
          <element name="dynamicExchangeRate" type="string"/>
          <element name="fromCurrency" type="tns:Currency"/>
          <element name="fromValue" type="decimal"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="toCurrency" type="tns:Currency"/>
          <element name="toValue" type="decimal"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="ResidentBank">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="account" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="place" type="string"/>
          <element name="shortName" type="string"/>
          <element name="synchKey" type="string"/></sequence></complexType>
      <complexType name="ServiceImpl">
        <sequence>
          <element name="code" type="string"/>
          <element name="name" type="string"/></sequence></complexType>
      <complexType name="State">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema></types>
  <message name="CalendarGateService___forField"/>
  <message name="CalendarGateService___forFieldResponse">
    <part name="result" type="tns:Field"/></message>
  <message name="CalendarGateService___forGenerateWriteDownOperation"/>
  <message name="CalendarGateService___forGenerateWriteDownOperationResponse">
    <part name="result" type="tns:WriteDownOperation"/></message>
  <message name="CalendarGateService___forGeneratedFieldValidationRule"/>
  <message name="CalendarGateService___forGeneratedFieldValidationRuleResponse">
    <part name="result" type="tns:FieldValidationRule"/></message>
  <message name="CalendarGateService___forGeneratedListValue"/>
  <message name="CalendarGateService___forGeneratedListValueResponse">
    <part name="result" type="tns:ListValue"/></message>
  <message name="CalendarGateService___forGeneratedQuestionnaireAnswer"/>
  <message name="CalendarGateService___forGeneratedQuestionnaireAnswerResponse">
    <part name="result" type="tns:QuestionnaireAnswer"/></message>
  <message name="CalendarGateService_getNextWorkDay">
    <part name="Calendar_1" type="xsd:dateTime"/>
    <part name="GateDocument_2" type="tns:GateDocument"/></message>
  <message name="CalendarGateService_getNextWorkDayResponse">
    <part name="result" type="xsd:dateTime"/></message>
  <message name="CalendarGateService_isHoliday">
    <part name="Calendar_1" type="xsd:dateTime"/>
    <part name="GateDocument_2" type="tns:GateDocument"/></message>
  <message name="CalendarGateService_isHolidayResponse">
    <part name="result" type="xsd:boolean"/></message>
  <portType name="CalendarGateService">
    <operation name="__forField">
      <input message="tns:CalendarGateService___forField"/>
      <output message="tns:CalendarGateService___forFieldResponse"/></operation>
    <operation name="__forGenerateWriteDownOperation">
      <input message="tns:CalendarGateService___forGenerateWriteDownOperation"/>
      <output message="tns:CalendarGateService___forGenerateWriteDownOperationResponse"/></operation>
    <operation name="__forGeneratedFieldValidationRule">
      <input message="tns:CalendarGateService___forGeneratedFieldValidationRule"/>
      <output message="tns:CalendarGateService___forGeneratedFieldValidationRuleResponse"/></operation>
    <operation name="__forGeneratedListValue">
      <input message="tns:CalendarGateService___forGeneratedListValue"/>
      <output message="tns:CalendarGateService___forGeneratedListValueResponse"/></operation>
    <operation name="__forGeneratedQuestionnaireAnswer">
      <input message="tns:CalendarGateService___forGeneratedQuestionnaireAnswer"/>
      <output message="tns:CalendarGateService___forGeneratedQuestionnaireAnswerResponse"/></operation>
    <operation name="getNextWorkDay" parameterOrder="Calendar_1 GateDocument_2">
      <input message="tns:CalendarGateService_getNextWorkDay"/>
      <output message="tns:CalendarGateService_getNextWorkDayResponse"/></operation>
    <operation name="isHoliday" parameterOrder="Calendar_1 GateDocument_2">
      <input message="tns:CalendarGateService_isHoliday"/>
      <output message="tns:CalendarGateService_isHolidayResponse"/></operation></portType>
  <binding name="CalendarGateServiceBinding" type="tns:CalendarGateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forField">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateWriteDownOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedFieldValidationRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedListValue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedQuestionnaireAnswer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getNextWorkDay">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="isHoliday">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.calendar.util.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="CalendarGateServiceImpl">
    <port name="CalendarGateServicePort" binding="tns:CalendarGateServiceBinding">
      <soap:address location="http://localhost:8080/services/CalendarGateServiceImpl"/></port></service></definitions>
