e-r-i-b/WebGate/web/WEB-INF/ClientServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="ClientServiceImpl" targetNamespace="http://generated.clients.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.clients.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.clients.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.clients.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.clients.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="cancellationDate" type="dateTime"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="insertionDate" type="dateTime"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="managerOSB" type="string"/>
          <element name="managerTB" type="string"/>
          <element name="managerVSP" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="state" type="tns:ClientState"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType>
        <complexType name="ClientDocument">
        <sequence>
          <element name="docIdentify" type="boolean"/>
          <element name="docIssueBy" type="string"/>
          <element name="docIssueByCode" type="string"/>
          <element name="docIssueDate" type="dateTime"/>
          <element name="docNumber" type="string"/>
          <element name="docSeries" type="string"/>
          <element name="docTimeUpDate" type="dateTime"/>
          <element name="docTypeName" type="string"/>
          <element name="documentType" type="string"/>
          <element name="paperKind" type="soap11-enc:long"/>
          <element name="personId" type="soap11-enc:long"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="name" type="string"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType></schema></types>
  <message name="ClientService_getClientByCardNumber">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="ClientService_getClientByCardNumberResponse">
    <part name="result" type="tns:Client"/></message>
  <message name="ClientService_getClientById">
    <part name="String_1" type="xsd:string"/></message>
  <message name="ClientService_getClientByIdResponse">
    <part name="result" type="tns:Client"/></message>
  <message name="ClientService_getClientsByTemplate">
    <part name="Client_1" type="tns:Client"/>
    <part name="Office_2" type="tns:Office"/>
    <part name="int_3" type="xsd:int"/>
    <part name="int_4" type="xsd:int"/></message>
  <message name="ClientService_getClientsByTemplateResponse">
    <part name="result" type="ns2:list"/></message>
  <portType name="ClientService">
    <operation name="getClientByCardNumber" parameterOrder="String_1 String_2">
      <input message="tns:ClientService_getClientByCardNumber"/>
      <output message="tns:ClientService_getClientByCardNumberResponse"/></operation>
    <operation name="getClientById" parameterOrder="String_1">
      <input message="tns:ClientService_getClientById"/>
      <output message="tns:ClientService_getClientByIdResponse"/></operation>
    <operation name="getClientsByTemplate" parameterOrder="Client_1 Office_2 int_3 int_4">
      <input message="tns:ClientService_getClientsByTemplate"/>
      <output message="tns:ClientService_getClientsByTemplateResponse"/></operation></portType>
  <binding name="ClientServiceBinding" type="tns:ClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getClientByCardNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.clients.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.clients.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.clients.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.clients.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientsByTemplate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.clients.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.clients.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="ClientServiceImpl">
    <port name="ClientServicePort" binding="tns:ClientServiceBinding">
      <soap:address location="http://localhost:8080/services/ClientServiceImpl"/></port></service></definitions>
