e-r-i-b/WebGate/web/WEB-INF/CurrenciesGateServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CurrenciesGateServiceImpl" targetNamespace="http://generated.dictionaries.gate.web.phizic.rssl.com" xmlns:tns="http://generated.dictionaries.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema></types>
  <message name="GateService_getAll">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/></message>
  <message name="GateService_getAllResponse">
    <part name="result" type="ns2:list"/></message>
  <portType name="GateService">
    <operation name="getAll" parameterOrder="int_1 int_2">
      <input message="tns:GateService_getAll"/>
      <output message="tns:GateService_getAllResponse"/></operation></portType>
  <binding name="GateServiceBinding" type="tns:GateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.dictionaries.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.dictionaries.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="CurrenciesGateServiceImpl">
    <port name="CurrenciesGateServicePort" binding="tns:GateServiceBinding">
      <soap:address location="http://localhost:8080/services/CurrenciesGateServiceImpl"/></port></service></definitions>
