e-r-i-b/WebGate/web/WEB-INF/CurrencyRateServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CurrencyRateServiceImpl" targetNamespace="http://generated.currency.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.currency.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.currency.services.gate.web.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.currency.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.currency.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="CurrencyRate">
        <sequence>
          <element name="dynamicExchangeRate" type="string"/>
          <element name="fromCurrency" type="tns:Currency"/>
          <element name="fromValue" type="decimal"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="toCurrency" type="tns:Currency"/>
          <element name="toValue" type="decimal"/>
          <element name="type" type="string"/></sequence></complexType></schema></types>
  <message name="CurrencyRateService_convert">
    <part name="Currency_1" type="tns:Currency"/>
    <part name="Money_2" type="tns:Money"/>
    <part name="Office_3" type="tns:Office"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="CurrencyRateService_convertResponse">
    <part name="result" type="tns:CurrencyRate"/></message>
  <message name="CurrencyRateService_convert2">
    <part name="Money_1" type="tns:Money"/>
    <part name="Currency_2" type="tns:Currency"/>
    <part name="Office_3" type="tns:Office"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="CurrencyRateService_convert2Response">
    <part name="result" type="tns:CurrencyRate"/></message>
  <message name="CurrencyRateService_getRate">
    <part name="Currency_1" type="tns:Currency"/>
    <part name="Currency_2" type="tns:Currency"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Office_4" type="tns:Office"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="CurrencyRateService_getRateResponse">
    <part name="result" type="tns:CurrencyRate"/></message>
  <portType name="CurrencyRateService">
    <operation name="convert" parameterOrder="Currency_1 Money_2 Office_3 String_4">
      <input message="tns:CurrencyRateService_convert"/>
      <output message="tns:CurrencyRateService_convertResponse"/></operation>
    <operation name="convert2" parameterOrder="Money_1 Currency_2 Office_3 String_4">
      <input message="tns:CurrencyRateService_convert2"/>
      <output message="tns:CurrencyRateService_convert2Response"/></operation>
    <operation name="getRate" parameterOrder="Currency_1 Currency_2 String_3 Office_4 String_5">
      <input message="tns:CurrencyRateService_getRate"/>
      <output message="tns:CurrencyRateService_getRateResponse"/></operation></portType>
  <binding name="CurrencyRateServiceBinding" type="tns:CurrencyRateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="convert">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.currency.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.currency.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="convert2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.currency.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.currency.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.currency.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.currency.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="CurrencyRateServiceImpl">
    <port name="CurrencyRateServicePort" binding="tns:CurrencyRateServiceBinding">
      <soap:address location="http://localhost:8080/services/CurrencyRateServiceImpl"/></port></service></definitions>
