e-r-i-b/WebGate/web/WEB-INF/DebtServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="DebtServiceImpl" targetNamespace="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema>
    <schema targetNamespace="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="DebtImpl">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/>
          <element name="fixed" type="soap11-enc:boolean"/>
          <element name="lastPayDate" type="dateTime"/>
          <element name="period" type="dateTime"/>
          <element name="rows" type="ns2:list"/></sequence></complexType>
      <complexType name="DebtRowImpl">
        <sequence>
          <element name="code" type="string"/>
          <element name="commission" type="tns:Money"/>
          <element name="debt" type="tns:Money"/>
          <element name="description" type="string"/>
          <element name="fine" type="tns:Money"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Field">
        <sequence>
          <element name="businessSubType" type="string"/>
          <element name="defaultValue" type="string"/>
          <element name="description" type="string"/>
          <element name="editable" type="soap11-enc:boolean"/>
          <element name="error" type="string"/>
          <element name="extendedDescId" type="string"/>
          <element name="externalId" type="string"/>
          <element name="fieldValidationRules" type="ns2:list"/>
          <element name="graphicTemplateName" type="string"/>
          <element name="groupName" type="string"/>
          <element name="hideInConfirmation" type="soap11-enc:boolean"/>
          <element name="hint" type="string"/>
          <element name="key" type="soap11-enc:boolean"/>
          <element name="linesNumber" type="int"/>
          <element name="mainSum" type="soap11-enc:boolean"/>
          <element name="mask" type="string"/>
          <element name="maxLength" type="soap11-enc:long"/>
          <element name="minLength" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="numberPrecision" type="soap11-enc:int"/>
          <element name="period" type="string"/>
          <element name="popupHint" type="string"/>  
          <element name="required" type="soap11-enc:boolean"/>
          <element name="requiredForBill" type="soap11-enc:boolean"/>
          <element name="requiredForConformation" type="soap11-enc:boolean"/>
          <element name="saveInTemplate" type="soap11-enc:boolean"/>
          <element name="type" type="string"/>
          <element name="value" type="anyType"/>
          <element name="values" type="ns2:list"/>
          <element name="visible" type="soap11-enc:boolean"/></sequence></complexType>
      <complexType name="ListValue">
        <sequence>
          <element name="id" type="string"/>
          <element name="value" type="string"/></sequence></complexType>
      <complexType name="Pair">
        <sequence>
          <element name="first" type="anyType"/>
          <element name="second" type="anyType"/></sequence></complexType>
      <complexType name="RecipientImpl">
        <sequence>
          <element name="description" type="string"/>
          <element name="main" type="soap11-enc:boolean"/>
          <element name="name" type="string"/>
          <element name="serviceName" type="string"/>
          <element name="synchKey" type="string"/></sequence></complexType></schema></types>
  <message name="DebtService___forGenerateDebt"/>
  <message name="DebtService___forGenerateDebtResponse">
    <part name="result" type="tns:DebtImpl"/></message>
  <message name="DebtService___forGenerateDebtRow"/>
  <message name="DebtService___forGenerateDebtRowResponse">
    <part name="result" type="tns:DebtRowImpl"/></message>
  <message name="DebtService___forGenerateField"/>
  <message name="DebtService___forGenerateFieldResponse">
    <part name="result" type="tns:Field"/></message>
  <message name="DebtService___forGenerateListValue"/>
  <message name="DebtService___forGenerateListValueResponse">
    <part name="result" type="tns:ListValue"/></message>
  <message name="DebtService___forGeneratePair"/>
  <message name="DebtService___forGeneratePairResponse">
    <part name="result" type="tns:Pair"/></message>
  <message name="DebtService_getDebts">
    <part name="RecipientImpl_1" type="tns:RecipientImpl"/>
    <part name="List_2" type="ns2:list"/></message>
  <message name="DebtService_getDebtsResponse">
    <part name="result" type="ns2:list"/></message>
  <portType name="DebtService">
    <operation name="__forGenerateDebt">
      <input message="tns:DebtService___forGenerateDebt"/>
      <output message="tns:DebtService___forGenerateDebtResponse"/></operation>
    <operation name="__forGenerateDebtRow">
      <input message="tns:DebtService___forGenerateDebtRow"/>
      <output message="tns:DebtService___forGenerateDebtRowResponse"/></operation>
    <operation name="__forGenerateField">
      <input message="tns:DebtService___forGenerateField"/>
      <output message="tns:DebtService___forGenerateFieldResponse"/></operation>
    <operation name="__forGenerateListValue">
      <input message="tns:DebtService___forGenerateListValue"/>
      <output message="tns:DebtService___forGenerateListValueResponse"/></operation>
    <operation name="__forGeneratePair">
      <input message="tns:DebtService___forGeneratePair"/>
      <output message="tns:DebtService___forGeneratePairResponse"/></operation>
    <operation name="getDebts" parameterOrder="RecipientImpl_1 List_2">
      <input message="tns:DebtService_getDebts"/>
      <output message="tns:DebtService_getDebtsResponse"/></operation></portType>
  <binding name="DebtServiceBinding" type="tns:DebtService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateDebt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateDebtRow">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateField">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateListValue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratePair">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getDebts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="DebtServiceImpl">
    <port name="DebtServicePort" binding="tns:DebtServiceBinding">
      <soap:address location="http://localhost:8080/services/DebtServiceImpl"/></port></service></definitions>
