e-r-i-b/WebGate/web/WEB-INF/DepositProductService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="DepositProductService" targetNamespace="http://tempuri.org/phizic/gate/DepositProductService" xmlns:tns="http://tempuri.org/phizic/gate/DepositProductService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://tempuri.org/phizic/gate/DepositProductService" xmlns:tns="http://tempuri.org/phizic/gate/DepositProductService" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="name" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="parentSynchKey" type="string"/>
          <element name="telephone" type="string"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://tempuri.org/phizic/gate/DepositProductService"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema></types>
  <message name="DepositProductService_PortType_getDepositProduct">
    <part name="String_1" type="xsd:string"/>
    <part name="Office_2" type="tns:Office"/></message>
  <message name="DepositProductService_PortType_getDepositProductResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="DepositProductService_PortType_getDepositsInfo">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="DepositProductService_PortType_getDepositsInfoResponse">
    <part name="result" type="xsd:string"/></message>
  <portType name="DepositProductService_PortType">
    <operation name="getDepositProduct" parameterOrder="String_1 Office_2">
      <input message="tns:DepositProductService_PortType_getDepositProduct"/>
      <output message="tns:DepositProductService_PortType_getDepositProductResponse"/></operation>
    <operation name="getDepositsInfo" parameterOrder="Office_1">
      <input message="tns:DepositProductService_PortType_getDepositsInfo"/>
      <output message="tns:DepositProductService_PortType_getDepositsInfoResponse"/></operation></portType>
  <binding name="DepositProductService_PortTypeBinding" type="tns:DepositProductService_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getDepositProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://tempuri.org/phizic/gate/DepositProductService"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://tempuri.org/phizic/gate/DepositProductService"/></output></operation>
    <operation name="getDepositsInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://tempuri.org/phizic/gate/DepositProductService"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://tempuri.org/phizic/gate/DepositProductService"/></output></operation></binding>
  <service name="DepositProductService">
    <port name="DepositProductService_PortTypePort" binding="tns:DepositProductService_PortTypeBinding">
      <soap:address location="http://localhost:8080/services/DepositProductService"/></port></service></definitions>
