e-r-i-b/WebGate/web/WEB-INF/DepositService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="DepositService" targetNamespace="http://generated.deposits.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.deposits.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns3="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.deposits.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.deposits.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="ClientDocument">
        <sequence>
          <element name="docIdentify" type="boolean"/>
          <element name="docIssueBy" type="string"/>
          <element name="docIssueByCode" type="string"/>
          <element name="docIssueDate" type="dateTime"/>
          <element name="docNumber" type="string"/>
          <element name="docSeries" type="string"/>
          <element name="docTimeUpDate" type="dateTime"/>
          <element name="docTypeName" type="string"/>
          <element name="documentType" type="string"/>
          <element name="paperKind" type="soap11-enc:long"/>
          <element name="personId" type="soap11-enc:long"/></sequence></complexType>
      <complexType name="DepositTransaction">
        <sequence>
          <element name="balance" type="tns:Money"/>
          <element name="bookAccount" type="string"/>
          <element name="counteragent" type="string"/>
          <element name="counteragentAccount" type="string"/>
          <element name="counteragentBank" type="string"/>
          <element name="counteragentBankName" type="string"/>
          <element name="creditSum" type="tns:Money"/>
          <element name="cunteragentCorAccount" type="string"/>
          <element name="date" type="dateTime"/>
          <element name="debitSum" type="tns:Money"/>
          <element name="description" type="string"/>
          <element name="documentNumber" type="string"/>
          <element name="operationCode" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="cancellationDate" type="dateTime"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="insertionDate" type="dateTime"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="managerOSB" type="string"/>
          <element name="managerTB" type="string"/>
          <element name="managerVSP" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="state" type="tns:ClientState"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType>
      <complexType name="Deposit">
        <sequence>
          <element name="amount" type="tns:Money"/>
          <element name="closeDate" type="dateTime"/>
          <element name="description" type="string"/>
          <element name="duration" type="soap11-enc:long"/>
          <element name="endDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="interestRate" type="decimal"/>
          <element name="openDate" type="dateTime"/>
          <element name="state" type="string"/></sequence></complexType>
      <complexType name="DepositAbstract">
        <sequence>
          <element name="closingBalance" type="tns:Money"/>
          <element name="fromDate" type="dateTime"/>
          <element name="openingBalance" type="tns:Money"/>
          <element name="previousOperationDate" type="dateTime"/>
          <element name="toDate" type="dateTime"/>
          <element name="transactions" type="ns2:list"/></sequence></complexType>
      <complexType name="DepositInfo">
        <sequence>
          <element name="account" type="tns:Account"/>
          <element name="additionalFee" type="boolean"/>
          <element name="agreementNumber" type="string"/>
          <element name="anticipatoryRemoval" type="boolean"/>
          <element name="finalAccounts" type="ns2:map"/>
          <element name="minBalance" type="tns:Money"/>
          <element name="minReplenishmentAmount" type="tns:Money"/>
          <element name="percentAccount" type="tns:Account"/>
          <element name="renewalAllowed" type="boolean"/></sequence></complexType>
      <complexType name="Account">
        <sequence>
          <element name="accountState" type="string"/>
          <element name="balance" type="tns:Money"/>
          <element name="clientKind" type="soap11-enc:long"/>
          <element name="creditAllowed" type="soap11-enc:boolean"/>
          <element name="currency" type="tns:Currency"/>
          <element name="debitAllowed" type="soap11-enc:boolean"/>
          <element name="demand" type="soap11-enc:boolean"/>
          <element name="description" type="string"/>
          <element name="id" type="string"/>
          <element name="interestRate" type="decimal"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="maxSumWrite" type="tns:Money"/>
          <element name="minimumBalance" type="tns:Money"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="openDate" type="dateTime"/>
          <element name="passbook" type="soap11-enc:boolean"/>
          <element name="prolongationDate" type="dateTime"/>
          <element name="subKind" type="soap11-enc:long"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/></sequence></complexType></schema></types>
  <message name="DepositService___forGenerateClientDocument"/>
  <message name="DepositService___forGenerateClientDocumentResponse">
    <part name="result" type="tns:ClientDocument"/></message>
  <message name="DepositService___forGenerateDepositTransaction"/>
  <message name="DepositService___forGenerateDepositTransactionResponse">
    <part name="result" type="tns:DepositTransaction"/></message>
  <message name="DepositService_getClientDeposits">
    <part name="Client_1" type="tns:Client"/></message>
  <message name="DepositService_getClientDepositsResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="DepositService_getDepositAbstract">
    <part name="Deposit_1" type="tns:Deposit"/>
    <part name="Long_2" type="ns2:long"/></message>
  <message name="DepositService_getDepositAbstractResponse">
    <part name="result" type="tns:DepositAbstract"/></message>
  <message name="DepositService_getDepositAbstract2">
    <part name="Deposit_1" type="tns:Deposit"/>
    <part name="Calendar_2" type="xsd:dateTime"/>
    <part name="Calendar_3" type="xsd:dateTime"/></message>
  <message name="DepositService_getDepositAbstract2Response">
    <part name="result" type="tns:DepositAbstract"/></message>
  <message name="DepositService_getDepositById">
    <part name="String_1" type="xsd:string"/></message>
  <message name="DepositService_getDepositByIdResponse">
    <part name="result" type="tns:Deposit"/></message>
  <message name="DepositService_getDepositInfo">
    <part name="Deposit_1" type="tns:Deposit"/></message>
  <message name="DepositService_getDepositInfoResponse">
    <part name="result" type="tns:DepositInfo"/></message>
  <portType name="DepositService">
    <operation name="__forGenerateClientDocument">
      <input message="tns:DepositService___forGenerateClientDocument"/>
      <output message="tns:DepositService___forGenerateClientDocumentResponse"/></operation>
    <operation name="__forGenerateDepositTransaction">
      <input message="tns:DepositService___forGenerateDepositTransaction"/>
      <output message="tns:DepositService___forGenerateDepositTransactionResponse"/></operation>
    <operation name="getClientDeposits" parameterOrder="Client_1">
      <input message="tns:DepositService_getClientDeposits"/>
      <output message="tns:DepositService_getClientDepositsResponse"/></operation>
    <operation name="getDepositAbstract" parameterOrder="Deposit_1 Long_2">
      <input message="tns:DepositService_getDepositAbstract"/>
      <output message="tns:DepositService_getDepositAbstractResponse"/></operation>
    <operation name="getDepositAbstract2" parameterOrder="Deposit_1 Calendar_2 Calendar_3">
      <input message="tns:DepositService_getDepositAbstract2"/>
      <output message="tns:DepositService_getDepositAbstract2Response"/></operation>
    <operation name="getDepositById" parameterOrder="String_1">
      <input message="tns:DepositService_getDepositById"/>
      <output message="tns:DepositService_getDepositByIdResponse"/></operation>
    <operation name="getDepositInfo" parameterOrder="Deposit_1">
      <input message="tns:DepositService_getDepositInfo"/>
      <output message="tns:DepositService_getDepositInfoResponse"/></operation></portType>
  <binding name="DepositServiceBinding" type="tns:DepositService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateClientDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateDepositTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientDeposits">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getDepositAbstract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getDepositAbstract2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getDepositById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getDepositInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.deposits.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="DepositService">
    <port name="DepositServicePort" binding="tns:DepositServiceBinding">
      <soap:address location="http://localhost:8080/services/DepositService"/></port></service></definitions>
