e-r-i-b/WebGate/web/WEB-INF/DocumentServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="DocumentServiceImpl" targetNamespace="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.documents.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Field">
        <sequence>
          <element name="businessSubType" type="string"/>
          <element name="defaultValue" type="string"/>
          <element name="description" type="string"/>
          <element name="editable" type="soap11-enc:boolean"/>
          <element name="error" type="string"/>
          <element name="extendedDescId" type="string"/>
          <element name="externalId" type="string"/>
          <element name="fieldValidationRules" type="ns2:list"/>
          <element name="graphicTemplateName" type="string"/>
          <element name="groupName" type="string"/>
          <element name="hideInConfirmation" type="soap11-enc:boolean"/>
          <element name="hint" type="string"/>
          <element name="key" type="soap11-enc:boolean"/>
          <element name="linesNumber" type="int"/>
          <element name="mainSum" type="soap11-enc:boolean"/>
          <element name="mask" type="string"/>
          <element name="maxLength" type="soap11-enc:long"/>
          <element name="minLength" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="numberPrecision" type="soap11-enc:int"/>
          <element name="period" type="string"/>
          <element name="popupHint" type="string"/>
          <element name="required" type="soap11-enc:boolean"/>
          <element name="requiredForBill" type="soap11-enc:boolean"/>
          <element name="requiredForConformation" type="soap11-enc:boolean"/>
          <element name="saveInTemplate" type="soap11-enc:boolean"/>
          <element name="type" type="string"/>
          <element name="value" type="anyType"/>
          <element name="values" type="ns2:list"/>
          <element name="visible" type="soap11-enc:boolean"/></sequence></complexType>
      <complexType name="FieldValidationRule">
        <sequence>
          <element name="errorMessage" type="string"/>
          <element name="fieldValidationRuleType" type="string"/>
          <element name="parameters" type="ns2:map"/></sequence></complexType>
      <complexType name="ListValue">
        <sequence>
          <element name="id" type="string"/>
          <element name="value" type="string"/></sequence></complexType>
      <complexType name="Pair">
        <sequence>
          <element name="first" type="anyType"/>
          <element name="second" type="anyType"/></sequence></complexType>
      <complexType name="QuestionnaireAnswer">
        <sequence>
          <element name="id" type="string"/>
          <element name="value" type="string"/></sequence></complexType>
      <complexType name="WriteDownOperation">
        <sequence>
          <element name="curAmount" type="tns:Money"/>
          <element name="operationName" type="string"/>
          <element name="turnOver" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="GateDocument">
        <sequence>
          <element name="account" type="string"/>
          <element name="accountAction" type="int"/>
          <element name="additionalOperationChannel" type="string"/>
          <element name="additionalOperationDate" type="dateTime"/>
          <element name="admissionDate" type="dateTime"/>
          <element name="amount" type="tns:Money"/>
          <element name="approvedAmount" type="tns:Money"/>
          <element name="approvedDuration" type="tns:DateSpan"/>
          <element name="authorizeCode" type="string"/>
          <element name="autoInvoiceId" type="string"/>
          <element name="autoSubscriptionId" type="string"/>
          <element name="automaticRenewal" type="boolean"/>
          <element name="billingClientId" type="string"/>
          <element name="billingCode" type="string"/>
          <element name="blockingReason" type="string"/>
          <element name="cardExpireDate" type="dateTime"/>
          <element name="cardExternalId" type="string"/>
          <element name="cardNumber" type="string"/>
          <element name="chargeOffAccount" type="string"/>
          <element name="chargeOffAmount" type="tns:Money"/>
          <element name="chargeOffCard" type="string"/>
          <element name="chargeOffCardDescription" type="string"/>
          <element name="chargeOffCardExpireDate" type="dateTime"/>
          <element name="chargeOffCurrency" type="tns:Currency"/>
          <element name="chargeOffDate" type="dateTime"/>
          <element name="claimNumber" type="string"/>
          <element name="clientCreationChannel" type="string"/>
          <element name="clientCreationDate" type="dateTime"/>
          <element name="clientOperationChannel" type="string"/>
          <element name="clientOperationDate" type="dateTime"/>
          <element name="closedAccount" type="string"/>
          <element name="closingDate" type="dateTime"/>
          <element name="codeATM" type="string"/>
          <element name="codeService" type="string"/>
          <element name="commission" type="tns:Money"/>
          <element name="commissionOptions" type="tns:CommissionOptions"/>
          <element name="conditions" type="string"/>
          <element name="conditionsId" type="string"/>
          <element name="confirmedEmployeeInfo" type="tns:EmployeeInfo"/>
          <element name="connectChargeOffResourceToMobileBank" type="boolean"/>
          <element name="convertionRate" type="decimal"/>
          <element name="createdEmployeeInfo" type="tns:EmployeeInfo"/>
          <element name="creditBuyRate" type="tns:CurrencyRate"/>
          <element name="creditSaleRate" type="tns:CurrencyRate"/>
          <element name="dateAccepted" type="dateTime"/>
          <element name="dateCreated" type="dateTime"/>
          <element name="debetBuyRate" type="tns:CurrencyRate"/>
          <element name="debetSaleRate" type="tns:CurrencyRate"/>
          <element name="depositAccount" type="string"/>
          <element name="depositConditionsId" type="string"/>
          <element name="destinationAccount" type="string"/>
          <element name="destinationAmount" type="tns:Money"/>
          <element name="destinationCurrency" type="tns:Currency"/>
          <element name="documentNumber" type="string"/>
          <element name="duration" type="tns:DateSpan"/>
          <element name="editedDocument" type="tns:GateDocument"/>
          <element name="einvoicing" type="boolean"/>
          <element name="email" type="string"/>
          <element name="endDate" type="dateTime"/>
          <element name="executionDate" type="dateTime"/>
          <element name="executionEventType" type="string"/>
          <element name="extendedFields" type="ns2:list"/>
          <element name="externalDepositId" type="string"/>
          <element name="externalId" type="string"/>
          <element name="externalOwnerId" type="string"/>
          <element name="floorLimit" type="tns:Money"/>
          <element name="formType" type="string"/>
          <element name="friendlyName" type="string"/>
          <element name="ground" type="string"/>
          <element name="guarantorClaimsIterator" type="ns2:list"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="idFromPaymentSystem" type="string"/>
          <element name="inputSumType" type="string"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="loanAmount" type="tns:Money"/>
          <element name="mbOperCode" type="string"/>
          <element name="multiBlockReceiverPointCode" type="string"/>
          <element name="nextState" type="string"/>
          <element name="notVisibleBankDetails" type="boolean"/>
          <element name="number" type="string"/>
          <element name="objectAmount" type="tns:Money"/>
          <element name="office" type="tns:Office"/>
          <element name="officeExternalId" type="string"/>
          <element name="operationCode" type="string"/>
          <element name="payDay" type="soap11-enc:long"/>
          <element name="payerId" type="string"/>
          <element name="payerName" type="string"/>
          <element name="percent" type="decimal"/>
          <element name="period" type="tns:DateSpan"/>
          <element name="phoneNumber" type="string"/>
          <element name="priority" type="soap11-enc:long"/>
          <element name="questionnaireIterator" type="ns2:list"/>
          <element name="receiverAccount" type="string"/>
          <element name="receiverAlias" type="string"/>
          <element name="receiverBank" type="tns:ResidentBank"/>
          <element name="receiverBankName" type="string"/>
          <element name="receiverBornDate" type="dateTime"/>
          <element name="receiverCard" type="string"/>
          <element name="receiverCardExpireDate" type="dateTime"/>
          <element name="receiverCardType" type="string"/>
          <element name="receiverCountryCode" type="string"/>
          <element name="receiverFirstName" type="string"/>
          <element name="receiverINN" type="string"/>
          <element name="receiverInternalId" type="soap11-enc:long"/>
          <element name="receiverKPP" type="string"/>
          <element name="receiverName" type="string"/>
          <element name="receiverNameForBill" type="string"/>
          <element name="receiverOfficeCode" type="tns:Code"/>
          <element name="receiverPatrName" type="string"/>
          <element name="receiverPhone" type="string"/>
          <element name="receiverPointCode" type="string"/>
          <element name="receiverSWIFT" type="string"/>
          <element name="receiverSurName" type="string"/>
          <element name="receiverTransitAccount" type="string"/>
          <element name="receiverTransitBank" type="tns:ResidentBank"/>
          <element name="registerNumber" type="string"/>
          <element name="registerString" type="string"/>
          <element name="reportStatus" type="string"/>
          <element name="requisite" type="string"/>
          <element name="salesCheck" type="string"/>
          <element name="selfAmount" type="tns:Money"/>
          <element name="sendNodeNumber" type="soap11-enc:long"/>
          <element name="service" type="tns:ServiceImpl"/>
          <element name="startDate" type="dateTime"/>
          <element name="state" type="tns:State"/>
          <element name="sumType" type="string"/>
          <element name="taxDocumentDate" type="dateTime"/>
          <element name="taxDocumentNumber" type="string"/>
          <element name="taxGround" type="string"/>
          <element name="taxKBK" type="string"/>
          <element name="taxOKATO" type="string"/>
          <element name="taxPaymentStatus" type="string"/>
          <element name="taxPaymentType" type="string"/>
          <element name="taxPeriod" type="string"/>
          <element name="template" type="boolean"/>
          <element name="totalAmountLimit" type="tns:Money"/>
          <element name="totalAmountPeriod" type="string"/>
          <element name="transferAccount" type="string"/>
          <element name="transferPayment" type="tns:GateDocument"/>
          <element name="transitAccount" type="string"/>
          <element name="type" type="string"/>
          <element name="visitDate" type="dateTime"/>
          <element name="withdrawExternalId" type="string"/>
          <element name="withdrawInternalId" type="soap11-enc:long"/>
          <element name="withdrawMode" type="string"/>
          <element name="withdrawType" type="string"/>
          <element name="writeDownOperations" type="ns2:list"/></sequence></complexType>
      <complexType name="DateSpan">
        <sequence>
          <element name="days" type="int"/>
          <element name="months" type="int"/>
          <element name="years" type="int"/></sequence></complexType>
      <complexType name="CommissionOptions">
        <sequence>
          <element name="account" type="string"/>
          <element name="target" type="string"/></sequence></complexType>
      <complexType name="EmployeeInfo">
        <sequence>
          <element name="employeeOffice" type="tns:Office"/>
          <element name="login" type="string"/>
          <element name="personName" type="tns:PersonName"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="office" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="PersonName">
        <sequence>
          <element name="firstName" type="string"/>
          <element name="lastName" type="string"/>
          <element name="middleName" type="string"/></sequence></complexType>
      <complexType name="CurrencyRate">
        <sequence>
          <element name="fromCurrency" type="tns:Currency"/>
          <element name="fromValue" type="decimal"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="toCurrency" type="tns:Currency"/>
          <element name="toValue" type="decimal"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="ResidentBank">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="account" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="place" type="string"/>
          <element name="shortName" type="string"/>
          <element name="synchKey" type="string"/></sequence></complexType>
      <complexType name="ServiceImpl">
        <sequence>
          <element name="code" type="string"/>
          <element name="name" type="string"/></sequence></complexType>
      <complexType name="State">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType>
      <complexType name="StateUpdateInfo">
        <sequence>
          <element name="nextProcessDate" type="dateTime"/>
          <element name="state" type="tns:State"/></sequence></complexType></schema></types>
  <message name="DocumentService___forGenerateField"/>
  <message name="DocumentService___forGenerateFieldResponse">
    <part name="result" type="tns:Field"/></message>
  <message name="DocumentService___forGenerateFieldValidationRule"/>
  <message name="DocumentService___forGenerateFieldValidationRuleResponse">
    <part name="result" type="tns:FieldValidationRule"/></message>
  <message name="DocumentService___forGenerateListValue"/>
  <message name="DocumentService___forGenerateListValueResponse">
    <part name="result" type="tns:ListValue"/></message>
  <message name="DocumentService___forGeneratePair"/>
  <message name="DocumentService___forGeneratePairResponse">
    <part name="result" type="tns:Pair"/></message>
  <message name="DocumentService___forGenerateQuestionnaireAnswer"/>
  <message name="DocumentService___forGenerateQuestionnaireAnswerResponse">
    <part name="result" type="tns:QuestionnaireAnswer"/></message>
  <message name="DocumentService___forGenerateWriteDownOperation"/>
  <message name="DocumentService___forGenerateWriteDownOperationResponse">
    <part name="result" type="tns:WriteDownOperation"/></message>
  <message name="DocumentService_calcCommission">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_calcCommissionResponse">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_confirm">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_confirmResponse">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_prepare">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_prepareResponse">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_repeatSend">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_repeatSendResponse">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_rollback">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_rollbackResponse">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_send">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_sendResponse">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_update">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_updateResponse">
    <part name="result" type="tns:StateUpdateInfo"/>
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_validate">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <message name="DocumentService_validateResponse">
    <part name="GateDocument_1" type="tns:GateDocument"/></message>
  <portType name="DocumentService">
    <operation name="__forGenerateField">
      <input message="tns:DocumentService___forGenerateField"/>
      <output message="tns:DocumentService___forGenerateFieldResponse"/></operation>
    <operation name="__forGenerateFieldValidationRule">
      <input message="tns:DocumentService___forGenerateFieldValidationRule"/>
      <output message="tns:DocumentService___forGenerateFieldValidationRuleResponse"/></operation>
    <operation name="__forGenerateListValue">
      <input message="tns:DocumentService___forGenerateListValue"/>
      <output message="tns:DocumentService___forGenerateListValueResponse"/></operation>
    <operation name="__forGeneratePair">
      <input message="tns:DocumentService___forGeneratePair"/>
      <output message="tns:DocumentService___forGeneratePairResponse"/></operation>
    <operation name="__forGenerateQuestionnaireAnswer">
      <input message="tns:DocumentService___forGenerateQuestionnaireAnswer"/>
      <output message="tns:DocumentService___forGenerateQuestionnaireAnswerResponse"/></operation>
    <operation name="__forGenerateWriteDownOperation">
      <input message="tns:DocumentService___forGenerateWriteDownOperation"/>
      <output message="tns:DocumentService___forGenerateWriteDownOperationResponse"/></operation>
    <operation name="calcCommission" parameterOrder="GateDocument_1">
      <input message="tns:DocumentService_calcCommission"/>
      <output message="tns:DocumentService_calcCommissionResponse"/></operation>
    <operation name="confirm" parameterOrder="GateDocument_1">
      <input message="tns:DocumentService_confirm"/>
      <output message="tns:DocumentService_confirmResponse"/></operation>
    <operation name="prepare" parameterOrder="GateDocument_1">
      <input message="tns:DocumentService_prepare"/>
      <output message="tns:DocumentService_prepareResponse"/></operation>
    <operation name="repeatSend" parameterOrder="GateDocument_1">
      <input message="tns:DocumentService_repeatSend"/>
      <output message="tns:DocumentService_repeatSendResponse"/></operation>
    <operation name="rollback" parameterOrder="GateDocument_1">
      <input message="tns:DocumentService_rollback"/>
      <output message="tns:DocumentService_rollbackResponse"/></operation>
    <operation name="send" parameterOrder="GateDocument_1">
      <input message="tns:DocumentService_send"/>
      <output message="tns:DocumentService_sendResponse"/></operation>
    <operation name="update" parameterOrder="GateDocument_1">
      <input message="tns:DocumentService_update"/>
      <output message="tns:DocumentService_updateResponse"/></operation>
    <operation name="validate" parameterOrder="GateDocument_1">
      <input message="tns:DocumentService_validate"/>
      <output message="tns:DocumentService_validateResponse"/></operation></portType>
  <binding name="DocumentServiceBinding" type="tns:DocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateField">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateFieldValidationRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateListValue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratePair">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateQuestionnaireAnswer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateWriteDownOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="calcCommission">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="confirm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="prepare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="repeatSend">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="rollback">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="send">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.documents.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="DocumentServiceImpl">
    <port name="DocumentServicePort" binding="tns:DocumentServiceBinding">
      <soap:address location="http://localhost:8080/services/DocumentServiceImpl"/></port></service></definitions>
