e-r-i-b/WebGate/web/WEB-INF/LoyaltyProgramServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="LoyaltyProgramServiceImpl" targetNamespace="http://generated.loyalty.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.loyalty.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.loyalty.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.loyalty.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="LoyaltyOffer">
        <sequence>
          <element name="description" type="string"/></sequence></complexType>
      <complexType name="LoyaltyProgramOperation">
        <sequence>
          <element name="moneyOperationalBalance" type="tns:Money"/>
          <element name="operationDate" type="dateTime"/>
          <element name="operationInfo" type="string"/>
          <element name="operationKind" type="string"/>
          <element name="operationalBalance" type="decimal"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="LoyaltyProgram">
        <sequence>
          <element name="balance" type="decimal"/>
          <element name="email" type="string"/>
          <element name="externalId" type="string"/>
          <element name="phone" type="string"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema></types>
  <message name="LoyaltyProgramService___forGenerateLoyaltyOffer"/>
  <message name="LoyaltyProgramService___forGenerateLoyaltyOfferResponse">
    <part name="result" type="tns:LoyaltyOffer"/></message>
  <message name="LoyaltyProgramService___forGenerateLoyaltyProgramOperation"/>
  <message name="LoyaltyProgramService___forGenerateLoyaltyProgramOperationResponse">
    <part name="result" type="tns:LoyaltyProgramOperation"/></message>
  <message name="LoyaltyProgramService_getClientLoyaltyProgram">
    <part name="String_1" type="xsd:string"/></message>
  <message name="LoyaltyProgramService_getClientLoyaltyProgramResponse">
    <part name="result" type="tns:LoyaltyProgram"/></message>
  <message name="LoyaltyProgramService_getLoyaltyOffers">
    <part name="LoyaltyProgram_1" type="tns:LoyaltyProgram"/></message>
  <message name="LoyaltyProgramService_getLoyaltyOffersResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="LoyaltyProgramService_getLoyaltyOperationInfo">
    <part name="LoyaltyProgram_1" type="tns:LoyaltyProgram"/></message>
  <message name="LoyaltyProgramService_getLoyaltyOperationInfoResponse">
    <part name="result" type="ns2:list"/></message>
  <portType name="LoyaltyProgramService">
    <operation name="__forGenerateLoyaltyOffer">
      <input message="tns:LoyaltyProgramService___forGenerateLoyaltyOffer"/>
      <output message="tns:LoyaltyProgramService___forGenerateLoyaltyOfferResponse"/></operation>
    <operation name="__forGenerateLoyaltyProgramOperation">
      <input message="tns:LoyaltyProgramService___forGenerateLoyaltyProgramOperation"/>
      <output message="tns:LoyaltyProgramService___forGenerateLoyaltyProgramOperationResponse"/></operation>
    <operation name="getClientLoyaltyProgram" parameterOrder="String_1">
      <input message="tns:LoyaltyProgramService_getClientLoyaltyProgram"/>
      <output message="tns:LoyaltyProgramService_getClientLoyaltyProgramResponse"/></operation>
    <operation name="getLoyaltyOffers" parameterOrder="LoyaltyProgram_1">
      <input message="tns:LoyaltyProgramService_getLoyaltyOffers"/>
      <output message="tns:LoyaltyProgramService_getLoyaltyOffersResponse"/></operation>
    <operation name="getLoyaltyOperationInfo" parameterOrder="LoyaltyProgram_1">
      <input message="tns:LoyaltyProgramService_getLoyaltyOperationInfo"/>
      <output message="tns:LoyaltyProgramService_getLoyaltyOperationInfoResponse"/></operation></portType>
  <binding name="LoyaltyProgramServiceBinding" type="tns:LoyaltyProgramService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateLoyaltyOffer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateLoyaltyProgramOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientLoyaltyProgram">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getLoyaltyOffers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getLoyaltyOperationInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.loyalty.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="LoyaltyProgramServiceImpl">
    <port name="LoyaltyProgramServicePort" binding="tns:LoyaltyProgramServiceBinding">
      <soap:address location="http://localhost:8080/services/LoyaltyProgramServiceImpl"/></port></service></definitions>
