e-r-i-b/WebGate/web/WEB-INF/MobileBankServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="MobileBankServiceImpl" targetNamespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.mobilebank.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns3="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.mobilebank.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="cancellationDate" type="dateTime"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="insertionDate" type="dateTime"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="managerOSB" type="string"/>
          <element name="managerTB" type="string"/>
          <element name="managerVSP" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="state" type="tns:ClientState"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType>
      <complexType name="MobileBankCardInfo">
        <sequence>
          <element name="cardNumber" type="string"/>
          <element name="mobilePhoneNumber" type="string"/>
          <element name="status" type="string"/></sequence></complexType>
      <complexType name="BeginMigrationResult">
        <sequence>
          <element name="mbkConnectionInfo" type="tns:MbkConnectionInfoList"/>
          <element name="migrationId" type="soap11-enc:long"/></sequence></complexType>

      <complexType name="CommitMigrationResultList">
          <complexContent>
            <restriction base="soap11-enc:Array">
              <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:CommitMigrationResult[]"/>
             </restriction>
      </complexContent>
      </complexType>
      <complexType name="Card">
        <sequence>
          <element name="additionalCardType" type="string"/>
          <element name="availableLimit" type="tns:Money"/>
          <element name="cardBonusSign" type="string"/>
          <element name="cardLevel" type="string"/>
          <element name="cardState" type="string"/>
          <element name="cardType" type="string"/>
          <element name="clientId" type="string"/>
          <element name="contractNumber" type="string"/>
          <element name="currency" type="tns:Currency"/>
          <element name="description" type="string"/>
          <element name="displayedExpireDate" type="string"/>
          <element name="emailAddress" type="string"/>
          <element name="expireDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="issueDate" type="dateTime"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="main" type="boolean"/>
          <element name="mainCardNumber" type="string"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="primaryAccountExternalId" type="string"/>
          <element name="primaryAccountNumber" type="string"/>
          <element name="reportDeliveryLanguage" type="string"/>
          <element name="reportDeliveryType" type="string"/>
          <element name="statusDescription" type="string"/>
          <element name="subkind" type="soap11-enc:long"/>
          <element name="type" type="string"/>
          <element name="useReportDelivery" type="boolean"/>
          <element name="virtual" type="boolean"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="office" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="UserInfo">
        <sequence>
          <element name="activeCard" type="boolean"/>
          <element name="birthdate" type="dateTime"/>
          <element name="cardNumber" type="string"/>
          <element name="cards" type="ns2:list"/>
          <element name="cbCode" type="string"/>
          <element name="firstname" type="string"/>
          <element name="loginType" type="string"/>
          <element name="mainCard" type="boolean"/>
          <element name="passport" type="string"/>
          <element name="patrname" type="string"/>
          <element name="surname" type="string"/>
          <element name="userId" type="string"/></sequence></complexType>
      <complexType name="GatePaymentTemplate">
        <sequence>
          <element name="active" type="boolean"/>
          <element name="cardNumber" type="string"/>
          <element name="externalId" type="string"/>
          <element name="payerCode" type="string"/>
          <element name="phone" type="string"/>
          <element name="recipientCode" type="string"/></sequence></complexType>
      <complexType name="ArrayOfstring">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="string[]"/></restriction></complexContent></complexType>
      <complexType name="GroupResult">
        <sequence>
          <element name="exceptions" type="ns2:map"/>
          <element name="results" type="ns2:map"/></sequence></complexType>
      <complexType name="ArrayOfMobileBankCardInfo">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:MobileBankCardInfo[]"/></restriction></complexContent></complexType>
      <complexType name="CommitMigrationResult">
        <sequence>
          <element name="linkId" type="string"/>
          <element name="paymentCard" type="string"/>
          <element name="phoneNumber" type="string"/>
          <element name="tariffInfo" type="tns:ClientTariffInfo"/></sequence></complexType>
      <complexType name="ClientTariffInfo">
        <sequence>
          <element name="firstRegistrationDate" type="dateTime"/>
          <element name="linkPaymentBlockID" type="int"/>
          <element name="linkTariff" type="int"/>
          <element name="nextPaidPeriod" type="dateTime"/>
          <element name="payDate" type="int"/></sequence></complexType>
      <complexType name="MobileBankTemplate">
        <sequence>
          <element name="cardInfo" type="tns:MobileBankCardInfo"/>
          <element name="payerCodes" type="tns:ArrayOfstring"/>
          <element name="recipient" type="string"/></sequence></complexType>
      <complexType name="MbkCard">
        <sequence>
          <element name="cardType" type="string"/>
          <element name="ermbConnected" type="boolean"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="MbkConnectionInfoList">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:MbkConnectionInfo[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="MbkConnectionInfo">
        <sequence>
          <element name="linkID" type="int"/>
          <element name="phoneNumber" type="tns:PhoneNumber"/>
          <element name="pymentCard" type="string"/>
          <element name="infoCards" type="tns:InfoCardImplList"/>
          <element name="linkTariff" type="int"/>
          <element name="linkPaymentBlockID" type="int"/>
          <element name="phoneBlockCode" type="int"/>
          <element name="phoneQuickServices" type="int"/>
          <element name="phoneOffers" type="ns2:list"/>
          <element name="templates" type="tns:MbkConnectionTemplatesList"/>
        </sequence>
      </complexType>
      <complexType name="MbkConnectionTemplatesList">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:MobileBankTemplate[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="InfoCardImplList">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:InfoCardImpl[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="InfoCardImpl">
        <sequence>
          <element name="pan" type="string"/>
          <element name="block" type="boolean"/>
        </sequence>
      </complexType>
      <complexType name="DisconnectedPhoneResult">
        <sequence>
          <element name="createdAt" type="dateTime"/>
          <element name="disconnectedPhoneSource" type="int"/>
          <element name="id" type="int"/>
          <element name="phoneNumber" type="string"/>
          <element name="processedTime" type="dateTime"/>
          <element name="reason" type="string"/>
          <element name="receivedAt" type="dateTime"/>
          <element name="state" type="boolean"/></sequence></complexType>
      <complexType name="P2PRequest">
        <sequence>
          <element name="branch" type="int"/>
          <element name="creation" type="dateTime"/>
          <element name="id" type="int"/>
          <element name="phone" type="tns:PhoneNumber"/>
          <element name="tb" type="int"/></sequence></complexType>
      <complexType name="PhoneNumber">
        <sequence>
          <element name="abonent" type="string"/>
          <element name="country" type="string"/>
          <element name="operator" type="string"/></sequence></complexType>
      <complexType name="AcceptInfo">
        <sequence>
          <element name="messageId" type="soap11-enc:long"/>
          <element name="receiptTime" type="dateTime"/></sequence></complexType>
      <complexType name="UESIMessage">
        <sequence>
          <element name="messageId" type="soap11-enc:long"/>
          <element name="messageText" type="string"/>
          <element name="messageTime" type="dateTime"/>
          <element name="messageType" type="string"/></sequence></complexType>
      <complexType name="ERMBPhone">
        <sequence>
          <element name="lastModified" type="dateTime"/>
          <element name="lastUpload" type="dateTime"/>
          <element name="phoneNumber" type="tns:PhoneNumber"/>
          <element name="phoneUsage" type="boolean"/></sequence></complexType>
      <complexType name="MobileBankRegistration">
        <sequence>
          <element name="linkedCards" type="ns2:list"/>
          <element name="mainCardInfo" type="tns:MobileBankCardInfo"/>
          <element name="status" type="string"/>
          <element name="tariff" type="string"/></sequence></complexType>
      <complexType name="MobileBankRegistration3">
        <complexContent>
          <extension base="tns:MobileBankRegistration">
            <sequence>
              <element name="channelType" type="string"/>
              <element name="lastRegistrationDate" type="dateTime"/></sequence></extension></complexContent></complexType>
      <complexType name="MBKPhone">
        <sequence>
          <element name="added" type="boolean"/>
          <element name="id" type="long"/>
          <element name="lastUpdateTime" type="dateTime"/>
          <element name="phone" type="string"/></sequence></complexType>
      <complexType name="MQInfo">
        <sequence>
          <element name="factoryName" type="string"/>
          <element name="queueName" type="string"/></sequence></complexType>
      <complexType name="NodeInfo">
        <sequence>
          <element name="adminAvailable" type="boolean"/>
          <element name="dictionaryMQ" type="tns:MQInfo"/>
          <element name="ermbQueueMQ" type="tns:MQInfo"/>
          <element name="existingUsersAllowed" type="boolean"/>
          <element name="guestAvailable" type="boolean"/>
          <element name="hostname" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="listenerHost" type="string"/>
          <element name="mbkRegistrationMQ" type="tns:MQInfo"/>
          <element name="multiNodeDataMQ" type="tns:MQInfo"/>
          <element name="name" type="string"/>
          <element name="newUsersAllowed" type="boolean"/>
          <element name="smsMQ" type="tns:MQInfo"/>
          <element name="temporaryUsersAllowed" type="boolean"/>
          <element name="usersTransferAllowed" type="boolean"/></sequence></complexType>
      <complexType name="UserInfoCSA">
        <sequence>
          <element name="birthdate" type="dateTime"/>
          <element name="cbCode" type="string"/>
          <element name="firstname" type="string"/>
          <element name="passport" type="string"/>
          <element name="patrname" type="string"/>
          <element name="surname" type="string"/>
          <element name="tb" type="string"/></sequence></complexType>
      <complexType name="MBKRegistration">
        <sequence>
          <element name="activeCards" type="ns2:list"/>
          <element name="errorDescr" type="string"/>
          <element name="filtrationReason" type="string"/>
          <element name="id" type="long"/>
          <element name="ipList" type="ns2:list"/>
          <element name="node" type="tns:NodeInfo"/>
          <element name="officeCode" type="tns:Code"/>
          <element name="owner" type="tns:UserInfoCSA"/>
          <element name="passedToNode" type="soap11-enc:boolean"/>
          <element name="paymentCardNumber" type="string"/>
          <element name="phoneNumber" type="tns:PhoneNumber"/>
          <element name="pp" type="string"/>
          <element name="regAction" type="string"/>
          <element name="regTranType" type="string"/>
          <element name="resultCode" type="string"/>
          <element name="returnedToMBK" type="soap11-enc:boolean"/>
          <element name="tariff" type="string"/>
          <element name="wellParsed" type="boolean"/></sequence></complexType>
      <complexType name="CodeOffice">
        <sequence>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/></sequence></complexType>
      <complexType name="IKFLException">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="cardNumber" type="string"/>
          <element name="cause" type="tns:Throwable"/>
          <element name="detailMessage" type="string"/>
          <element name="errorMessage" type="tns:ErrorMessage"/>
          <element name="message" type="string"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Throwable">
        <sequence>
          <element name="backtrace" type="anyType"/>
          <element name="cause" type="tns:Throwable"/>
          <element name="detailMessage" type="string"/>
          <element name="stackTrace" type="tns:ArrayOfStackTraceElement"/></sequence></complexType>
      <complexType name="ArrayOfStackTraceElement">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:StackTraceElement[]"/></restriction></complexContent></complexType>
      <complexType name="StackTraceElement">
        <sequence>
          <element name="declaringClass" type="string"/>
          <element name="fileName" type="string"/>
          <element name="lineNumber" type="int"/>
          <element name="methodName" type="string"/></sequence></complexType>
      <complexType name="ErrorMessage">
        <sequence>
          <element name="errorType" type="string"/>
          <element name="message" type="string"/>
          <element name="regExp" type="string"/>
          <element name="system" type="string"/></sequence></complexType>
      <complexType name="MobilePaymentCardResult">
        <sequence>
          <element name="cardNumber" type="string"/>
          <element name="clientName" type="string"/>
          <element name="comment" type="string"/>
          <element name="id" type="int"/>
          <element name="resultCode" type="int"/></sequence></complexType>
      <complexType name="MessageInfo">
        <sequence>
          <element name="stubText" type="string"/>
          <element name="text" type="string"/>
          <element name="textToLog" type="string"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="set">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema></types>
  <message name="MobileBankService_addRegistration">
    <part name="Client_1" type="tns:Client"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="MobileBankService_addRegistrationResponse"/>
  <message name="MobileBankService_addTemplates">
    <part name="MobileBankCardInfo_1" type="tns:MobileBankCardInfo"/>
    <part name="List_2" type="ns3:list"/></message>
  <message name="MobileBankService_addTemplatesResponse"/>
  <message name="MobileBankService_beginMigrationErmb">
    <part name="Set_1" type="ns3:set"/>
    <part name="Set_2" type="ns3:set"/>
    <part name="Set_3" type="ns3:set"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="MobileBankService_beginMigrationErmbResponse">
    <part name="result" type="tns:BeginMigrationResult"/></message>
  <message name="MobileBankService_commitMigrationErmb">
    <part name="Long_1" type="ns2:long"/></message>
  <message name="MobileBankService_commitMigrationErmbResponse">
    <part name="result" type="tns:CommitMigrationResultList"/></message>
  <message name="MobileBankService_confirmMbRegistrationsLoading">
    <part name="List_1" type="ns3:list"/></message>
  <message name="MobileBankService_confirmMbRegistrationsLoadingResponse"/>
  <message name="MobileBankService_confirmUESIMessages">
    <part name="List_1" type="ns3:list"/></message>
  <message name="MobileBankService_confirmUESIMessagesResponse"/>
  <message name="MobileBankService_generatePassword">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_generatePasswordResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="MobileBankService_generatePasswordForErmbClient">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="MobileBankService_generatePasswordForErmbClientResponse">
    <part name="result" type="ns2:boolean"/></message>
  <message name="MobileBankService_getCardByPhone">
    <part name="Client_1" type="tns:Client"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="MobileBankService_getCardByPhoneResponse">
    <part name="result" type="tns:Card"/></message>
  <message name="MobileBankService_getCardNumberByPhone">
    <part name="Client_1" type="tns:Client"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="MobileBankService_getCardNumberByPhoneResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="MobileBankService_getCardsByPhone">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getCardsByPhoneResponse">
    <part name="result" type="ns3:set"/></message>
  <message name="MobileBankService_getCardsByPhoneViaReportDB">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getCardsByPhoneViaReportDBResponse">
    <part name="result" type="ns3:set"/></message>
  <message name="MobileBankService_getClientByCardNumber">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getClientByCardNumberResponse">
    <part name="result" type="tns:UserInfo"/></message>
  <message name="MobileBankService_getClientByLogin">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getClientByLoginResponse">
    <part name="result" type="tns:UserInfo"/></message>
  <message name="MobileBankService_getClientByPhone">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getClientByPhoneResponse">
    <part name="result" type="tns:UserInfo"/></message>
  <message name="MobileBankService_getDisconnectedPhones">
    <part name="int_1" type="xsd:int"/></message>
  <message name="MobileBankService_getDisconnectedPhonesResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_getMbkRegistrationsForErmb"/>
  <message name="MobileBankService_getMbkRegistrationsForErmbResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_getMobileContact">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getMobileContactResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="MobileBankService_getMobilePaymentCardRequests"/>
  <message name="MobileBankService_getMobilePaymentCardRequestsResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_getOfferConfirm"/>
  <message name="MobileBankService_getOfferConfirmResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_getPaymentTemplate">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getPaymentTemplateResponse">
    <part name="result" type="tns:GatePaymentTemplate"/></message>
  <message name="MobileBankService_getPaymentTemplates">
    <part name="arrayOfString_1" type="tns:ArrayOfstring"/></message>
  <message name="MobileBankService_getPaymentTemplatesResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="MobileBankService_getPhonesForPeriod">
    <part name="Calendar_1" type="xsd:dateTime"/></message>
  <message name="MobileBankService_getPhonesForPeriodResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_getQuickServiceStatus">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getQuickServiceStatusResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="MobileBankService_getRegPhonesByCardNumbers">
    <part name="List_1" type="ns3:list"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="MobileBankService_getRegPhonesByCardNumbersResponse">
    <part name="result" type="ns3:set"/></message>
  <message name="MobileBankService_getRegistrations">
    <part name="Boolean_1" type="ns2:boolean"/>
    <part name="arrayOfString_2" type="tns:ArrayOfstring"/></message>
  <message name="MobileBankService_getRegistrationsResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="MobileBankService_getRegistrations3">
    <part name="String_1" type="xsd:string"/></message>
  <message name="MobileBankService_getRegistrations3Response">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_getRegistrations4">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="MobileBankService_getRegistrations4Response">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_getRegistrationsPack">
    <part name="Boolean_1" type="ns2:boolean"/>
    <part name="arrayOfString_2" type="tns:ArrayOfstring"/></message>
  <message name="MobileBankService_getRegistrationsPackResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_getTemplates">
    <part name="Long_1" type="ns2:long"/>
    <part name="arrayOfMobileBankCardInfo_2" type="tns:ArrayOfMobileBankCardInfo"/></message>
  <message name="MobileBankService_getTemplatesResponse">
    <part name="result" type="tns:GroupResult"/></message>
  <message name="MobileBankService_getUESIMessagesFromMBK"/>
  <message name="MobileBankService_getUESIMessagesFromMBKResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="MobileBankService_methodForAddClassesToWSDL">
    <part name="CommitMigrationResult_1" type="tns:CommitMigrationResult"/>
    <part name="MobileBankTemplate_2" type="tns:MobileBankTemplate"/>
    <part name="MbkCard_3" type="tns:MbkCard"/>
    <part name="DisconnectedPhoneResult_4" type="tns:DisconnectedPhoneResult"/>
    <part name="P2PRequest_5" type="tns:P2PRequest"/>
    <part name="AcceptInfo_6" type="tns:AcceptInfo"/>
    <part name="UESIMessage_7" type="tns:UESIMessage"/>
    <part name="ERMBPhone_8" type="tns:ERMBPhone"/>
    <part name="MobileBankRegistration_9" type="tns:MobileBankRegistration"/>
    <part name="MBKPhone_10" type="tns:MBKPhone"/>
    <part name="MQInfo_11" type="tns:MQInfo"/>
    <part name="NodeInfo_12" type="tns:NodeInfo"/>
    <part name="UserInfoCSA_13" type="tns:UserInfoCSA"/>
    <part name="MBKRegistration_14" type="tns:MBKRegistration"/>
    <part name="CodeOffice_15" type="tns:CodeOffice"/>
    <part name="IKFLException_16" type="tns:IKFLException"/>
    <part name="MobileBankRegistration3_17" type="tns:MobileBankRegistration3"/></message>
  <message name="MobileBankService_methodForAddClassesToWSDLResponse"/>
  <message name="MobileBankService_removeTemplates">
    <part name="MobileBankCardInfo_1" type="tns:MobileBankCardInfo"/>
    <part name="List_2" type="ns3:list"/></message>
  <message name="MobileBankService_removeTemplatesResponse"/>
  <message name="MobileBankService_reverseMigration">
    <part name="Long_1" type="ns2:long"/>
    <part name="ClientTariffInfo_2" type="tns:ClientTariffInfo"/></message>
  <message name="MobileBankService_reverseMigrationResponse"/>
  <message name="MobileBankService_rollbackMigration">
    <part name="Long_1" type="ns2:long"/></message>
  <message name="MobileBankService_rollbackMigrationResponse"/>
  <message name="MobileBankService_sendIMSICheck">
    <part name="arrayOfString_1" type="tns:ArrayOfstring"/></message>
  <message name="MobileBankService_sendIMSICheckResponse">
    <part name="result" type="ns3:map"/></message>
  <message name="MobileBankService_sendMbRegistrationProcessingResult">
    <part name="long_1" type="xsd:long"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="MobileBankService_sendMbRegistrationProcessingResultResponse"/>
  <message name="MobileBankService_sendMobilePaymentCardResult">
    <part name="MobilePaymentCardResult_1" type="tns:MobilePaymentCardResult"/></message>
  <message name="MobileBankService_sendMobilePaymentCardResultResponse"/>
  <message name="MobileBankService_sendOfferMessageSMS">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="Long_3" type="ns2:long"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="MobileBankService_sendOfferMessageSMSResponse"/>
  <message name="MobileBankService_sendOfferQuit">
    <part name="Long_1" type="ns2:long"/></message>
  <message name="MobileBankService_sendOfferQuitResponse"/>
  <message name="MobileBankService_sendSMS">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="int_3" type="xsd:int"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="MobileBankService_sendSMSResponse"/>
  <message name="MobileBankService_sendSMSWithIMSICheck">
    <part name="MessageInfo_1" type="tns:MessageInfo"/>
    <part name="arrayOfString_2" type="tns:ArrayOfstring"/></message>
  <message name="MobileBankService_sendSMSWithIMSICheckResponse">
    <part name="result" type="ns3:map"/></message>
  <message name="MobileBankService_setQuickServiceStatus">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="MobileBankService_setQuickServiceStatusResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="MobileBankService_updateDisconnectedPhonesState">
    <part name="List_1" type="ns3:list"/></message>
  <message name="MobileBankService_updateDisconnectedPhonesStateResponse"/>
  <message name="MobileBankService_updateErmbPhonesInMb">
    <part name="List_1" type="ns3:list"/></message>
  <message name="MobileBankService_updateErmbPhonesInMbResponse"/>
  <portType name="MobileBankService">
    <operation name="addRegistration" parameterOrder="Client_1 String_2 String_3 String_4 String_5">
      <input message="tns:MobileBankService_addRegistration"/>
      <output message="tns:MobileBankService_addRegistrationResponse"/></operation>
    <operation name="addTemplates" parameterOrder="MobileBankCardInfo_1 List_2">
      <input message="tns:MobileBankService_addTemplates"/>
      <output message="tns:MobileBankService_addTemplatesResponse"/></operation>
    <operation name="beginMigrationErmb" parameterOrder="Set_1 Set_2 Set_3 String_4">
      <input message="tns:MobileBankService_beginMigrationErmb"/>
      <output message="tns:MobileBankService_beginMigrationErmbResponse"/></operation>
    <operation name="commitMigrationErmb" parameterOrder="Long_1">
      <input message="tns:MobileBankService_commitMigrationErmb"/>
      <output message="tns:MobileBankService_commitMigrationErmbResponse"/></operation>
    <operation name="confirmMbRegistrationsLoading" parameterOrder="List_1">
      <input message="tns:MobileBankService_confirmMbRegistrationsLoading"/>
      <output message="tns:MobileBankService_confirmMbRegistrationsLoadingResponse"/></operation>
    <operation name="confirmUESIMessages" parameterOrder="List_1">
      <input message="tns:MobileBankService_confirmUESIMessages"/>
      <output message="tns:MobileBankService_confirmUESIMessagesResponse"/></operation>
    <operation name="generatePassword" parameterOrder="String_1">
      <input message="tns:MobileBankService_generatePassword"/>
      <output message="tns:MobileBankService_generatePasswordResponse"/></operation>
    <operation name="generatePasswordForErmbClient" parameterOrder="String_1 String_2">
      <input message="tns:MobileBankService_generatePasswordForErmbClient"/>
      <output message="tns:MobileBankService_generatePasswordForErmbClientResponse"/></operation>
    <operation name="getCardByPhone" parameterOrder="Client_1 String_2">
      <input message="tns:MobileBankService_getCardByPhone"/>
      <output message="tns:MobileBankService_getCardByPhoneResponse"/></operation>
    <operation name="getCardNumberByPhone" parameterOrder="Client_1 String_2">
      <input message="tns:MobileBankService_getCardNumberByPhone"/>
      <output message="tns:MobileBankService_getCardNumberByPhoneResponse"/></operation>
    <operation name="getCardsByPhone" parameterOrder="String_1">
      <input message="tns:MobileBankService_getCardsByPhone"/>
      <output message="tns:MobileBankService_getCardsByPhoneResponse"/></operation>
    <operation name="getCardsByPhoneViaReportDB" parameterOrder="String_1">
      <input message="tns:MobileBankService_getCardsByPhoneViaReportDB"/>
      <output message="tns:MobileBankService_getCardsByPhoneViaReportDBResponse"/></operation>
    <operation name="getClientByCardNumber" parameterOrder="String_1">
      <input message="tns:MobileBankService_getClientByCardNumber"/>
      <output message="tns:MobileBankService_getClientByCardNumberResponse"/></operation>
    <operation name="getClientByLogin" parameterOrder="String_1">
      <input message="tns:MobileBankService_getClientByLogin"/>
      <output message="tns:MobileBankService_getClientByLoginResponse"/></operation>
    <operation name="getClientByPhone" parameterOrder="String_1">
      <input message="tns:MobileBankService_getClientByPhone"/>
      <output message="tns:MobileBankService_getClientByPhoneResponse"/></operation>
    <operation name="getDisconnectedPhones" parameterOrder="int_1">
      <input message="tns:MobileBankService_getDisconnectedPhones"/>
      <output message="tns:MobileBankService_getDisconnectedPhonesResponse"/></operation>
    <operation name="getMbkRegistrationsForErmb">
      <input message="tns:MobileBankService_getMbkRegistrationsForErmb"/>
      <output message="tns:MobileBankService_getMbkRegistrationsForErmbResponse"/></operation>
    <operation name="getMobileContact" parameterOrder="String_1">
      <input message="tns:MobileBankService_getMobileContact"/>
      <output message="tns:MobileBankService_getMobileContactResponse"/></operation>
    <operation name="getMobilePaymentCardRequests">
      <input message="tns:MobileBankService_getMobilePaymentCardRequests"/>
      <output message="tns:MobileBankService_getMobilePaymentCardRequestsResponse"/></operation>
    <operation name="getOfferConfirm">
      <input message="tns:MobileBankService_getOfferConfirm"/>
      <output message="tns:MobileBankService_getOfferConfirmResponse"/></operation>
    <operation name="getPaymentTemplate" parameterOrder="String_1">
      <input message="tns:MobileBankService_getPaymentTemplate"/>
      <output message="tns:MobileBankService_getPaymentTemplateResponse"/></operation>
    <operation name="getPaymentTemplates" parameterOrder="arrayOfString_1">
      <input message="tns:MobileBankService_getPaymentTemplates"/>
      <output message="tns:MobileBankService_getPaymentTemplatesResponse"/></operation>
    <operation name="getPhonesForPeriod" parameterOrder="Calendar_1">
      <input message="tns:MobileBankService_getPhonesForPeriod"/>
      <output message="tns:MobileBankService_getPhonesForPeriodResponse"/></operation>
    <operation name="getQuickServiceStatus" parameterOrder="String_1">
      <input message="tns:MobileBankService_getQuickServiceStatus"/>
      <output message="tns:MobileBankService_getQuickServiceStatusResponse"/></operation>
    <operation name="getRegPhonesByCardNumbers" parameterOrder="List_1 String_2">
      <input message="tns:MobileBankService_getRegPhonesByCardNumbers"/>
      <output message="tns:MobileBankService_getRegPhonesByCardNumbersResponse"/></operation>
    <operation name="getRegistrations" parameterOrder="Boolean_1 arrayOfString_2">
      <input message="tns:MobileBankService_getRegistrations"/>
      <output message="tns:MobileBankService_getRegistrationsResponse"/></operation>
    <operation name="getRegistrations3" parameterOrder="String_1">
      <input message="tns:MobileBankService_getRegistrations3"/>
      <output message="tns:MobileBankService_getRegistrations3Response"/></operation>
    <operation name="getRegistrations4" parameterOrder="String_1 String_2">
      <input message="tns:MobileBankService_getRegistrations4"/>
      <output message="tns:MobileBankService_getRegistrations4Response"/></operation>
    <operation name="getRegistrationsPack" parameterOrder="Boolean_1 arrayOfString_2">
      <input message="tns:MobileBankService_getRegistrationsPack"/>
      <output message="tns:MobileBankService_getRegistrationsPackResponse"/></operation>
    <operation name="getTemplates" parameterOrder="Long_1 arrayOfMobileBankCardInfo_2">
      <input message="tns:MobileBankService_getTemplates"/>
      <output message="tns:MobileBankService_getTemplatesResponse"/></operation>
    <operation name="getUESIMessagesFromMBK">
      <input message="tns:MobileBankService_getUESIMessagesFromMBK"/>
      <output message="tns:MobileBankService_getUESIMessagesFromMBKResponse"/></operation>
    <operation name="methodForAddClassesToWSDL" parameterOrder="CommitMigrationResult_1 MobileBankTemplate_2 MbkCard_3 DisconnectedPhoneResult_4 P2PRequest_5 AcceptInfo_6 UESIMessage_7 ERMBPhone_8 MobileBankRegistration_9 MBKPhone_10 MQInfo_11 NodeInfo_12 UserInfoCSA_13 MBKRegistration_14 CodeOffice_15 IKFLException_16 MobileBankRegistration3_17">
      <input message="tns:MobileBankService_methodForAddClassesToWSDL"/>
      <output message="tns:MobileBankService_methodForAddClassesToWSDLResponse"/></operation>
    <operation name="removeTemplates" parameterOrder="MobileBankCardInfo_1 List_2">
      <input message="tns:MobileBankService_removeTemplates"/>
      <output message="tns:MobileBankService_removeTemplatesResponse"/></operation>
    <operation name="reverseMigration" parameterOrder="Long_1 ClientTariffInfo_2">
      <input message="tns:MobileBankService_reverseMigration"/>
      <output message="tns:MobileBankService_reverseMigrationResponse"/></operation>
    <operation name="rollbackMigration" parameterOrder="Long_1">
      <input message="tns:MobileBankService_rollbackMigration"/>
      <output message="tns:MobileBankService_rollbackMigrationResponse"/></operation>
    <operation name="sendIMSICheck" parameterOrder="arrayOfString_1">
      <input message="tns:MobileBankService_sendIMSICheck"/>
      <output message="tns:MobileBankService_sendIMSICheckResponse"/></operation>
    <operation name="sendMbRegistrationProcessingResult" parameterOrder="long_1 String_2 String_3">
      <input message="tns:MobileBankService_sendMbRegistrationProcessingResult"/>
      <output message="tns:MobileBankService_sendMbRegistrationProcessingResultResponse"/></operation>
    <operation name="sendMobilePaymentCardResult" parameterOrder="MobilePaymentCardResult_1">
      <input message="tns:MobileBankService_sendMobilePaymentCardResult"/>
      <output message="tns:MobileBankService_sendMobilePaymentCardResultResponse"/></operation>
    <operation name="sendOfferMessageSMS" parameterOrder="String_1 String_2 Long_3 String_4">
      <input message="tns:MobileBankService_sendOfferMessageSMS"/>
      <output message="tns:MobileBankService_sendOfferMessageSMSResponse"/></operation>
    <operation name="sendOfferQuit" parameterOrder="Long_1">
      <input message="tns:MobileBankService_sendOfferQuit"/>
      <output message="tns:MobileBankService_sendOfferQuitResponse"/></operation>
    <operation name="sendSMS" parameterOrder="String_1 String_2 int_3 String_4">
      <input message="tns:MobileBankService_sendSMS"/>
      <output message="tns:MobileBankService_sendSMSResponse"/></operation>
    <operation name="sendSMSWithIMSICheck" parameterOrder="MessageInfo_1 arrayOfString_2">
      <input message="tns:MobileBankService_sendSMSWithIMSICheck"/>
      <output message="tns:MobileBankService_sendSMSWithIMSICheckResponse"/></operation>
    <operation name="setQuickServiceStatus" parameterOrder="String_1 String_2">
      <input message="tns:MobileBankService_setQuickServiceStatus"/>
      <output message="tns:MobileBankService_setQuickServiceStatusResponse"/></operation>
    <operation name="updateDisconnectedPhonesState" parameterOrder="List_1">
      <input message="tns:MobileBankService_updateDisconnectedPhonesState"/>
      <output message="tns:MobileBankService_updateDisconnectedPhonesStateResponse"/></operation>
    <operation name="updateErmbPhonesInMb" parameterOrder="List_1">
      <input message="tns:MobileBankService_updateErmbPhonesInMb"/>
      <output message="tns:MobileBankService_updateErmbPhonesInMbResponse"/></operation></portType>
  <binding name="MobileBankServiceBinding" type="tns:MobileBankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="addRegistration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="addTemplates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="beginMigrationErmb">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="commitMigrationErmb">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="confirmMbRegistrationsLoading">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="confirmUESIMessages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="generatePassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="generatePasswordForErmbClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardByPhone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardNumberByPhone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardsByPhone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardsByPhoneViaReportDB">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientByCardNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientByLogin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getClientByPhone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getDisconnectedPhones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getMbkRegistrationsForErmb">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getMobileContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getMobilePaymentCardRequests">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getOfferConfirm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getPaymentTemplate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getPaymentTemplates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getPhonesForPeriod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getQuickServiceStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRegPhonesByCardNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRegistrations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRegistrations3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRegistrations4">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRegistrationsPack">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getTemplates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getUESIMessagesFromMBK">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="methodForAddClassesToWSDL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="removeTemplates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="reverseMigration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="rollbackMigration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="sendIMSICheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="sendMbRegistrationProcessingResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="sendMobilePaymentCardResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="sendOfferMessageSMS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="sendOfferQuit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="sendSMS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="sendSMSWithIMSICheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="setQuickServiceStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="updateDisconnectedPhonesState">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="updateErmbPhonesInMb">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.mobilebank.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="MobileBankServiceImpl">
    <port name="MobileBankServicePort" binding="tns:MobileBankServiceBinding">
      <soap:address location="http://localhost:8080/services/MobileBankServiceImpl"/></port></service></definitions>
