e-r-i-b/WebGate/web/WEB-INF/NotificationSubscribeServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="NotificationSubscribeServiceImpl" targetNamespace="http://generated.notification.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.notification.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.notification.services.gate.web.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.notification.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.notification.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Account">
        <sequence>
          <element name="accountState" type="string"/>
          <element name="balance" type="tns:Money"/>
          <element name="clientKind" type="soap11-enc:long"/>
          <element name="creditAllowed" type="soap11-enc:boolean"/>
          <element name="currency" type="tns:Currency"/>
          <element name="debitAllowed" type="soap11-enc:boolean"/>
          <element name="demand" type="soap11-enc:boolean"/>
          <element name="description" type="string"/>
          <element name="id" type="string"/>
          <element name="interestRate" type="decimal"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="maxSumWrite" type="tns:Money"/>
          <element name="minimumBalance" type="tns:Money"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="openDate" type="dateTime"/>
          <element name="passbook" type="soap11-enc:boolean"/>
          <element name="prolongationDate" type="dateTime"/>
          <element name="subKind" type="soap11-enc:long"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType></schema></types>
  <message name="NotificationSubscribeService_subscribeAccount">
    <part name="Account_1" type="tns:Account"/></message>
  <message name="NotificationSubscribeService_subscribeAccountResponse"/>
  <message name="NotificationSubscribeService_unsubscribeAccount">
    <part name="Account_1" type="tns:Account"/></message>
  <message name="NotificationSubscribeService_unsubscribeAccountResponse"/>
  <portType name="NotificationSubscribeService">
    <operation name="subscribeAccount" parameterOrder="Account_1">
      <input message="tns:NotificationSubscribeService_subscribeAccount"/>
      <output message="tns:NotificationSubscribeService_subscribeAccountResponse"/></operation>
    <operation name="unsubscribeAccount" parameterOrder="Account_1">
      <input message="tns:NotificationSubscribeService_unsubscribeAccount"/>
      <output message="tns:NotificationSubscribeService_unsubscribeAccountResponse"/></operation></portType>
  <binding name="NotificationSubscribeServiceBinding" type="tns:NotificationSubscribeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="subscribeAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.notification.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.notification.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="unsubscribeAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.notification.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.notification.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="NotificationSubscribeServiceImpl">
    <port name="NotificationSubscribeServicePort" binding="tns:NotificationSubscribeServiceBinding">
      <soap:address location="http://localhost:8080/services/NotificationSubscribeServiceImpl"/></port></service></definitions>
