e-r-i-b/WebGate/web/WEB-INF/OfficeGateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="OfficeGateService" targetNamespace="http://generated.offices.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.offices.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema>
    <schema targetNamespace="http://generated.offices.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.offices.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="name" type="string"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>  
          <element name="needUpdateCreditCardOffice" type="boolean"/>  
        </sequence>
      </complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType></schema></types>
  <message name="OfficeGateService_PortType_getAll">
    <part name="Office_1" type="tns:Office"/>
    <part name="int_2" type="xsd:int"/>
    <part name="int_3" type="xsd:int"/></message>
  <message name="OfficeGateService_PortType_getAllResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="OfficeGateService_PortType_getAll2">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/></message>
  <message name="OfficeGateService_PortType_getAll2Response">
    <part name="result" type="ns2:list"/></message>
  <message name="OfficeGateService_PortType_getAllChildren">
    <part name="Office_1" type="tns:Office"/></message>
  <message name="OfficeGateService_PortType_getAllChildrenResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="OfficeGateService_PortType_getOfficeById">
    <part name="String_1" type="xsd:string"/></message>
  <message name="OfficeGateService_PortType_getOfficeByIdResponse">
    <part name="result" type="tns:Office"/></message>
  <portType name="OfficeGateService_PortType">
    <operation name="getAll" parameterOrder="Office_1 int_2 int_3">
      <input message="tns:OfficeGateService_PortType_getAll"/>
      <output message="tns:OfficeGateService_PortType_getAllResponse"/></operation>
    <operation name="getAll2" parameterOrder="int_1 int_2">
      <input message="tns:OfficeGateService_PortType_getAll2"/>
      <output message="tns:OfficeGateService_PortType_getAll2Response"/></operation>
    <operation name="getAllChildren" parameterOrder="Office_1">
      <input message="tns:OfficeGateService_PortType_getAllChildren"/>
      <output message="tns:OfficeGateService_PortType_getAllChildrenResponse"/></operation>
    <operation name="getOfficeById" parameterOrder="String_1">
      <input message="tns:OfficeGateService_PortType_getOfficeById"/>
      <output message="tns:OfficeGateService_PortType_getOfficeByIdResponse"/></operation></portType>
  <binding name="OfficeGateService_PortTypeBinding" type="tns:OfficeGateService_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAll2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getAllChildren">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getOfficeById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.offices.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="OfficeGateService">
    <port name="OfficeGateService_PortTypePort" binding="tns:OfficeGateService_PortTypeBinding">
      <soap:address location="http://localhost:8080/services/OfficeGateService"/></port></service></definitions>
