e-r-i-b/WebGate/web/WEB-INF/PaymentRecipientGateServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="PaymentRecipientGateServiceImpl" targetNamespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="DebtRowImpl">
        <sequence>
          <element name="code" type="string"/>
          <element name="commission" type="tns:Money"/>
          <element name="debt" type="tns:Money"/>
          <element name="description" type="string"/>
          <element name="fine" type="tns:Money"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Field">
        <sequence>
          <element name="businessSubType" type="string"/>
          <element name="defaultValue" type="string"/>
          <element name="description" type="string"/>
          <element name="editable" type="soap11-enc:boolean"/>
          <element name="error" type="string"/>
          <element name="extendedDescId" type="string"/>
          <element name="externalId" type="string"/>
          <element name="fieldValidationRules" type="ns2:list"/>
          <element name="graphicTemplateName" type="string"/>
          <element name="groupName" type="string"/>
          <element name="hideInConfirmation" type="soap11-enc:boolean"/>
          <element name="hint" type="string"/>
          <element name="key" type="soap11-enc:boolean"/>
          <element name="linesNumber" type="int"/>
          <element name="mainSum" type="soap11-enc:boolean"/>
          <element name="mask" type="string"/>
          <element name="maxLength" type="soap11-enc:long"/>
          <element name="minLength" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="numberPrecision" type="soap11-enc:int"/>
          <element name="period" type="string"/>
          <element name="popupHint" type="string"/>
          <element name="required" type="soap11-enc:boolean"/>
          <element name="requiredForBill" type="soap11-enc:boolean"/>
          <element name="requiredForConformation" type="soap11-enc:boolean"/>
          <element name="saveInTemplate" type="soap11-enc:boolean"/>
          <element name="type" type="string"/>
          <element name="value" type="anyType"/>
          <element name="values" type="ns2:list"/>
          <element name="visible" type="soap11-enc:boolean"/></sequence></complexType>
      <complexType name="FieldValidationRule">
        <sequence>
          <element name="errorMessage" type="string"/>
          <element name="fieldValidationRuleType" type="string"/>
          <element name="parameters" type="ns2:map"/></sequence></complexType>
      <complexType name="ListValue">
        <sequence>
          <element name="id" type="string"/>
          <element name="value" type="string"/></sequence></complexType>
      <complexType name="Pair">
        <sequence>
          <element name="first" type="anyType"/>
          <element name="second" type="anyType"/></sequence></complexType>
      <complexType name="Billing">
        <sequence>
          <element name="code" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="needUploadJBT" type="soap11-enc:boolean"/>
          <element name="synchKey" type="string"/></sequence></complexType>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="managerOSB" type="string"/>
          <element name="managerTB" type="string"/>
          <element name="managerVSP" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="Recipient">
        <sequence>
          <element name="description" type="string"/>
          <element name="main" type="soap11-enc:boolean"/>
          <element name="name" type="string"/>
          <element name="service" type="tns:Service"/>
          <element name="synchKey" type="string"/></sequence></complexType>
      <complexType name="Service">
        <sequence>
          <element name="code" type="string"/></sequence></complexType>
      <complexType name="RecipientInfo">
        <sequence>
          <element name="INN" type="string"/>
          <element name="KPP" type="string"/>
          <element name="account" type="string"/>
          <element name="bank" type="tns:ResidentBank"/>
          <element name="debt" type="tns:DebtImpl"/>
          <element name="payerAccount" type="string"/>
          <element name="paymentType" type="string"/>
          <element name="transitAccount" type="string"/></sequence></complexType>
      <complexType name="ResidentBank">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="account" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="place" type="string"/>
          <element name="shortName" type="string"/>
          <element name="synchKey" type="string"/></sequence></complexType>
      <complexType name="DebtImpl">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/>
          <element name="fixed" type="soap11-enc:boolean"/>
          <element name="lastPayDate" type="dateTime"/>
          <element name="period" type="dateTime"/>
          <element name="rows" type="ns2:list"/></sequence></complexType></schema></types>
  <message name="PaymentRecipientGateService___forGenerateDebtRowImpl"/>
  <message name="PaymentRecipientGateService___forGenerateDebtRowImplResponse">
    <part name="result" type="tns:DebtRowImpl"/></message>
  <message name="PaymentRecipientGateService___forGenerateField"/>
  <message name="PaymentRecipientGateService___forGenerateFieldResponse">
    <part name="result" type="tns:Field"/></message>
  <message name="PaymentRecipientGateService___forGenerateFieldValidationRule"/>
  <message name="PaymentRecipientGateService___forGenerateFieldValidationRuleResponse">
    <part name="result" type="tns:FieldValidationRule"/></message>
  <message name="PaymentRecipientGateService___forGeneratedListValue"/>
  <message name="PaymentRecipientGateService___forGeneratedListValueResponse">
    <part name="result" type="tns:ListValue"/></message>
  <message name="PaymentRecipientGateService___forPair"/>
  <message name="PaymentRecipientGateService___forPairResponse">
    <part name="result" type="tns:Pair"/></message>
  <message name="PaymentRecipientGateService_getCardOwner">
    <part name="String_1" type="xsd:string"/>
    <part name="Billing_2" type="tns:Billing"/></message>
  <message name="PaymentRecipientGateService_getCardOwnerResponse">
    <part name="result" type="tns:Client"/></message>
  <message name="PaymentRecipientGateService_getPersonalRecipientFieldsValues">
    <part name="Recipient_1" type="tns:Recipient"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="PaymentRecipientGateService_getPersonalRecipientFieldsValuesResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="PaymentRecipientGateService_getPersonalRecipientList">
    <part name="String_1" type="xsd:string"/>
    <part name="Billing_2" type="tns:Billing"/></message>
  <message name="PaymentRecipientGateService_getPersonalRecipientListResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="PaymentRecipientGateService_getRecipient">
    <part name="String_1" type="xsd:string"/></message>
  <message name="PaymentRecipientGateService_getRecipientResponse">
    <part name="result" type="tns:Recipient"/></message>
  <message name="PaymentRecipientGateService_getRecipientFields">
    <part name="Recipient_1" type="tns:Recipient"/>
    <part name="List_2" type="ns2:list"/></message>
  <message name="PaymentRecipientGateService_getRecipientFieldsResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="PaymentRecipientGateService_getRecipientInfo">
    <part name="Recipient_1" type="tns:Recipient"/>
    <part name="List_2" type="ns2:list"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="PaymentRecipientGateService_getRecipientInfoResponse">
    <part name="result" type="tns:RecipientInfo"/></message>
  <message name="PaymentRecipientGateService_getRecipientKeyFields">
    <part name="Recipient_1" type="tns:Recipient"/></message>
  <message name="PaymentRecipientGateService_getRecipientKeyFieldsResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="PaymentRecipientGateService_getRecipientList">
    <part name="Billing_1" type="tns:Billing"/></message>
  <message name="PaymentRecipientGateService_getRecipientListResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="PaymentRecipientGateService_getRecipientList2">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="Billing_4" type="tns:Billing"/></message>
  <message name="PaymentRecipientGateService_getRecipientList2Response">
    <part name="result" type="ns2:list"/></message>
  <portType name="PaymentRecipientGateService">
    <operation name="__forGenerateDebtRowImpl">
      <input message="tns:PaymentRecipientGateService___forGenerateDebtRowImpl"/>
      <output message="tns:PaymentRecipientGateService___forGenerateDebtRowImplResponse"/></operation>
    <operation name="__forGenerateField">
      <input message="tns:PaymentRecipientGateService___forGenerateField"/>
      <output message="tns:PaymentRecipientGateService___forGenerateFieldResponse"/></operation>
    <operation name="__forGenerateFieldValidationRule">
      <input message="tns:PaymentRecipientGateService___forGenerateFieldValidationRule"/>
      <output message="tns:PaymentRecipientGateService___forGenerateFieldValidationRuleResponse"/></operation>
    <operation name="__forGeneratedListValue">
      <input message="tns:PaymentRecipientGateService___forGeneratedListValue"/>
      <output message="tns:PaymentRecipientGateService___forGeneratedListValueResponse"/></operation>
    <operation name="__forPair">
      <input message="tns:PaymentRecipientGateService___forPair"/>
      <output message="tns:PaymentRecipientGateService___forPairResponse"/></operation>
    <operation name="getCardOwner" parameterOrder="String_1 Billing_2">
      <input message="tns:PaymentRecipientGateService_getCardOwner"/>
      <output message="tns:PaymentRecipientGateService_getCardOwnerResponse"/></operation>
    <operation name="getPersonalRecipientFieldsValues" parameterOrder="Recipient_1 String_2">
      <input message="tns:PaymentRecipientGateService_getPersonalRecipientFieldsValues"/>
      <output message="tns:PaymentRecipientGateService_getPersonalRecipientFieldsValuesResponse"/></operation>
    <operation name="getPersonalRecipientList" parameterOrder="String_1 Billing_2">
      <input message="tns:PaymentRecipientGateService_getPersonalRecipientList"/>
      <output message="tns:PaymentRecipientGateService_getPersonalRecipientListResponse"/></operation>
    <operation name="getRecipient" parameterOrder="String_1">
      <input message="tns:PaymentRecipientGateService_getRecipient"/>
      <output message="tns:PaymentRecipientGateService_getRecipientResponse"/></operation>
    <operation name="getRecipientFields" parameterOrder="Recipient_1 List_2">
      <input message="tns:PaymentRecipientGateService_getRecipientFields"/>
      <output message="tns:PaymentRecipientGateService_getRecipientFieldsResponse"/></operation>
    <operation name="getRecipientInfo" parameterOrder="Recipient_1 List_2 String_3">
      <input message="tns:PaymentRecipientGateService_getRecipientInfo"/>
      <output message="tns:PaymentRecipientGateService_getRecipientInfoResponse"/></operation>
    <operation name="getRecipientKeyFields" parameterOrder="Recipient_1">
      <input message="tns:PaymentRecipientGateService_getRecipientKeyFields"/>
      <output message="tns:PaymentRecipientGateService_getRecipientKeyFieldsResponse"/></operation>
    <operation name="getRecipientList" parameterOrder="Billing_1">
      <input message="tns:PaymentRecipientGateService_getRecipientList"/>
      <output message="tns:PaymentRecipientGateService_getRecipientListResponse"/></operation>
    <operation name="getRecipientList2" parameterOrder="String_1 String_2 String_3 Billing_4">
      <input message="tns:PaymentRecipientGateService_getRecipientList2"/>
      <output message="tns:PaymentRecipientGateService_getRecipientList2Response"/></operation></portType>
  <binding name="PaymentRecipientGateServiceBinding" type="tns:PaymentRecipientGateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateDebtRowImpl">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateField">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateFieldValidationRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedListValue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="__forPair">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getCardOwner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getPersonalRecipientFieldsValues">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getPersonalRecipientList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRecipient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRecipientFields">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRecipientInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRecipientKeyFields">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRecipientList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="getRecipientList2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.systems.payments.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="PaymentRecipientGateServiceImpl">
    <port name="PaymentRecipientGateServicePort" binding="tns:PaymentRecipientGateServiceBinding">
      <soap:address location="http://localhost:8080/services/PaymentRecipientGateServiceImpl"/></port></service></definitions>
