e-r-i-b/WebGate/web/WEB-INF/RegistartionClientService_Server_Impl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="RegistartionClientService_Server_Impl" targetNamespace="http://generated.registration.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.registration.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.registration.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.registration.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="cancellationDate" type="dateTime"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="insertionDate" type="dateTime"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="managerOSB" type="string"/>
          <element name="managerTB" type="string"/>
          <element name="managerVSP" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="state" type="tns:ClientState"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType>
      <complexType name="CancelationCallBackImpl">
        <sequence>
          <element name="id" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="name" type="string"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="User">
        <sequence>
          <element name="category" type="string"/></sequence></complexType></schema></types>
  <message name="RegistartionClientService_PortType_cancellation">
    <part name="Client_1" type="tns:Client"/>
    <part name="String_2" type="xsd:string"/>
    <part name="Calendar_3" type="xsd:dateTime"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="RegistartionClientService_PortType_cancellationResponse">
    <part name="result" type="tns:CancelationCallBackImpl"/></message>
  <message name="RegistartionClientService_PortType_register">
    <part name="Office_1" type="tns:Office"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="RegistartionClientService_PortType_registerResponse"/>
  <message name="RegistartionClientService_PortType_update">
    <part name="Client_1" type="tns:Client"/>
    <part name="Calendar_2" type="xsd:dateTime"/>
    <part name="boolean_3" type="xsd:boolean"/>
    <part name="User_4" type="tns:User"/></message>
  <message name="RegistartionClientService_PortType_updateResponse"/>
  <message name="RegistartionClientService_PortType_update2">
    <part name="Office_1" type="tns:Office"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="RegistartionClientService_PortType_update2Response"/>
  <portType name="RegistartionClientService_PortType">
    <operation name="cancellation" parameterOrder="Client_1 String_2 Calendar_3 String_4 String_5">
      <input message="tns:RegistartionClientService_PortType_cancellation"/>
      <output message="tns:RegistartionClientService_PortType_cancellationResponse"/></operation>
    <operation name="register" parameterOrder="Office_1 String_2">
      <input message="tns:RegistartionClientService_PortType_register"/>
      <output message="tns:RegistartionClientService_PortType_registerResponse"/></operation>
    <operation name="update" parameterOrder="Client_1 Calendar_2 boolean_3 User_4">
      <input message="tns:RegistartionClientService_PortType_update"/>
      <output message="tns:RegistartionClientService_PortType_updateResponse"/></operation>
    <operation name="update2" parameterOrder="Office_1 String_2">
      <input message="tns:RegistartionClientService_PortType_update2"/>
      <output message="tns:RegistartionClientService_PortType_update2Response"/></operation></portType>
  <binding name="RegistartionClientService_PortTypeBinding" type="tns:RegistartionClientService_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="cancellation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="update2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.registration.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="RegistartionClientService_Server_Impl">
    <port name="RegistartionClientService_PortTypePort" binding="tns:RegistartionClientService_PortTypeBinding">
      <soap:address location="http://localhost:8080/services/RegistartionClientService_Server_Impl"/></port></service></definitions>