e-r-i-b/WebGate/web/WEB-INF/RunGateMonitoringServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="RunGateMonitoringServiceImpl" targetNamespace="http://generated.monitoring.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.monitoring.services.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.monitoring.services.gate.web.phizic.rssl.com" xmlns:tns="http://generated.monitoring.services.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="MonitoringStateParameters">
        <sequence>
          <element name="monitoringState" type="string"/>
          <element name="timeout" type="soap11-enc:int"/>
          <element name="useMonitoring" type="soap11-enc:boolean"/></sequence></complexType>
      <complexType name="MonitoringParameters">
        <sequence>
          <element name="allStateConfig" type="ns2:list"/>
          <element name="serviceName" type="string"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.monitoring.services.gate.web.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema></types>
  <message name="RunGateMonitoringService___forGenerateMonitoringStateParameters"/>
  <message name="RunGateMonitoringService___forGenerateMonitoringStateParametersResponse">
    <part name="result" type="tns:MonitoringStateParameters"/></message>
  <message name="RunGateMonitoringService_run">
    <part name="MonitoringParameters_1" type="tns:MonitoringParameters"/></message>
  <message name="RunGateMonitoringService_runResponse"/>
  <portType name="RunGateMonitoringService">
    <operation name="__forGenerateMonitoringStateParameters">
      <input message="tns:RunGateMonitoringService___forGenerateMonitoringStateParameters"/>
      <output message="tns:RunGateMonitoringService___forGenerateMonitoringStateParametersResponse"/></operation>
    <operation name="run" parameterOrder="MonitoringParameters_1">
      <input message="tns:RunGateMonitoringService_run"/>
      <output message="tns:RunGateMonitoringService_runResponse"/></operation></portType>
  <binding name="RunGateMonitoringServiceBinding" type="tns:RunGateMonitoringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateMonitoringStateParameters">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.monitoring.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.monitoring.services.gate.web.phizic.rssl.com"/></output></operation>
    <operation name="run">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.monitoring.services.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.monitoring.services.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="RunGateMonitoringServiceImpl">
    <port name="RunGateMonitoringServicePort" binding="tns:RunGateMonitoringServiceBinding">
      <soap:address location="http://localhost:8080/services/RunGateMonitoringServiceImpl"/></port></service></definitions>
