e-r-i-b/WebGate/web/WEB-INF/TestJaxRpcServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="TestJaxRpcServiceImpl" targetNamespace="http://generated.test.gate.web.phizic.rssl.com" xmlns:tns="http://generated.test.gate.web.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.test.gate.web.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema>
    <schema targetNamespace="http://generated.test.gate.web.phizic.rssl.com" xmlns:tns="http://generated.test.gate.web.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Card">
        <sequence>
          <element name="additionalCardType" type="string"/>
          <element name="availableLimit" type="tns:Money"/>
          <element name="cardBonusSign" type="string"/>
          <element name="cardLevel" type="string"/>
          <element name="cardState" type="string"/>
          <element name="cardType" type="string"/>
          <element name="clientId" type="string"/>
          <element name="contractNumber" type="string"/>
          <element name="currency" type="tns:Currency"/>
          <element name="description" type="string"/>
          <element name="displayedExpireDate" type="string"/>
          <element name="emailAddress" type="string"/>
          <element name="expireDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="issueDate" type="dateTime"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="main" type="boolean"/>
          <element name="mainCardNumber" type="string"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="primaryAccountExternalId" type="string"/>
          <element name="primaryAccountNumber" type="string"/>
          <element name="reportDeliveryLanguage" type="string"/>
          <element name="reportDeliveryType" type="string"/>
          <element name="statusDescription" type="string"/>
          <element name="subkind" type="soap11-enc:long"/>
          <element name="type" type="string"/>
          <element name="useReportDelivery" type="boolean"/>
          <element name="virtual" type="boolean"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="cancellationDate" type="dateTime"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="insertionDate" type="dateTime"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="state" type="tns:ClientState"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType></schema></types>
  <message name="TestJaxRpcService_testCardToClient">
    <part name="Card_1" type="tns:Card"/></message>
  <message name="TestJaxRpcService_testCardToClientResponse">
    <part name="result" type="tns:Client"/></message>
  <portType name="TestJaxRpcService">
    <operation name="testCardToClient" parameterOrder="Card_1">
      <input message="tns:TestJaxRpcService_testCardToClient"/>
      <output message="tns:TestJaxRpcService_testCardToClientResponse"/></operation></portType>
  <binding name="TestJaxRpcServiceBinding" type="tns:TestJaxRpcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="testCardToClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.test.gate.web.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.test.gate.web.phizic.rssl.com"/></output></operation></binding>
  <service name="TestJaxRpcServiceImpl">
    <port name="TestJaxRpcServicePort" binding="tns:TestJaxRpcServiceBinding">
      <soap:address location="http://localhost:8080/services/TestJaxRpcServiceImpl"/></port></service></definitions>
