e-r-i-b/Settings/schemas/considerReceptionTimePaymentTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="considerReceptionTimePaymentTypes" type="considerReceptionTimePaymentTypesType"/>
  <xs:complexType name="considerReceptionTimePaymentTypesType">
    <xs:sequence>
      <xs:element type="paymentType" name="payment" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentType">
    <xs:sequence>
      <xs:element type="xs:string" name="paymentTypeName"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>