e-r-i-b/Settings/schemas/errorMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="error-messages">
		  <xsd:complexType>
			  <xsd:sequence minOccurs="0">
				  <xsd:element name="error-message" maxOccurs="unbounded">
					  <xsd:complexType>
						<xsd:sequence>
							<xsd:element name="reg-exp" type="xsd:string"/>
							<xsd:element name="error-type" type="xsd:string"/>
							<xsd:element name="system" type="xsd:string"/>
							<xsd:element name="ikfl-message" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				  </xsd:element>
			  </xsd:sequence>
		  </xsd:complexType>
	</xsd:element>
</xsd:schema>