e-r-i-b/ShopCommon/src/com/rssl/phizic/shoplistener/shop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://generated.shoplistener.phizic.rssl.com" xmlns:sb="http://generated.shoplistener.phizic.rssl.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShopWService" targetNamespace="http://generated.shoplistener.phizic.rssl.com">

	<wsdl:types>
        <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://generated.shoplistener.phizic.rssl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="shop.xsd"/>
        </xsd:schema>
    </wsdl:types>
	<wsdl:message name="DocRegRqMsg">
		<wsdl:part element="ns:DocRegRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DocRegRsMsg">
		<wsdl:part element="ns:DocRegRs" name="result"/>
	</wsdl:message>
    <wsdl:message name="DocFlightsInfoRqMsg">
   		<wsdl:part element="ns:DocFlightsInfoRq" name="parameters"/>
   	</wsdl:message>
   	<wsdl:message name="DocFlightsInfoRsMsg">
   		<wsdl:part element="ns:DocFlightsInfoRs" name="result"/>
   	</wsdl:message>
    <wsdl:message name="GoodsReturnRqMsg">
        <wsdl:part element="ns:GoodsReturnRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GoodsReturnRsMsg">
        <wsdl:part element="ns:GoodsReturnRs" name="result"/>
    </wsdl:message>
    <wsdl:message name="DocRollbackRqMsg">
        <wsdl:part element="ns:DocRollbackRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DocRollbackRsMsg">
        <wsdl:part element="ns:DocRollbackRs" name="result"/>
    </wsdl:message>
	<wsdl:message name="ClientCheckRqMsg">
        <wsdl:part element="ns:ClientCheckRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ClientCheckRsMsg">
        <wsdl:part element="ns:ClientCheckRs" name="result"/>
    </wsdl:message>
	<wsdl:portType name="DocRegService">
		<wsdl:operation name="docReg">
			<wsdl:input message="ns:DocRegRqMsg"/>
			<wsdl:output message="ns:DocRegRsMsg"/>
		</wsdl:operation>
        <wsdl:operation name="docFlightsInfo">
            <wsdl:input message="ns:DocFlightsInfoRqMsg"/>
            <wsdl:output message="ns:DocFlightsInfoRsMsg"/>
        </wsdl:operation>
        <wsdl:operation name="goodsReturn">
            <wsdl:input message="ns:GoodsReturnRqMsg"/>
            <wsdl:output message="ns:GoodsReturnRsMsg"/>
        </wsdl:operation>
        <wsdl:operation name="docRollback">
            <wsdl:input message="ns:DocRollbackRqMsg"/>
            <wsdl:output message="ns:DocRollbackRsMsg"/>
        </wsdl:operation>
        <wsdl:operation name="clientCheck">
            <wsdl:input message="ns:ClientCheckRqMsg"/>
            <wsdl:output message="ns:ClientCheckRsMsg"/>
        </wsdl:operation>
   	</wsdl:portType>
    <wsdl:binding name="DocRegServiceSoapBinding" type="ns:DocRegService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="docReg">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="docFlightsInfo">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="goodsReturn">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="docRollback">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clientCheck">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="DocRegServiceImpl">
		<wsdl:port binding="ns:DocRegServiceSoapBinding" name="DocRegServicePort">
			<soap:address location="http://localhost:8080/services/DocRegServiceImpl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>