e-r-i-b/WSGateListener/src/com/rssl/phizic/wsgate/notifications/generated/NotificationHandler_Server_Impl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="NotificationHandler_Server_Impl" targetNamespace="http://generated.notifications.wsgate.phizic.rssl.com" xmlns:tns="http://generated.notifications.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="Notification">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="applicationKey" type="string"/>
          <element name="applicationKind" type="soap11-enc:long"/>
          <element name="currentRest" type="soap11-enc:double"/>
          <element name="dateCreated" type="dateTime"/>
          <element name="documentId" type="string"/>
          <element name="error" type="string"/>
          <element name="gstatus" type="string"/>
          <element name="id" type="long"/>
          <element name="minRest" type="soap11-enc:double"/>
          <element name="newRest" type="soap11-enc:double"/>
          <element name="notificationObjectType" type="int"/>
          <element name="objectNumber" type="string"/>
          <element name="objectType" type="int"/>
          <element name="oldRest" type="soap11-enc:double"/>
          <element name="rest" type="soap11-enc:double"/>
          <element name="transactionSum" type="soap11-enc:double"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema></types>
  <message name="NotificationHandler_handle">
    <part name="List_1" type="ns2:list"/></message>
  <message name="NotificationHandler_handleResponse"/>
  <portType name="NotificationHandler">
    <operation name="handle" parameterOrder="List_1">
      <input message="tns:NotificationHandler_handle"/>
      <output message="tns:NotificationHandler_handleResponse"/></operation></portType>
  <binding name="NotificationHandlerBinding" type="tns:NotificationHandler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="handle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.notifications.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.notifications.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="NotificationHandler_Server_Impl">
    <port name="NotificationHandlerPort" binding="tns:NotificationHandlerBinding">
      <soap:address location="http://localhost:8080/services/NotificationHandler_Server_Impl"/></port></service></definitions>
