e-r-i-b/ESBERIBListener/src/com/rssl/phizic/ws/esberiblistener/esberib/xml/esberib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by user (company) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

     <xsd:element name="DoIFXRq" type="IFXRq_Type">
		<xsd:annotation>
			<xsd:documentation>Формат данных для входящих сообщений-запросов</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DoIFXRs" type="IFXRs_Type">
		<xsd:annotation>
			<xsd:documentation>Формат данных для исходящих сообщений-ответов</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:complexType name="IFXRq_Type">
		<xsd:annotation>
			<xsd:documentation>Список типов данных сообщений для выполнения запросов</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="DocStateUpdateRq"/>
                <xsd:element ref="SecDicInfoRq"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:element name="DocStateUpdateRq" type="DocStateUpdateRq_Type">
		<xsd:annotation>
			<xsd:documentation>Запрос на оповещение об изменении статуса подписки</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:element name="SecDicInfoRq" type="SecDicInfoRq_Type">
		<xsd:annotation>
			<xsd:documentation>Формат сообщения для приема информации об изменении справочника ценных бумаг</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:complexType name="IFXRs_Type">
		<xsd:annotation>
			<xsd:documentation>Список типов данных ответных сообщений на выполненные запросы</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="DocStateUpdateRs"/>
                <xsd:element ref="SecDicInfoRs"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:element name="DocStateUpdateRs" type="DocStateUpdateRs_Type">
		<xsd:annotation>
			<xsd:documentation>Ответ на запрос на оповещение об изменении статуса подписки</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:element name="SecDicInfoRs" type="SecDicInfoRs_Type">
		<xsd:annotation>
			<xsd:documentation>Формат ответа на сообщение для приема информации об изменении справочника ценных бумаг</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:complexType name="DocStateUpdateRq_Type">
		<xsd:sequence>
			<xsd:element ref="RqUID"/>
			<xsd:element ref="RqTm"/>
			<xsd:element ref="OperUID" minOccurs="0"/>
			<xsd:element ref="SPName"/>
			<xsd:element name="Document" type="Document_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocStateUpdateRs_Type">
		<xsd:sequence>
			<xsd:element ref="RqUID"/>
			<xsd:element ref="RqTm"/>
			<xsd:element ref="OperUID" minOccurs="0"/>
			<xsd:element name="Document" type="Document_Type" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Информация об обновлении статуса документ на стороне получателя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="SecDicInfoRq_Type">
		<xsd:sequence>
			<xsd:element name="RqUID"    type="RqUID_Type"/>
			<xsd:element name="RqTm"     type="DateTime"/>
			<xsd:element name="OperUID"  type="OperUID_Type"/>
			<xsd:element name="SPName"   type="SPName_Type"/>
			<xsd:element name="DictRec"  type="DictRec_Type" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="SecDicInfoRs_Type">
		<xsd:sequence>
			<xsd:element name="RqUID"    type="RqUID_Type"/>
			<xsd:element name="RqTm"     type="DateTime"/>
			<xsd:element name="OperUID"  type="OperUID_Type"/>
            <xsd:element name="Status"    type="Status_Type"/>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="DictRec_Type">
		<xsd:sequence>
			<xsd:element name="Issuer"          type="Issuer_Type"/>
			<xsd:element name="SecurityName"    type="SecurityName_Type"/>
            <xsd:element name="SecurityNumber"  type="SecurityNumber_Type" minOccurs="0"/>
            <xsd:element name="SecurityType"    type="SecurityType_Type"/>
            <xsd:element name="SecurityNominal" type="Decimal" minOccurs="0"/>
            <xsd:element name="SecurityNominalCur" type="CurrencyCodeType" minOccurs="0"/>
            <xsd:element name="InsideCode"      type="InsideCode_Type"/>
            <xsd:element name="IsDelete"        type="Boolean"/>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="AutoSubscriptionId_Type">
		<xsd:annotation>
			<xsd:documentation>Тип Идентификационная информация о подписке.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
            <xsd:element name="SystemId" type="SystemId_Type">
				<xsd:annotation>
                    <xsd:documentation>Идентификатор системы</xsd:documentation>
                </xsd:annotation>
			</xsd:element>
			<xsd:element name="AutopayId" type="Long">
				<xsd:annotation>
					<xsd:documentation>Идентификатор подписки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:simpleType name="SystemId_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="Issuer_Type">
		<xsd:annotation>
			<xsd:documentation>Эмитент. Текст на русском языке готовый для отображению пользователю.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="SecurityName_Type">
		<xsd:annotation>
			<xsd:documentation>Наименование ценной бумаги. Текст на русском языке готовый для отображения пользователю.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="SecurityNumber_Type">
		<xsd:annotation>
			<xsd:documentation>Регистрационный номер ценной бумаги.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="SecurityType_Type">
		<xsd:annotation>
			<xsd:documentation>Тип ценной бумаги. Текст на русском языке готовый для отображения пользователю.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="Decimal">
		<xsd:annotation>
			<xsd:documentation>Тип данных для представления сумм</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
    <xsd:simpleType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>Буквенный iso-код валюты или металла. Для рубля необходимо использовать код RUB.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="InsideCode_Type">
		<xsd:annotation>
			<xsd:documentation>Депозитарный  код выпуска ценной бумаги (партии неэмисионной ЦБ).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="Boolean">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
    <xsd:complexType name="Document_Type">
		<xsd:annotation>
			<xsd:documentation>Тип документа</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
            <xsd:element name="AutoSubscriptionId" type="AutoSubscriptionId_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификационная информация о подписке</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocNumber">
				<xsd:annotation>
					<xsd:documentation>Номер документа, по которому поменялся статус</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element ref="BankInfo"/>
			<xsd:element ref="Status"/>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:element name="RqUID" type="RqUID_Type">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="RqUID_Type">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UUID"/>
	</xsd:simpleType>
    <xsd:simpleType name="UUID">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:pattern value="[0-9a-zA-Z]{32}"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="String">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
    <xsd:element name="RqTm" type="DateTime">
		<xsd:annotation>
			<xsd:documentation>Дата и время передачи сообщения</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="DateTime">
		<xsd:annotation>
			<xsd:documentation>Тип данных для представления дат</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
    <xsd:element name="OperUID" type="OperUID_Type">
		<xsd:annotation>
			<xsd:documentation>Идентификатор операции</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="OperUID_Type">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UUID"/>
	</xsd:simpleType>
    <xsd:element name="SPName" type="SPName_Type">
		<xsd:annotation>
			<xsd:documentation>Идентификатор системы, предоставляющей услуги (провайдер сервиса)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="SPName_Type">
		<xsd:annotation>
			<xsd:documentation>Провайдер услуг(название системы, которая предоставляет услугу или запрашивает)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BP_ES">
				<xsd:annotation>
					<xsd:documentation>Устройство самообслуживания (СмартВиста)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_VSP">
				<xsd:annotation>
					<xsd:documentation>АС ВСП</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_ERIB">
				<xsd:annotation>
					<xsd:documentation>АС ЕРИБ для Базового продукта</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_COD">
				<xsd:annotation>
					<xsd:documentation>АС ЦОД</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_ESK">
				<xsd:annotation>
					<xsd:documentation>АС ЭСК</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_IASK">
				<xsd:annotation>
					<xsd:documentation>АС ИАСК</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP_WAY">
				<xsd:annotation>
					<xsd:documentation>АС WAY4U</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
            <xsd:enumeration value="BP_DEPO">
				<xsd:annotation>
					<xsd:documentation>АС DEPO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="urn:sbrfsystems:99-autopay"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="C">
		<xsd:annotation>
			<xsd:documentation>Базовый символьный тип, элемент данного типа может содержать количество символов до определенного максимума</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
    <xsd:element name="BankInfo" type="BankInfo_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о банке</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:complexType name="BankInfo_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о банке &lt;BankInfo&gt;</xsd:documentation>
			<xsd:documentation>Этот агрегат содержит дополнительную информацию для идентификации банка.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BranchId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер филиала.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AgencyId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер отделения.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RegionId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер террбанка.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RbTbBrchId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>8-ный код территориального банка, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RbBrchId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>6-ный код территориального банка, в котором ведется продукт клиента (кредит, вклад, ОМС, карты)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:element name="BranchId" type="BranchId_Type">
		<xsd:annotation>
			<xsd:documentation>Номер филиала</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="BranchId_Type">
		<xsd:annotation>
			<xsd:documentation>Номер филиала, в котором открыт или ведется продукт. Без лидирующих нулей.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:element name="AgencyId" type="AgencyId_Type">
		<xsd:annotation>
			<xsd:documentation>Номер отделения(ОСБ)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="AgencyId_Type">
		<xsd:annotation>
			<xsd:documentation>Номер отделения, в котором открыт или ведется продукт. С лидирующими нулями.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:element name="RegionId" type="RegionId_Type">
		<xsd:annotation>
			<xsd:documentation>Региональный код банка</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="RegionId_Type">
		<xsd:annotation>
			<xsd:documentation>Код региона банка</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:element name="RbTbBrchId" type="RbTbBrchType">
		<xsd:annotation>
			<xsd:documentation>8-значный код ТБ</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="RbTbBrchType">
		<xsd:annotation>
			<xsd:documentation>Тип данных для 8-значного кода территориального банка. Используется для передачи кода ТБ, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:length value="8"/>
			<xsd:pattern value="[0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:element name="RbBrchId" type="RbBrchType">
		<xsd:annotation>
			<xsd:documentation>6-значный код ТБ</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:simpleType name="RbBrchType">
		<xsd:annotation>
			<xsd:documentation>Тип данных для 6-значного кода территориального банка. Используется для передачи кода ТБ, в котором обслуживается продукт клиента</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:length value="6"/>
			<xsd:pattern value="[0-9]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:element name="Status" type="Status_Type">
		<xsd:annotation>
			<xsd:documentation>Статусное сообщение (результат выполнения операции)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:complexType name="Status_Type">
		<xsd:annotation>
			<xsd:documentation>Статус ответа &lt;Status&gt;. Агрегат &lt;Status&gt; используется для возврата статуса сообщения. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="StatusCode">
				<xsd:annotation>
					<xsd:documentation>Статусный код возврата.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="StatusDesc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Описание статуса.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element ref="StatusType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Тип ошибки.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element ref="ServerStatusDesc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Описание статуса системы источника</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:element name="StatusCode" type="StatusCode_Type"/>
	<xsd:element name="StatusDesc" type="StatusDesc_Type"/>
    <xsd:element name="StatusType" type="StatusType_Type"/>
    <xsd:element name="ServerStatusDesc" type="ServerStatusDesc_Type"/>
    <xsd:simpleType name="StatusCode_Type">
		<xsd:annotation>
			<xsd:documentation>Код ответа. Если все хорошо, то значение равно 0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Long"/>
	</xsd:simpleType>
    <xsd:simpleType name="StatusDesc_Type">
		<xsd:annotation>
			<xsd:documentation>Описание ответа - причина ошибки (заполняется только при значении StatusCode, отличном от 0.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="StatusType_Type">
        <xsd:annotation>
            <xsd:documentation>Описание ответа - тип ошибки (заполняется только при значении StatusCode, отличном от 0.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="String">
            <xsd:maxLength value="22"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ServerStatusDesc_Type">
		<xsd:annotation>
			<xsd:documentation>Исходное описание ошибки из внешней системы (заполняется только при значении StatusCode, отличном от 0.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="String"/>
	</xsd:simpleType>
    <xsd:simpleType name="Long">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>

</xsd:schema>