e-r-i-b/CPFLGate/src/com/rssl/phizicgate/cpfl/messaging/generated/jaxrpc/CommunalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CommunalService" targetNamespace="http://services.nplat.filial.ubs.ca.sbrf.ru/CommunalService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.nplat.filial.ubs.ca.sbrf.ru/CommunalService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.nplat.filial.ubs.ca.sbrf.ru/CommunalService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="sendResponse" type="xsd:string"/>

			<xsd:element name="sendRequest" type="xsd:string"/>

		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendMessageResponse">
    <wsdl:part element="tns:sendResponse" name="sendMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="sendMessageRequest">
    <wsdl:part element="tns:sendRequest" name="sendMessageRequest"/>
  </wsdl:message>
  <wsdl:portType name="CommunalServicePT">
    <wsdl:operation name="sendMessage">
      <wsdl:input message="tns:sendMessageRequest"/>
      <wsdl:output message="tns:sendMessageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommunalServiceBinding" type="tns:CommunalServicePT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunalServiceService">
    <wsdl:port binding="tns:CommunalServiceBinding" name="CommunalServicePort">
      <soap:address location="http://10.73.28.80:9080/NplatService_Web/services/CommunalServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>