e-r-i-b/IQWaveGate/src/com/rssl/phizicgate/iqwave/messaging/jaxrpc/generated/IQWave4EskService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
        name="IQWave4EskService"
        targetNamespace="http://www.iqex.ru/sbol"
        xmlns:tns="http://www.iqex.ru/sbol"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
      <xsd:schema targetNamespace="http://www.iqex.ru/sbol">
        <xsd:element name="XmlInputString" type="xsd:string"/>
        <xsd:element name="XmlOutputString" type="xsd:string"/>
      </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getXMLmessageRequest">
      <wsdl:part element="tns:XmlInputString" name="request"/>
    </wsdl:message>
    <wsdl:message name="getXMLmessageResponse">
      <wsdl:part element="tns:XmlOutputString" name="response"/>
    </wsdl:message>
    <wsdl:portType name="IQWave4EskProtType">
      <wsdl:operation name="getXMLmessage">
        <wsdl:input message="tns:getXMLmessageRequest"/>
        <wsdl:output message="tns:getXMLmessageResponse"/>
      </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IQWave4EskSoapBinding" type="tns:IQWave4EskProtType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getXMLmessage">
        <soap:operation soapAction="http://www.iqex.ru/sbol/getXMLmessage"/>
        <wsdl:input>
          <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
          <soap:body use="literal"/>
        </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IQWave4EskService">
      <wsdl:port binding="tns:IQWave4EskSoapBinding" name="IQWave4Esk">
        <soap:address location="http://iqex.ru/iqwave4esk"/>
      </wsdl:port>
    </wsdl:service>
 </wsdl:definitions>



