e-r-i-b/BARSGate/src/com/rssl/phizicgate/bars/ws/jaxrpc/XsbCheckNamesService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://checkNames.xsb.webservices.bars.sbrf" xmlns:checks="http://checks.xsb.webservices.bars.sbrf" xmlns:common="http://common.xsb.webservices.bars.sbrf" xmlns:impl="http://checkNames.xsb.webservices.bars.sbrf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<wsdl:types>
<schema targetNamespace="http://checkNames.xsb.webservices.bars.sbrf" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://checks.xsb.webservices.bars.sbrf" />
  <import namespace="http://common.xsb.webservices.bars.sbrf" />
<element name="checkRemoteClientNameResponse">
<complexType>
<sequence>
  <element name="checkRemoteClientNameReturn" nillable="true" type="checks:XsbChecksReturn" />
  </sequence>
  </complexType>
  </element>
<element name="readRemoteClientName">
<complexType>
<sequence>
  <element name="xsbDocument" nillable="true" type="xsd:string" />
  <element name="parameters" nillable="true" type="common:ArrayOfXsbParameter" />
  </sequence>
  </complexType>
  </element>
<element name="readRemoteClientNameExtended">
<complexType>
<sequence>
  <element name="xsbDocument" nillable="true" type="xsd:string" />
  <element name="parameters" nillable="true" type="common:ArrayOfXsbParameter" />
  </sequence>
  </complexType>
  </element>
<element name="readRemoteClientNameResponse">
<complexType>
<sequence>
  <element name="readRemoteClientNameReturn" nillable="true" type="impl:XsbRemoteClientNameReturn" />
  </sequence>
  </complexType>
  </element>
<element name="readRemoteClientNameExtendedResponse">
<complexType>
<sequence>
  <element name="readRemoteClientNameExtendedReturn" nillable="true" type="impl:XsbRemoteClientNameExtendedReturn" />
  </sequence>
  </complexType>
  </element>
<element name="checkRemoteClientName">
<complexType>
<sequence>
  <element name="xsbDocument" nillable="true" type="xsd:string" />
  <element name="parameters" nillable="true" type="common:ArrayOfXsbParameter" />
  </sequence>
  </complexType>
  </element>
<complexType name="XsbRemoteClientNameReturn">
<complexContent>
<extension base="common:XsbReturn">
<sequence>
  <element name="documents" nillable="true" type="impl:ArrayOfXsbRemoteClientNameResult" />
  </sequence>
  </extension>
  </complexContent>
  </complexType>
<complexType name="XsbRemoteClientNameResult">
<complexContent>
<extension base="common:XsbDocResults">
<sequence>
  <element name="DOldNameBeg" nillable="true" type="xsd:anyType" />
  <element name="DOldNameEnd" nillable="true" type="xsd:anyType" />
  <element name="SFName" nillable="true" type="xsd:string" />
  <element name="SFNameOld" nillable="true" type="xsd:string" />
  <element name="SInn" nillable="true" type="xsd:string" />
  <element name="SSName" nillable="true" type="xsd:string" />
  <element name="SSNameOld" nillable="true" type="xsd:string" />
  </sequence>
  </extension>
  </complexContent>
  </complexType>
<complexType name="ArrayOfXsbRemoteClientNameResult">
<sequence>
  <element maxOccurs="unbounded" minOccurs="0" name="XsbRemoteClientNameResult" nillable="true" type="impl:XsbRemoteClientNameResult" />
  </sequence>
  </complexType>
<complexType name="XsbRemoteClientNameExtendedReturn">
<complexContent>
<extension base="common:XsbReturn">
<sequence>
  <element name="documents" nillable="true" type="impl:ArrayOfXsbRemoteClientNameExtendedResult" />
  </sequence>
  </extension>
  </complexContent>
  </complexType>
<complexType name="XsbRemoteClientNameExtendedResult">
<complexContent>
<extension base="common:XsbDocResults">
<sequence>
  <element name="DOldNameBeg" nillable="true" type="xsd:anyType" />
  <element name="DOldNameEnd" nillable="true" type="xsd:anyType" />
  <element name="SFName" nillable="true" type="xsd:string" />
  <element name="SFNameOld" nillable="true" type="xsd:string" />
  <element name="SInn" nillable="true" type="xsd:string" />
  <element name="SSName" nillable="true" type="xsd:string" />
  <element name="SSNameOld" nillable="true" type="xsd:string" />
  <element name="SNumRegister" nillable="true" type="xsd:string" />
  <element name="DDateRegister" nillable="true" type="xsd:anyType" />
  <element name="SOkpo" nillable="true" type="xsd:string" />
  <element name="SAddressRegister" nillable="true" type="xsd:string" />
  <element name="SCountry" nillable="true" type="xsd:string" />
  <element name="SIndex" nillable="true" type="xsd:string" />
  <element name="SStreet" nillable="true" type="xsd:string" />
  <element name="SHouse" nillable="true" type="xsd:string" />
  <element name="SCorps" nillable="true" type="xsd:string" />
  <element name="SBuilding" nillable="true" type="xsd:string" />
  <element name="SFlat" nillable="true" type="xsd:string" />
  <element name="SOffice" nillable="true" type="xsd:string" />
  <element name="SStreetE" nillable="true" type="xsd:string" />
  <element name="SCity" nillable="true" type="xsd:string" />
  <element name="SRegion" nillable="true" type="xsd:string" />
  <element name="SAdrType" nillable="true" type="xsd:string" />
  <element name="SAdrTypeName" nillable="true" type="xsd:string" />
  </sequence>
  </extension>
  </complexContent>
  </complexType>
<complexType name="ArrayOfXsbRemoteClientNameExtendedResult">
<sequence>
  <element maxOccurs="unbounded" minOccurs="0" name="XsbRemoteClientNameExtendedResult" nillable="true" type="impl:XsbRemoteClientNameExtendedResult" />
  </sequence>
  </complexType>
  </schema>
<schema targetNamespace="http://common.xsb.webservices.bars.sbrf" xmlns="http://www.w3.org/2001/XMLSchema">
<complexType name="XsbParameter">
<sequence>
  <element name="name" nillable="true" type="xsd:string" />
  <element name="value" nillable="true" type="xsd:string" />
  </sequence>
  </complexType>
<complexType name="ArrayOfXsbParameter">
<sequence>
  <element maxOccurs="unbounded" minOccurs="0" name="XsbParameter" nillable="true" type="common:XsbParameter" />
  </sequence>
  </complexType>
<complexType abstract="true" name="XsbReturn">
<sequence>
  <element name="exceptionItems" nillable="true" type="common:ArrayOfXsbExceptionItem" />
  </sequence>
  </complexType>
<complexType name="XsbExceptionItem">
<sequence>
  <element name="excMessage" nillable="true" type="xsd:string" />
  <element name="excName" nillable="true" type="xsd:string" />
  </sequence>
  </complexType>
<complexType name="ArrayOfXsbExceptionItem">
<sequence>
  <element maxOccurs="unbounded" minOccurs="0" name="XsbExceptionItem" nillable="true" type="common:XsbExceptionItem" />
  </sequence>
  </complexType>
<complexType abstract="true" name="XsbDocResults">
<sequence>
  <element name="docID" nillable="true" type="common:XsbDocID" />
  <element name="exceptionItems" nillable="true" type="common:ArrayOfXsbExceptionItem" />
  </sequence>
  </complexType>
<complexType name="XsbDocID">
<sequence>
  <element name="date" nillable="true" type="xsd:dateTime" />
  <element name="docSubType" nillable="true" type="xsd:string" />
  <element name="docType" nillable="true" type="xsd:string" />
  <element name="number" type="xsd:int" />
  <element name="originator" nillable="true" type="xsd:string" />
  </sequence>
  </complexType>
<complexType name="XsbResult">
<sequence>
  <element name="errorId" type="xsd:int" />
  <element name="fullMsg" nillable="true" type="xsd:string" />
  <element name="status" type="xsd:int" />
  <element name="refType" nillable="true" type="xsd:string" />
  <element name="procCode" type="xsd:int" />
  <element name="priority" type="xsd:int" />
  </sequence>
  </complexType>
<complexType name="ArrayOfXsbResult">
<sequence>
  <element maxOccurs="unbounded" minOccurs="0" name="XsbResult" nillable="true" type="common:XsbResult" />
  </sequence>
  </complexType>
  </schema>
<schema targetNamespace="http://checks.xsb.webservices.bars.sbrf" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://common.xsb.webservices.bars.sbrf" />
<complexType name="XsbChecksReturn">
<complexContent>
<extension base="common:XsbReturn">
<sequence>
  <element name="documents" nillable="true" type="checks:ArrayOfXsbChecksDocResults" />
  </sequence>
  </extension>
  </complexContent>
  </complexType>
<complexType name="XsbChecksDocResults">
<complexContent>
<extension base="common:XsbDocResults">
<sequence>
  <element name="checks" nillable="true" type="common:ArrayOfXsbResult" />
  </sequence>
  </extension>
  </complexContent>
  </complexType>
<complexType name="ArrayOfXsbChecksDocResults">
<sequence>
  <element maxOccurs="unbounded" minOccurs="0" name="XsbChecksDocResults" nillable="true" type="checks:XsbChecksDocResults" />
  </sequence>
  </complexType>
  </schema>
  </wsdl:types>
<wsdl:message name="readRemoteClientNameExtendedResponse">
  <wsdl:part element="impl:readRemoteClientNameExtendedResponse" name="parameters" />
  </wsdl:message>
<wsdl:message name="readRemoteClientNameResponse">
  <wsdl:part element="impl:readRemoteClientNameResponse" name="parameters" />
  </wsdl:message>
<wsdl:message name="checkRemoteClientNameResponse">
  <wsdl:part element="impl:checkRemoteClientNameResponse" name="parameters" />
  </wsdl:message>
<wsdl:message name="readRemoteClientNameRequest">
  <wsdl:part element="impl:readRemoteClientName" name="parameters" />
  </wsdl:message>
<wsdl:message name="checkRemoteClientNameRequest">
  <wsdl:part element="impl:checkRemoteClientName" name="parameters" />
  </wsdl:message>
<wsdl:message name="readRemoteClientNameExtendedRequest">
  <wsdl:part element="impl:readRemoteClientNameExtended" name="parameters" />
  </wsdl:message>
<wsdl:portType name="XsbCheckNames">
<wsdl:operation name="checkRemoteClientName">
  <wsdl:input message="impl:checkRemoteClientNameRequest" name="checkRemoteClientNameRequest" />
  <wsdl:output message="impl:checkRemoteClientNameResponse" name="checkRemoteClientNameResponse" />
  </wsdl:operation>
<wsdl:operation name="readRemoteClientName">
  <wsdl:input message="impl:readRemoteClientNameRequest" name="readRemoteClientNameRequest" />
  <wsdl:output message="impl:readRemoteClientNameResponse" name="readRemoteClientNameResponse" />
  </wsdl:operation>
<wsdl:operation name="readRemoteClientNameExtended">
  <wsdl:input message="impl:readRemoteClientNameExtendedRequest" name="readRemoteClientNameExtendedRequest" />
  <wsdl:output message="impl:readRemoteClientNameExtendedResponse" name="readRemoteClientNameExtendedResponse" />
  </wsdl:operation>
  </wsdl:portType>
<wsdl:binding name="XsbCheckNamesSoapBinding" type="impl:XsbCheckNames">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
<wsdl:operation name="checkRemoteClientName">
  <wsdlsoap:operation soapAction="" />
<wsdl:input name="checkRemoteClientNameRequest">
  <wsdlsoap:body use="literal" />
  </wsdl:input>
<wsdl:output name="checkRemoteClientNameResponse">
  <wsdlsoap:body use="literal" />
  </wsdl:output>
  </wsdl:operation>
<wsdl:operation name="readRemoteClientName">
  <wsdlsoap:operation soapAction="" />
<wsdl:input name="readRemoteClientNameRequest">
  <wsdlsoap:body use="literal" />
  </wsdl:input>
<wsdl:output name="readRemoteClientNameResponse">
  <wsdlsoap:body use="literal" />
  </wsdl:output>
  </wsdl:operation>
<wsdl:operation name="readRemoteClientNameExtended">
  <wsdlsoap:operation soapAction="" /> 
<wsdl:input name="readRemoteClientNameExtendedRequest">
  <wsdlsoap:body use="literal" />
  </wsdl:input>
<wsdl:output name="readRemoteClientNameExtendedResponse">
  <wsdlsoap:body use="literal" />
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
<wsdl:service name="XsbCheckNamesService">
<wsdl:port binding="impl:XsbCheckNamesSoapBinding" name="XsbCheckNames">
  <wsdlsoap:address location="http://10.143.15.166:9080/XsbToolsWebExt/services/XsbCheckNames" />
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>