e-r-i-b/BusinessERMB/src/com/rssl/phizic/business/ermb/auxiliary/smslog/ermb-smslog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/ermb/auxiliary/sms-log"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/ermb/auxiliary/sms-log"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!--SmsLogRq-->
    <xsd:simpleType name="UID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{32}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Phone">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{11,}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassportType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="RegCode">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="messageTypeRq_Type">
		<xsd:annotation>
			<xsd:documentation>Тип сообщения</xsd:documentation>
		</xsd:annotation>
	    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="in"/>
            <xsd:enumeration value="out"/>
            <xsd:enumeration value="both"/>
	    </xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="ResourceIdType_Type">
		<xsd:annotation>
			<xsd:documentation>Тип продукта</xsd:documentation>
		</xsd:annotation>
	    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="account"/>
            <xsd:enumeration value="card"/>
            <xsd:enumeration value="loan"/>
	    </xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="status_Type">
		<xsd:annotation>
			<xsd:documentation>Статус сообщения</xsd:documentation>
		</xsd:annotation>
	    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ok"/>
            <xsd:enumeration value="error"/>
	    </xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="messageTypeRs_Type">
		<xsd:annotation>
			<xsd:documentation>Тип сообщения</xsd:documentation>
		</xsd:annotation>
	    <xsd:restriction base="xsd:string">
            <xsd:enumeration value="in"/>
            <xsd:enumeration value="out"/>
	    </xsd:restriction>
	</xsd:simpleType>

    <xsd:complexType name="name_Type">
        <xsd:annotation>
            <xsd:documentation>ФИО</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="lastname" type="xsd:string"/>
            <xsd:element name="firstname" type="xsd:string"/>
            <xsd:element name="middlename" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="identityCard_Type">
        <xsd:annotation>
            <xsd:documentation>Реквизиты документа, удостоверяющего личность</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idType" type="xsd:string"/>
            <xsd:element name="idSeries" type="xsd:string" minOccurs="0"/>
            <xsd:element name="idNum" type="xsd:string"/>
            <xsd:element name="issuedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="issueDt" type="xsd:date" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="clientRq_Type">
        <xsd:annotation>
            <xsd:documentation>Информация о клиенте. Присутствует, если по номеру телефона найден профиль клиента</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="name_Type" minOccurs="0"/>
            <xsd:element name="birthday" type="xsd:date" minOccurs="0"/>
            <xsd:element name="identityCard" type="identityCard_Type" minOccurs="0"/>
            <xsd:element name="tb" type="RegCode"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="filter_Type">
        <xsd:annotation>
            <xsd:documentation>Параметры фильтрации</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="beginTime" type="xsd:dateTime"/>
            <xsd:element name="endTime" type="xsd:dateTime"/>
            <xsd:element name="messageType" type="xsd:string"/>
            <xsd:element name="phone" type="xsd:string" minOccurs="0"/>
            <xsd:element name="client" type="clientRq_Type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="pagination_Type">
        <xsd:annotation>
            <xsd:documentation>Параметры результата</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="size" type="xsd:integer"/>
            <xsd:element name="offset" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SmsLogRq_Type">
        <xsd:sequence>
            <xsd:element name="rqUID" type="xsd:string"/>
            <xsd:element name="rqTime" type="xsd:dateTime"/>
            <xsd:element name="filter" type="filter_Type"/>
            <xsd:element name="pagination" type="pagination_Type"/>
            <xsd:element name="sessionID" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="SmsLogRq" type="SmsLogRq_Type"/>

    <!--SmsLogRs-->
    <xsd:complexType name="messageIn_Type">
        <xsd:annotation>
            <xsd:documentation>Информация о входящем сообщении Приходит, если type=in или both</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="rqID" type="xsd:string"/>
            <xsd:element name="phone" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="receiveTime" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ResourceId_Type">
        <xsd:annotation>
            <xsd:documentation>Заполняется для исходящих уведомлений по продукту клиента</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="account" type="xsd:string" minOccurs="0"/>
            <xsd:element name="card" type="xsd:string" minOccurs="0"/>
            <xsd:element name="loan" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="messageOut_Type">
        <xsd:annotation>
            <xsd:documentation>Информация об исходящем сообщении Приходит, если type=out или both</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="rqID" type="xsd:string"/>
            <xsd:element name="phone" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="createTime" type="xsd:dateTime"/>
            <xsd:element name="sendTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="sendStatus" type="xsd:string" minOccurs="0"/>
            <xsd:element name="smsCount" type="xsd:integer" minOccurs="0"/>
            <xsd:element name="deliverTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="deliverStatus" type="xsd:string" minOccurs="0"/>
            <xsd:element name="resource" type="ResourceId_Type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="clientRs_Type">
        <xsd:annotation>
            <xsd:documentation>Информация о клиенте. Приходит, если по номеру телефона найден профиль клиента</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="lastname" type="xsd:string"/>
            <xsd:element name="firstname" type="xsd:string"/>
            <xsd:element name="middlename" type="xsd:string" minOccurs="0"/>
            <xsd:element name="birthday" type="xsd:date"/>
            <xsd:element name="identityCard" type="identityCard_Type"/>
            <xsd:element name="tb" type="RegCode"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="logEntry_Type">
        <xsd:annotation>
            <xsd:documentation>Запись в журнале сообщений</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="logNum" type="xsd:long"/>
            <xsd:element name="messageType" type="xsd:string"/>
            <xsd:element name="messageIn" type="messageIn_Type" minOccurs="0"/>
            <xsd:element name="messageOut" type="messageOut_Type" minOccurs="0"/>
            <xsd:element name="client" type="clientRs_Type" minOccurs="0"/>
            <xsd:element name="system" type="xsd:string"/>
            <xsd:element name="extinfo" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="logEntries_Type">
        <xsd:annotation>
            <xsd:documentation>Записи в журнале сообщений</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="logEntry" type="logEntry_Type" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="response_Type">
        <xsd:annotation>
            <xsd:documentation>Запись в журнале сообщений</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="logEntries" type="logEntries_Type" minOccurs="0"/>
            <xsd:element name="hasMoreMessages" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="sessionID" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SmsLogRs_Type">
        <xsd:sequence>
            <xsd:element name="rqUID" type="xsd:string"/>
            <xsd:element name="status" type="xsd:integer"/>
            <xsd:element name="response" type="response_Type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="SmsLogRs" type="SmsLogRs_Type"/>

</xsd:schema>