e-r-i-b/USCTWeb/web/WEB-INF/TemplateGateServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="TemplateGateServiceImpl" targetNamespace="http://generated.services.templates.gate.phizic.rssl.com" xmlns:tns="http://generated.services.templates.gate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns3="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.services.templates.gate.phizic.rssl.com" xmlns:tns="http://generated.services.templates.gate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="ClientDocument">
        <sequence>
          <element name="docIdentify" type="boolean"/>
          <element name="docIssueBy" type="string"/>
          <element name="docIssueByCode" type="string"/>
          <element name="docIssueDate" type="dateTime"/>
          <element name="docNumber" type="string"/>
          <element name="docSeries" type="string"/>
          <element name="docTimeUpDate" type="dateTime"/>
          <element name="docTypeName" type="string"/>
          <element name="documentType" type="string"/>
          <element name="paperKind" type="soap11-enc:long"/>
          <element name="personId" type="soap11-enc:long"/></sequence></complexType>
      <complexType name="ExtendedAttribute">
        <sequence>
          <element name="changed" type="boolean"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="stringValue" type="string"/>
          <element name="type" type="string"/>
          <element name="value" type="anyType"/></sequence></complexType>
      <complexType name="Field">
        <sequence>
          <element name="businessSubType" type="string"/>
          <element name="defaultValue" type="string"/>
          <element name="description" type="string"/>
          <element name="editable" type="soap11-enc:boolean"/>
          <element name="error" type="string"/>
          <element name="extendedDescId" type="string"/>
          <element name="externalId" type="string"/>
          <element name="fieldValidationRules" type="ns2:list"/>
          <element name="graphicTemplateName" type="string"/>
          <element name="groupName" type="string"/>
          <element name="hideInConfirmation" type="soap11-enc:boolean"/>
          <element name="hint" type="string"/>
          <element name="key" type="soap11-enc:boolean"/>
          <element name="linesNumber" type="int"/>
          <element name="mainSum" type="soap11-enc:boolean"/>
          <element name="mask" type="string"/>
          <element name="maxLength" type="soap11-enc:long"/>
          <element name="minLength" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="numberPrecision" type="soap11-enc:int"/>
          <element name="period" type="string"/>
          <element name="popupHint" type="string"/>
          <element name="required" type="soap11-enc:boolean"/>
          <element name="requiredForBill" type="soap11-enc:boolean"/>
          <element name="requiredForConformation" type="soap11-enc:boolean"/>
          <element name="saveInTemplate" type="soap11-enc:boolean"/>
          <element name="type" type="string"/>
          <element name="value" type="anyType"/>
          <element name="values" type="ns2:list"/>
          <element name="visible" type="soap11-enc:boolean"/></sequence></complexType>
      <complexType name="FieldValidationRule">
        <sequence>
          <element name="errorMessage" type="string"/>
          <element name="fieldValidationRuleType" type="string"/>
          <element name="parameters" type="ns2:map"/></sequence></complexType>
      <complexType name="ListValue">
        <sequence>
          <element name="id" type="string"/>
          <element name="value" type="string"/></sequence></complexType>
      <complexType name="Profile">
        <sequence>
          <element name="birthDay" type="dateTime"/>
          <element name="firstName" type="string"/>
          <element name="passport" type="string"/>
          <element name="patrName" type="string"/>
          <element name="surName" type="string"/>
          <element name="tb" type="string"/></sequence></complexType>
      <complexType name="WriteDownOperation">
        <sequence>
          <element name="curAmount" type="tns:Money"/>
          <element name="operationName" type="string"/>
          <element name="turnOver" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="GateTemplate">
        <sequence>
          <element name="accountNumber" type="string"/>
          <element name="additionalInfo" type="string"/>
          <element name="additionalOperationChannel" type="string"/>
          <element name="additionalOperationDate" type="dateTime"/>
          <element name="admissionDate" type="dateTime"/>
          <element name="agreementNumber" type="string"/>
          <element name="authorizeCode" type="string"/>
          <element name="authorizeDate" type="dateTime"/>
          <element name="billingClientId" type="string"/>
          <element name="billingCode" type="string"/>
          <element name="chargeOffAccount" type="string"/>
          <element name="chargeOffAmount" type="tns:Money"/>
          <element name="chargeOffCard" type="string"/>
          <element name="chargeOffCardAccount" type="string"/>
          <element name="chargeOffCardDescription" type="string"/>
          <element name="chargeOffCardExpireDate" type="dateTime"/>
          <element name="chargeOffCurrency" type="tns:Currency"/>
          <element name="clientCreationChannel" type="string"/>
          <element name="clientCreationDate" type="dateTime"/>
          <element name="clientOperationChannel" type="string"/>
          <element name="clientOperationDate" type="dateTime"/>
          <element name="clientOwner" type="tns:Client"/>
          <element name="commission" type="tns:Money"/>
          <element name="commissionOptions" type="tns:CommissionOptions"/>
          <element name="confirmedEmployeeInfo" type="tns:EmployeeInfo"/>
          <element name="convertionRate" type="decimal"/>
          <element name="corrDepoAccount" type="string"/>
          <element name="corrDepoAccountOwner" type="string"/>
          <element name="corrDepositary" type="string"/>
          <element name="createdEmployeeInfo" type="tns:EmployeeInfo"/>
          <element name="creditBuyRate" type="tns:CurrencyRate"/>
          <element name="creditSaleRate" type="tns:CurrencyRate"/>
          <element name="debetBuyRate" type="tns:CurrencyRate"/>
          <element name="debetSaleRate" type="tns:CurrencyRate"/>
          <element name="deliveryType" type="string"/>
          <element name="depoAccountNumber" type="string"/>
          <element name="depoExternalId" type="string"/>
          <element name="destinationAmount" type="tns:Money"/>
          <element name="destinationCurrency" type="tns:Currency"/>
          <element name="divisionNumber" type="string"/>
          <element name="divisionType" type="string"/>
          <element name="documentNumber" type="string"/>
          <element name="executionDate" type="dateTime"/>
          <element name="extendedAttributes" type="ns2:map"/>
          <element name="extendedFields" type="ns2:list"/>
          <element name="externalId" type="string"/>
          <element name="formType" type="string"/>
          <element name="ground" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="idFromPaymentSystem" type="string"/>
          <element name="idSpacing" type="string"/>
          <element name="inputSumType" type="string"/>
          <element name="insideCode" type="string"/>
          <element name="loanExternalId" type="string"/>
          <element name="mbOperCode" type="string"/>
          <element name="multiBlockReceiverPointCode" type="string"/>
          <element name="nextState" type="string"/>
          <element name="notVisibleBankDetails" type="boolean"/>
          <element name="office" type="tns:Office"/>
          <element name="operType" type="string"/>
          <element name="operationCode" type="string"/>
          <element name="operationDesc" type="string"/>
          <element name="operationReason" type="string"/>
          <element name="operationSubType" type="string"/>
          <element name="operationUID" type="string"/>
          <element name="receiverAccount" type="string"/>
          <element name="receiverBank" type="tns:ResidentBank"/>
          <element name="receiverCard" type="string"/>
          <element name="receiverCardExpireDate" type="dateTime"/>
          <element name="receiverCardType" type="string"/>
          <element name="receiverFirstName" type="string"/>
          <element name="receiverINN" type="string"/>
          <element name="receiverInternalId" type="soap11-enc:long"/>
          <element name="receiverKPP" type="string"/>
          <element name="receiverName" type="string"/>
          <element name="receiverNameForBill" type="string"/>
          <element name="receiverOfficeCode" type="tns:Code"/>
          <element name="receiverPatrName" type="string"/>
          <element name="receiverPhone" type="string"/>
          <element name="receiverPointCode" type="string"/>
          <element name="receiverSurName" type="string"/>
          <element name="receiverTransitAccount" type="string"/>
          <element name="receiverTransitBank" type="tns:ResidentBank"/>
          <element name="registerNumber" type="string"/>
          <element name="registerString" type="string"/>
          <element name="registrationNumber" type="string"/>
          <element name="reminderInfo" type="tns:ReminderInfo"/>
          <element name="salesCheck" type="string"/>
          <element name="securityCount" type="soap11-enc:long"/>
          <element name="sendNodeNumber" type="soap11-enc:long"/>
          <element name="service" type="tns:Service"/>
          <element name="spacingDate" type="dateTime"/>
          <element name="state" type="tns:State"/>
          <element name="template" type="boolean"/>
          <element name="templateInfo" type="tns:TemplateInfo"/>
          <element name="type" type="string"/>
          <element name="writeDownOperations" type="ns2:list"/></sequence></complexType>
      <complexType name="Client">
        <sequence>
          <element name="birthDay" type="dateTime"/>
          <element name="documents" type="ns2:list"/>
          <element name="firstName" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="patrName" type="string"/>
          <element name="surName" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/></sequence></complexType>
      <complexType name="CommissionOptions">
        <sequence>
          <element name="account" type="string"/>
          <element name="target" type="string"/></sequence></complexType>
      <complexType name="EmployeeInfo">
        <sequence>
          <element name="employeeOffice" type="tns:Office"/>
          <element name="login" type="string"/>
          <element name="personName" type="tns:PersonName"/></sequence></complexType>
      <complexType name="PersonName">
        <sequence>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="lastName" type="string"/>
          <element name="middleName" type="string"/></sequence></complexType>
      <complexType name="CurrencyRate">
        <sequence>
          <element name="dynamicExchangeRate" type="string"/>
          <element name="fromCurrency" type="tns:Currency"/>
          <element name="fromValue" type="decimal"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="toCurrency" type="tns:Currency"/>
          <element name="toValue" type="decimal"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="ResidentBank">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="account" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="place" type="string"/>
          <element name="shortName" type="string"/>
          <element name="synchKey" type="string"/></sequence></complexType>
      <complexType name="ReminderInfo">
        <sequence>
          <element name="createdDate" type="dateTime"/>
          <element name="dayOfMonth" type="soap11-enc:int"/>
          <element name="monthOfQuarter" type="soap11-enc:int"/>
          <element name="onceDate" type="dateTime"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Service">
        <sequence>
          <element name="code" type="string"/>
          <element name="name" type="string"/></sequence></complexType>
      <complexType name="State">
        <sequence>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType>
      <complexType name="TemplateInfo">
        <sequence>
          <element name="name" type="string"/>
          <element name="orderInd" type="int"/>
          <element name="state" type="tns:State"/>
          <element name="useInATM" type="boolean"/>
          <element name="useInERIB" type="boolean"/>
          <element name="useInERMB" type="boolean"/>
          <element name="useInMAPI" type="boolean"/>
          <element name="visible" type="boolean"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.services.templates.gate.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema></types>
  <message name="TemplateGateService___forGeneratedClientDocument"/>
  <message name="TemplateGateService___forGeneratedClientDocumentResponse">
    <part name="result" type="tns:ClientDocument"/></message>
  <message name="TemplateGateService___forGeneratedExtendedAttribute"/>
  <message name="TemplateGateService___forGeneratedExtendedAttributeResponse">
    <part name="result" type="tns:ExtendedAttribute"/></message>
  <message name="TemplateGateService___forGeneratedField"/>
  <message name="TemplateGateService___forGeneratedFieldResponse">
    <part name="result" type="tns:Field"/></message>
  <message name="TemplateGateService___forGeneratedFieldValidationRule"/>
  <message name="TemplateGateService___forGeneratedFieldValidationRuleResponse">
    <part name="result" type="tns:FieldValidationRule"/></message>
  <message name="TemplateGateService___forGeneratedListValue"/>
  <message name="TemplateGateService___forGeneratedListValueResponse">
    <part name="result" type="tns:ListValue"/></message>
  <message name="TemplateGateService___forGeneratedProfile"/>
  <message name="TemplateGateService___forGeneratedProfileResponse">
    <part name="result" type="tns:Profile"/></message>
  <message name="TemplateGateService___forGeneratedWriteDownOperation"/>
  <message name="TemplateGateService___forGeneratedWriteDownOperationResponse">
    <part name="result" type="tns:WriteDownOperation"/></message>
  <message name="TemplateGateService_addOrUpdate">
    <part name="List_1" type="ns3:list"/></message>
  <message name="TemplateGateService_addOrUpdateResponse">
    <part name="List_1" type="ns3:list"/></message>
  <message name="TemplateGateService_findById">
    <part name="Long_1" type="ns2:long"/></message>
  <message name="TemplateGateService_findByIdResponse">
    <part name="result" type="tns:GateTemplate"/></message>
  <message name="TemplateGateService_getAll">
    <part name="List_1" type="ns3:list"/></message>
  <message name="TemplateGateService_getAllResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="TemplateGateService_remove">
    <part name="List_1" type="ns3:list"/></message>
  <message name="TemplateGateService_removeResponse"/>
  <portType name="TemplateGateService">
    <operation name="__forGeneratedClientDocument">
      <input message="tns:TemplateGateService___forGeneratedClientDocument"/>
      <output message="tns:TemplateGateService___forGeneratedClientDocumentResponse"/></operation>
    <operation name="__forGeneratedExtendedAttribute">
      <input message="tns:TemplateGateService___forGeneratedExtendedAttribute"/>
      <output message="tns:TemplateGateService___forGeneratedExtendedAttributeResponse"/></operation>
    <operation name="__forGeneratedField">
      <input message="tns:TemplateGateService___forGeneratedField"/>
      <output message="tns:TemplateGateService___forGeneratedFieldResponse"/></operation>
    <operation name="__forGeneratedFieldValidationRule">
      <input message="tns:TemplateGateService___forGeneratedFieldValidationRule"/>
      <output message="tns:TemplateGateService___forGeneratedFieldValidationRuleResponse"/></operation>
    <operation name="__forGeneratedListValue">
      <input message="tns:TemplateGateService___forGeneratedListValue"/>
      <output message="tns:TemplateGateService___forGeneratedListValueResponse"/></operation>
    <operation name="__forGeneratedProfile">
      <input message="tns:TemplateGateService___forGeneratedProfile"/>
      <output message="tns:TemplateGateService___forGeneratedProfileResponse"/></operation>
    <operation name="__forGeneratedWriteDownOperation">
      <input message="tns:TemplateGateService___forGeneratedWriteDownOperation"/>
      <output message="tns:TemplateGateService___forGeneratedWriteDownOperationResponse"/></operation>
    <operation name="addOrUpdate" parameterOrder="List_1">
      <input message="tns:TemplateGateService_addOrUpdate"/>
      <output message="tns:TemplateGateService_addOrUpdateResponse"/></operation>
    <operation name="findById" parameterOrder="Long_1">
      <input message="tns:TemplateGateService_findById"/>
      <output message="tns:TemplateGateService_findByIdResponse"/></operation>
    <operation name="getAll" parameterOrder="List_1">
      <input message="tns:TemplateGateService_getAll"/>
      <output message="tns:TemplateGateService_getAllResponse"/></operation>
    <operation name="remove" parameterOrder="List_1">
      <input message="tns:TemplateGateService_remove"/>
      <output message="tns:TemplateGateService_removeResponse"/></operation></portType>
  <binding name="TemplateGateServiceBinding" type="tns:TemplateGateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGeneratedClientDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedExtendedAttribute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedField">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedFieldValidationRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedListValue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="__forGeneratedWriteDownOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="addOrUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="findById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation>
    <operation name="remove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.templates.gate.phizic.rssl.com"/></output></operation></binding>
  <service name="TemplateGateServiceImpl">
    <port name="TemplateGateServicePort" binding="tns:TemplateGateServiceBinding">
      <soap:address location="http://localhost:8080/services/TemplateGateServiceImpl"/></port></service></definitions>
