e-r-i-b/StopListGate/src/com/rssl/phizicgate/stoplist/generated/FLSearchService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://search.sbrf.ru" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://search.sbrf.ru">
      <s:element name="searchFL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xmlRequest" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchFLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="searchFLReturn" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="searchFLSoapIn">
    <wsdl:part name="parameters" element="s0:searchFL" />
  </wsdl:message>
  <wsdl:message name="searchFLSoapOut">
    <wsdl:part name="parameters" element="s0:searchFLResponse" />
  </wsdl:message>
  <wsdl:portType name="FLSearchServiceSoap">
    <wsdl:operation name="searchFL">
      <wsdl:input message="tns:searchFLSoapIn" />
      <wsdl:output message="tns:searchFLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FLSearchServiceSoap" type="tns:FLSearchServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="searchFL">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FLSearchService">
    <wsdl:port name="FLSearchServiceSoap" binding="tns:FLSearchServiceSoap">
      <soap:address location="http://roshka/StopListWebServiceStub/FLSearchService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>