e-r-i-b/StopListGate/src/com/rssl/phizicgate/stoplist/generated/stoplist.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="1.0">

    <xsd:element name="request">
            <xsd:complexType>
                <xsd:all>
                    <xsd:element name="version" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Номер версии. Текущая - 2.0</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="2.0" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="jon" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:all>
                                <xsd:element name="numTerrBank" minOccurs="1" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>Номер территориального банка по справочнику подразделений, макс. 6 символов.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:minLength value="1" />
                                            <xsd:maxLength value="6" />
                                            <xsd:pattern value="\d{1,6}" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="absName" minOccurs="1" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>Название автоматизированной банковской системы, макс. 128 символов.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:minLength value="1" />
                                            <xsd:maxLength value="128" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="operator" minOccurs="1" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>ФИО оператора, должность, телефон, макс. 1024 символа.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:minLength value="1" />
                                            <xsd:maxLength value="1024" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="numOsb" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>Номер отделения по справочнику подразделений, макс. 8 символов.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:minLength value="1" />
                                            <xsd:maxLength value="8" />
                                            <xsd:pattern value="\d{1,8}" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="numFilial" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>Номер филиала по справочнику подразделений, макс. 14 символов.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:minLength value="1" />
                                            <xsd:maxLength value="14" />
                                            <xsd:pattern value="\d{1,14}" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="numPodr" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>Номер подразделения по справочнику подразделений. Данное поле заполняется в случае, если в АБС есть возможность указать его. Макс. 6 символов.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:minLength value="1" />
                                            <xsd:maxLength value="6" />
                                            <xsd:pattern value="\d{1,6}" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="localId" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>Идентификатор клиента в базе данных АБС. Необязательное. Данное поле заполняется в случае, если в АБС есть возможность указать его. Макс. 48 символов.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:minLength value="1" />
                                            <xsd:maxLength value="48" />
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                            </xsd:all>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="full_info" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Признак полного поиска по всем атрибутам.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                        	<xsd:restriction base="xsd:integer">
                        		<xsd:enumeration value="0"/>
                        		<xsd:enumeration value="1"/>
                        	</xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="last_name" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Фамилия на русском. Макс. 1024.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="1024" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="first_name" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Имя на русском. Макс. 50.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="middle_name" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Отчество на русском. Макс. 50.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="last_name_eng" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Фамилия на английском. Макс. 1024.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="1024" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="first_name_eng" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Имя на английском. Макс. 50.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="middle_name_eng" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Отчество на английском. Макс. 50.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="birthday" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дата рождения. Формат dd.MM.yyyy</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="(\d{2}\.\d{2}\.\d{4})?" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="birthplace" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Место рождения, макс. 254</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="254" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="inn" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>ИНН, состоит из 10 либо 12 цифр.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="(\d{10}|\d{12})?" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="doc_code" minOccurs="0" maxOccurs="1" type="xsd:unsignedShort">
                        <xsd:annotation>
                            <xsd:documentation>Код вида документа</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="doc_series" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Серия документа, макс. 20</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="doc_num" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Номер документа, макс. 50</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="doc_distr" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Кем выдан документ, макс. 256</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:minLength value="0" />
                                <xsd:maxLength value="256" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="doc_date" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>Дата выдачи документа. Формат dd.MM.yyyy</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="(\d{2}\.\d{2}\.\d{4})?" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
        </xsd:element>

	<xsd:element name="response">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="code" type="xsd:int"/>
				<xsd:element name="message" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
