e-r-i-b/WebTest/src/com/rssl/phizic/test/ermb/newclient/newclient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://sberbank.ru/MobileBank/OperatorIntegrations/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://sberbank.ru/MobileBank/OperatorIntegrations/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="http://sberbank.ru/MobileBank/OperatorIntegrations/">
            <s:element name="XMLMessage">
                <s:complexType>
                  <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string"/>
                  </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="XMLMessageResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="XMLMessageResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="XMLMessageSoapIn">
        <wsdl:part name="parameters" element="tns:XMLMessage"/>
    </wsdl:message>
    <wsdl:message name="XMLMessageSoapOut">
        <wsdl:part name="parameters" element="tns:XMLMessageResponse"/>
    </wsdl:message>
    <wsdl:portType name="Sberbank_SetNewClientsSoap">
        <wsdl:operation name="XMLMessage">
            <wsdl:input message="tns:XMLMessageSoapIn"/>
            <wsdl:output message="tns:XMLMessageSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Sberbank_SetNewClientsSoap" type="tns:Sberbank_SetNewClientsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="XMLMessage">
            <soap:operation soapAction="http://sberbank.ru/MobileBank/OperatorIntegrations/XMLMessage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Sberbank_SetNewClientsSoap12" type="tns:Sberbank_SetNewClientsSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="XMLMessage">
            <soap12:operation soapAction="http://sberbank.ru/MobileBank/OperatorIntegrations/XMLMessage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Sberbank_SetNewClients">
        <wsdl:port name="Sberbank_SetNewClientsSoap" binding="tns:Sberbank_SetNewClientsSoap">
            <soap:address location="http://localhost/TestWS/Sberbank_SetNewClients.asmx"/>
        </wsdl:port>
        <wsdl:port name="Sberbank_SetNewClientsSoap12" binding="tns:Sberbank_SetNewClientsSoap12">
            <soap12:address location="http://localhost/TestWS/Sberbank_SetNewClients.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
