e-r-i-b/Business/src/com/rssl/phizic/business/deposits/depositDictionary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:annotation>
        <xsd:appinfo>
            <jxb:schemaBindings>
                <jxb:package name="com.rssl.phizic.business.deposits.generated"/>
                <jxb:nameXmlTransform>
                    <jxb:elementName prefix="DepositDictionary"/>
                    <jxb:typeName prefix="DepositDictionary"/>
                </jxb:nameXmlTransform>
            </jxb:schemaBindings>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="product">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="structure"/>
                <xsd:element ref="data"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="structure">
        <xsd:annotation>
            <xsd:documentation>Описание структуры документа</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="field"/>
                <xsd:element maxOccurs="unbounded" ref="node"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="field">
        <xsd:complexType>
            <xsd:attribute name="description" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="node">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" ref="node"/>
                <xsd:element minOccurs="0" maxOccurs="unbounded" ref="field"/>
            </xsd:sequence>
            <xsd:attribute name="description" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="data">
        <xsd:annotation>
            <xsd:documentation>Данные о вкладе</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="productId"/>
                <xsd:element ref="name"/>
                <xsd:element ref="main"/>
                <xsd:element ref="options"/>
                <xsd:element ref="templates"/>
                <xsd:element ref="collateralAgreements"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="productId" type="xsd:integer"/>
    <xsd:element name="name" type="xsd:string"/>

    <xsd:element name="main">
        <xsd:annotation>
            <xsd:documentation>Общая информация</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="initialFee" type="xsd:boolean"/>
                <xsd:element name="minimumBalance" type="xsd:boolean"/>
                <xsd:element name="capitalization" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="options">
        <xsd:annotation>
            <xsd:documentation>Отличительная информация по подвидам вкладов</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="element"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="element">
        <xsd:annotation>
            <xsd:documentation>Подвид вклада в представлении ИКФЛ</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:integer"/>
                <xsd:element name="dateBegin" type="xsd:string"/>
                <xsd:element name="dateEnd" type="xsd:string"/>
                <xsd:element name="minAdditionalFee" type="xsd:decimal"/>
                <xsd:element name="period" type="xsd:string" minOccurs="0"/>
                <xsd:element name="periodInDays" type="xsd:string" minOccurs="0"/>
                <xsd:element name="currencyCode" type="xsd:string"/>
                <xsd:element name="minBalance" type="xsd:decimal"/>
                <xsd:element name="maxBalance" type="xsd:decimal"/>
                <xsd:element name="interestRate" type="xsd:decimal"/>
                <xsd:element name="interestDateBegin" type="xsd:string"/>
                <xsd:element ref="templateId" minOccurs="0"/>
                <xsd:element name="tariffPlanAgreementId" type="xsd:integer" minOccurs="0"/>
                <xsd:element name="pension" type="xsd:boolean"/>
                <xsd:element name="percent" type="xsd:string" minOccurs="0"/>
                <xsd:element name="subTypeName" type="xsd:string"/>
                <xsd:element name="tariffPlanCode" type="xsd:integer"/>
                <xsd:element name="segmentCode" type="xsd:integer"/>
                <xsd:element name="availToOpen" type="xsd:boolean"/>
                <xsd:element ref="group"/>
                <xsd:element ref="tariffDependence"/>
                <xsd:element name="creditOperations" type="xsd:boolean"/>
                <xsd:element name="debitOperations" type="xsd:boolean"/>
                <xsd:element name="debitOperationsCode" type="xsd:integer"/>
                <xsd:element name="interestOperations" type="xsd:boolean"/>
                <xsd:element name="incomingTransactions" type="xsd:string"/>
                <xsd:element name="frequencyAdd" type="xsd:string"/>
                <xsd:element name="debitTransactions" type="xsd:string"/>
                <xsd:element name="frequencyPercent" type="xsd:string"/>
                <xsd:element name="percentOrder" type="xsd:string"/>
                <xsd:element name="incomeOrder" type="xsd:string"/>
                <xsd:element name="renewals" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="tariffDependence">
        <xsd:annotation>
            <xsd:documentation>Зависимость подвида вклада от тарифного плана</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="tariff"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="tariff">
        <xsd:annotation>
            <xsd:documentation>Запись о зависимости подвида вклада от тарифного плана</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tariffDateBegin" type="xsd:string"/>
                <xsd:element name="tariffDateEnd" type="xsd:string"/>
                <xsd:element name="tariffCode" type="xsd:integer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="group">
        <xsd:annotation>
            <xsd:documentation>Описание группы подвида вклада</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="groupCode" type="xsd:integer"/>
                <xsd:element name="groupName" type="xsd:string"/>
                <xsd:element ref="groupParams"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="groupParams">
        <xsd:annotation>
            <xsd:documentation>Параметры группы</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="paramDateBegin" type="xsd:string"/>
                <xsd:element name="charitableContribution" type="xsd:boolean"/>
                <xsd:element name="pensionRate" type="xsd:boolean"/>
                <xsd:element name="pensionSumLimit" type="xsd:boolean"/>
                <xsd:element name="percentCondition" type="xsd:integer"/>
                <xsd:element name="sumLimit" type="xsd:integer"/>
                <xsd:element name="sumLimitCondition" type="xsd:integer"/>
                <xsd:element name="socialType" type="xsd:boolean"/>
                <xsd:element name="promoCodeSupported" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="templates">
        <xsd:annotation>
            <xsd:documentation>Шаблоны условий размещения денежных средств во вклад</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="template"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="collateralAgreements">
        <xsd:annotation>
            <xsd:documentation>Дополнительные соглашения</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="collateralAgreementWithTariffPlan"         minOccurs="0"/>
                <xsd:element ref="collateralAgreementWithCapitalization"     minOccurs="0"/>
                <xsd:element ref="collateralAgreementWithMinimumBalance"     minOccurs="0"/>
	            <xsd:element ref="collateralAgreementWithTariffPlan4Type_61" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    <xsd:element name="template">
        <xsd:annotation>
           <xsd:documentation>Шаблон</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="templateId"/>
                <xsd:element ref="text"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="collateralAgreementWithTariffPlan">
        <xsd:annotation>
           <xsd:documentation>Дополнительное соглашение по тарифным планам</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="collateralAgreement"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="collateralAgreementWithTariffPlan4Type_61">
        <xsd:annotation>
           <xsd:documentation>Дополнительное соглашение для Сберегательных счетов</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="collateralAgreement"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="collateralAgreementWithCapitalization">
        <xsd:annotation>
            <xsd:documentation>Дополнительное соглашение на перечисление процентов на карту</xsd:documentation>
        </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="collateralAgreement"/>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="collateralAgreementWithMinimumBalance">
        <xsd:annotation>
            <xsd:documentation>Дополнительное соглашение на изменение неснижаемого остатка</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="collateralAgreement"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="collateralAgreement">
        <xsd:annotation>
            <xsd:documentation>Дополнительное соглашение</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="agreementId" type="xsd:integer"/>
                <xsd:element ref="text"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="templateId" type="xsd:integer"/>
    <xsd:element name="text" type="xsd:string"/>

</xsd:schema>
