e-r-i-b/WSGateListener/web/WEB-INF/BackRefBankInfoServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="BackRefBankInfoServiceImpl" targetNamespace="http://generated.dictionary.wsgate.phizic.rssl.com" xmlns:tns="http://generated.dictionary.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.dictionary.wsgate.phizic.rssl.com" xmlns:tns="http://generated.dictionary.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="ResidentBank">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="account" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="our" type="soap11-enc:boolean"/>
          <element name="place" type="string"/>
          <element name="shortName" type="string"/>
          <element name="synchKey" type="string"/></sequence></complexType></schema></types>
  <message name="BackRefBankInfoService_findByBIC">
    <part name="String_1" type="xsd:string"/></message>
  <message name="BackRefBankInfoService_findByBICResponse">
    <part name="result" type="tns:ResidentBank"/></message>
  <portType name="BackRefBankInfoService">
    <operation name="findByBIC" parameterOrder="String_1">
      <input message="tns:BackRefBankInfoService_findByBIC"/>
      <output message="tns:BackRefBankInfoService_findByBICResponse"/></operation></portType>
  <binding name="BackRefBankInfoServiceBinding" type="tns:BackRefBankInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="findByBIC">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.dictionary.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.dictionary.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="BackRefBankInfoServiceImpl">
    <port name="BackRefBankInfoServicePort" binding="tns:BackRefBankInfoServiceBinding">
      <soap:address location="http://localhost:8080/services/BackRefBankInfoServiceImpl"/></port></service></definitions>
