e-r-i-b/WSGateListener/web/WEB-INF/BackRefBankrollService_PortType_Impl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="BackRefBankrollService_PortType_Impl" targetNamespace="http://generated.bankroll.wsgate.phizic.rssl.com" xmlns:tns="http://generated.bankroll.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.bankroll.wsgate.phizic.rssl.com" xmlns:tns="http://generated.bankroll.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Account">
        <sequence>
          <element name="accountState" type="string"/>
          <element name="balance" type="tns:Money"/>
          <element name="clientKind" type="soap11-enc:long"/>
          <element name="creditAllowed" type="soap11-enc:boolean"/>
          <element name="currency" type="tns:Currency"/>
          <element name="debitAllowed" type="soap11-enc:boolean"/>
          <element name="demand" type="soap11-enc:boolean"/>
          <element name="description" type="string"/>
          <element name="id" type="string"/>
          <element name="interestRate" type="decimal"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="maxSumWrite" type="tns:Money"/>
          <element name="minimumBalance" type="tns:Money"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="openDate" type="dateTime"/>
          <element name="passbook" type="soap11-enc:boolean"/>
          <element name="prolongationDate" type="dateTime"/>
          <element name="subKind" type="soap11-enc:long"/>
          <element name="type" type="string"/></sequence></complexType>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="Card">
        <sequence>
          <element name="additionalCardType" type="string"/>
          <element name="availableLimit" type="tns:Money"/>
          <element name="cardBonusSign" type="string"/>
          <element name="cardLevel" type="string"/>
          <element name="cardState" type="string"/>
          <element name="cardType" type="string"/>
          <element name="contractNumber" type="string"/>
          <element name="currency" type="tns:Currency"/>
          <element name="description" type="string"/>
          <element name="displayedExpireDate" type="string"/>
          <element name="emailAddress" type="string"/>
          <element name="expireDate" type="dateTime"/>
          <element name="id" type="string"/>
          <element name="issueDate" type="dateTime"/>
          <element name="kind" type="soap11-enc:long"/>
          <element name="main" type="boolean"/>
          <element name="mainCardNumber" type="string"/>
          <element name="number" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="primaryAccountExternalId" type="string"/>
          <element name="primaryAccountNumber" type="string"/>
          <element name="reportDeliveryLanguage" type="string"/>
          <element name="reportDeliveryType" type="string"/>
          <element name="statusDescription" type="string"/>
          <element name="subkind" type="soap11-enc:long"/>
          <element name="type" type="string"/>
          <element name="useReportDelivery" type="boolean"/>
          <element name="virtual" type="boolean"/></sequence></complexType></schema></types>
  <message name="BackRefBankrollService_PortType_findAccountBusinessOwner">
    <part name="Account_1" type="tns:Account"/></message>
  <message name="BackRefBankrollService_PortType_findAccountBusinessOwnerResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_findAccountExternalId">
    <part name="String_1" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_findAccountExternalIdResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_findCardExternalId">
    <part name="Long_1" type="ns2:long"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_findCardExternalIdResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_findCardExternalId2">
    <part name="String_1" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_findCardExternalId2Response">
    <part name="result" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_getAccountOffice">
    <part name="Long_1" type="ns2:long"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_getAccountOfficeResponse">
    <part name="result" type="tns:Office"/></message>
  <message name="BackRefBankrollService_PortType_getCardAccount">
    <part name="Long_1" type="ns2:long"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_getCardAccountResponse">
    <part name="result" type="tns:Account"/></message>
  <message name="BackRefBankrollService_PortType_getCardAccount2">
    <part name="String_1" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_getCardAccount2Response">
    <part name="result" type="tns:Account"/></message>
  <message name="BackRefBankrollService_PortType_getCardOffice">
    <part name="Long_1" type="ns2:long"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_getCardOfficeResponse">
    <part name="result" type="tns:Office"/></message>
  <message name="BackRefBankrollService_PortType_getStoredCard">
    <part name="Long_1" type="ns2:long"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="BackRefBankrollService_PortType_getStoredCardResponse">
    <part name="result" type="tns:Card"/></message>
  <portType name="BackRefBankrollService_PortType">
    <operation name="findAccountBusinessOwner" parameterOrder="Account_1">
      <input message="tns:BackRefBankrollService_PortType_findAccountBusinessOwner"/>
      <output message="tns:BackRefBankrollService_PortType_findAccountBusinessOwnerResponse"/></operation>
    <operation name="findAccountExternalId" parameterOrder="String_1">
      <input message="tns:BackRefBankrollService_PortType_findAccountExternalId"/>
      <output message="tns:BackRefBankrollService_PortType_findAccountExternalIdResponse"/></operation>
    <operation name="findCardExternalId" parameterOrder="Long_1 String_2">
      <input message="tns:BackRefBankrollService_PortType_findCardExternalId"/>
      <output message="tns:BackRefBankrollService_PortType_findCardExternalIdResponse"/></operation>
    <operation name="findCardExternalId2" parameterOrder="String_1">
      <input message="tns:BackRefBankrollService_PortType_findCardExternalId2"/>
      <output message="tns:BackRefBankrollService_PortType_findCardExternalId2Response"/></operation>
    <operation name="getAccountOffice" parameterOrder="Long_1 String_2">
      <input message="tns:BackRefBankrollService_PortType_getAccountOffice"/>
      <output message="tns:BackRefBankrollService_PortType_getAccountOfficeResponse"/></operation>
    <operation name="getCardAccount" parameterOrder="Long_1 String_2">
      <input message="tns:BackRefBankrollService_PortType_getCardAccount"/>
      <output message="tns:BackRefBankrollService_PortType_getCardAccountResponse"/></operation>
    <operation name="getCardAccount2" parameterOrder="String_1">
      <input message="tns:BackRefBankrollService_PortType_getCardAccount2"/>
      <output message="tns:BackRefBankrollService_PortType_getCardAccount2Response"/></operation>
    <operation name="getCardOffice" parameterOrder="Long_1 String_2">
      <input message="tns:BackRefBankrollService_PortType_getCardOffice"/>
      <output message="tns:BackRefBankrollService_PortType_getCardOfficeResponse"/></operation>
    <operation name="getStoredCard" parameterOrder="Long_1 String_2">
      <input message="tns:BackRefBankrollService_PortType_getStoredCard"/>
      <output message="tns:BackRefBankrollService_PortType_getStoredCardResponse"/></operation></portType>
  <binding name="BackRefBankrollService_PortTypeBinding" type="tns:BackRefBankrollService_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="findAccountBusinessOwner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="findAccountExternalId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="findCardExternalId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="findCardExternalId2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getAccountOffice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getCardAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getCardAccount2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getCardOffice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getStoredCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.bankroll.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="BackRefBankrollService_PortType_Impl">
    <port name="BackRefBankrollService_PortTypePort" binding="tns:BackRefBankrollService_PortTypeBinding">
      <soap:address location="http://localhost:8080/services/BackRefBankrollService_PortType_Impl"/></port></service></definitions>
