e-r-i-b/WSGateListener/web/WEB-INF/BackRefMonitoringGateConfigServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="BackRefMonitoringGateConfigServiceImpl" targetNamespace="http://generated.monitoring.wsgate.phizic.rssl.com" xmlns:tns="http://generated.monitoring.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.monitoring.wsgate.phizic.rssl.com" xmlns:tns="http://generated.monitoring.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="MonitoringServiceGateConfigImpl">
        <sequence>
          <element name="degradationConfig" type="tns:MonitoringServiceGateStateConfigImpl"/>
          <element name="inaccessibleConfig" type="tns:MonitoringServiceGateStateConfigImpl"/>
          <element name="serviceName" type="string"/>
          <element name="state" type="string"/></sequence></complexType>
      <complexType name="MonitoringServiceGateStateConfigImpl">
        <sequence>
          <element name="available" type="boolean"/>
          <element name="availableChangeInactiveType" type="boolean"/>
          <element name="deteriorationTime" type="dateTime"/>
          <element name="inactiveType" type="string"/>
          <element name="messageText" type="string"/>
          <element name="monitoringCount" type="int"/>
          <element name="monitoringErrorPercent" type="int"/>
          <element name="monitoringTime" type="long"/>
          <element name="recoveryTime" type="soap11-enc:long"/>
          <element name="resources" type="ns2:map"/>
          <element name="timeout" type="long"/>
          <element name="useMonitoring" type="boolean"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.monitoring.wsgate.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema></types>
  <message name="BackRefMonitoringGateConfigService_getMonitoringGateConfig">
    <part name="String_1" type="xsd:string"/></message>
  <message name="BackRefMonitoringGateConfigService_getMonitoringGateConfigResponse">
    <part name="result" type="tns:MonitoringServiceGateConfigImpl"/></message>
  <message name="BackRefMonitoringGateConfigService_setState">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="BackRefMonitoringGateConfigService_setStateResponse"/>
  <portType name="BackRefMonitoringGateConfigService">
    <operation name="getMonitoringGateConfig" parameterOrder="String_1">
      <input message="tns:BackRefMonitoringGateConfigService_getMonitoringGateConfig"/>
      <output message="tns:BackRefMonitoringGateConfigService_getMonitoringGateConfigResponse"/></operation>
    <operation name="setState" parameterOrder="String_1 String_2">
      <input message="tns:BackRefMonitoringGateConfigService_setState"/>
      <output message="tns:BackRefMonitoringGateConfigService_setStateResponse"/></operation></portType>
  <binding name="BackRefMonitoringGateConfigServiceBinding" type="tns:BackRefMonitoringGateConfigService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getMonitoringGateConfig">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.monitoring.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.monitoring.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="setState">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.monitoring.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.monitoring.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="BackRefMonitoringGateConfigServiceImpl">
    <port name="BackRefMonitoringGateConfigServicePort" binding="tns:BackRefMonitoringGateConfigServiceBinding">
      <soap:address location="http://localhost:8080/services/BackRefMonitoringGateConfigServiceImpl"/></port></service></definitions>
