e-r-i-b/WSGateListener/web/WEB-INF/BackRefReceiverInfoServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="BackRefReceiverInfoServiceImpl" targetNamespace="http://generated.recipients.wsgate.phizic.rssl.com" xmlns:tns="http://generated.recipients.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.recipients.wsgate.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.recipients.wsgate.phizic.rssl.com" xmlns:tns="http://generated.recipients.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="BusinessRecipientInfo">
        <sequence>
          <element name="INN" type="string"/>
          <element name="KPP" type="string"/>
          <element name="account" type="string"/>
          <element name="bank" type="tns:ResidentBank"/>
          <element name="commissionRate" type="decimal"/>
          <element name="deptAvailable" type="soap11-enc:boolean"/>
          <element name="description" type="string"/>
          <element name="main" type="soap11-enc:boolean"/>
          <element name="maxCommissionAmount" type="decimal"/>
          <element name="minCommissionAmount" type="decimal"/>
          <element name="name" type="string"/>
          <element name="office" type="tns:Office"/>
          <element name="payerAccount" type="string"/>
          <element name="paymentType" type="string"/>
          <element name="propsOnline" type="soap11-enc:boolean"/>
          <element name="service" type="tns:Service"/>
          <element name="synchKey" type="string"/>
          <element name="transitAccount" type="string"/></sequence></complexType>
      <complexType name="ResidentBank">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="account" type="string"/>
          <element name="id" type="soap11-enc:long"/>
          <element name="name" type="string"/>
          <element name="place" type="string"/>
          <element name="shortName" type="string"/>
          <element name="synchKey" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="Service">
        <sequence>
          <element name="code" type="string"/>
          <element name="name" type="string"/></sequence></complexType></schema></types>
  <message name="BackRefReceiverInfoService_getRecipientInfo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="BackRefReceiverInfoService_getRecipientInfoResponse">
    <part name="result" type="tns:BusinessRecipientInfo"/></message>
  <portType name="BackRefReceiverInfoService">
    <operation name="getRecipientInfo" parameterOrder="String_1 String_2">
      <input message="tns:BackRefReceiverInfoService_getRecipientInfo"/>
      <output message="tns:BackRefReceiverInfoService_getRecipientInfoResponse"/></operation></portType>
  <binding name="BackRefReceiverInfoServiceBinding" type="tns:BackRefReceiverInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getRecipientInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.recipients.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="BackRefReceiverInfoServiceImpl">
    <port name="BackRefReceiverInfoServicePort" binding="tns:BackRefReceiverInfoServiceBinding">
      <soap:address location="http://localhost:8080/services/BackRefReceiverInfoServiceImpl"/></port></service></definitions>
