e-r-i-b/WSGateListener/web/WEB-INF/BackRefClientServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="BackRefClientServiceImpl" targetNamespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com" xmlns:tns="http://generated.backrefservice.clients.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema>
    <schema targetNamespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com" xmlns:tns="http://generated.backrefservice.clients.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="ClientDocument">
        <sequence>
          <element name="docIdentify" type="boolean"/>
          <element name="docIssueBy" type="string"/>
          <element name="docIssueByCode" type="string"/>
          <element name="docIssueDate" type="dateTime"/>
          <element name="docNumber" type="string"/>
          <element name="docSeries" type="string"/>
          <element name="docTimeUpDate" type="dateTime"/>
          <element name="docTypeName" type="string"/>
          <element name="documentType" type="string"/>
          <element name="paperKind" type="soap11-enc:long"/>
          <element name="personId" type="soap11-enc:long"/></sequence></complexType>
      <complexType name="Client">
        <sequence>
          <element name="INN" type="string"/>
          <element name="UDBO" type="boolean"/>
          <element name="birthDay" type="dateTime"/>
          <element name="birthPlace" type="string"/>
          <element name="cancellationDate" type="dateTime"/>
          <element name="citizenship" type="string"/>
          <element name="displayId" type="string"/>
          <element name="documents" type="ns2:list"/>
          <element name="email" type="string"/>
          <element name="firstName" type="string"/>
          <element name="fullName" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="id" type="string"/>
          <element name="insertionDate" type="dateTime"/>
          <element name="internalOwnerId" type="soap11-enc:long"/>
          <element name="jobPhone" type="string"/>
          <element name="legalAddress" type="tns:Address"/>
          <element name="managerId" type="string"/>
          <element name="managerOSB" type="string"/>
          <element name="managerTB" type="string"/>
          <element name="managerVSP" type="string"/>
          <element name="mobileOperator" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="patrName" type="string"/>
          <element name="realAddress" type="tns:Address"/>
          <element name="resident" type="boolean"/>
          <element name="segmentCodeType" type="string"/>
          <element name="sex" type="string"/>
          <element name="shortName" type="string"/>
          <element name="state" type="tns:ClientState"/>
          <element name="surName" type="string"/>
          <element name="tarifPlanCodeType" type="string"/>
          <element name="tarifPlanConnectionDate" type="dateTime"/></sequence></complexType>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType></schema></types>
  <message name="BackRefClientService___forGenerateClientDocument">
    <part name="ClientDocument_1" type="tns:ClientDocument"/></message>
  <message name="BackRefClientService___forGenerateClientDocumentResponse"/>
  <message name="BackRefClientService_getClientByFIOAndDoc">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/>
    <part name="String_5" type="xsd:string"/>
    <part name="Calendar_6" type="xsd:dateTime"/>
    <part name="String_7" type="xsd:string"/></message>
  <message name="BackRefClientService_getClientByFIOAndDocResponse">
    <part name="result" type="tns:Client"/></message>
  <message name="BackRefClientService_getClientById">
    <part name="Long_1" type="ns2:long"/></message>
  <message name="BackRefClientService_getClientByIdResponse">
    <part name="result" type="tns:Client"/></message>
  <message name="BackRefClientService_getClientCreationType">
    <part name="String_1" type="xsd:string"/></message>
  <message name="BackRefClientService_getClientCreationTypeResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="BackRefClientService_getClientDepartmentCode">
    <part name="Long_1" type="ns2:long"/></message>
  <message name="BackRefClientService_getClientDepartmentCodeResponse">
    <part name="result" type="xsd:string"/></message>
  <portType name="BackRefClientService">
    <operation name="__forGenerateClientDocument" parameterOrder="ClientDocument_1">
      <input message="tns:BackRefClientService___forGenerateClientDocument"/>
      <output message="tns:BackRefClientService___forGenerateClientDocumentResponse"/></operation>
    <operation name="getClientByFIOAndDoc" parameterOrder="String_1 String_2 String_3 String_4 String_5 Calendar_6 String_7">
      <input message="tns:BackRefClientService_getClientByFIOAndDoc"/>
      <output message="tns:BackRefClientService_getClientByFIOAndDocResponse"/></operation>
    <operation name="getClientById" parameterOrder="Long_1">
      <input message="tns:BackRefClientService_getClientById"/>
      <output message="tns:BackRefClientService_getClientByIdResponse"/></operation>
    <operation name="getClientCreationType" parameterOrder="String_1">
      <input message="tns:BackRefClientService_getClientCreationType"/>
      <output message="tns:BackRefClientService_getClientCreationTypeResponse"/></operation>
    <operation name="getClientDepartmentCode" parameterOrder="Long_1">
      <input message="tns:BackRefClientService_getClientDepartmentCode"/>
      <output message="tns:BackRefClientService_getClientDepartmentCodeResponse"/></operation></portType>
  <binding name="BackRefClientServiceBinding" type="tns:BackRefClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateClientDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getClientByFIOAndDoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getClientById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getClientCreationType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getClientDepartmentCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.backrefservice.clients.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="BackRefClientServiceImpl">
    <port name="BackRefClientServicePort" binding="tns:BackRefClientServiceBinding">
      <soap:address location="http://localhost:8080/services/BackRefClientServiceImpl"/></port></service></definitions>
