e-r-i-b/WSGateListener/web/WEB-INF/BackRefOfficeGateServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="BackRefOfficeGateServiceImpl" targetNamespace="http://generated.listener.wsgate.phizic.rssl.com" xmlns:tns="http://generated.listener.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.listener.wsgate.phizic.rssl.com"/>
      <complexType name="map">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:mapEntry[]"/></restriction></complexContent></complexType>
      <complexType name="mapEntry">
        <sequence>
          <element name="key" type="anyType"/>
          <element name="value" type="anyType"/></sequence></complexType></schema>
    <schema targetNamespace="http://generated.listener.wsgate.phizic.rssl.com" xmlns:tns="http://generated.listener.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Code">
        <sequence>
          <element name="branch" type="string"/>
          <element name="fields" type="ns2:map"/>
          <element name="id" type="string"/>
          <element name="office" type="string"/>
          <element name="region" type="string"/></sequence></complexType>
      <complexType name="Office">
        <sequence>
          <element name="BIC" type="string"/>
          <element name="address" type="string"/>
          <element name="code" type="tns:Code"/>
          <element name="creditCardOffice" type="boolean"/>
          <element name="name" type="string"/>
          <element name="needUpdateCreditCardOffice" type="boolean"/>
          <element name="openIMAOffice" type="boolean"/>
          <element name="parentSynchKey" type="string"/>
          <element name="sbidnt" type="string"/>
          <element name="synchKey" type="string"/>
          <element name="telephone" type="string"/></sequence></complexType></schema></types>
  <message name="BackRefOfficeGateService_getOfficeByCode">
    <part name="Code_1" type="tns:Code"/></message>
  <message name="BackRefOfficeGateService_getOfficeByCodeResponse">
    <part name="result" type="tns:Office"/></message>
  <message name="BackRefOfficeGateService_getOfficeById">
    <part name="String_1" type="xsd:string"/></message>
  <message name="BackRefOfficeGateService_getOfficeByIdResponse">
    <part name="result" type="tns:Office"/></message>
  <portType name="BackRefOfficeGateService">
    <operation name="getOfficeByCode" parameterOrder="Code_1">
      <input message="tns:BackRefOfficeGateService_getOfficeByCode"/>
      <output message="tns:BackRefOfficeGateService_getOfficeByCodeResponse"/></operation>
    <operation name="getOfficeById" parameterOrder="String_1">
      <input message="tns:BackRefOfficeGateService_getOfficeById"/>
      <output message="tns:BackRefOfficeGateService_getOfficeByIdResponse"/></operation></portType>
  <binding name="BackRefOfficeGateServiceBinding" type="tns:BackRefOfficeGateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getOfficeByCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.listener.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.listener.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getOfficeById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.listener.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.listener.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="BackRefOfficeGateServiceImpl">
    <port name="BackRefOfficeGateServicePort" binding="tns:BackRefOfficeGateServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/></port></service></definitions>
