e-r-i-b/WSGateListener/web/WEB-INF/BasketRouteServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="BasketRouteServiceImpl" targetNamespace="http://generated.basket.multiblock.phizic.rssl.com" xmlns:tns="http://generated.basket.multiblock.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types/>
  <message name="BasketRouteService_acceptBillBasketExecute">
    <part name="String_1" type="xsd:string"/></message>
  <message name="BasketRouteService_acceptBillBasketExecuteResponse"/>
  <message name="BasketRouteService_addBillBasketInfo">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="BasketRouteService_addBillBasketInfoResponse"/>
  <portType name="BasketRouteService">
    <operation name="acceptBillBasketExecute" parameterOrder="String_1">
      <input message="tns:BasketRouteService_acceptBillBasketExecute"/>
      <output message="tns:BasketRouteService_acceptBillBasketExecuteResponse"/></operation>
    <operation name="addBillBasketInfo" parameterOrder="String_1 String_2">
      <input message="tns:BasketRouteService_addBillBasketInfo"/>
      <output message="tns:BasketRouteService_addBillBasketInfoResponse"/></operation></portType>
  <binding name="BasketRouteServiceBinding" type="tns:BasketRouteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="acceptBillBasketExecute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.basket.multiblock.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.basket.multiblock.phizic.rssl.com"/></output></operation>
    <operation name="addBillBasketInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.basket.multiblock.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.basket.multiblock.phizic.rssl.com"/></output></operation></binding>
  <service name="BasketRouteServiceImpl">
    <port name="BasketRouteServicePort" binding="tns:BasketRouteServiceBinding">
      <soap:address location="http://localhost:8080/services/BasketRouteServiceImpl"/></port></service></definitions>
