e-r-i-b/WSGateListener/web/WEB-INF/CSABackRefServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CSABackRefServiceImpl" targetNamespace="http://generated.csa.wsgate.phizic.rssl.com" xmlns:tns="http://generated.csa.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.csa.wsgate.phizic.rssl.com" xmlns:tns="http://generated.csa.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Address">
        <sequence>
          <element name="building" type="string"/>
          <element name="city" type="string"/>
          <element name="district" type="string"/>
          <element name="flat" type="string"/>
          <element name="homePhone" type="string"/>
          <element name="house" type="string"/>
          <element name="mobilePhone" type="string"/>
          <element name="postalCode" type="string"/>
          <element name="province" type="string"/>
          <element name="street" type="string"/>
          <element name="type" type="string"/>
          <element name="unparseableAddress" type="string"/>
          <element name="workPhone" type="string"/></sequence></complexType>
      <complexType name="CardInformation">
        <sequence>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="Contact">
        <sequence>
          <element name="contactNum" type="string"/>
          <element name="contactType" type="string"/></sequence></complexType>
      <complexType name="Document">
        <sequence>
          <element name="docIdentify" type="boolean"/>
          <element name="docIssueBy" type="string"/>
          <element name="docIssueByCode" type="string"/>
          <element name="docIssueDate" type="dateTime"/>
          <element name="docNumber" type="string"/>
          <element name="docSeries" type="string"/>
          <element name="docTimeUpDate" type="dateTime"/>
          <element name="docTypeName" type="string"/>
          <element name="documentType" type="string"/>
          <element name="paperKind" type="soap11-enc:long"/>
          <element name="personId" type="soap11-enc:long"/></sequence></complexType>
      <complexType name="ClientTemplate">
        <sequence>
          <element name="birthDate" type="dateTime"/>
          <element name="firstName" type="string"/>
          <element name="lastName" type="string"/>
          <element name="middleName" type="string"/>
          <element name="passport" type="string"/>
          <element name="tb" type="string"/></sequence></complexType>
      <complexType name="ClientInformation">
        <sequence>
          <element name="UDBO" type="boolean"/>
          <element name="birthdate" type="dateTime"/>
          <element name="contactData" type="ns2:list"/>
          <element name="documents" type="ns2:list"/>
          <element name="firstname" type="string"/>
          <element name="patrname" type="string"/>
          <element name="postAddr" type="ns2:list"/>
          <element name="surname" type="string"/></sequence></complexType>
      <complexType name="ConfirmationInformation">
        <sequence>
          <element name="confirmStrategyType" type="string"/>
          <element name="confirmationSources" type="ns2:list"/>
          <element name="pushAllowed" type="boolean"/></sequence></complexType>
      <complexType name="ErmbInfo">
        <sequence>
          <element name="activePhone" type="string"/>
          <element name="status" type="string"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.csa.wsgate.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema></types>
  <message name="CSABackRefService___forGenerateAddress"/>
  <message name="CSABackRefService___forGenerateAddressResponse">
    <part name="result" type="tns:Address"/></message>
  <message name="CSABackRefService___forGenerateCardInformation"/>
  <message name="CSABackRefService___forGenerateCardInformationResponse">
    <part name="result" type="tns:CardInformation"/></message>
  <message name="CSABackRefService___forGenerateContact"/>
  <message name="CSABackRefService___forGenerateContactResponse">
    <part name="result" type="tns:Contact"/></message>
  <message name="CSABackRefService___forGenerateDocument"/>
  <message name="CSABackRefService___forGenerateDocumentResponse">
    <part name="result" type="tns:Document"/></message>
  <message name="CSABackRefService_getClientInformation">
    <part name="ClientTemplate_1" type="tns:ClientTemplate"/></message>
  <message name="CSABackRefService_getClientInformationResponse">
    <part name="result" type="tns:ClientInformation"/></message>
  <message name="CSABackRefService_getConfirmationInformation">
    <part name="ClientTemplate_1" type="tns:ClientTemplate"/></message>
  <message name="CSABackRefService_getConfirmationInformationResponse">
    <part name="result" type="tns:ConfirmationInformation"/></message>
  <message name="CSABackRefService_getErmbInformation">
    <part name="ClientTemplate_1" type="tns:ClientTemplate"/></message>
  <message name="CSABackRefService_getErmbInformationResponse">
    <part name="result" type="tns:ErmbInfo"/></message>
  <message name="CSABackRefService_getErmbInformationList">
    <part name="List_1" type="ns2:list"/></message>
  <message name="CSABackRefService_getErmbInformationListResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="CSABackRefService_getUserRegistrationMode">
    <part name="ClientTemplate_1" type="tns:ClientTemplate"/></message>
  <message name="CSABackRefService_getUserRegistrationModeResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="CSABackRefService_removeErmbPhone">
    <part name="ClientTemplate_1" type="tns:ClientTemplate"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="CSABackRefService_removeErmbPhoneResponse"/>
  <portType name="CSABackRefService">
    <operation name="__forGenerateAddress">
      <input message="tns:CSABackRefService___forGenerateAddress"/>
      <output message="tns:CSABackRefService___forGenerateAddressResponse"/></operation>
    <operation name="__forGenerateCardInformation">
      <input message="tns:CSABackRefService___forGenerateCardInformation"/>
      <output message="tns:CSABackRefService___forGenerateCardInformationResponse"/></operation>
    <operation name="__forGenerateContact">
      <input message="tns:CSABackRefService___forGenerateContact"/>
      <output message="tns:CSABackRefService___forGenerateContactResponse"/></operation>
    <operation name="__forGenerateDocument">
      <input message="tns:CSABackRefService___forGenerateDocument"/>
      <output message="tns:CSABackRefService___forGenerateDocumentResponse"/></operation>
    <operation name="getClientInformation" parameterOrder="ClientTemplate_1">
      <input message="tns:CSABackRefService_getClientInformation"/>
      <output message="tns:CSABackRefService_getClientInformationResponse"/></operation>
    <operation name="getConfirmationInformation" parameterOrder="ClientTemplate_1">
      <input message="tns:CSABackRefService_getConfirmationInformation"/>
      <output message="tns:CSABackRefService_getConfirmationInformationResponse"/></operation>
    <operation name="getErmbInformation" parameterOrder="ClientTemplate_1">
      <input message="tns:CSABackRefService_getErmbInformation"/>
      <output message="tns:CSABackRefService_getErmbInformationResponse"/></operation>
    <operation name="getErmbInformationList" parameterOrder="List_1">
      <input message="tns:CSABackRefService_getErmbInformationList"/>
      <output message="tns:CSABackRefService_getErmbInformationListResponse"/></operation>
    <operation name="getUserRegistrationMode" parameterOrder="ClientTemplate_1">
      <input message="tns:CSABackRefService_getUserRegistrationMode"/>
      <output message="tns:CSABackRefService_getUserRegistrationModeResponse"/></operation>
    <operation name="removeErmbPhone" parameterOrder="ClientTemplate_1 String_2">
      <input message="tns:CSABackRefService_removeErmbPhone"/>
      <output message="tns:CSABackRefService_removeErmbPhoneResponse"/></operation></portType>
  <binding name="CSABackRefServiceBinding" type="tns:CSABackRefService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateCardInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="__forGenerateDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getClientInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getConfirmationInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getErmbInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getErmbInformationList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getUserRegistrationMode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="removeErmbPhone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.csa.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="CSABackRefServiceImpl">
    <port name="CSABackRefServicePort" binding="tns:CSABackRefServiceBinding">
      <soap:address location="http://localhost:8080/services/CSABackRefServiceImpl"/></port></service></definitions>
