e-r-i-b/WSGateListener/web/WEB-INF/ExceptionStatisticServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="ExceptionStatisticServiceImpl" targetNamespace="http://generated.exception.statistics.wsgate.phizic.rssl.com" xmlns:tns="http://generated.exception.statistics.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://generated.exception.statistics.wsgate.phizic.rssl.com" xmlns:tns="http://generated.exception.statistics.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="ExternalExceptionInfo">
        <sequence>
          <element name="application" type="string"/>
          <element name="detail" type="string"/>
          <element name="errorCode" type="string"/>
          <element name="errorText" type="string"/>
          <element name="gate" type="string"/>
          <element name="messageKey" type="string"/>
          <element name="system" type="string"/>
          <element name="tb" type="string"/></sequence></complexType></schema></types>
  <message name="ExceptionStatisticService_addException">
    <part name="ExternalExceptionInfo_1" type="tns:ExternalExceptionInfo"/></message>
  <message name="ExceptionStatisticService_addExceptionResponse">
    <part name="result" type="xsd:string"/></message>
  <portType name="ExceptionStatisticService">
    <operation name="addException" parameterOrder="ExternalExceptionInfo_1">
      <input message="tns:ExceptionStatisticService_addException"/>
      <output message="tns:ExceptionStatisticService_addExceptionResponse"/></operation></portType>
  <binding name="ExceptionStatisticServiceBinding" type="tns:ExceptionStatisticService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="addException">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.exception.statistics.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.exception.statistics.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="ExceptionStatisticServiceImpl">
    <port name="ExceptionStatisticServicePort" binding="tns:ExceptionStatisticServiceBinding">
      <soap:address location="http://localhost:8080/services/ExceptionStatisticServiceImpl"/></port></service></definitions>
