e-r-i-b/WSGateListener/web/WEB-INF/FundMultiNodeServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="FundMultiNodeServiceImpl" targetNamespace="http://generated.fund.wsgate.phizic.rssl.com" xmlns:tns="http://generated.fund.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns3="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://generated.fund.wsgate.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema>
    <schema targetNamespace="http://generated.fund.wsgate.phizic.rssl.com" xmlns:tns="http://generated.fund.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="FundInfo">
        <sequence>
          <element name="externalResponseId" type="string"/>
          <element name="initiatorGuid" type="tns:GUID"/>
          <element name="initiatorPhones" type="string"/>
          <element name="request" type="tns:Request"/>
          <element name="senderGuid" type="tns:GUID"/></sequence></complexType>
      <complexType name="GUID">
        <sequence>
          <element name="birthDay" type="dateTime"/>
          <element name="firstName" type="string"/>
          <element name="passport" type="string"/>
          <element name="patrName" type="string"/>
          <element name="surName" type="string"/>
          <element name="tb" type="string"/></sequence></complexType>
      <complexType name="Request">
        <sequence>
          <element name="closedDate" type="dateTime"/>
          <element name="createdDate" type="dateTime"/>
          <element name="expectedClosedDate" type="dateTime"/>
          <element name="externalId" type="string"/>
          <element name="message" type="string"/>
          <element name="reccomendSum" type="decimal"/>
          <element name="requiredSum" type="decimal"/>
          <element name="resource" type="string"/>
          <element name="state" type="string"/></sequence></complexType>
      <complexType name="RequestInfo">
        <sequence>
          <element name="accumulatedSum" type="decimal"/>
          <element name="internalId" type="soap11-enc:long"/>
          <element name="state" type="string"/></sequence></complexType>
      <complexType name="Response">
        <sequence>
          <element name="externalId" type="string"/>
          <element name="externalRequestId" type="string"/>
          <element name="message" type="string"/>
          <element name="state" type="string"/>
          <element name="sum" type="decimal"/></sequence></complexType></schema></types>
  <message name="FundMultiNodeService___forGenerateFundInfo"/>
  <message name="FundMultiNodeService___forGenerateFundInfoResponse">
    <part name="result" type="tns:FundInfo"/></message>
  <message name="FundMultiNodeService_closeRequests">
    <part name="List_1" type="ns3:list"/>
    <part name="Long_2" type="ns2:long"/></message>
  <message name="FundMultiNodeService_closeRequestsResponse"/>
  <message name="FundMultiNodeService_createFundSenderResponses">
    <part name="List_1" type="ns3:list"/>
    <part name="Long_2" type="ns2:long"/></message>
  <message name="FundMultiNodeService_createFundSenderResponsesResponse">
    <part name="result" type="ns3:list"/></message>
  <message name="FundMultiNodeService_getRequestInfo">
    <part name="String_1" type="xsd:string"/></message>
  <message name="FundMultiNodeService_getRequestInfoResponse">
    <part name="result" type="tns:RequestInfo"/></message>
  <message name="FundMultiNodeService_updateResponseInfo">
    <part name="Response_1" type="tns:Response"/></message>
  <message name="FundMultiNodeService_updateResponseInfoResponse"/>
  <message name="FundMultiNodeService_updateResponseInfoBySum">
    <part name="Response_1" type="tns:Response"/>
    <part name="BigDecimal_2" type="xsd:decimal"/></message>
  <message name="FundMultiNodeService_updateResponseInfoBySumResponse"/>
  <portType name="FundMultiNodeService">
    <operation name="__forGenerateFundInfo">
      <input message="tns:FundMultiNodeService___forGenerateFundInfo"/>
      <output message="tns:FundMultiNodeService___forGenerateFundInfoResponse"/></operation>
    <operation name="closeRequests" parameterOrder="List_1 Long_2">
      <input message="tns:FundMultiNodeService_closeRequests"/>
      <output message="tns:FundMultiNodeService_closeRequestsResponse"/></operation>
    <operation name="createFundSenderResponses" parameterOrder="List_1 Long_2">
      <input message="tns:FundMultiNodeService_createFundSenderResponses"/>
      <output message="tns:FundMultiNodeService_createFundSenderResponsesResponse"/></operation>
    <operation name="getRequestInfo" parameterOrder="String_1">
      <input message="tns:FundMultiNodeService_getRequestInfo"/>
      <output message="tns:FundMultiNodeService_getRequestInfoResponse"/></operation>
    <operation name="updateResponseInfo" parameterOrder="Response_1">
      <input message="tns:FundMultiNodeService_updateResponseInfo"/>
      <output message="tns:FundMultiNodeService_updateResponseInfoResponse"/></operation>
    <operation name="updateResponseInfoBySum" parameterOrder="Response_1 BigDecimal_2">
      <input message="tns:FundMultiNodeService_updateResponseInfoBySum"/>
      <output message="tns:FundMultiNodeService_updateResponseInfoBySumResponse"/></operation></portType>
  <binding name="FundMultiNodeServiceBinding" type="tns:FundMultiNodeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="__forGenerateFundInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="closeRequests">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="createFundSenderResponses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getRequestInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="updateResponseInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="updateResponseInfoBySum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.fund.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="FundMultiNodeServiceImpl">
    <port name="FundMultiNodeServicePort" binding="tns:FundMultiNodeServiceBinding">
      <soap:address location="http://localhost:8080/services/FundMultiNodeServiceImpl"/></port></service></definitions>
