e-r-i-b/WSGateClient/src/com/rssl/phizicgate/wsgateclient/services/person/update/generated/UpdatePersonService_Server_Impl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="UpdatePersonService_Server_Impl" targetNamespace="http://clients.wsgate.phizic.rssl.com" xmlns:tns="http://clients.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://clients.wsgate.phizic.rssl.com" xmlns:tns="http://clients.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="Money">
        <sequence>
          <element name="currency" type="tns:Currency"/>
          <element name="decimal" type="decimal"/></sequence></complexType>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType>
      <complexType name="CancelationCallBackImpl">
        <sequence>
          <element name="id" type="string"/></sequence></complexType>
      <complexType name="ClientState">
        <sequence>
          <element name="category" type="string"/>
          <element name="code" type="string"/>
          <element name="description" type="string"/></sequence></complexType></schema></types>
  <message name="UpdatePersonService_PortType_lockOnUnlock">
    <part name="String_1" type="xsd:string"/>
    <part name="Date_2" type="xsd:dateTime"/>
    <part name="Boolean_3" type="ns2:boolean"/>
    <part name="Money_4" type="tns:Money"/></message>
  <message name="UpdatePersonService_PortType_lockOnUnlockResponse"/>
  <message name="UpdatePersonService_PortType_updateState">
    <part name="CancelationCallBackImpl_1" type="tns:CancelationCallBackImpl"/>
    <part name="ClientState_2" type="tns:ClientState"/></message>
  <message name="UpdatePersonService_PortType_updateStateResponse"/>
  <message name="UpdatePersonService_PortType_updateState2">
    <part name="String_1" type="xsd:string"/>
    <part name="ClientState_2" type="tns:ClientState"/></message>
  <message name="UpdatePersonService_PortType_updateState2Response"/>
  <portType name="UpdatePersonService_PortType">
    <operation name="lockOnUnlock" parameterOrder="String_1 Date_2 Boolean_3 Money_4">
      <input message="tns:UpdatePersonService_PortType_lockOnUnlock"/>
      <output message="tns:UpdatePersonService_PortType_lockOnUnlockResponse"/></operation>
    <operation name="updateState" parameterOrder="CancelationCallBackImpl_1 ClientState_2">
      <input message="tns:UpdatePersonService_PortType_updateState"/>
      <output message="tns:UpdatePersonService_PortType_updateStateResponse"/></operation>
    <operation name="updateState2" parameterOrder="String_1 ClientState_2">
      <input message="tns:UpdatePersonService_PortType_updateState2"/>
      <output message="tns:UpdatePersonService_PortType_updateState2Response"/></operation></portType>
  <binding name="UpdatePersonService_PortTypeBinding" type="tns:UpdatePersonService_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="lockOnUnlock">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://clients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://clients.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="updateState">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://clients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://clients.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="updateState2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://clients.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://clients.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="UpdatePersonService_Server_Impl">
    <port name="UpdatePersonService_PortTypePort" binding="tns:UpdatePersonService_PortTypeBinding">
      <soap:address location="http://localhost:8080/services/UpdatePersonService_Server_Impl"/></port></service></definitions>
