e-r-i-b/WebTest/src/com/rssl/phizic/test/wsgateclient/asfilial/asfilial.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://generated.listener.asfilial.phizic.rssl.com"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="ASFilialWService"
                  targetNamespace="http://generated.listener.asfilial.phizic.rssl.com">

    <wsdl:import namespace="http://generated.listener.asfilial.phizic.rssl.com" location="asfilial.xsd"/>

	<wsdl:message name="QueryProfileRqMsg">
		<wsdl:part element="ns:QueryProfileRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="QueryProfileRsMsg">
		<wsdl:part element="ns:QueryProfileRs" name="result"/>
	</wsdl:message>
    <wsdl:message name="UpdateProfileRqMsg">
        <wsdl:part element="ns:UpdateProfileRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateProfileRsMsg">
        <wsdl:part element="ns:UpdateProfileRs" name="result"/>
    </wsdl:message>
    <wsdl:message name="ConfirmPhoneHolderRqMsg">
        <wsdl:part element="ns:ConfirmPhoneHolderRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ConfirmPhoneHolderRsMsg">
        <wsdl:part element="ns:ConfirmPhoneHolderRs" name="result"/>
    </wsdl:message>
    <wsdl:message name="RequestPhoneHolderRqMsg">
        <wsdl:part element="ns:RequestPhoneHolderRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="RequestPhoneHolderRsMsg">
        <wsdl:part element="ns:RequestPhoneHolderRs" name="result"/>
    </wsdl:message>
	<wsdl:portType name="ASFilialInfoService">
		<wsdl:operation name="QueryProfile">
			<wsdl:input message="ns:QueryProfileRqMsg"/>
			<wsdl:output message="ns:QueryProfileRsMsg"/>
		</wsdl:operation>
        <wsdl:operation name="UpdateProfile">
            <wsdl:input message="ns:UpdateProfileRqMsg"/>
            <wsdl:output message="ns:UpdateProfileRsMsg"/>
        </wsdl:operation>
        <wsdl:operation name="ConfirmPhoneHolder">
            <wsdl:input message="ns:ConfirmPhoneHolderRqMsg"/>
            <wsdl:output message="ns:ConfirmPhoneHolderRsMsg"/>
        </wsdl:operation>
        <wsdl:operation name="RequestPhoneHolder">
            <wsdl:input message="ns:RequestPhoneHolderRqMsg"/>
            <wsdl:output message="ns:RequestPhoneHolderRsMsg"/>
        </wsdl:operation>
	</wsdl:portType>
    <wsdl:binding name="ASFilialInfoServiceSoapBinding" type="ns:ASFilialInfoService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryProfile">
            <soap:operation style="document" soapAction="http://generated.listener.asfilial.phizic.rssl.com/QueryProfileRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateProfile">
            <soap:operation style="document" soapAction="http://generated.listener.asfilial.phizic.rssl.com/UpdateProfileRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConfirmPhoneHolder">
            <soap:operation style="document" soapAction="http://generated.listener.asfilial.phizic.rssl.com/ConfirmPhoneHolderRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
         <wsdl:operation name="RequestPhoneHolder">
            <soap:operation style="document" soapAction="http://generated.listener.asfilial.phizic.rssl.com/RequestPhoneHolderRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="ASFilialInfoServiceImpl">
		<wsdl:port binding="ns:ASFilialInfoServiceSoapBinding" name="ASFilialInfoServicePort">
			<soap:address location="http://localhost:8080/services/ASFilialInfoServiceImpl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>