e-r-i-b/WebClient/src/com/rssl/phizic/web/client/loans/description.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:element name="data">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="element" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="element">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="value" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="field">
      <xs:complexType>
         <xs:attribute name="name" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="description" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="domen">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="fields">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="field" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="product">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="structure"/>
            <xs:element ref="data"/>
            <xs:element ref="dictionaries"/>
         </xs:sequence>
         <xs:attribute name="id" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="name" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="description" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
       	 <xs:attribute name="kind" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
		 <xs:attribute name="commissionInterestRate" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
	  </xs:complexType>
   </xs:element>
   <xs:element name="structure">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="fields"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="value">
      <xs:complexType mixed="true">
         <xs:attribute name="field" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="dictionaries">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="entity-list" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="entity-list">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="entity" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attribute name="name" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="entity">
      <xs:complexType mixed="true">
         <xs:attribute name="key" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="kind">
      <xs:complexType mixed="true">
         <xs:attribute name="key" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:string"/>
            </xs:simpleType>
         </xs:attribute>
       	 <xs:attribute name="isMoney" use="required">
            <xs:simpleType>
               <xs:restriction base="xs:boolean"/>
            </xs:simpleType>
         </xs:attribute>
	   </xs:complexType>
   </xs:element>
   <xs:element name="kinds">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="kind" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="products">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="product" maxOccurs="unbounded"/>
            <xs:element ref="kinds" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>