e-r-i-b/Monitoring/web/WEB-INF/IncrementMonitoringCounterServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="IncrementMonitoringCounterServiceImpl" targetNamespace="http://generated.services.monitoring.phizic.rssl.com" xmlns:tns="http://generated.services.monitoring.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types/>
  <message name="IncrementMonitoringCounterService_increment">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="IncrementMonitoringCounterService_incrementResponse"/>
  <message name="IncrementMonitoringCounterService_incrementPercent">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="boolean_3" type="xsd:boolean"/></message>
  <message name="IncrementMonitoringCounterService_incrementPercentResponse"/>
  <portType name="IncrementMonitoringCounterService">
    <operation name="increment" parameterOrder="String_1 String_2">
      <input message="tns:IncrementMonitoringCounterService_increment"/>
      <output message="tns:IncrementMonitoringCounterService_incrementResponse"/></operation>
    <operation name="incrementPercent" parameterOrder="String_1 String_2 boolean_3">
      <input message="tns:IncrementMonitoringCounterService_incrementPercent"/>
      <output message="tns:IncrementMonitoringCounterService_incrementPercentResponse"/></operation></portType>
  <binding name="IncrementMonitoringCounterServiceBinding" type="tns:IncrementMonitoringCounterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="increment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.monitoring.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.monitoring.phizic.rssl.com"/></output></operation>
    <operation name="incrementPercent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.monitoring.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://generated.services.monitoring.phizic.rssl.com"/></output></operation></binding>
  <service name="IncrementMonitoringCounterServiceImpl">
    <port name="IncrementMonitoringCounterServicePort" binding="tns:IncrementMonitoringCounterServiceBinding">
      <soap:address location="http://localhost:8080/services/IncrementMonitoringCounterServiceImpl"/></port></service></definitions>
