e-r-i-b/WebTest/src/com/rssl/phizic/test/webgate/depomobilebank/MBVMigrator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.mbv.sbrf.ru" xmlns:impl="http://service.mbv.sbrf.ru" xmlns:intf="http://service.mbv.sbrf.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://service.mbv.sbrf.ru" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="sendMessageResponse">
    <complexType>
     <sequence>
      <element name="sendMessageReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendMessage">
    <complexType>
     <sequence>
      <element name="message" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendMessageResponse">
     <wsdl:part element="impl:sendMessageResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>

   <wsdl:message name="sendMessageRequest">
     <wsdl:part element="impl:sendMessage" name="parameters">
    </wsdl:part>

  </wsdl:message>

   <wsdl:portType name="MBVMigrator">
     <wsdl:operation name="sendMessage">
       <wsdl:input message="impl:sendMessageRequest" name="sendMessageRequest">
    </wsdl:input>

       <wsdl:output message="impl:sendMessageResponse" name="sendMessageResponse">
    </wsdl:output>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="MBVMigratorSoapBinding" type="impl:MBVMigrator">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="sendMessage">
       <wsdlsoap:operation soapAction="sendMessage"/>

       <wsdl:input name="sendMessageRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="sendMessageResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="MBVMigratorService">
     <wsdl:port binding="impl:MBVMigratorSoapBinding" name="MBVMigrator">
       <wsdlsoap:address location="http://localhost:9080/mbv-web/services/MBVMigrator"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
