e-r-i-b/CSAAuthGate/src/com/rssl/phizic/authgate/ipas/cap/ws/generated/CAPTypes-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        targetNamespace="http://www.openwaygroup.com/iPAS/Schema/CAPTypes-v1"
        elementFormDefault="qualified"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:types-common="http://www.openwaygroup.com/iPAS/Schema/CommonTypes-v1"
        version="1.0">

    <!--
        Revision   Date           Author               Comments
        ========   ==========     ============         ==================
          1.0      23/04/2012     Philip Gorbachev     Initial version
    -->

    <xsd:import namespace="http://www.openwaygroup.com/iPAS/Schema/CommonTypes-v1" schemaLocation="CommonTypes-v1.xsd"/>

    <xsd:complexType name="VerifyCAPRqType">
        <xsd:complexContent>
            <xsd:extension base="types-common:CommonRqType">
                <xsd:sequence>
                    <xsd:element name="CardNumber" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="CAPToken" type="xsd:string" minOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>