e-r-i-b/WebTest/src/com/rssl/phizic/test/webgate/shop/shop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<!-- Begin DocRegRq -->
	<xsd:simpleType name="StringType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>

	<xsd:simpleType name="UUIDType">
		<xsd:annotation>
			<xsd:documentation>Идентификатор запроса</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StringType">
		    <xsd:pattern value="[0-9a-fA-F]{32}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="DateTimeType">
	    <xsd:restriction base="xsd:string">
	        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{6})?((-|\+)[0-9]{2}:[0-9]{2})?)?)?"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="SPNameType">
	    <xsd:annotation>
			<xsd:documentation>
				Service Provider Name.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StringType">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SystemIdType">
		<xsd:annotation>
			<xsd:documentation>Тип для идентификатора системы</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="StringType">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ModeType">
        <xsd:annotation>
            <xsd:documentation>Режим регистрации</xsd:documentation>
        </xsd:annotation>
	    <xsd:restriction base="StringType">
	        <xsd:length value="1"/>
	        <xsd:enumeration value="F"/>
	        <xsd:enumeration value="P"/>
            <xsd:enumeration value="O"/>
	    </xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="String3Type">
   	    <xsd:restriction base="StringType">
   	        <xsd:maxLength value="3"/>
   	    </xsd:restriction>
   	</xsd:simpleType>

    <xsd:simpleType name="String10Type">
   	    <xsd:restriction base="StringType">
   	        <xsd:maxLength value="10"/>
   	    </xsd:restriction>
   	</xsd:simpleType>
	<xsd:simpleType name="StringNum10Type">
		<xsd:restriction base="StringType">
			<xsd:maxLength value="10"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="String15Type">
   	    <xsd:restriction base="StringType">
   	        <xsd:maxLength value="15"/>
   	    </xsd:restriction>
   	</xsd:simpleType>

    <xsd:simpleType name="String20Type">
   	    <xsd:restriction base="StringType">
   	        <xsd:maxLength value="20"/>
   	    </xsd:restriction>
   	</xsd:simpleType>

    <xsd:simpleType name="String40Type">
   	    <xsd:restriction base="StringType">
   	        <xsd:maxLength value="40"/>
   	    </xsd:restriction>
   	</xsd:simpleType>

    <xsd:simpleType name="String50Type">
   	    <xsd:restriction base="StringType">
   	        <xsd:maxLength value="50"/>
   	    </xsd:restriction>
   	</xsd:simpleType>

    <xsd:simpleType name="String99Type">
   	    <xsd:restriction base="StringType">
   	        <xsd:maxLength value="99"/>
   	    </xsd:restriction>
   	</xsd:simpleType>

    <xsd:simpleType name="String200Type">
	    <xsd:restriction base="StringType">
	        <xsd:maxLength value="200"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="String255Type">
	    <xsd:restriction base="StringType">
	        <xsd:maxLength value="255"/>
	    </xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="String512Type">
   	    <xsd:restriction base="StringType">
   	        <xsd:maxLength value="512"/>
   	    </xsd:restriction>
   	</xsd:simpleType>

    <xsd:simpleType name="String1000Type">
	    <xsd:restriction base="StringType">
	        <xsd:maxLength value="1000"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="DocumentIdType">
	    <xsd:annotation>
	        <xsd:documentation>Идентификатор документа</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="String255Type"/>
	</xsd:simpleType>

	<xsd:simpleType name="DecimalType">
	    <xsd:annotation>
	        <xsd:documentation>Тип данных для представления сумм</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>

	<xsd:simpleType name="NilStringType">
	    <xsd:restriction base="xsd:string">
	        <xsd:maxLength value="0"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="AmountType">
	    <xsd:annotation>
	        <xsd:documentation>Сумма документа</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="DecimalType"/>
	</xsd:simpleType>

	<xsd:simpleType name="CurrencyType">
	    <xsd:annotation>
	        <xsd:documentation>Валюта документа</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="xsd:string">
	        <xsd:length value="3"/>
	        <xsd:enumeration value="RUB"/>
	        <xsd:enumeration value="EUR"/>
	        <xsd:enumeration value="USD"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="DescType">
	    <xsd:annotation>
	        <xsd:documentation>Описание документа</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="String255Type"/>
	</xsd:simpleType>

	<xsd:simpleType name="AccountNumberType">
	    <xsd:annotation>
	        <xsd:documentation>Номер счета</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="StringType">
	        <xsd:pattern value="[0-9]{24}"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CorrespondentType">
	    <xsd:annotation>
	        <xsd:documentation>Корреспондирующий счет</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="StringType">
			<xsd:pattern value="[0-9]{35}"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RecipientType">
	    <xsd:annotation>
	        <xsd:documentation>БИК банка получателя</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="StringType">
			<xsd:pattern value="[0-9]{9}"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TaxIdType">
	    <xsd:annotation>
	        <xsd:documentation>ИНН получателя</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="StringType">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="[0-9]+"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="KPPType">
	    <xsd:annotation>
	        <xsd:documentation>КПП получателя</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="StringType">
			<xsd:pattern value="[0-9]{9}"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RecipientNameType">
	    <xsd:annotation>
	        <xsd:documentation>Наименование получателя</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="StringType">
	        <xsd:maxLength value="160"/>
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ItemDescType">
	    <xsd:annotation>
	        <xsd:documentation>Текстовое описание товара</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="String255Type"/>
	</xsd:simpleType>

	<xsd:simpleType name="NameType">
	    <xsd:annotation>
	        <xsd:documentation>Наименование товара</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="String255Type"/>
	</xsd:simpleType>

	<xsd:simpleType name="PriceType">
	    <xsd:annotation>
	        <xsd:documentation>Стоимость товара</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="DecimalType"/>
	</xsd:simpleType>

	<xsd:simpleType name="PriceCur">
	    <xsd:annotation>
	        <xsd:documentation>Валюта стоимости товара</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="CurrencyType"/>
	</xsd:simpleType>

	<xsd:simpleType name="LongType">
	    <xsd:restriction base="xsd:long"/>
	</xsd:simpleType>

	<xsd:simpleType name="CountType">
	    <xsd:annotation>
	        <xsd:documentation>Кол-во единиц товара в заказе</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="LongType"/>
	</xsd:simpleType>

	<xsd:simpleType name="ERIBUIDType">
	    <xsd:annotation>
	        <xsd:documentation>Идентификатор операции</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="UUIDType"/>
	</xsd:simpleType>

    <xsd:simpleType name="UTRRNO">
        <xsd:annotation>
            <xsd:documentation>Уникальный номер операции SVFE -. 9 или 12 или 99 знаков.</xsd:documentation>
        </xsd:annotation>
         <xsd:restriction base="StringType">
            <xsd:pattern value="\d{9}|\d{12}|\d{99}"/>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:simpleType name="StatusCodeType">
	    <xsd:annotation>
	        <xsd:documentation>Код ошибки</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="LongType"/>
	</xsd:simpleType>

	<xsd:simpleType name="StatusDescType">
	    <xsd:annotation>
	        <xsd:documentation>Текст ошибки</xsd:documentation>
	    </xsd:annotation>
	    <xsd:restriction base="String255Type"/>
	</xsd:simpleType>
	<xsd:simpleType name="C">
		<xsd:annotation>
			<xsd:documentation>Строковый тип с поддержкой русского языка в кодировке UTF-8</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="RegRqDocumentType">
	    <xsd:sequence>
	        <xsd:element name="Id" type="DocumentIdType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="Amount" type="AmountType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="AmountCur" type="CurrencyType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Desc" type="DescType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="PrintDesc" type="String200Type" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Account" type="AccountNumberType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Correspondent" type="CorrespondentType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Recipient" type="RecipientType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="TaxId" type="TaxIdType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="KPP" type="KPPType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="RecipientName" type="RecipientNameType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Fields" type="FieldsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="BackUrl" type="String1000Type" minOccurs="0" maxOccurs="1"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ItemType">
	    <xsd:sequence>
	        <xsd:element name="ItemDesc" type="ItemDescType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Name" type="NameType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Price" type="PriceType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="PriceCur" type="CurrencyType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Count" type="CountType" minOccurs="0" maxOccurs="1"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ShopType">
	    <xsd:sequence>
	        <xsd:element name="Item" type="ItemType" minOccurs="0" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="PassengerType">
        <xsd:sequence>
            <xsd:element name="FirstName" type="String99Type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="LastName" type="String99Type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Type" type="String20Type" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
   	</xsd:complexType>

    <xsd:complexType name="PassengersListType">
        <xsd:sequence>
            <xsd:element name="Passenger" type="PassengerType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
   	</xsd:complexType>

    <xsd:complexType name="DepartureType">
        <xsd:sequence>
            <xsd:element name="Airport" type="String3Type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Location" type="String255Type" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Terminal" type="String99Type" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DateTime" type="DateTimeType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Flight" type="String10Type" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
   	</xsd:complexType>

    <xsd:complexType name="ArrivalType">
        <xsd:sequence>
            <xsd:element name="Airport" type="String3Type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Location" type="String255Type" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Terminal" type="String99Type" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="DateTime" type="DateTimeType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Flight" type="String10Type" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
   	</xsd:complexType>

    <xsd:complexType name="RouteType">
        <xsd:sequence>
            <xsd:element name="AirlineName" type="String40Type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Departure" type="DepartureType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Arrival" type="ArrivalType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
   	</xsd:complexType>

    <xsd:complexType name="RoutesListType">
        <xsd:sequence>
            <xsd:element name="Route" type="RouteType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
   	</xsd:complexType>

    <xsd:complexType name="AirlineReservationType">
        <xsd:sequence>
            <xsd:element name="ReservId" type="String99Type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="ReservExpiration" type="DateTimeType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="PassengersList" type="PassengersListType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="RoutesList" type="RoutesListType" minOccurs="1" maxOccurs="1"/>
   	    </xsd:sequence>
   	</xsd:complexType>

	<xsd:complexType name="FieldsType">
	    <xsd:sequence>
	        <xsd:element name="Shop" type="ShopType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="AirlineReservation" type="AirlineReservationType" minOccurs="0" maxOccurs="1"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RiskGroupType">
		<xsd:annotation>
			<xsd:documentation>Группа риска поставщика. Возможные значения: high, low</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SupplierTypeType">
		<xsd:annotation>
			<xsd:documentation>Тип поставщика</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InitiatorType">
		<xsd:annotation>
			<xsd:documentation>Инициатор выставления счета. Возможные значения: client, merchant</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="eShopIdBySPType">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор поставщика услуг в системе фасилитатора</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="250"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="eShopURLType">
		<xsd:annotation>
			<xsd:documentation>URL Интернет-магазина КПУ</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DocRegRqType">
	    <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SPName" type="SPNameType"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="RiskGroup" type="RiskGroupType" minOccurs="0"/>
			<xsd:element name="SupplierType" type="SupplierTypeType" minOccurs="0"/>
			<xsd:element name="Initiator" type="InitiatorType" minOccurs="0"/>
			<xsd:element name="eShopIdBySP" type="eShopIdBySPType" minOccurs="0"/>
			<xsd:element name="eShopURL" type="eShopURLType" minOccurs="0"/>
			<xsd:element name="Mode" type="ModeType"/>
			<xsd:element name="Phone" type="StringNum10Type" minOccurs="0"/>
			<xsd:element name="MobileCheckout" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Document" type="RegRqDocumentType"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DocRegRq" type="DocRegRqType"/>

<!-- End DocRegRq -->
<!-- Begin DocRegRs -->

	<xsd:complexType name="StatusType">
	    <xsd:sequence>
	        <xsd:element name="StatusCode" type="StatusCodeType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="StatusDesc" type="StatusDescType" minOccurs="0" maxOccurs="1"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="StateType">
	    <xsd:annotation>
	        <xsd:documentation>Статус документа</xsd:documentation>
	    </xsd:annotation>
		<xsd:restriction base="StringType">
        	<xsd:enumeration value="DISPATCHED"/>
        	<xsd:enumeration value="SUCCESSED"/>
            <xsd:enumeration value="EXECUTED"/>
        	<xsd:enumeration value="REFUSED"/>
        	<xsd:enumeration value="RECALLED"/>
            <xsd:enumeration value="CANCELED"/>
        	<xsd:enumeration value="ERROR"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="DocRegRsType">
	    <xsd:sequence>
	        <xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
	        <xsd:element name="ERIBUID" type="UUIDType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="Status" type="StatusType" minOccurs="1" maxOccurs="1"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DocRegRs" type="DocRegRsType"/>

<!-- End DocRegRs -->

<!-- Begin DocInfoRq -->

	<xsd:complexType name="DocInfoRqType">
	    <xsd:sequence>
	        <xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="Documents" type="InfoRqDocumentsType"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="InfoRqDocumentsType">
	    <xsd:sequence>
	        <xsd:element name="ERIBUID" type="ERIBUIDType" minOccurs="1" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DocInfoRq" type="DocInfoRqType"/>

<!-- End DocInfoRq -->
<!-- Begin DocInfoRs -->

	<xsd:complexType name="DocInfoRsType">
	    <xsd:sequence>
	        <xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SPName" type="SPNameType"/>
			<xsd:element name="Documents" type="InfoRsDocumentsType"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="InfoType">
	    <xsd:sequence>
			<xsd:element name="Document" type="RegRqDocumentType"/>
			<xsd:element name="Status" type="StatusType"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="InfoRsDocumentsType">
	    <xsd:sequence>
			<xsd:element name="Info" type="InfoType" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DocInfoRs" type="DocInfoRsType"/>

<!-- End DocInfoRs -->
<!-- Begin DocStatNotRq -->

	<xsd:complexType name="StatNotRqDocumentsType">
	    <xsd:sequence>
			<xsd:element name="Document" type="StatNotRqDocumentType" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StatNotRqDocumentType">
	    <xsd:sequence>
			<xsd:element name="ERIBUID" type="ERIBUIDType"/>
			<xsd:element name="Id" type="String255Type"/>
			<xsd:element name="UTRRNO" type="UTRRNO" minOccurs="0"/>
			<xsd:element name="State" type="StateType"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DocStatNotRqType">
	    <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="Documents" type="StatNotRqDocumentsType"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DocStatNotRq" type="DocStatNotRqType"/>

<!-- End DocStatNotRq -->
<!-- Begin DocStatNotRs -->

	<xsd:complexType name="ResultType">
	    <xsd:sequence>
			<xsd:element name="ERIBUID" type="ERIBUIDType"/>
			<xsd:element name="Status" type="StatusType"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StatNotRsDocumentsType">
	    <xsd:sequence>
			<xsd:element name="Result" type="ResultType" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DocStatNotRsType">
	    <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="Documents" type="StatNotRsDocumentsType"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DocStatNotRs" type="DocStatNotRsType"/>

<!-- End DocStatNotRs -->
<!-- Begin DocInfoStatRq -->

    <xsd:complexType name="DocInfoStatRqDocumentsType">
        <xsd:sequence>
			<xsd:element name="ERIBUID" type="ERIBUIDType"/>
			<xsd:element name="PaidBy" type="String50Type" minOccurs="0"/>
	    </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocInfoStatRqType">
        <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="Documents" type="DocInfoStatRqDocumentsType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DocInfoStatRq" type="DocInfoStatRqType"/>

<!-- END DocInfoStatRq -->
<!-- Begin DocInfoStatRs -->

    <xsd:complexType name="DocInfoStatRsDocumentsType">
        <xsd:sequence>
			<xsd:element name="Result" type="ResultType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocInfoStatRsType">
        <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="Documents" type="DocInfoStatRsDocumentsType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DocInfoStatRs" type="DocInfoStatRsType"/>

<!-- END DocInfoStatRs -->
<!-- Begin DocFlightsInfoRq -->

    <xsd:complexType name="TicketsListType">
        <xsd:sequence>
			<xsd:element name="TicketNumber" type="String15Type" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocFlightsInfoRqDocumentType">
        <xsd:sequence>
			<xsd:element name="ERIBUID" type="ERIBUIDType"/>
			<xsd:element name="TicketsStatus" type="LongType"/>
			<xsd:element name="TicketsList" type="TicketsListType" minOccurs="0"/>
			<xsd:element name="ItineraryUrl" type="String1000Type" minOccurs="0"/>
			<xsd:element name="StatusDesc" type="String512Type" minOccurs="0"/>
			<xsd:element name="TicketsDesc" type="String512Type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocFlightsInfoRqDocumentsType">
        <xsd:sequence>
			<xsd:element name="Document" type="DocFlightsInfoRqDocumentType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocFlightsInfoRqType">
        <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SPName" type="SPNameType" minOccurs="0"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="Documents" type="DocFlightsInfoRqDocumentsType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DocFlightsInfoRq" type="DocFlightsInfoRqType"/>

<!-- END DocFlightsInfoRq -->
<!-- Begin DocFlightsInfoRs -->

    <xsd:complexType name="DocFlightsInfoRsDocumentsResultType">
        <xsd:sequence>
			<xsd:element name="ERIBUID" type="ERIBUIDType"/>
			<xsd:element name="Id" type="String255Type" minOccurs="0"/>
			<xsd:element name="Status" type="StatusType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocFlightsInfoRsDocumentsType">
        <xsd:sequence>
			<xsd:element name="Result" type="DocFlightsInfoRsDocumentsResultType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocFlightsInfoRsType">
        <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="Documents" type="DocFlightsInfoRsDocumentsType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DocFlightsInfoRs" type="DocFlightsInfoRsType"/>

<!-- END DocFlightsInfoRs -->
<!-- Begin GoodsReturnRq -->

    <xsd:complexType name="TicketItemType">
        <xsd:sequence>
			<xsd:element name="TicketNumber" type="String15Type" minOccurs="0"/>
			<xsd:element name="Price" type="PriceType" minOccurs="0"/>
			<xsd:element name="PriceCur" type="CurrencyType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TicketsListType2">
	    <xsd:sequence>
	        <xsd:element name="Item" type="TicketItemType" minOccurs="0" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="GoodsReturnRqDocumentFieldType">
        <xsd:sequence>
			<xsd:element name="Shop" type="ShopType" minOccurs="0"/>
			<xsd:element name="TicketsList" type="TicketsListType2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GoodsReturnRqDocumentType">
        <xsd:sequence>
			<xsd:element name="ERIBUID" type="UUIDType"/>
			<xsd:element name="GoodsReturnId" type="String255Type"/>
			<xsd:element name="Amount" type="DecimalType"/>
			<xsd:element name="AmountCur" type="CurrencyType"/>
			<xsd:element name="Fields" type="GoodsReturnRqDocumentFieldType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GoodsReturnRqType">
        <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SPName" type="SPNameType" minOccurs="0"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="Document" type="GoodsReturnRqDocumentType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GoodsReturnRq" type="GoodsReturnRqType"/>

<!-- END GoodsReturnRq-->
<!-- Begin GoodsReturnRs -->

    <xsd:complexType name="GoodsReturnRsResultType">
		<xsd:sequence>
			<xsd:element name="ERIBUID" type="UUIDType"/>
			<xsd:element name="GoodsReturnId" type="String255Type"/>
			<xsd:element name="Status" type="StatusType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GoodsReturnRsType">
        <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SystemId" type="SystemIdType" minOccurs="0"/>
			<xsd:element name="Result" type="GoodsReturnRsResultType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GoodsReturnRs" type="GoodsReturnRsType"/>

<!-- END GoodsReturnRs -->
<!-- Begin DocRollbackRq -->

    <xsd:complexType name="DocRollbackRqDocumentType">
        <xsd:sequence>
			<xsd:element name="ERIBUID" type="UUIDType"/>
			<xsd:element name="DocRollbackId" type="String255Type"/>
			<xsd:element name="Amount" type="DecimalType"/>
			<xsd:element name="AmountCur" type="CurrencyType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocRollbackRqType">
        <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="SPName" type="UUIDType"/>
			<xsd:element name="Document" type="DocRollbackRqDocumentType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DocRollbackRq" type="DocRollbackRqType"/>

<!-- END DocRollbakRq -->
<!-- Begin GoodsReturnRs -->

    <xsd:complexType name="DocRollbackRsResultType">
        <xsd:sequence>
			<xsd:element name="ERIBUID" type="UUIDType"/>
			<xsd:element name="DocRollbackId" type="String255Type"/>
			<xsd:element name="Status" type="StatusType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocRollbackRsType">
        <xsd:sequence>
			<xsd:element name="RqUID" type="UUIDType"/>
			<xsd:element name="RqTm" type="DateTimeType"/>
			<xsd:element name="Result" type="DocRollbackRsResultType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="DocRollbackRs" type="DocRollbackRsType"/>

<!-- END GoodsReturnRs -->

</xsd:schema>