e-r-i-b/WebTest/src/com/rssl/phizic/test/webgate/shop/shop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://generated.shop.webgate.test.phizic.rssl.com" xmlns:sb="http://generated.shop.webgate.test.phizic.rssl.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShopWService" targetNamespace="http://generated.shop.webgate.test.phizic.rssl.com">

    <wsdl:types>
        <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://generated.shop.webgate.test.phizic.rssl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="shop.xsd"/>
        </xsd:schema>
    </wsdl:types>
	<wsdl:message name="DocInfoRqMsg">
		<wsdl:part element="ns:DocInfoRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DocInfoRsMsg">
		<wsdl:part element="ns:DocInfoRs" name="result"/>
	</wsdl:message>
    <wsdl:message name="DocStatNotRqMsg">
        <wsdl:part element="ns:DocStatNotRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DocStatNotRsMsg">
        <wsdl:part element="ns:DocStatNotRs" name="result"/>
    </wsdl:message>
    <wsdl:message name="DocInfoStatRqMsg">
        <wsdl:part element="ns:DocInfoStatRq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DocInfoStatRsMsg">
        <wsdl:part element="ns:DocInfoStatRs" name="result"/>
    </wsdl:message>
	<wsdl:portType name="ShopInfoService">
		<wsdl:operation name="DocInfo">
			<wsdl:input message="ns:DocInfoRqMsg"/>
			<wsdl:output message="ns:DocInfoRsMsg"/>
		</wsdl:operation>
        <wsdl:operation name="DocStatNot">
            <wsdl:input message="ns:DocStatNotRqMsg"/>
            <wsdl:output message="ns:DocStatNotRsMsg"/>
        </wsdl:operation>
        <wsdl:operation name="DocInfoStat">
            <wsdl:input message="ns:DocInfoStatRqMsg"/>
            <wsdl:output message="ns:DocInfoStatRsMsg"/>
        </wsdl:operation>
	</wsdl:portType>
    <wsdl:binding name="ShopInfoServiceSoapBinding" type="ns:ShopInfoService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DocInfo">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DocStatNot">
            <soap:operation style="document" soapAction="http://generated.shop.webgate.test.phizic.rssl.com/DocStatNotRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DocInfoStat">
            <soap:operation style="document" soapAction="http://generated.shop.webgate.test.phizic.rssl.com/DocInfoStatRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="ShopInfoServiceImpl">
		<wsdl:port binding="ns:ShopInfoServiceSoapBinding" name="ShopInfoServicePort">
			<soap:address location="http://localhost:8080/services/ShopInfoServiceImpl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>