e-r-i-b/PhizProxyCreditWebListener/src/com/rssl/phizic/etsm/listener/phizCreditEtsm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://generated.listener.etsm.phizic.rssl.com"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CreditETSMWebListener"
                  targetNamespace="http://generated.listener.etsm.phizic.rssl.com">

    <wsdl:import namespace="http://generated.listener.etsm.phizic.rssl.com" location="phizCreditEtsm.xsd"/>

	<wsdl:message name="QueryOfferRqMsg">
		<wsdl:part element="ns:QueryOfferRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="QueryOfferRsMsg">
		<wsdl:part element="ns:QueryOfferRs" name="result"/>
	</wsdl:message>

    <wsdl:message name="DeleteOfferRqMsg">
		<wsdl:part element="ns:DeleteOfferRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DeleteOfferRsMsg">
		<wsdl:part element="ns:DeleteOfferRs" name="result"/>
	</wsdl:message>

    <wsdl:message name="AddOfficeLoanRqMsg">
		<wsdl:part element="ns:AddOfficeLoanRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="AddOfficeLoanRsMsg">
		<wsdl:part element="ns:AddOfficeLoanRs" name="result"/>
	</wsdl:message>

    <wsdl:message name="GetOfficeLoansByFIODulBDRqMsg">
		<wsdl:part element="ns:GetOfficeLoansByFIODulBDRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetOfficeLoansByFIODulBDRsMsg">
		<wsdl:part element="ns:GetOfficeLoansByFIODulBDRs" name="result"/>
	</wsdl:message>

    <wsdl:message name="GetOfferOfficePriorByFIODulBDRqMsg">
		<wsdl:part element="ns:GetOfferOfficePriorByFIODulBDRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetOfferOfficePriorByFIODulBDRsMsg">
		<wsdl:part element="ns:GetOfferOfficePriorByFIODulBDRs" name="result"/>
	</wsdl:message>

    <wsdl:message name="UpdateOfferOfficePriorVisibleCounterRqMsg">
		<wsdl:part element="ns:UpdateOfferOfficePriorVisibleCounterRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="UpdateOfferOfficePriorVisibleCounterRsMsg">
		<wsdl:part element="ns:UpdateOfferOfficePriorVisibleCounterRs" name="result"/>
	</wsdl:message>

	<wsdl:portType name="CreditETSMWebListener">
		<wsdl:operation name="QueryOffer">
			<wsdl:input message="ns:QueryOfferRqMsg"/>
			<wsdl:output message="ns:QueryOfferRsMsg"/>
		</wsdl:operation>
        <wsdl:operation name="DeleteOffer">
			<wsdl:input message="ns:DeleteOfferRqMsg"/>
			<wsdl:output message="ns:DeleteOfferRsMsg"/>
		</wsdl:operation>
		<wsdl:operation name="AddOfficeLoan">
			<wsdl:input message="ns:AddOfficeLoanRqMsg"/>
			<wsdl:output message="ns:AddOfficeLoanRsMsg"/>
		</wsdl:operation>
		<wsdl:operation name="GetOfficeLoansByFIODulBD">
			<wsdl:input message="ns:GetOfficeLoansByFIODulBDRqMsg"/>
			<wsdl:output message="ns:GetOfficeLoansByFIODulBDRsMsg"/>
		</wsdl:operation>
		<wsdl:operation name="GetOfferOfficePriorByFIODulBD">
			<wsdl:input message="ns:GetOfferOfficePriorByFIODulBDRqMsg"/>
			<wsdl:output message="ns:GetOfferOfficePriorByFIODulBDRsMsg"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateOfferOfficePriorVisibleCounter">
			<wsdl:input message="ns:UpdateOfferOfficePriorVisibleCounterRqMsg"/>
			<wsdl:output message="ns:UpdateOfferOfficePriorVisibleCounterRsMsg"/>
		</wsdl:operation>
	</wsdl:portType>

    <wsdl:binding name="CreditETSMWebListenerSoapBinding" type="ns:CreditETSMWebListener">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryOffer">
            <soap:operation style="document" soapAction="http://generated.listener.etsm.phizic.rssl.com/QueryOfferRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteOffer">
            <soap:operation style="document" soapAction="http://generated.listener.etsm.phizic.rssl.com/DeleteOfferRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="AddOfficeLoan">
            <soap:operation style="document" soapAction="http://generated.listener.etsm.phizic.rssl.com/AddOfficeLoanRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation> 

        <wsdl:operation name="GetOfficeLoansByFIODulBD">
            <soap:operation style="document" soapAction="http://generated.listener.etsm.phizic.rssl.com/GetOfficeLoansByFIODulBDRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetOfferOfficePriorByFIODulBD">
            <soap:operation style="document" soapAction="http://generated.listener.etsm.phizic.rssl.com/GetOfferOfficePriorByFIODulBDRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateOfferOfficePriorVisibleCounter">
            <soap:operation style="document" soapAction="http://generated.listener.etsm.phizic.rssl.com/UpdateOfferOfficePriorVisibleCounterRq"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="CreditETSMWebListenerImpl">
		<wsdl:port binding="ns:CreditETSMWebListenerSoapBinding" name="CreditETSMWebListenerPort">
			<soap:address location="http://localhost:8080/services/CreditETSMWebListenerImpl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>