e-r-i-b/PhizGateMFM/src/com/rssl/phizicgate/mfm/ws/outmessageconsumer/OutMessageConsumer.wsdl

<definitions targetNamespace="http://www.mfms.ru/sb/ifm/sms/sb0/out-message-consumer" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typens="http://www.mfms.ru/sb/ifm/sms/sb0/out-message-consumer"
             xmlns:tns="http://www.mfms.ru/sb/ifm/sms/sb0/out-message-consumer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <types>

    <xsd:schema targetNamespace="http://www.mfms.ru/sb/ifm/sms/sb0/out-message-consumer"
                xmlns:typens="http://www.mfms.ru/sb/ifm/sms/sb0/out-message-consumer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:element name="ConsumeOutMessageRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="consumeOutMessageArg" type="typens:ConsumeOutMessageArg" minOccurs="1" maxOccurs="1" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ConsumeOutMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="consumeOutMessageResult" type="typens:ConsumeOutMessageResult" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="FindOutMessageRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="findOutMessageArg" type="typens:FindOutMessageArg" minOccurs="1" maxOccurs="1" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="FindOutMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="findOutMessageResult" type="typens:FindOutMessageResult" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!--<xsd:element name="OutMessageConsumerFault">-->
        <xsd:complexType name="OutMessageConsumerFault">
          <xsd:all>
            <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
          </xsd:all>
        </xsd:complexType>
      <!--</xsd:element>-->

        <xsd:complexType name="ConsumeOutMessageArg">
        <xsd:sequence>
          <xsd:element name="auth" type="typens:Auth" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="outMessage" type="typens:OutMessage" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ConsumeOutMessageResult">
        <xsd:all>
          <xsd:element name="outMessageId" type="xsd:string" minOccurs="1" maxOccurs="1" />
          <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
        </xsd:all>
      </xsd:complexType>

        <!--<xsd:element name="FindOutMessageArg">-->
        <xsd:complexType name="FindOutMessageArg">
          <xsd:sequence>
            <xsd:element name="auth" type="typens:Auth" minOccurs="1" maxOccurs="1" />
            <xsd:element name="outMessageId" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
        <!--</xsd:element>-->

        <!--<xsd:element name="FindOutMessageResult">-->
        <xsd:complexType name="FindOutMessageResult">
          <xsd:all>
            <xsd:element name="outMessageId" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
          </xsd:all>
        </xsd:complexType>
        <!--</xsd:element>-->

        <xsd:complexType name="OutMessage">
        <xsd:all>
          <xsd:element name="outMessageId" type="xsd:string" minOccurs="1" maxOccurs="1" />
          <xsd:element name="inMessageId" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="subject" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="address" type="xsd:string" minOccurs="1" maxOccurs="1" />
          <xsd:element name="priority" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="contentType" type="xsd:string" minOccurs="0" maxOccurs="1" />
          <xsd:element name="content" type="xsd:string" minOccurs="1" maxOccurs="1" />
          <xsd:element name="startTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
          <xsd:element name="validityPeriodMinutes" type="xsd:int" minOccurs="0" maxOccurs="1" />
        </xsd:all>
      </xsd:complexType>

      <xsd:complexType name="Auth">
        <xsd:all>
          <xsd:element name="login" type="xsd:string" minOccurs="1" maxOccurs="1" />
          <xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1" />
        </xsd:all>
      </xsd:complexType>

    </xsd:schema>

  </types>

  <message name="consumeOutMessageRequest">
    <part name="parameters" element="typens:ConsumeOutMessageRequest" />
  </message>

  <message name="consumeOutMessageResponse">
    <part name="parameters" element="typens:ConsumeOutMessageResponse" />
  </message>

  <message name="findOutMessageRequest">
    <part name="parameters" element="typens:FindOutMessageRequest" />
  </message>

  <message name="findOutMessageResponse">
    <part name="parameters" element="typens:FindOutMessageResponse" />
  </message>

  <message name="OutMessageConsumerFault">
    <part name="fault" type="typens:OutMessageConsumerFault" />
  </message>

  <portType name="OutMessageConsumer">

    <operation name="consumeOutMessage">
      <input name="consumeOutMessageRequest" message="tns:consumeOutMessageRequest" />
      <output name="consumeOutMessageResponse" message="tns:consumeOutMessageResponse" />
      <fault name="OutMessageConsumerFault" message="tns:OutMessageConsumerFault" />
    </operation>

    <operation name="findOutMessage">
      <input name="findOutMessageRequest" message="tns:findOutMessageRequest" />
      <output name="findOutMessageResponse" message="tns:findOutMessageResponse" />
      <fault name="OutMessageConsumerFault" message="tns:OutMessageConsumerFault" />
    </operation>

  </portType>

  <binding name="OutMessageConsumerSOAPBinding" type="tns:OutMessageConsumer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="consumeOutMessage">
      <soap:operation soapAction="http://www.mfms.ru/sb/ifm/sms/sb0/out-message-consumer/consumeOutMessage" />

      <input name="consumeOutMessageRequest">
        <soap:body use="literal" />
      </input>

      <output name="consumeOutMessageResponse">
        <soap:body use="literal" />
      </output>

      <fault name="OutMessageConsumerFault">
        <soap:fault use="literal" name="OutMessageConsumerFault" />
      </fault>

    </operation>

    <operation name="findOutMessage">
      <soap:operation soapAction="http://www.mfms.ru/sb/ifm/sms/sb0/out-message-consumer/findOutMessage" />

      <input name="findOutMessageRequest">
        <soap:body use="literal" />
      </input>

      <output name="findOutMessageResponse">
        <soap:body use="literal" />
      </output>

      <fault name="OutMessageConsumerFault">
        <soap:fault use="literal" name="OutMessageConsumerFault" />
      </fault>

    </operation>

  </binding>

  <service name="OutMessageConsumerService">
    <port name="OutMessageConsumer" binding="tns:OutMessageConsumerSOAPBinding">
      <soap:address location="http://localhost:8080/sb/ifm/sms/sb0/OutMessageConsumer" />
    </port>
  </service>

</definitions>
