e-r-i-b/WebTest/web/WEB-INF/CAPAuthenticationPortTypeImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CAPAuthenticationPortTypeImpl" targetNamespace="http://www.openwaygroup.com/iPAS/WSDL/CAPAuthenticationService-v1.0" xmlns:tns="http://www.openwaygroup.com/iPAS/WSDL/CAPAuthenticationService-v1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://www.openwaygroup.com/iPAS/WSDL/CAPAuthenticationService-v1.0" xmlns:tns="http://www.openwaygroup.com/iPAS/WSDL/CAPAuthenticationService-v1.0" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="CommonRsType">
        <sequence>
          <element name="STAN" type="string"/>
          <element name="status" type="string"/></sequence></complexType></schema></types>
  <message name="CAPAuthenticationPortType_v1_0_verifyCAP">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="CAPAuthenticationPortType_v1_0_verifyCAPResponse">
    <part name="result" type="tns:CommonRsType"/></message>
  <portType name="CAPAuthenticationPortType_v1_0">
    <operation name="verifyCAP" parameterOrder="String_1 String_2 String_3">
      <input message="tns:CAPAuthenticationPortType_v1_0_verifyCAP"/>
      <output message="tns:CAPAuthenticationPortType_v1_0_verifyCAPResponse"/></operation></portType>
  <binding name="CAPAuthenticationPortType_v1_0Binding" type="tns:CAPAuthenticationPortType_v1_0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="verifyCAP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WSDL/CAPAuthenticationService-v1.0"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WSDL/CAPAuthenticationService-v1.0"/></output></operation></binding>
  <service name="CAPAuthenticationPortTypeImpl">
    <port name="CAPAuthenticationPortType_v1_0Port" binding="tns:CAPAuthenticationPortType_v1_0Binding">
      <soap:address location="http://localhost:8080/services/CAPAuthenticationPortTypeImpl"/></port></service></definitions>
