e-r-i-b/WebTest/web/WEB-INF/IPASWSSoap_Impl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="IPASWSSoap_Impl" targetNamespace="http://www.openwaygroup.com/iPAS/WS" xmlns:tns="http://www.openwaygroup.com/iPAS/WS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://www.openwaygroup.com/iPAS/WS" xmlns:tns="http://www.openwaygroup.com/iPAS/WS" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="GeneratePasswordRsType">
        <sequence>
          <element name="STAN" type="string"/>
          <element name="status" type="string"/>
          <element name="password" type="string"/></sequence></complexType>
      <complexType name="PrepareOTPRsType">
        <sequence>
          <element name="STAN" type="string"/>
          <element name="status" type="string"/>
          <element name="SID" type="string"/>
          <element name="passwordNo" type="string"/>
          <element name="passwordsLeft" type="soap11-enc:int"/>
          <element name="receiptNo" type="string"/></sequence></complexType>
      <complexType name="VerifyAttRsType">
        <sequence>
          <element name="STAN" type="string"/>
          <element name="status" type="string"/>
          <element name="attempts" type="soap11-enc:int"/>
          <element name="token" type="string"/>
          <element name="userInfo" type="tns:UserInfoType"/></sequence></complexType>
      <complexType name="UserInfoType">
        <sequence>
          <element name="CB_CODE" type="string"/>
          <element name="DL" type="string"/>
          <element name="MB" type="string"/>
          <element name="birthDate" type="string"/>
          <element name="cardNumber" type="string"/>
          <element name="clientRegNum" type="string"/>
          <element name="firstName" type="string"/>
          <element name="lastName" type="string"/>
          <element name="middleName" type="string"/>
          <element name="passportNo" type="string"/>
          <element name="passwordsLeft" type="string"/></sequence></complexType>
      <complexType name="VerifyRsType">
        <sequence>
          <element name="STAN" type="string"/>
          <element name="status" type="string"/>
          <element name="token" type="string"/>
          <element name="userInfo" type="tns:UserInfoType"/></sequence></complexType></schema></types>
  <message name="IPASWSSoap_generatePassword">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="IPASWSSoap_generatePasswordResponse">
    <part name="result" type="tns:GeneratePasswordRsType"/></message>
  <message name="IPASWSSoap_prepareOTP">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/></message>
  <message name="IPASWSSoap_prepareOTPResponse">
    <part name="result" type="tns:PrepareOTPRsType"/></message>
  <message name="IPASWSSoap_verifyOTP">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="IPASWSSoap_verifyOTPResponse">
    <part name="result" type="tns:VerifyAttRsType"/></message>
  <message name="IPASWSSoap_verifyPassword">
    <part name="String_1" type="xsd:string"/>
    <part name="String_2" type="xsd:string"/>
    <part name="String_3" type="xsd:string"/></message>
  <message name="IPASWSSoap_verifyPasswordResponse">
    <part name="result" type="tns:VerifyRsType"/></message>
  <portType name="IPASWSSoap">
    <operation name="generatePassword" parameterOrder="String_1 String_2 String_3">
      <input message="tns:IPASWSSoap_generatePassword"/>
      <output message="tns:IPASWSSoap_generatePasswordResponse"/></operation>
    <operation name="prepareOTP" parameterOrder="String_1 String_2">
      <input message="tns:IPASWSSoap_prepareOTP"/>
      <output message="tns:IPASWSSoap_prepareOTPResponse"/></operation>
    <operation name="verifyOTP" parameterOrder="String_1 String_2 String_3">
      <input message="tns:IPASWSSoap_verifyOTP"/>
      <output message="tns:IPASWSSoap_verifyOTPResponse"/></operation>
    <operation name="verifyPassword" parameterOrder="String_1 String_2 String_3">
      <input message="tns:IPASWSSoap_verifyPassword"/>
      <output message="tns:IPASWSSoap_verifyPasswordResponse"/></operation></portType>
  <binding name="IPASWSSoapBinding" type="tns:IPASWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="generatePassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WS"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WS"/></output></operation>
    <operation name="prepareOTP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WS"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WS"/></output></operation>
    <operation name="verifyOTP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WS"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WS"/></output></operation>
    <operation name="verifyPassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WS"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://www.openwaygroup.com/iPAS/WS"/></output></operation></binding>
  <service name="IPASWSSoap_Impl">
    <port name="IPASWSSoapPort" binding="tns:IPASWSSoapBinding">
      <soap:address location="http://localhost:8080/services/IPASWSSoap_Impl"/></port></service></definitions>
