e-r-i-b/WebTest/web/WEB-INF/IService1Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   name="IService1Service"
   targetNamespace="http://tempuri.org/"
   xmlns:tns="http://tempuri.org/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <types/>
<message name="echoString0Request">
<part name="Value" type="xs:string"/>
</message>
<message name="echoString0Response">
<part name="return" type="xs:string"/>
</message>
<message name="requestAttr1Request">
<part name="Value" type="xs:string"/>
</message>
<message name="requestAttr1Response">
<part name="return" type="xs:string"/>
</message>
<message name="preparePayment2Request">
<part name="Value" type="xs:string"/>
</message>
<message name="preparePayment2Response">
<part name="return" type="xs:string"/>
</message>
<message name="executePayment3Request">
<part name="Value" type="xs:string"/>
</message>
<message name="executePayment3Response">
<part name="return" type="xs:string"/>
</message>
<message name="revokePayment4Request">
<part name="Value" type="xs:string"/>
</message>
<message name="revokePayment4Response">
<part name="return" type="xs:string"/>
</message>
<portType name="IService1_PortType">
<operation name="echoString">
<input message="tns:echoString0Request"/>
<output message="tns:echoString0Response"/>
</operation>
<operation name="requestAttr">
<input message="tns:requestAttr1Request"/>
<output message="tns:requestAttr1Response"/>
</operation>
<operation name="preparePayment">
<input message="tns:preparePayment2Request"/>
<output message="tns:preparePayment2Response"/>
</operation>
<operation name="executePayment">
<input message="tns:executePayment3Request"/>
<output message="tns:executePayment3Response"/>
</operation>
<operation name="revokePayment">
<input message="tns:revokePayment4Request"/>
<output message="tns:revokePayment4Response"/>
</operation>
</portType>
<binding name="IService1_PortTypeBinding" type="tns:IService1_PortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="echoString">
<soap:operation soapAction="urn:Service1Intf-IService1#echoString" style="rpc"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</output>
</operation>
<operation name="requestAttr">
<soap:operation soapAction="urn:Service1Intf-IService1#requestAttr" style="rpc"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</output>
</operation>
<operation name="preparePayment">
<soap:operation soapAction="urn:Service1Intf-IService1#preparePayment" style="rpc"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</output>
</operation>
<operation name="executePayment">
<soap:operation soapAction="urn:Service1Intf-IService1#executePayment" style="rpc"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</output>
</operation>
<operation name="revokePayment">
<soap:operation soapAction="urn:Service1Intf-IService1#revokePayment" style="rpc"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Service1Intf-IService1"/>
</output>
</operation>
</binding>
<service name="IService1Service">
    <port name="IService1_PortTypePort" binding="tns:IService1_PortTypeBinding">
      <soap:address location="http://localhost:8080/services/IService1Service"/>
    </port>
</service>
</definitions>