e-r-i-b/WSGateListener/src/com/rssl/phizic/wsgate/currency/generated/CurrencyServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="CurrencyServiceImpl" targetNamespace="http://currency.wsgate.phizic.rssl.com" xmlns:tns="http://currency.wsgate.phizic.rssl.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://java.sun.com/jax-rpc-ri/internal" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://currency.wsgate.phizic.rssl.com" xmlns:tns="http://currency.wsgate.phizic.rssl.com" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://java.sun.com/jax-rpc-ri/internal"/>
      <complexType name="Currency">
        <sequence>
          <element name="code" type="string"/>
          <element name="externalId" type="string"/>
          <element name="name" type="string"/>
          <element name="number" type="string"/></sequence></complexType></schema>
    <schema targetNamespace="http://java.sun.com/jax-rpc-ri/internal" xmlns:tns="http://java.sun.com/jax-rpc-ri/internal" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <import namespace="http://currency.wsgate.phizic.rssl.com"/>
      <complexType name="list">
        <complexContent>
          <extension base="tns:collection">
            <sequence/></extension></complexContent></complexType>
      <complexType name="collection">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="anyType[]"/></restriction></complexContent></complexType></schema></types>
  <message name="CurrencyService_findByAlphabeticCode">
    <part name="String_1" type="xsd:string"/></message>
  <message name="CurrencyService_findByAlphabeticCodeResponse">
    <part name="result" type="tns:Currency"/></message>
  <message name="CurrencyService_findById">
    <part name="String_1" type="xsd:string"/></message>
  <message name="CurrencyService_findByIdResponse">
    <part name="result" type="tns:Currency"/></message>
  <message name="CurrencyService_findByNumericCode">
    <part name="String_1" type="xsd:string"/></message>
  <message name="CurrencyService_findByNumericCodeResponse">
    <part name="result" type="tns:Currency"/></message>
  <message name="CurrencyService_getAll"/>
  <message name="CurrencyService_getAllResponse">
    <part name="result" type="ns2:list"/></message>
  <message name="CurrencyService_getNationalCurrency"/>
  <message name="CurrencyService_getNationalCurrencyResponse">
    <part name="result" type="tns:Currency"/></message>
  <portType name="CurrencyService">
    <operation name="findByAlphabeticCode" parameterOrder="String_1">
      <input message="tns:CurrencyService_findByAlphabeticCode"/>
      <output message="tns:CurrencyService_findByAlphabeticCodeResponse"/></operation>
    <operation name="findById" parameterOrder="String_1">
      <input message="tns:CurrencyService_findById"/>
      <output message="tns:CurrencyService_findByIdResponse"/></operation>
    <operation name="findByNumericCode" parameterOrder="String_1">
      <input message="tns:CurrencyService_findByNumericCode"/>
      <output message="tns:CurrencyService_findByNumericCodeResponse"/></operation>
    <operation name="getAll">
      <input message="tns:CurrencyService_getAll"/>
      <output message="tns:CurrencyService_getAllResponse"/></operation>
    <operation name="getNationalCurrency">
      <input message="tns:CurrencyService_getNationalCurrency"/>
      <output message="tns:CurrencyService_getNationalCurrencyResponse"/></operation></portType>
  <binding name="CurrencyServiceBinding" type="tns:CurrencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="findByAlphabeticCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="findById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="findByNumericCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></output></operation>
    <operation name="getNationalCurrency">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://currency.wsgate.phizic.rssl.com"/></output></operation></binding>
  <service name="CurrencyServiceImpl">
    <port name="CurrencyServicePort" binding="tns:CurrencyServiceBinding">
      <soap:address location="http://localhost:8080/services/CurrencyServiceImpl"/></port></service></definitions>
