e-r-i-b/SBRFCODGate/src/com/rssl/phizicgate/sbrf/ws/generated/depocod/DepoCOD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DepoCOD"
 targetNamespace="http://10.73.6.3/DepoCOD.wsdl"
 xmlns:tns="http://10.73.6.3/DepoCOD.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="http://DepoCOD.sbrf.ru"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://DepoCOD.sbrf.ru"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://DepoCOD.sbrf.ru"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

</types>

<message name="reserveForCreditRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="reserveForCreditResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="cancelReserveForCreditRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="cancelReserveForCreditResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="payForCreditRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="payForCreditResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="accountRemainderRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="accountRemainderResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="operationResultRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="operationResultResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getAccountInfoRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getAccountInfoResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="createNewAccountNumberRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="createNewAccountNumberResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="createForm190ForCreditRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="createForm190ForCreditResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="deleteForm190ForCreditRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="deleteForm190ForCreditResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getClientAccountsRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getClientAccountsResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="createNewAccountRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="createNewAccountResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="paySummaRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="paySummaResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="addSummaRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="addSummaResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getAccHistoryRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getAccHistoryResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getClientsRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getClientsResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getOperStaticticsRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getOperStaticticsResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="payForCreditByItemsRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="payForCreditByItemsResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getClientsWithAccountsRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getClientsWithAccountsResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="findAccNumByCardNumRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="findAccNumByCardNumResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getSuccessCreditOperationsRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getSuccessCreditOperationsResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getAccCreditsByDatesRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getAccCreditsByDatesResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2accRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2accResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2cardRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2cardResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2accRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2accResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2cardRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2cardResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2accCloseRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2accCloseResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2cardCloseRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2cardCloseResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2accOpenRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2accOpenResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2accOpenRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2accOpenResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2accCloseOpenRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2accCloseOpenResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2communalRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2communalResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2communalRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2communalResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2acc143Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2acc143Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2acc365Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2acc365Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2acc364internalRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2acc364internalResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2acc364externalRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2acc364externalResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2acc143Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2acc143Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2acc365Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2acc365Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2acc364internalRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2acc364internalResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2acc364externalRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2acc364externalResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getEDBOContractRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getEDBOContractResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getEDBOContractByCardRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getEDBOContractByCardResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getAccHistoryShortExtractRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getAccHistoryShortExtractResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getForms190ForClientRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getForms190ForClientResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getForm190InfoRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getForm190InfoResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getForm190PayExtractRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getForm190PayExtractResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="chargeCommissionRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="chargeCommissionResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="payingBackRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="payingBackResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="createForm190ForCommunalRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="createForm190ForCommunalResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="createForm190ForChargeRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="createForm190ForChargeResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="createForm190For143Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="createForm190For143Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="createForm190For365Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="createForm190For365Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="createForm190ForLoanRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="createForm190ForLoanResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="deleteForm190Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="deleteForm190Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="redrawForms190ForEDBORequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="redrawForms190ForEDBOResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="setSubscriberRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="setSubscriberResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="setAccountStateRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="setAccountStateResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2paymentRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2paymentResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2paymentRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2paymentResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="card2createNewAccountNumberRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="card2createNewAccountNumberResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getPaymentInfoRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getPaymentInfoResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="operationFullResultRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="operationFullResultResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="accCloseRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="accCloseResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="accOpenRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="accOpenResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="sendPaymentDraftRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="sendPaymentDraftResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="reverseAuthRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="reverseAuthResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="loadCoursesRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="loadCoursesResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="accMaintenanceRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="accMaintenanceResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2accClose143Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2accClose143Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2accClose365Request">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2accClose365Response">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getAccHistoryFullExtractRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getAccHistoryFullExtractResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="credit2accRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="credit2accResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="acc2creditRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="acc2creditResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<message name="getOperDayRequest">
 <part name="req" type="xsd:base64Binary"/>
</message>

<message name="getOperDayResponse">
 <part name="resp" type="xsd:base64Binary"/>
</message>

<portType name="DepoCODPortType">
 <operation name="reserveForCredit">
  <documentation>Service definition of function ns__reserveForCredit</documentation>
  <input message="tns:reserveForCreditRequest"/>
  <output message="tns:reserveForCreditResponse"/>
 </operation>
 <operation name="cancelReserveForCredit">
  <documentation>Service definition of function ns__cancelReserveForCredit</documentation>
  <input message="tns:cancelReserveForCreditRequest"/>
  <output message="tns:cancelReserveForCreditResponse"/>
 </operation>
 <operation name="payForCredit">
  <documentation>Service definition of function ns__payForCredit</documentation>
  <input message="tns:payForCreditRequest"/>
  <output message="tns:payForCreditResponse"/>
 </operation>
 <operation name="accountRemainder">
  <documentation>Service definition of function ns__accountRemainder</documentation>
  <input message="tns:accountRemainderRequest"/>
  <output message="tns:accountRemainderResponse"/>
 </operation>
 <operation name="operationResult">
  <documentation>Service definition of function ns__operationResult</documentation>
  <input message="tns:operationResultRequest"/>
  <output message="tns:operationResultResponse"/>
 </operation>
 <operation name="getAccountInfo">
  <documentation>Service definition of function ns__getAccountInfo</documentation>
  <input message="tns:getAccountInfoRequest"/>
  <output message="tns:getAccountInfoResponse"/>
 </operation>
 <operation name="createNewAccountNumber">
  <documentation>Service definition of function ns__createNewAccountNumber</documentation>
  <input message="tns:createNewAccountNumberRequest"/>
  <output message="tns:createNewAccountNumberResponse"/>
 </operation>
 <operation name="createForm190ForCredit">
  <documentation>Service definition of function ns__createForm190ForCredit</documentation>
  <input message="tns:createForm190ForCreditRequest"/>
  <output message="tns:createForm190ForCreditResponse"/>
 </operation>
 <operation name="deleteForm190ForCredit">
  <documentation>Service definition of function ns__deleteForm190ForCredit</documentation>
  <input message="tns:deleteForm190ForCreditRequest"/>
  <output message="tns:deleteForm190ForCreditResponse"/>
 </operation>
 <operation name="getClientAccounts">
  <documentation>Service definition of function ns__getClientAccounts</documentation>
  <input message="tns:getClientAccountsRequest"/>
  <output message="tns:getClientAccountsResponse"/>
 </operation>
 <operation name="createNewAccount">
  <documentation>Service definition of function ns__createNewAccount</documentation>
  <input message="tns:createNewAccountRequest"/>
  <output message="tns:createNewAccountResponse"/>
 </operation>
 <operation name="paySumma">
  <documentation>Service definition of function ns__paySumma</documentation>
  <input message="tns:paySummaRequest"/>
  <output message="tns:paySummaResponse"/>
 </operation>
 <operation name="addSumma">
  <documentation>Service definition of function ns__addSumma</documentation>
  <input message="tns:addSummaRequest"/>
  <output message="tns:addSummaResponse"/>
 </operation>
 <operation name="getAccHistory">
  <documentation>Service definition of function ns__getAccHistory</documentation>
  <input message="tns:getAccHistoryRequest"/>
  <output message="tns:getAccHistoryResponse"/>
 </operation>
 <operation name="getClients">
  <documentation>Service definition of function ns__getClients</documentation>
  <input message="tns:getClientsRequest"/>
  <output message="tns:getClientsResponse"/>
 </operation>
 <operation name="getOperStatictics">
  <documentation>Service definition of function ns__getOperStatictics</documentation>
  <input message="tns:getOperStaticticsRequest"/>
  <output message="tns:getOperStaticticsResponse"/>
 </operation>
 <operation name="payForCreditByItems">
  <documentation>Service definition of function ns__payForCreditByItems</documentation>
  <input message="tns:payForCreditByItemsRequest"/>
  <output message="tns:payForCreditByItemsResponse"/>
 </operation>
 <operation name="getClientsWithAccounts">
  <documentation>Service definition of function ns__getClientsWithAccounts</documentation>
  <input message="tns:getClientsWithAccountsRequest"/>
  <output message="tns:getClientsWithAccountsResponse"/>
 </operation>
 <operation name="findAccNumByCardNum">
  <documentation>Service definition of function ns__findAccNumByCardNum</documentation>
  <input message="tns:findAccNumByCardNumRequest"/>
  <output message="tns:findAccNumByCardNumResponse"/>
 </operation>
 <operation name="getSuccessCreditOperations">
  <documentation>Service definition of function ns__getSuccessCreditOperations</documentation>
  <input message="tns:getSuccessCreditOperationsRequest"/>
  <output message="tns:getSuccessCreditOperationsResponse"/>
 </operation>
 <operation name="getAccCreditsByDates">
  <documentation>Service definition of function ns__getAccCreditsByDates</documentation>
  <input message="tns:getAccCreditsByDatesRequest"/>
  <output message="tns:getAccCreditsByDatesResponse"/>
 </operation>
 <operation name="acc2acc">
  <documentation>Service definition of function ns__acc2acc</documentation>
  <input message="tns:acc2accRequest"/>
  <output message="tns:acc2accResponse"/>
 </operation>
 <operation name="acc2card">
  <documentation>Service definition of function ns__acc2card</documentation>
  <input message="tns:acc2cardRequest"/>
  <output message="tns:acc2cardResponse"/>
 </operation>
 <operation name="card2acc">
  <documentation>Service definition of function ns__card2acc</documentation>
  <input message="tns:card2accRequest"/>
  <output message="tns:card2accResponse"/>
 </operation>
 <operation name="card2card">
  <documentation>Service definition of function ns__card2card</documentation>
  <input message="tns:card2cardRequest"/>
  <output message="tns:card2cardResponse"/>
 </operation>
 <operation name="acc2accClose">
  <documentation>Service definition of function ns__acc2accClose</documentation>
  <input message="tns:acc2accCloseRequest"/>
  <output message="tns:acc2accCloseResponse"/>
 </operation>
 <operation name="acc2cardClose">
  <documentation>Service definition of function ns__acc2cardClose</documentation>
  <input message="tns:acc2cardCloseRequest"/>
  <output message="tns:acc2cardCloseResponse"/>
 </operation>
 <operation name="acc2accOpen">
  <documentation>Service definition of function ns__acc2accOpen</documentation>
  <input message="tns:acc2accOpenRequest"/>
  <output message="tns:acc2accOpenResponse"/>
 </operation>
 <operation name="card2accOpen">
  <documentation>Service definition of function ns__card2accOpen</documentation>
  <input message="tns:card2accOpenRequest"/>
  <output message="tns:card2accOpenResponse"/>
 </operation>
 <operation name="acc2accCloseOpen">
  <documentation>Service definition of function ns__acc2accCloseOpen</documentation>
  <input message="tns:acc2accCloseOpenRequest"/>
  <output message="tns:acc2accCloseOpenResponse"/>
 </operation>
 <operation name="acc2communal">
  <documentation>Service definition of function ns__acc2communal</documentation>
  <input message="tns:acc2communalRequest"/>
  <output message="tns:acc2communalResponse"/>
 </operation>
 <operation name="card2communal">
  <documentation>Service definition of function ns__card2communal</documentation>
  <input message="tns:card2communalRequest"/>
  <output message="tns:card2communalResponse"/>
 </operation>
 <operation name="acc2acc143">
  <documentation>Service definition of function ns__acc2acc143</documentation>
  <input message="tns:acc2acc143Request"/>
  <output message="tns:acc2acc143Response"/>
 </operation>
 <operation name="acc2acc365">
  <documentation>Service definition of function ns__acc2acc365</documentation>
  <input message="tns:acc2acc365Request"/>
  <output message="tns:acc2acc365Response"/>
 </operation>
 <operation name="acc2acc364internal">
  <documentation>Service definition of function ns__acc2acc364internal</documentation>
  <input message="tns:acc2acc364internalRequest"/>
  <output message="tns:acc2acc364internalResponse"/>
 </operation>
 <operation name="acc2acc364external">
  <documentation>Service definition of function ns__acc2acc364external</documentation>
  <input message="tns:acc2acc364externalRequest"/>
  <output message="tns:acc2acc364externalResponse"/>
 </operation>
 <operation name="card2acc143">
  <documentation>Service definition of function ns__card2acc143</documentation>
  <input message="tns:card2acc143Request"/>
  <output message="tns:card2acc143Response"/>
 </operation>
 <operation name="card2acc365">
  <documentation>Service definition of function ns__card2acc365</documentation>
  <input message="tns:card2acc365Request"/>
  <output message="tns:card2acc365Response"/>
 </operation>
 <operation name="card2acc364internal">
  <documentation>Service definition of function ns__card2acc364internal</documentation>
  <input message="tns:card2acc364internalRequest"/>
  <output message="tns:card2acc364internalResponse"/>
 </operation>
 <operation name="card2acc364external">
  <documentation>Service definition of function ns__card2acc364external</documentation>
  <input message="tns:card2acc364externalRequest"/>
  <output message="tns:card2acc364externalResponse"/>
 </operation>
 <operation name="getEDBOContract">
  <documentation>Service definition of function ns__getEDBOContract</documentation>
  <input message="tns:getEDBOContractRequest"/>
  <output message="tns:getEDBOContractResponse"/>
 </operation>
 <operation name="getEDBOContractByCard">
  <documentation>Service definition of function ns__getEDBOContractByCard</documentation>
  <input message="tns:getEDBOContractByCardRequest"/>
  <output message="tns:getEDBOContractByCardResponse"/>
 </operation>
 <operation name="getAccHistoryShortExtract">
  <documentation>Service definition of function ns__getAccHistoryShortExtract</documentation>
  <input message="tns:getAccHistoryShortExtractRequest"/>
  <output message="tns:getAccHistoryShortExtractResponse"/>
 </operation>
 <operation name="getForms190ForClient">
  <documentation>Service definition of function ns__getForms190ForClient</documentation>
  <input message="tns:getForms190ForClientRequest"/>
  <output message="tns:getForms190ForClientResponse"/>
 </operation>
 <operation name="getForm190Info">
  <documentation>Service definition of function ns__getForm190Info</documentation>
  <input message="tns:getForm190InfoRequest"/>
  <output message="tns:getForm190InfoResponse"/>
 </operation>
 <operation name="getForm190PayExtract">
  <documentation>Service definition of function ns__getForm190PayExtract</documentation>
  <input message="tns:getForm190PayExtractRequest"/>
  <output message="tns:getForm190PayExtractResponse"/>
 </operation>
 <operation name="chargeCommission">
  <documentation>Service definition of function ns__chargeCommission</documentation>
  <input message="tns:chargeCommissionRequest"/>
  <output message="tns:chargeCommissionResponse"/>
 </operation>
 <operation name="payingBack">
  <documentation>Service definition of function ns__payingBack</documentation>
  <input message="tns:payingBackRequest"/>
  <output message="tns:payingBackResponse"/>
 </operation>
 <operation name="createForm190ForCommunal">
  <documentation>Service definition of function ns__createForm190ForCommunal</documentation>
  <input message="tns:createForm190ForCommunalRequest"/>
  <output message="tns:createForm190ForCommunalResponse"/>
 </operation>
 <operation name="createForm190ForCharge">
  <documentation>Service definition of function ns__createForm190ForCharge</documentation>
  <input message="tns:createForm190ForChargeRequest"/>
  <output message="tns:createForm190ForChargeResponse"/>
 </operation>
 <operation name="createForm190For143">
  <documentation>Service definition of function ns__createForm190For143</documentation>
  <input message="tns:createForm190For143Request"/>
  <output message="tns:createForm190For143Response"/>
 </operation>
 <operation name="createForm190For365">
  <documentation>Service definition of function ns__createForm190For365</documentation>
  <input message="tns:createForm190For365Request"/>
  <output message="tns:createForm190For365Response"/>
 </operation>
 <operation name="createForm190ForLoan">
  <documentation>Service definition of function ns__createForm190ForLoan</documentation>
  <input message="tns:createForm190ForLoanRequest"/>
  <output message="tns:createForm190ForLoanResponse"/>
 </operation>
 <operation name="deleteForm190">
  <documentation>Service definition of function ns__deleteForm190</documentation>
  <input message="tns:deleteForm190Request"/>
  <output message="tns:deleteForm190Response"/>
 </operation>
 <operation name="redrawForms190ForEDBO">
  <documentation>Service definition of function ns__redrawForms190ForEDBO</documentation>
  <input message="tns:redrawForms190ForEDBORequest"/>
  <output message="tns:redrawForms190ForEDBOResponse"/>
 </operation>
 <operation name="setSubscriber">
  <documentation>Service definition of function ns__setSubscriber</documentation>
  <input message="tns:setSubscriberRequest"/>
  <output message="tns:setSubscriberResponse"/>
 </operation>
 <operation name="setAccountState">
  <documentation>Service definition of function ns__setAccountState</documentation>
  <input message="tns:setAccountStateRequest"/>
  <output message="tns:setAccountStateResponse"/>
 </operation>
 <operation name="acc2payment">
  <documentation>Service definition of function ns__acc2payment</documentation>
  <input message="tns:acc2paymentRequest"/>
  <output message="tns:acc2paymentResponse"/>
 </operation>
 <operation name="card2payment">
  <documentation>Service definition of function ns__card2payment</documentation>
  <input message="tns:card2paymentRequest"/>
  <output message="tns:card2paymentResponse"/>
 </operation>
 <operation name="card2createNewAccountNumber">
  <documentation>Service definition of function ns__card2createNewAccountNumber</documentation>
  <input message="tns:card2createNewAccountNumberRequest"/>
  <output message="tns:card2createNewAccountNumberResponse"/>
 </operation>
 <operation name="getPaymentInfo">
  <documentation>Service definition of function ns__getPaymentInfo</documentation>
  <input message="tns:getPaymentInfoRequest"/>
  <output message="tns:getPaymentInfoResponse"/>
 </operation>
 <operation name="operationFullResult">
  <documentation>Service definition of function ns__operationFullResult</documentation>
  <input message="tns:operationFullResultRequest"/>
  <output message="tns:operationFullResultResponse"/>
 </operation>
 <operation name="accClose">
  <documentation>Service definition of function ns__accClose</documentation>
  <input message="tns:accCloseRequest"/>
  <output message="tns:accCloseResponse"/>
 </operation>
 <operation name="accOpen">
  <documentation>Service definition of function ns__accOpen</documentation>
  <input message="tns:accOpenRequest"/>
  <output message="tns:accOpenResponse"/>
 </operation>
 <operation name="sendPaymentDraft">
  <documentation>Service definition of function ns__sendPaymentDraft</documentation>
  <input message="tns:sendPaymentDraftRequest"/>
  <output message="tns:sendPaymentDraftResponse"/>
 </operation>
 <operation name="reverseAuth">
  <documentation>Service definition of function ns__reverseAuth</documentation>
  <input message="tns:reverseAuthRequest"/>
  <output message="tns:reverseAuthResponse"/>
 </operation>
 <operation name="loadCourses">
  <documentation>Service definition of function ns__loadCourses</documentation>
  <input message="tns:loadCoursesRequest"/>
  <output message="tns:loadCoursesResponse"/>
 </operation>
 <operation name="accMaintenance">
  <documentation>Service definition of function ns__accMaintenance</documentation>
  <input message="tns:accMaintenanceRequest"/>
  <output message="tns:accMaintenanceResponse"/>
 </operation>
 <operation name="acc2accClose143">
  <documentation>Service definition of function ns__acc2accClose143</documentation>
  <input message="tns:acc2accClose143Request"/>
  <output message="tns:acc2accClose143Response"/>
 </operation>
 <operation name="acc2accClose365">
  <documentation>Service definition of function ns__acc2accClose365</documentation>
  <input message="tns:acc2accClose365Request"/>
  <output message="tns:acc2accClose365Response"/>
 </operation>
 <operation name="getAccHistoryFullExtract">
  <documentation>Service definition of function ns__getAccHistoryFullExtract</documentation>
  <input message="tns:getAccHistoryFullExtractRequest"/>
  <output message="tns:getAccHistoryFullExtractResponse"/>
 </operation>
 <operation name="credit2acc">
  <documentation>Service definition of function ns__credit2acc</documentation>
  <input message="tns:credit2accRequest"/>
  <output message="tns:credit2accResponse"/>
 </operation>
 <operation name="acc2credit">
  <documentation>Service definition of function ns__acc2credit</documentation>
  <input message="tns:acc2creditRequest"/>
  <output message="tns:acc2creditResponse"/>
 </operation>
 <operation name="getOperDay">
  <documentation>Service definition of function ns__getOperDay</documentation>
  <input message="tns:getOperDayRequest"/>
  <output message="tns:getOperDayResponse"/>
 </operation>
</portType>

<binding name="DepoCOD" type="tns:DepoCODPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="reserveForCredit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="cancelReserveForCredit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="payForCredit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="accountRemainder">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="operationResult">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getAccountInfo">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createNewAccountNumber">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createForm190ForCredit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="deleteForm190ForCredit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getClientAccounts">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createNewAccount">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="paySumma">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="addSumma">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getAccHistory">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getClients">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getOperStatictics">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="payForCreditByItems">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getClientsWithAccounts">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="findAccNumByCardNum">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getSuccessCreditOperations">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getAccCreditsByDates">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2acc">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2card">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2acc">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2card">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2accClose">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2cardClose">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2accOpen">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2accOpen">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2accCloseOpen">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2communal">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2communal">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2acc143">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2acc365">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2acc364internal">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2acc364external">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2acc143">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2acc365">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2acc364internal">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2acc364external">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getEDBOContract">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getEDBOContractByCard">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getAccHistoryShortExtract">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getForms190ForClient">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getForm190Info">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getForm190PayExtract">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="chargeCommission">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="payingBack">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createForm190ForCommunal">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createForm190ForCharge">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createForm190For143">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createForm190For365">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="createForm190ForLoan">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="deleteForm190">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="redrawForms190ForEDBO">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="setSubscriber">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="setAccountState">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2payment">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2payment">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="card2createNewAccountNumber">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getPaymentInfo">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="operationFullResult">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="accClose">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="accOpen">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="sendPaymentDraft">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="reverseAuth">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="loadCourses">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="accMaintenance">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2accClose143">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2accClose365">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getAccHistoryFullExtract">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="credit2acc">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="acc2credit">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getOperDay">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://DepoCOD.sbrf.ru" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="DepoCOD">
 <documentation>Public WS interface</documentation>
 <port name="DepoCOD" binding="tns:DepoCOD">
  <SOAP:address location="http://10.73.6.3/DepoCOD.cgi"/>
 </port>
</service>

</definitions>
