e-r-i-b/ESBERIBGate/src/com/rssl/phizicgate/esberibgate/loanclaim/etsm/xsd/LoanApplicationRelease13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by KES (SBRF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="ERIBAdapter.xsd"/>
	<xs:simpleType name="EmploymentStatus_Type">
		<xs:annotation>
			<xs:documentation>Статус места работы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RealEstateType_Type">
		<xs:annotation>
			<xs:documentation>Вид объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_10_2_Type">
		<xs:restriction base="Decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_15_2_Type">
		<xs:restriction base="Decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Percent_Type">
		<xs:annotation>
			<xs:documentation>Процент</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExperienceCode_Type">
		<xs:annotation>
			<xs:documentation>Кодю Срок работы в компании</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JobType_Type">
		<xs:annotation>
			<xs:documentation>Категория занимаемой должности</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumEmployeesCode_Type">
		<xs:annotation>
			<xs:documentation>Код. количество сотрудников в компании</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NPPartyType_Type">
		<xs:annotation>
			<xs:documentation>Тип физического лица - участника сделки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RelativeType_Type">
		<xs:annotation>
			<xs:documentation>Тип степени родства</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditInSB_Type">
		<xs:annotation>
			<xs:documentation>Наличие кредита в СБРФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaritalStatus_Type">
		<xs:annotation>
			<xs:documentation>Семейное положение</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EducationStatus_Type">
		<xs:annotation>
			<xs:documentation>Тип описывает уровень образования</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResidencePeriod_Type">
		<xs:annotation>
			<xs:documentation>Срок проживания в годах</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResidenceRight_Type">
		<xs:annotation>
			<xs:documentation>Тип права проживания</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApplicantGroupCode_Type">
		<xs:annotation>
			<xs:documentation>Группа / категория участника сделки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="A1"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="B1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LoanKind_Type">
		<xs:annotation>
			<xs:documentation>вид обязательства</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentType_Type">
		<xs:annotation>
			<xs:documentation>Способ платежа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentPeriodType_Type">
		<xs:annotation>
			<xs:documentation>Периодичность платежа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Income_Type">
		<xs:annotation>
			<xs:documentation>Тип - доходы и расходы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BasicIncome6M" type="Amount_10_2_Type">
				<xs:annotation>
					<xs:documentation>Среднемесячный основной доход</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddIncome6M" type="Amount_10_2_Type">
				<xs:annotation>
					<xs:documentation>Среднемесячный дополнительный доход</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilyIncome6M" type="Amount_10_2_Type">
				<xs:annotation>
					<xs:documentation>Среднемесячный доход семьи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Expenses6M" type="Amount_10_2_Type">
				<xs:annotation>
					<xs:documentation>Среднемесячные расходы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgInfoExt_Type">
		<xs:annotation>
			<xs:documentation>Тип - Описание организацции</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName">
				<xs:annotation>
					<xs:documentation>Полное наименование компании/ организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TaxId">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IndustSector" type="IndustSector_Type">
				<xs:annotation>
					<xs:documentation>Вид деятельности компании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumEmployeesCode" type="NumEmployeesCode_Type">
				<xs:annotation>
					<xs:documentation>Код.Количество сотрудников в компании работодателе
1 - До 10
2 - 11-30
3 - 31-50
4 - 51-100
5 - Более 100
6 - Затрудняюсь ответить</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Address_Type">
		<xs:annotation>
			<xs:documentation>Тип - адрес заемщика</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManualInputFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Флаг ручного ввода: true - да, false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddrType">
				<xs:annotation>
					<xs:documentation>Тип адреса
1 - постоянной регистрации
2 - фактического проживания
3 - временной регистрации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCode_Type">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionCode">
				<xs:annotation>
					<xs:documentation>Числовой ко региона, см справочник</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
						<xs:pattern value="\d\d\d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Числовой код, описывающий тип района/округа, см. справочник</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="\d\d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Area" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район/Округ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Числовой код, описывающий тип города, см. справочник возможных значений</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="\d\d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SettlementType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Числовой код - тип населенного пункта</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="\d\d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Settlement" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StreetType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Числовой код - тип улицы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="\d\d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Street">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HouseNum">
				<xs:annotation>
					<xs:documentation>Дом (владение)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HouseExt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Unit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Строение</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitNum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Квартира/офис</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelativeInfo_Type">
		<xs:annotation>
			<xs:documentation>Тип - блок данных о родственнике</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="RelativeType_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Степень родства
1 - Мать
2 - Отец
3 - Брат
4 - Сестра
5 - Сын
6 - Дочь
7 - Иное</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PersonName"/>
			<xs:element ref="Birthday"/>
			<xs:element ref="DependentFlag"/>
			<xs:element ref="SBCreditFlag"/>
			<xs:element ref="SBEmployeeFlag"/>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Название организации. Заполняется обязательно, если SBEmployeeFlag = true</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SBEmployee_Type">
		<xs:annotation>
			<xs:documentation>Тип - блок данных о сотруднике СБ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RegionId"/>
			<xs:element name="FullName">
				<xs:annotation>
					<xs:documentation>Полное наименование подразделения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="JobType">
				<xs:annotation>
					<xs:documentation>Тип должности
0 - Иная
1 - Председатель территориального банка</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpouseInfo_Type">
		<xs:annotation>
			<xs:documentation>Тип - блок данных о супруге</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PersonName"/>
			<xs:element ref="Birthday"/>
			<xs:element ref="DependentFlag"/>
			<xs:element ref="SBCreditFlag"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndustSector_Type">
		<xs:annotation>
			<xs:documentation>Тип - вида деятельности компании</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code">
				<xs:annotation>
					<xs:documentation>Вид деятельности компании. Код, См. справочник</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Comment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Комментарии, должен быть заполнен, если вид деятельности 7, 8 или 20</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phone_Type">
		<xs:annotation>
			<xs:documentation>Тип - описание номер телефона</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Тип телефона
1 - мобильный
2 - домашний по адресу проживания
3 - домашний по адресу регистрации
4 - рабочий</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryPrefix">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Prefix">
				<xs:annotation>
					<xs:documentation>Префикс</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Number">
				<xs:annotation>
					<xs:documentation>Номер телефона</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MaritalCondition_Type">
		<xs:annotation>
			<xs:documentation>Тип - семейное положение</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" type="MaritalStatus_Type">
				<xs:annotation>
					<xs:documentation>семейное положение
0 - Холост/не замужем
1 - В разводе
2 - Женат/замужем
3 - Вдовец/вдова
4 - Гражданский брак</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarriageContractFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Брачный контракт (должен быть заполнен если Status = 2)
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChildrenFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Есть ли дети
true  - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpouseInfo" type="SpouseInfo_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Блок данных о супруге, заполняется, если Status = 2 или 4</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EducationData_Type">
		<xs:annotation>
			<xs:documentation>Блок данных - образование</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" type="EducationStatus_Type">
				<xs:annotation>
					<xs:documentation>Образование
1 - Ученая степень / MBA
2 - Второе высшее
3 - Высшее
4 - Незаконченное высшее
5 - Среднее специальное
6 - Среднее
7 - Ниже среднего</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnfinishedCourse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Число, номер курса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:pattern value="\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviousNameData_Type">
		<xs:annotation>
			<xs:documentation>Блок информации о предыдущих ФИО</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PersonName_Type">
				<xs:sequence>
					<xs:element name="Date" type="Date">
						<xs:annotation>
							<xs:documentation>Дата изменения ФИО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReasonCode">
						<xs:annotation>
							<xs:documentation>Причина изменения:
MARRIAGE - брак
OTHER - иное</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="MARRIAGE"/>
								<xs:enumeration value="OTHER"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ReasonDesc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание причины смены ФИО, заполняется в случае ReasonCode = OTHER</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmploymentHistory_Type">
		<xs:annotation>
			<xs:documentation>Блок данных о занятости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status">
				<xs:annotation>
					<xs:documentation>Статус работника
1 - Срочный контракт
2 - Без срока (постоянная занятость)
3 - Частная практика (уточнить)
4 - Индивидуальный предпрениматель
5 - Агент на комиссионном договоре
6 - Пенсионер
7 - Исполнитель по гражданско-правовому договору</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="EmploymentStatus_Type"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrgInfo" type="OrgInfo_Type" minOccurs="0"/>
			<xs:element name="OrgInfo_Ext" type="OrgInfoExt_Type" minOccurs="0"/>
			<xs:element ref="SBEmployeeFlag"/>
			<xs:element name="SBEmployee" type="SBEmployee_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Блок данных сотрудника СБ. заполняется если SBEmployyeeFlag = true</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="JobType">
							<xs:annotation>
								<xs:documentation>Категория занимаемой должности
1 - Руководитель высшего звена
2 - Руководитель среднего звена
3 - Руководитель начального звена
4 - Владелец предприятия/ген.Директор/Главный бухгалтер
5 - Высококвалифицированный специалист
6 - Специалист
7 - Военнослужащий
8 - Рабочий
9 - Служащий
10 - Судья
11 - Нотариус
12 - Государственный гражданский служащий</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="JobType_Type"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="JobTitle">
							<xs:annotation>
								<xs:documentation>Наименование должности</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ExperienceCode" type="ExperienceCode_Type">
							<xs:annotation>
								<xs:documentation>Код.  Как долго клиент работает в компании</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="WorkPlacesNum">
							<xs:annotation>
								<xs:documentation>Количество рабочих мест за последние 3 года</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:nonNegativeInteger">
									<xs:totalDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OwnBusinessDesc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание частной практики</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicantData_Type">
		<xs:sequence>
			<xs:element name="Type" type="NPPartyType_Type">
				<xs:annotation>
					<xs:documentation>Тип физического лица - участника сделки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonInfo" type="ApplicantPersonInfo_Type"/>
			<xs:element name="MaritalCondition" type="MaritalCondition_Type">
				<xs:annotation>
					<xs:documentation>Семейное положение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelativeList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Родственники</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Relative" type="RelativeInfo_Type" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EmploymentHistory" type="EmploymentHistory_Type">
				<xs:annotation>
					<xs:documentation>Блок данных о занятости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Income" type="Income_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Доходы и расходы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealEstateFlag" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Наличие в собственности объектов
0 - нет, 1 - да (по умолчанию заполнять значением 0 - нет)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealEstateList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заполняется, если RealEstateFlag = true</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RealEstate" type="RealEstate_Type" maxOccurs="7"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VehicleFlag" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Наличие транстпортного средства, подлежащего государственной регистрации (ТС)
0 - нет, 1 - да (по умолчанию заполнять значением 0 - нет)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заполняется, если VehicleFlag = true</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Vehicle" type="Vehicle_Type" maxOccurs="7"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LoanFlag" type="xs:boolean"/>
			<xs:element name="LoanList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Блок обязательств клиента</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Loan" type="Loan_Type" maxOccurs="10"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddData" type="ApplicantAddData_Type">
				<xs:annotation>
					<xs:documentation>Блок дополнительных данных</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RealEstate_Type">
		<xs:annotation>
			<xs:documentation>Тип - объект недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="RealEstateType_Type">
				<xs:annotation>
					<xs:documentation>Вид недвижимости
1 - Комната
2 - Квартира
3 - Дом
4 - Участок</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="PurchaseYear"/>
			<xs:element name="Area">
				<xs:annotation>
					<xs:documentation>Площадь</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Units">
				<xs:annotation>
					<xs:documentation>Единицы измерения
1 - кв.м, 2 - сотки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Cost">
				<xs:annotation>
					<xs:documentation>Рыночная стоимость в долларах США</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Decimal">
						<xs:fractionDigits value="2"/>
						<xs:totalDigits value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Vehicle_Type">
		<xs:annotation>
			<xs:documentation>Тип - транспортное средство</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Вид ТС</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegNumber">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ТС</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="PurchaseYear"/>
			<xs:element name="BrandName">
				<xs:annotation>
					<xs:documentation>Марка ТС</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgeInYears">
				<xs:annotation>
					<xs:documentation>Возраст ТС в годах</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Cost">
				<xs:annotation>
					<xs:documentation>Рыночная стоимость в долларах США</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Loan_Type">
		<xs:annotation>
			<xs:documentation>Тип -описание кредитного обязательства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="LoanKind_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид обязательства
1 - Автокредит
2 - Ипотечный
3 - Потребительский
4 - Кредитная карта
5 - Поручительство
6 - Другое</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заполняется, если указан тип</xs:documentation>
				</xs:annotation>
				<xs:element name="AgreementNumber">
					<xs:annotation>
						<xs:documentation>№ договора</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StartDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Дата заключения</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EndDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Дата окончания</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BankName">
					<xs:annotation>
						<xs:documentation>Кредитор</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TotalAmount" type="Amount_15_2_Type">
					<xs:annotation>
						<xs:documentation>Сумма кредита</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Rate">
					<xs:annotation>
						<xs:documentation>Ставка</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Currency">
					<xs:annotation>
						<xs:documentation>Валюта</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:element name="DebtAmount" type="Amount_15_2_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Остаток задолжности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentAmount" type="Amount_15_2_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentType" type="PaymentType_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Способ погашения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentPeriod" type="PaymentPeriodType_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Периодичность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicantAddData_Type">
		<xs:annotation>
			<xs:documentation>Тип - дополнительная информация о заемщике</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LoanIssue" type="LoanIssue_Type"/>
			<xs:element name="InsuranceFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Согласие на участие в программе добровольного страхования жизни и здоровья
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsuranceNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховой номер индивидуального счета</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
						<xs:pattern value="\d\d\d-\d\d\d-\d\d\d \d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CBReqApprovalFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Согласие клиента на запрос информации банком из БКИ
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBSendApprovalFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Согласие клиента на предоставление банком информации в БКИ
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PFRSendApprovalFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Согласие клиента на предоставление банком информации в ПФР
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта кредитной истории</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CCardGetApprovalFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Согласие клиента на получение кредитной карты ОАО "Сбербанк России" при принятии такого решения банком
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialAttentionFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Клиент, требующий персонального внимания
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SBSalaryCardFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Есть зарплатная карта / карта, на которую зачисляется пенсия
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalaryCardList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заполняется если Есть зарплатная карта SBSalaryCardFlag = true</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SalaryCard" type="SalaryCard_Type" maxOccurs="4"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SBSalaryDepFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Есть зарплатный вклад / вклад, на который зачисляется пенсия
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalaryDepList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заполняется если Есть зарплатный депозит SBSalaryDepFlag = true</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SalaryDep" type="SalaryDep_Type" maxOccurs="4"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SBShareHolderFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Акционер Сбербанка России
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShareHolder" type="ShareHolder_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заполняется, если SBShareHolderFlag = true</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SigningDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата подписания анкеты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoanIssue_Type">
		<xs:annotation>
			<xs:documentation>Тип - параметры выдачи кредита</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Способ выдачи
 1 - На имеющийся вклад
 3 - На имеющуюся карту
 4 - На новую карту </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="AcctId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер счета вклада в Сбербанке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CardNum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер банковской каты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SalaryCard_Type">
		<xs:annotation>
			<xs:documentation>Тип - Зарплатные карты</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Тип карты
0 - зарплатная карта
1 - пенсия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="CardNum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SalaryDep_Type">
		<xs:annotation>
			<xs:documentation>Тип - Зарплатныедепозит</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Тип депозита
0 - зарплатный депозит
1 - пенсионный</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="AcctId"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Passport_Type">
		<xs:annotation>
			<xs:documentation>Тип - Паспорт</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="IdSeries">
				<xs:annotation>
					<xs:documentation>Серия документа удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="IdNum">
				<xs:annotation>
					<xs:documentation>Номер документа удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="IssuedBy">
				<xs:annotation>
					<xs:documentation>Кем выдан.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>Кем выдан. Код подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="IssueDt">
				<xs:annotation>
					<xs:documentation>Дата выдачи.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevPassportInfoFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Наличие в действующем паспорте информации о данных предыдущего паспорта
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevPassport" type="PrevPassport_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicantPersonInfo_Type">
		<xs:annotation>
			<xs:documentation>Тип - Персональная информация о заемщике</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PersonName"/>
			<xs:element name="NameChangedFlag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Изменялись ли ФИО
true - да
false - нет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousName" type="PreviousNameData_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Предыдущие ФИО, заполняем, если NameChangedFlag = true</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Sex">
				<xs:annotation>
					<xs:documentation>0 - женский
1 - мужской</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Birthday"/>
			<xs:element name="BirthPlace">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Education" type="EducationData_Type">
				<xs:annotation>
					<xs:documentation>Блок данных об образовании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="Contact_Type"/>
			<xs:element name="Citizenship" type="xs:string">
				<xs:annotation>
					<xs:documentation>Гражданство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Passport" type="Passport_Type"/>
			<xs:element name="ExtPassportExFlag" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Наличие загран. паспорта
true - да
false -нет</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShareHolder_Type">
		<xs:annotation>
			<xs:documentation>Тип - информация об акционере СБ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CommonShareAmount">
				<xs:annotation>
					<xs:documentation>Количество обыкновенных акций Сбербанка России</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:totalDigits value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PreferenceShareAmount">
				<xs:annotation>
					<xs:documentation>Количество привилегированных акций Сбербанка России</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:totalDigits value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact_Type">
		<xs:annotation>
			<xs:documentation>Тип - способ связи</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmailAddr" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PhoneList">
				<xs:annotation>
					<xs:documentation>Блок телефонов</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="Phone_Type" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressList">
				<xs:annotation>
					<xs:documentation>Блок адресов</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResidenceEqualFlag" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Адрес проживания совпадает с адресом постоянной регистрации
true - да
false - нет</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CityResidencePeriod" type="ResidencePeriod_Type">
							<xs:annotation>
								<xs:documentation>Срок проживания в населенном пункте на момент заполнения анкеты (лет)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ActResidencePeriod" type="ResidencePeriod_Type">
							<xs:annotation>
								<xs:documentation>Срок проживания по фактическому адресу(лет)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ResidenceRight" type="ResidenceRight_Type">
							<xs:annotation>
								<xs:documentation>Право проживания
0 - Собственная квартира
1 - У родственников
2 - Соц. Найм
3 - Аренда
4 - Коммунальная квартира
5 - Общежитие
6 - Воинская часть</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TempRegExpiryDt" type="Date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Дата истечения временной регистрации, обязателен если передается адрес временной регистрации</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Address" type="Address_Type" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductData_Type">
		<xs:annotation>
			<xs:documentation>Тип - описание продукта</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Тип продукта
1 - Потребительский кредит</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Code">
				<xs:annotation>
					<xs:documentation>В соответствии со справочником продуктов:
5 - Доверительный кредит
10 - Потребительский кредит без обеспечения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SubProductCode">
				<xs:annotation>
					<xs:documentation>Код субпродукта</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Amount" type="Amount_15_2_Type">
				<xs:annotation>
					<xs:documentation>Сумма кредита</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Period">
				<xs:annotation>
					<xs:documentation>Срок кредита</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:totalDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Currency">
				<xs:annotation>
					<xs:documentation>Валюта кредита</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentType">
				<xs:annotation>
					<xs:documentation>Тип погашения кредита</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Annuity"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChargeLoanApplicationRq_Type">
		<xs:annotation>
			<xs:documentation>Тип данных входящего сообщения для интерфейса передачи кредитной заяки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RqUID"/>
			<xs:element ref="RqTm"/>
			<xs:element ref="OperUID"/>
			<xs:element ref="SPName"/>
			<xs:element name="Application" type="Application_Type">
				<xs:annotation>
					<xs:documentation>Информация по заявке</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrevPassport_Type">
		<xs:annotation>
			<xs:documentation>Тип - Предыдущий Паспорт</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdSeries">
				<xs:annotation>
					<xs:documentation>Серия документа удостоверяющего личность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:length value="4"/>
						<xs:pattern value="\d\d\d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdNum">
				<xs:annotation>
					<xs:documentation>Номер документа удостоверяющего личность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:length value="6"/>
						<xs:pattern value="\d\d\d\d\d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssuedBy">
				<xs:annotation>
					<xs:documentation>Кем выдан ДУЛ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="String">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssueDt" type="Date">
				<xs:annotation>
					<xs:documentation>Когда выдан ДУЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Application_Type">
		<xs:annotation>
			<xs:documentation>Тип - заявка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Unit">
				<xs:annotation>
					<xs:documentation>Подразделение для оформления заявки в формате: тер. банк (2 цифры), ОСБ (4 цифры), ВСП (5 цифр)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="11"/>
						<xs:pattern value="\p{Nd}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Channel">
				<xs:annotation>
					<xs:documentation>Канал продаж</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Product" type="ProductData_Type">
				<xs:annotation>
					<xs:documentation>Блок описания продукта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Applicant" type="ApplicantData_Type">
				<xs:annotation>
					<xs:documentation>Блок описания заявителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PurchaseYear">
		<xs:annotation>
			<xs:documentation>Год приобретения</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:unsignedInt">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SBEmployeeFlag" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Флаг, работник СБ true - да, false -нет</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SBCreditFlag">
		<xs:annotation>
			<xs:documentation>Флаг, наличие кредита в СБ 0 - нет, 1 - да, 2 - не знаю</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DependentFlag" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Флаг, на иждевении true - да, false - нет</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ChargeLoanApplicationRq" type="ChargeLoanApplicationRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос: передача кредитной заявки.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StatusLoanApplicationRq" type="StatusLoanApplicationRq_Type">
		<xs:annotation>
			<xs:documentation>Запрос: обновление статуса кредитной заявки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="StatusLoanApplicationRq_Type">
		<xs:annotation>
			<xs:documentation>Тип данных для сообщения обновления статуса кредитной заявки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RqUID"/>
			<xs:element ref="RqTm"/>
			<xs:element ref="OperUID"/>
			<xs:element ref="SPName"/>
			<xs:element name="SrcRq" type="SrcRq_Type">
				<xs:annotation>
					<xs:documentation>Данные об исходном запросе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationStatus" type="ApplicationStatus_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SrcRq_Type">
		<xs:annotation>
			<xs:documentation>Тип - Данные об исходном запросе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RqUID"/>
			<xs:element ref="RqTm"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicationStatus_Type">
		<xs:annotation>
			<xs:documentation>Тип - Статус кредитной заявки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status">
				<xs:annotation>
					<xs:documentation>Блок инфомрации о статусе заявки в TSM</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatusCode">
							<xs:annotation>
								<xs:documentation>
                  Код статуса заявки в TSM
                  -1 ошибки заполнения
                  0 отказ
                  1 заявка создана успешно
                  2 одобрена
                </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:enumeration value="-1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ApplicationNumber" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Идентификатор TSM заявки. Обязательно если status 1 или 2</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Error" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Блок информации об ошибках</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ErrorCode">
										<xs:annotation>
											<xs:documentation>Код ошибки</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:enumeration value="-1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Message">
										<xs:annotation>
											<xs:documentation>Текст ошибки</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Approval" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PeriodM">
							<xs:annotation>
								<xs:documentation>срок в месяцах</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:unsignedInt">
									<xs:totalDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Amount">
							<xs:annotation>
								<xs:documentation>Одобренная сумма кредита в рублях</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="17"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="InterestRate">
							<xs:annotation>
								<xs:documentation>Одобренная ставка</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="6"/>
									<xs:fractionDigits value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
